.text-input-bg123{
	padding: 0px 127px 0px 0px
}
table#listing1 td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    /* color: #FFFFFF; */
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -2px auto 0;
    padding: 2px 12px;
    text-decoration: none;
}
#MB_frame .label-field-pair  select {
    webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 10px;
    padding: 5px;
    /* width: 215px; */
    height: 28px;

}