
#fee-defaulters {
    float: right;
    width: 732px;
}
h5 {
    width: 480px;
    float: left;
}
.label-field-pair {
    height: 40px;
    width: 135px;
    padding-top: 3px;
    float: left;
}
.text-input-bg {
    background: transparent;
    height: 28px;
    width: 100px;
    float: left;
    margin: 0 auto;
}
.label-field-pair input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 10px 0 0 10px;
    width: 70px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    float: left;
}
.submit_button2 {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 12px;
}

.text-input-bg {
    float : left;
    margin : 0 0 0 40px;
}
#fees-table{
    padding-top:86px;
}

.fees_paid{
    -webkit-border-radius:10px;
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    height:16px;
    margin-left:270px;
    margin-top:30px;
    padding:7px 10px;
    width:135px;
}
.fees_paid:hover{
    background:  #373B3F;
}
.fees-th {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    border-top: 1px solid #C4D2FE;
    font-size: 0.9em;
    height: 1.5em;
    font-variant:small-caps;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    width:600px;
}
.fees-tr {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    font-size:0.9em;
    height: 1.5em;
    padding: 0.5em 0 0 0;
    width:600px;
}
.fees-table-total {
    float:left;
    padding: 0 0 0 60px;
    width: 180px;
}
.fees-table-amount {
    float:left;
    width: 80px;
    padding: 0 0 0 140px;
    text-align:right;
}
.edit-link{

    float : left;
    font-size : 0.9em;
    margin : 0 0 0 10px;
}
.delete-link {
    float : left;
    font-size : 0.9em;
    margin : 0 0 0 10px;
}
.edit-link a,
.delete-link a {
    color : #000;
}

#fee_submission{
    margin-top: 50px;
}

.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 18px 5px 0 0;
    padding: 6px 10px;
    float:right;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.submit_button:hover{
    background:  #373B3F;
}


.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
}
.user_button:hover{
    background:  #373B3F;
}

.label-field-pair1 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0;
    float:left;
/*    width:476px;*/
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair1 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 0px 0 0 1px;
    width : 117px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
    float: left;
}

.label-field-pair1 .submit_button2 {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    padding: 6px 8px;
    width: 87px;
}

.label-field-pair1 .submit_button2:hover {
    background: none repeat scroll 0 0 #373B3F;
}

.text-input-bg  {
    float:left;
    margin:0 0 0 40px;
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    width:130px;
}


.fine_info{
    float: right;
    height: 50px;
    overflow: hidden;
    width: auto;
}
.label-field-pair1 {
    overflow: hidden;
}
.text-input-bg1 {
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    margin:0 0 0 10px;
    width:130px;
}

.label-field-pair1 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}


.label-field-pair2 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.pay_fees {
    margin-bottom: 14px;
    float: left;
    width: 924px;
}

table#listing td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}
table#listing td a:hover{
    background:  #373B3F;
    color: #fff;
    text-decoration: none;
}


td span{
    color: #990A10;
}

table#listing td.col-8 {
    padding: 5px 15px 5px 10px;
    text-align: right;
    width: 10%;
}
.pay_fees_buttons a{
    float: right !important;
    margin: 18px 10px 0 !important;
}
.pay_fees_buttons input{
    float: right;
}

table#listing td.col-6 {
    width: 6%;
}

.name{
    color: #999999;
    float: left;
    width: 220px;
    font-weight: bold;
    font-size: 13px;
}
.details{
    float: left;
}
.height-fixer{
    float: left;
    width: 968px;
    min-height:15px;
}
.val {
    width: 750px;
    color: #bb0000;
    font-weight: bold;
    font-size: 13px;
    float: left;
}

.val span{
    margin-right:12px;
    color: black;
}
.val-align{
    float: right;
    width: 730px;
    word-wrap: break-word;
}

.label-field-pair3 {
    height : 40px;
    width: 230px;
    float:left;
    padding-top: 3px;
}
.text-input-bg3 {
    background : transparent;
    height : 28px;
    width : 250px;
}
.label-field-pair3 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.label-field-pair3 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg3 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.label-field-pair4 {
    height : 76px;
    width: 100px;
    float:left;
    padding-top: 3px;
    padding-left: 32px;
}
.text-input-bg4 {
    background : transparent;
    height : 28px;
    width : 250px;
}
.label-field-pair4 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.label-field-pair4 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 88px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg4 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}


.label-field-pair3-text-area{
    height:70px;
    padding-top:3px;
    width:548px;
    float:left;
}

.label-field-pair3-text-area label{
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.textarea-input-bg {
    background:none repeat scroll 0 0 transparent;
    margin-left:25px;
}
.label-field-pair3-text-area textarea {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 0 0 10px;
    padding:5px;
    width:548px;
    height: 17px;
}
.label-field-pai3r-text-area textarea:focus{
    background:#FFFFFF;
    border: 1px solid #9E0F15;
}
table#listing {
     margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;
}
table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
}
#payments_details{
    margin-top:20px;
}
h4{
    float:right;
}
.main_info{
    margin-bottom:30px
}
.text_box{
    float: left;
    width: 70%;
}
.box{
    float: right;
    margin-top: -57px;
}
.cancel a{
    background:none !important;
    
    margin: -10px 4px 2px 0px !important;
padding: 0!important
}
.cancel{
 
 margin-top: 10px;
}
table#listing1 tr.tr-head {
 height: 30px;
background: #fff;
color: #990a10;
font-weight: bold;
text-align: center;
}
tr.tr-blank {
height: 10px;
}
table#listing1 .tr-odd {
background: #fff;
text-align: center;
padding: 50px;
color: #27292b;
font-weight: 600;
font-size: 14px;
}
table#listing1 .tr-even {
background: #f1f6ff;
text-align: center;
padding: 50px;
color: #27292b;
font-weight: 600;
font-size: 14px;
}
.col-2{
    max-width:200px;
    text-align: justify;
}
table#listing1 {
     margin-bottom: 30px;
     float: left;
background: #c3d9ff;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 20px 20px 40px;
}
table#listing1 td a {
background: none repeat scroll 0 0 #27292B;
border: medium none;
cursor: pointer;
float: right;
font-family: arial;
font-size: 14px;
font-weight: bold;
margin: -34px auto 0;
padding: 7px 10px;
text-decoration: none;
}
table#listing1 td.col-1 {
padding: 5px;
padding-left: 10px;
}
table#listing1 td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
/*    color: #FFFFFF;*/
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 3px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}

table#listing1 td a:hover{
    background:  #373B3F;
/*    color: #fff;*/
    text-decoration: none;
}



table#listing1 td.col-8 {
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
}
.user_button1 {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
}
.user_button1:hover{
    background:  #373B3F;
}