.text-input-bg {
    float : left;
    margin : 0 0 0 40px;
}

#student{
    padding-top:50px;
}

.student-name {
    font-variant:small-caps;
    font-weight:bold;
    letter-spacing: 1px;
    margin: 30px 0 10px 0;
    width: 100%
}

.prev-next-links {
    float: right;
    width: 30px;
}
.prev-next-links a {
    background-color: #E7EEFF;
    color: #000;
    display: block;
    margin: 0 0 0 5px;
    text-decoration:none;
    font-weight: bolder;
    width: 10px;
    float: left;
}
.box{
    width:750px;
    margin:0px auto;
}

.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
    float: right;
}
.user_button:hover{
    background:  #373B3F;
}

.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 5px 0 0;
    padding: 7px 10px;
    float:right;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.submit_button:hover{
    background:  #373B3F;
}

.submit_button2 {
    padding: 6px 8px;
    color: #fff;
    background: #27292B !important;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin-top:3px;
}
.submit_button2:hover{
    background:  #373B3F;
}

.label-field-pair1 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0;
    float:left;
/*    width:422px;*/
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair1 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
/*    width : 100px;*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 6px 13px;
}
.text-input-bg  {
    float:left;
    margin:0 0 0 40px;
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    width:130px;
}

.next a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:15px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:right;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.prev a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:15px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:left;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.next a:hover, .prev a:hover{
    color: #9B0C12;
}
.header .month{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    width:400px;
    background: #fff;
    padding:6px 0;
    text-align:center;
    float:left;
    font-size:16px;
    color:#121212;
    font-weight:bold;
    margin:0px 6px;
}
#register{
    background: #C3D9FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-top:10px;
    margin-bottom:10px;
    float: left;
    width: 100%
}
.header{
    width:520px;
    margin:0px auto;
    padding:4px 0 1px;
}


.fine_info{
    float:right;
    height:36px;
    width:auto;

}

.text-input-bg1 {
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    margin:0 0 0 10px;
/*    width:130px;*/
}

.label-field-pair1 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}


.name{
    color: #999999;
    float: left;
    width: 220px;
    font-weight: bold;
    font-size: 13px;
    height:2px;
}

.details{
    /*margin-bottom: 45px;*/
    /*padding-bottom: 15px;*/
}
.height-fixer{
    float: left;
    width: 968px;
    min-height:15px;
}
.val {
    width: 750px;
    color: #bb0000;
    font-weight: bold;
    font-size: 13px;
    float: left;
}

.val span{
    margin-right:12px;
    color: black;
}
.val-align{
    float: right;
    width: 730px;
    word-wrap: break-word;
}


.label-field-pair2 label {
    color : #444;
    display : block;
    font-size: 14px;
    float:left;
    width:700px;
    padding-top: 10px;
    font-weight: 600;

}
label-field-pair2 {
    float: right;
}

.text-input-bg2 {
    float:left;
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    width:130px;
}
.label-field-pair2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 100px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
    float: left;
}
.label-field-pair2 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.pay_fees{
    margin-bottom: 35px;

}
table#listing td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}

table#listing td a:hover{
    background:  #373B3F;
    color: #fff;
    text-decoration: none;
}

td span{
    color: #990A10;
}

table#listing td.col-8 {
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
}

.pay_fees_buttons a{
    float: right !important;
    margin: 20px 10px 0 !important;
}
.pay_fees_buttons input{
    float: right;
}

.loader_div{
    float: left;
    margin: 7px 0 0 -110px;
}
#loader {
    padding-top: 5px;
}
.pay_fees {
    margin-bottom: 14px;
    float: left;
    width: 924px;
}


.label-field-pair3 {
    height : 40px;
    width: 230px;
    float:left;
    padding-top: 3px;
}
.text-input-bg3 {
    background : transparent;
    height : 28px;
    width : 250px;
}
.label-field-pair3 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.label-field-pair3 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg3 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.label-field-pair4 {
    height : 76px;
    width: 100px;
    float:left;
    padding-top: 3px;
    padding-left: 32px;
}
.text-input-bg4 {
    background : transparent;
    height : 28px;
    width : 250px;
}
.label-field-pair4 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.label-field-pair4 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 88px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg4 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}


.label-field-pair3-text-area{
    height:70px;
    padding-top:3px;
    width:548px;
    float:left;
}

.label-field-pair3-text-area label{
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.textarea-input-bg {
    background:none repeat scroll 0 0 transparent;
    margin-left:25px;
}
.label-field-pair3-text-area textarea {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 0 0 10px;
    padding:5px;
    width:548px;
    height: 17px;
}
.label-field-pai3r-text-area textarea:focus{
    background:#FFFFFF;
    border: 1px solid #9E0F15;
}
table#listing {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;

}
table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
}
#payments_details{
    margin-top:20px;
}
h4{
    float:right;
}
.cancel a{
    background:none !important;
    
    margin: -10px 4px 2px 0px !important;
padding: 0!important
}
.cancel{
 margin-top: 10px;
}
table#listing1 tr.tr-head {
 height: 30px;
background: #fff;
color: #990a10;
font-weight: bold;
text-align: center;
}
tr.tr-blank {
height: 10px;
}
table#listing1 .tr-odd {
background: #fff;
text-align: center;
padding: 50px;
color: #27292b;
font-weight: 600;
font-size: 14px;
}
table#listing1 .tr-even {
background: #f1f6ff;
text-align: center;
padding: 50px;
color: #27292b;
font-weight: 600;
font-size: 14px;
}
.col-2{
    max-width:200px;
    text-align: justify;
}
table#listing1 {
background: #c3d9ff;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 20px 20px 40px;
}
table#listing1 {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;

}
table#listing1 td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
}
table#listing1 td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
/*    color: #FFFFFF;*/
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}

table#listing1 td a:hover{
    background:  #373B3F;
/*    color: #fff;*/
    text-decoration: none;
}



table#listing1 td.col-8 {
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
}
#fine_fee{
    width:100px !important;
}
.fleft{
    float:left;
}