<div id="content-header">
  <h1><%= "#{t('bank_text')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('bank_details')}"%></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new222')}",  {:controller=>:yuva_parivarthan_banks,:action=>:new_bank} %> </li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
<div class="extender"> </div>
<% unless flash[:notice].nil? %>
 <p class="flash-msg"> <%= flash[:notice] %> </p> 
<%end%>
<ul id="category-list">
  <div class="extender"></div>
  <div class="extender"></div>
  <%if @bank.present?%>
    <table align="center" width="100%" cellpadding="1" cellspacing="1" id="listing" class="table_with_paginate">
      <tr class="tr-head"><td><%= "#{t('bank_name')}"%></td><td><%= "#{t('account_number')}"%></td><td><%= "#{t('branch_name')}"%></td><td></td></tr>
      <% @bank.each do |b| %>
        <tr class="tr-<%= cycle('odd', 'even')%>">
          <td class="col-4"><%= b.bank_name %></td>
          <td class="col-7"> <%= b.account_number %></td>
          <td class="col-4"> <%= b.branch_name %></td>
          <td class="col-unique"><%= link_to "#{t('view_text')}", {:action=>:show, :id=>b.id}, :class=>"themed_hover_text" %>
            |
            <%= link_to "#{t('edit_text')}",  {:action=>:edit_bank, :id=>b.id}, :class=>"themed_hover_text"%>
            |
            <% if b.bank_deposit_yuva_banks.empty? %>            
              <%= link_to "#{t('delete_text')}", {:action =>:destroy_bank, :id=>b.id}, :confirm => "#{t('delete_confirm_msg')}" %>
            <% else %>
              <s><%= "#{t('delete_text')}" %></s>
            <% end %>  
          </td>
        </tr>
      <% end %>
    </table>
  <%else%>
    <p class="flash-msg"><%=t('no_banks_details_found')%></p>
  <%end%>
  <%= will_paginate @bank %>
</ul>
</div>
