<div id="content-header">
  <h1><%= "#{t('bank_text')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('bank_details')}"%></div>
 </div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
</div>
<div class="extender"> </div>
<center>
  <% form_for :yuvaparivarthan_bank do |s| %>
  <%= error_messages_for 'bank', :header_message => nil %>
  <div id="page-yield">
    <div class="label-field-pair">
      <label for="student_grade"><%= t('bank_name') %><span class="necessary-field">*</span> </label>
      <div class="text-input-bg"><%= s.text_field :bank_name %></div>
    </div>
    <div class="label-field-pair">
      <label for="student_grade"><%= t('account_number') %><span class="necessary-field">*</span> </label>
      <div class="text-input-bg"><%= s.text_field :account_number  %></div>
    </div>
    <div class="label-field-pair">
      <label for="student_grade"><%= t('branch_name') %><span class="necessary-field">*</span> </label>
      <div class="text-input-bg"><%= s.text_field :branch_name  %></div>
    </div>
    <div class="label-field-pair">
      <label for="student_grade"><%= t('branch_code') %></label>
      <div class="text-input-bg"><%= s.text_field :branch_code  %></div>
    </div>
    <div class="label-field-pair">
      <label for="student_grade"><%= t('district_name') %><span class="necessary-field">*</span> </label>
      <div class="text-input-bg"><%= s.text_field :district_name  %></div>
    </div>
    <div class="label-field-pair">
      <label for="student_grade"><%= t('state_name') %><span class="necessary-field">*</span> </label>
      <div class="text-input-bg"><%= s.text_field :state_name %></div>
    </div>
    <div class="label-field-pair">
      <label for="student_grade"><%= t('ifsc_code') %></label>
      <div class="text-input-bg"><%= s.text_field :ifsc_code %></div>
    </div>
    <div class="label-field-pair">
      <label for="student_grade"><%= t('micr_code')  %></label>
      <div class="text-input-bg"><%= s.text_field :micr_code  %></div>
    </div>
   <div > <%= s.submit "save", :class => "submit_button", :disable_with => "► #{t('please_wait')}" %>
    <%= link_to "#{t('back')}",  {:action=>:index}, :class=>"user_button1"%></div>
  </div>
  </div>
  </div>
  <% end %>
</center>
