<div id="content-header">
  <h1><%= "#{t('bank_text')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('bank_details')}"%></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :yuva_parivarthan_banks_show, @bank %>
    <%= render_breadcrumbs  %>
  </div>
</div>
<table align="center" width="100%" cellpadding="1" cellspacing="1" id="listing">
  <tr class="odd "><td><%= t('bank_name') %></td><td class="right"><%= @bank.bank_name %></td></tr>
  <tr class="even"><td><%= t('account_number') %></td><td class="right"><%= @bank.account_number %></td></tr>
  <tr class="odd "><td><%= t('branch_name') %></td><td class="right"><%= @bank.branch_name %></td></tr>
  <tr class="even"><td><%= t('branch_code') %></td><td class="right"><%= @bank.branch_code %></td></tr>
  <tr class="odd"><td><%= t('district_name') %></td><td class="right"><%= @bank.district_name%></td></tr>
  <tr class="even"><td><%= t('state_name') %></td><td class="right"><%= @bank.state_name %></td></tr>
  <tr class="odd "><td><%= t('ifsc_code') %></td><td class="right"><%= @bank.ifsc_code%></td></tr>
  <tr class="even"><td><%= t('micr_code') %></td><td class="right"><%= @bank.micr_code %></td></tr>
</table>
<div class="extender"> </div>
<br>
<br>
<div align="center"><%= button_to "#{t('back')}",  {:action=>:index}, :class=>"submit_button"%></div>