<% transport_fees_list= student.transport_fees_by_batch(batch.try(:id)) %>
<% unless transport_fees_list.empty? %>
  <tr class="table_subtitle">
    <td colspan="4"><%= t('transport_fees') %></td>
  </tr>
  <% transport_fees_list.each do |fee| %>
    <%# fee= TransportFee.find_by_transport_fee_collection_id_and_receiver_id(d.id, student.id) %>
    <% collection=  fee.transport_fee_collection %>
    <tr class="item">
      <td>
        <% if page == :report && (permitted_to? :fees_student_dates,:transport_fee) %>
          <%= link_to "#{fee.name}", {:controller=>:transport_fee,:action=>:fees_student_dates, :id=>@student.id, :collection_id=>collection.id}, :class=>"themed_hover_text",:target=>:_blank %>
        <% elsif permitted_to? :student_profile_fee_details ,:transport_fee %>
          <%= link_to collection.name, {:controller=>:transport_fee,:action=>:student_profile_fee_details, :id=>student.id, :id2=>collection.id}, :class=>"themed_hover_text" %>
        <% else %>
          <%= collection.name %>
        <% end %>
      </td>
      <% @balance = student.transport_fee_balance(collection.id)  %>
      <% paid = @balance == 0 %>
      <% if paid %>
        <td class="status_cell" data-status="paid" >
          <%=  t('paid')  %>
        </td>
        <td>
          <% paid =fee.finance_transaction.amount %>
          <%= precision_label(paid) %>
        </td>
        <td>
          <%= t('paid_on') %>
          <%= fee.finance_transaction.transaction_date %>
          <%#= format_date(fee.finance_transaction.transaction_date) %>
        </td>
      <% else %>
        <td class="status_cell" data-status="unpaid">
          <%= t('unpaid')  %>
        </td>
        <td>
          <%= precision_label(fee.bus_fare) %>
        </td>
        <td>
          <%= t('due_on') %>
          <%= collection.due_date %>
          <%#= format_date(collection.due_date) %>
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>
