<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <div class='header-icon subjects-icon'></div>
  <h1><%= t('subjects_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('assign_subject') %></div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :batch_transfers_subject_transfer, @batch %>
    <%= render_breadcrumbs %>
  </div>
  <%if ((@current_user.admin) or (@batch.start_date_lock == false)) %>
    <div class="linker">
      <%= link_to_remote "#{t('add_normal_subject')}", :url => { :action => 'new_subject', :id => @batch} %> |
      <%= link_to "#{t('add_elective')}", batch_elective_groups_path(@batch) %> |
      <%= link_to_remote "#{t('assign_old_batch_subject')}", :url => { :controller=>'batch_transfers',:action => 'get_previous_batch_subjects', :id => @batch} %>
    </div>
  <% end %>
  <% unless flash[:notice].nil? %>
    <p  class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="errors"></div>
  <div id="msg"></div>

  <div id="previous-batch-subjects"></div>

  <div id="subjects">
    <% unless @normal_subjects.empty? %>

      <ul id="category-list">
        <h4><%= t('normal_subjects') %></h4>
        <% @normal_subjects.each do |sub| %>
          <li id="subject-<%=sub.id%>" class="list<%=cycle('odd', 'even')%>">
            <div class="category-name"> <%= sub.name %></div>
            <div class="category-code"><%= truncate(sub.code, :length => 20) %></div>
          </li>
        <% end %>
      </ul>
    <% end %>


    <% unless @elective_groups.empty? %>
      <% @elective_groups.each do |eg| %>
        <%if eg.subjects.active.present?%>
          <ul id="category-list">
            <h4><%= eg.name %>:</h4>
            <% @elective_subjects.each do |elect| %>
              <% if elect.elective_group_id == eg.id %>
                <li id="elect-<%=elect.id%>" class="list<%=cycle('odd', 'even')%>">
                  <div class="category-name"> <%= elect.name %></div>
                  <div class="category-code"><%= truncate(elect.code, :length => 20) %></div>
                </li>
              <% end %>
            <% end %>
          </ul>
        <%else%>
          <ul id="category-list">
            <h4><%= eg.name %>:</h4>
            <li id="no_elective_sub" class="list<%=cycle('odd', 'even')%>"><div class="category-name"><%=t('no_elec_subjects')%></div></li>
          </ul><%end%>
      <% end %>
    <% end %>
  </div>




  <div id="modal-box" style="display:none;"></div>

  <div class="extender"></div>
</div>
