<div id="content-header">
  <div class='header-icon batches-icon'></div>
  <h1><%= t('batches_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('electives')}" %></div>
  <%if ((@current_user.admin) or (@batch.start_date_lock == false)) %>
    <div id="inner-tab-menu">
      <ul>
        <li class='themed_bg themed-dark-hover-background'><%= link_to t('new_text'), new_batch_elective_group_path(@batch) %></li>

      </ul>
    </div>
  <%end%>
</div>
<div id="page-yield">


  <div class="box">

    <div class="bread_crumb">
      <% breadcrumb :elective_groups_index ,@batch %>
      <%= render_breadcrumbs  %>
    </div>

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <ul id="category-list">

      <% @elective_groups.each do |elective| %>
        <li class="list<%=cycle('odd', 'even')%>">
          <div class="category-name"><%= link_to elective.name, [@batch, elective] %></div>
          <%if ((@current_user.admin) or (@batch.start_date_lock == false)) %>
            <div class="category-edit"><%= link_to t('edit_text'),
                :controller=>"elective_groups",:action => "edit", :id =>elective %> </div>
            <% @subjects= Subject.find_all_by_elective_group_id(elective, :conditions => "is_deleted = '0'") %>
            <% if @subjects.empty? %>
              <div class="category-delete"><%= link_to(t('delete_text'), [@batch, elective],
                  :method => 'delete',
                  :confirm => t('delete_confirm_msg')) %> </div>
            <% end %>
          <% end %>
        </li>
      <% end %>

    </ul>

    <div class="extender"></div>
  </div>
</div>