<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <div class='header-icon batches-icon'></div>
  <h1><%= t('batches_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('new_elective')}" %></div>
  
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= breadcrumb :elective_groups_new ,@batch %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">


    <% form_for [@batch, @elective_group] do |f| %>
      <%= f.error_messages :header_message => nil %>

      <div class="label-field-pair">
        <div class="label-container"> <%= f.label "#{t('name')}" %></div>
        <div class="input-container"><%= f.text_field :name %></div>
      </div>
      <% if @batch.course.enable_student_elective_selection %>
      <div class="label-field-pair">
        <div class="label-container"> <%= f.label "#{t('end_date_of_selection')}" %></div>
        <div class="text-input-bg">
          <%= calendar_date_select_tag 'elective_group[end_date]', I18n.l((Date.today + 7.days).to_date,:format=>:default),
            :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
        </div>
      </div>
      <% end %>
      <% if ((@current_user.admin?) or (@batch.start_date_lock == false)) %>
      <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :disable_with => "► #{t('please_wait')}" %>
      <% end %>
    <% end %>

    <div class="extender"></div>
  </div>
</div>
<script type="text/javascript">
  $$('form').invoke('observe', 'submit', function(evt){
    evt.stop();
  });
</script>
