<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <div class='header-icon batches-icon'></div>
  <h1><%= t('batches_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('show_elective')}" %></div>
  <div id="inner-tab-menu">
    <ul>
    <% if ((@current_user.admin?) or (@batch.start_date_lock == false)) %>
      <li class='themed_bg themed-dark-hover-background'><%= link_to_remote  t('add'), :url => { :controller=>"elective_groups",:action => 'new_elective_subject', :batch_id => @batch.id},  :id=>@elective_group.id %></li>
    <% end %>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= breadcrumb :elective_groups_show ,@elective_group %>
    <%= render_breadcrumbs  %>
  </div>

  <div id="flash-box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>

  <div class="box">

    <div id="subjects">
      <%= render :partial => "elective_subjects"  %>
    </div>

    <div id="modal-box" style="display:none;"></div>

    <div class="extender"></div>

  </div>
</div>
