<center> 
	<div class="extender"> </div>
  <% remote_form_for :edit_finance_transaction ,:remote => true do |s| %>
  <!--  <%#= error_messages_for 'transaction_values', :header_message => nil %>
   <%# unless flash[:notice].nil? %><p class="flash-msg"><%#= flash[:notice] %></p><%# end %> -->
  <div id="page-yield">
    <div class="label-field-pair">
      <label for="student_grade"><%= t('student_name') %></label>
      <div class="text-input-bg"><%= text_field_tag 'student_name' ,params[:student_name], :readonly=>true %></div>
    </div>
    <div class="label-field-pair">
      <label for="student_grade"><%= t('amount_paid') %></label>
      <div class="text-input-bg"><%= s.text_field :amount , :value => @paid_fees_values.amount , :readonly=>true %></div>
    </div>
    <div class="label-field-pair">
      <label for="student_grade"><%= t('manual_receipt_no') %></label>
      <div class="text-input-bg"><%= s.text_field :Manual_receipt_no , :value => @paid_fees_values.finance_transactions.collect(&:Manual_receipt_no).first %></div>
    </div>
    <div class="label-field-pair">
      <label for="student_grade"><%= t('manual_receipt_date') %></label>
      <div class="text-input-bg123" >
        <%#= s.calendar_date_select_tag :Manual_receipt_date, I18n.l(@transaction_values.Manual_receipt_date ,:format=>:default),:year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
        <%= s.date_select :Manual_receipt_date,:default => @paid_fees_values.finance_transactions.collect(&:Manual_receipt_date).first , :readonly=>true %></div>
    </div>
    <div class="label-field-pair">
      <label for="student_grade"><%= t('payment_date') %></label>
      <div class="text-input-bg"><%= s.text_field :transaction_date , :value => @paid_fees_values.transaction_date , :readonly=>true %></div>
    </div>
      <%= hidden_field_tag :id, params[:id] %>
      <%= hidden_field_tag :sid, params[:sid] %>
      <%= hidden_field_tag :stud_name,params[:student_name] %>
      <%= hidden_field_tag :date, params[:date] %>
   <div > <%= s.submit "Update", :style =>'padding: 10px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;', :disable_with => "► #{t('please_wait')}" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </div>
  </div>
  <%end%>
</center>