<%= stylesheet_link_tag "rank_finance_extensions/pay_all_fees.css" %>
<% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<% total_fees =0 %>
<% total_fees1 =0 %>
<% total_amount_to_pay=0 %>
<% total_amount_to_pay1=0 %>
<% form_for :multi_fees_transaction, :url => {:controller => "finance_extensions", :action => 'pay_all_fees', :id => @student.id}, :html => {:id => "fees_form"} do |form| %>
    <% unless @finance_fees.nil? %>

        <div id="payments_details">

          <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
            <tr class="tr-head">
              <td><%= t('sl_no') %></td>
              <td><%= t('fee_collection') %></td>
              <td><%= "#{t('actual')} #{t('amount')}" %> (<%= currency %>)</td>
              <td><%= "#{t('amount_to_pay')} #{t('with')} #{t('fine')}" %> (<%= currency %>)</td>
              <td><%= t('pay_fees') %> (<%= currency %>)</td>

            </tr>
            <tr class="tr-blank"></tr>
            <% i = 0 %>
            <%# if BatchTransferWithFeePaid.find_by_student_id_and_current_batch_id(finance_fee.student_id,finance_fee.batch_id)%>
            <% @finance_fees.each_with_index do |finance_fee, i| %>
                <tr class="tr-<%= cycle("odd", "even") %>" id="mft<%= finance_fee.id %>">
                  <td class="col-1"><%= i+=1 %></td>
                  <td class="col-2"><%= finance_fee.finance_fee_collection.name %></td>
                  <% @student_batch=Student.find_by_batch_id(finance_fee.batch.id)%>
                  <%unless @student_batch.nil?%>
                    <% if  @student_batch.batch.id == @student.batch.id %>
                      <% actual_amount=finance_fee.balance+finance_fee.finance_transactions.sum(:amount)-finance_fee.finance_transactions.sum(:fine_amount) %>
                    <%# actual_amount=finance_fee.balance+finance_fee.finance_transactions.sum(:amount)-finance_fee.finance_transactions.sum(:fine_amount) %>
                      <% total_fees=total_fees+actual_amount %>
                      <td class="col-3"> <%= precision_label(actual_amount) %></td>
                    <% else%>
                      <% actual_amount1=finance_fee.balance+finance_fee.finance_transactions.sum(:amount)-finance_fee.finance_transactions.sum(:fine_amount) %>
                      <% total_fees1=total_fees1+actual_amount1 %>
                      <td class="col-3"> <%= precision_label(actual_amount1) %></td>
                    <% end%>
                  <% else%>
                    <% actual_amount=finance_fee.balance+finance_fee.finance_transactions.sum(:amount)-finance_fee.finance_transactions.sum(:fine_amount) %>
                    <%# actual_amount=finance_fee.balance+finance_fee.finance_transactions.sum(:amount)-finance_fee.finance_transactions.sum(:fine_amount) %>
                      <% total_fees=total_fees+actual_amount %>
                      <td class="col-3"> <%= precision_label(actual_amount) %></td>
                  <% end%>
                  <!-- <td class="col-3"> <%#= precision_label(actual_amount) %></td> -->

                  <% date= finance_fee.finance_fee_collection %>
                  <% days=(Date.today-date.due_date.to_date).to_i %>
                  <% auto_fine=date.fine %>
                  <% fine_amount=0 %>
                  <% fine_amount1=0 %>
                  <% if !finance_fee.is_paid? and (days > 0 and auto_fine) %>
                      <% fine_rule=auto_fine.fine_rules.find(:last, :conditions => ["fine_days <= '#{days}' and created_at <= '#{date.created_at}'"], :order => 'fine_days ASC') %>
                      <% @student_batch=Student.find_by_batch_id(finance_fee.batch.id)%>
                      <% unless @student_batch.nil?%>
                        <% if  @student_batch.batch.id == @student.batch.id %>
                          <% fine_amount=fine_rule.is_amount ? fine_rule.fine_amount : (actual_amount*fine_rule.fine_amount)/100 if fine_rule %>
                          <% fine_amount=fine_amount-finance_fee.finance_transactions.find(:all, :conditions => ["description=?", 'fine_amount_included']).sum(&:fine_amount) %>
                        <% else%>
                          <% fine_amount1=fine_rule.is_amount ? fine_rule.fine_amount1 : (actual_amount1*fine_rule.fine_amount1)/100 if fine_rule %>
                          <% fine_amount1=fine_amount1-finance_fee.finance_transactions.find(:all, :conditions => ["description=?", 'fine_amount_included']).sum(&:fine_amount) %>
                        <% end%>
                      <%else%>
                        <% fine_amount=fine_rule.is_amount ? fine_rule.fine_amount : (actual_amount*fine_rule.fine_amount)/100 if fine_rule %>
                        <% fine_amount=fine_amount-finance_fee.finance_transactions.find(:all, :conditions => ["description=?", 'fine_amount_included']).sum(&:fine_amount) %>
                      <% end%>
                  <% end %>

                  <td class="col-3 amount_to_pay">
                      <% @student_batch=Student.find_by_batch_id(finance_fee.batch.id)%>
                      <% unless @student_batch.nil?%>
                        <% if  @student_batch.batch.id == @student.batch.id %>
                          <%= precision_label(finance_fee.balance.to_f+fine_amount.to_f) %>
                          <% total_amount_to_pay=total_amount_to_pay+finance_fee.balance.to_f+fine_amount.to_f %>
                        <% else%>
                          <%= precision_label(finance_fee.balance.to_f+fine_amount1.to_f) %>
                          <% total_amount_to_pay1=total_amount_to_pay1+finance_fee.balance.to_f+fine_amount.to_f %>
                        <% end%>
                      <% else%>
                        <%= precision_label(finance_fee.balance.to_f+fine_amount.to_f) %>
                        <% total_amount_to_pay=total_amount_to_pay+finance_fee.balance.to_f+fine_amount.to_f %>
                      <% end%>
                  </td>
                  <td class="col-3 center_align">

                    <% if ((finance_fee.is_paid) or (precision_label(finance_fee.balance.to_f+fine_amount.to_f)==precision_label(0))) %>
                        <%= "#{t('paid')}" %>
                    <% else %>
                      <% @student_batch=Student.find_by_batch_id(finance_fee.batch.id)%>
                      <%unless @student_batch.nil?%>
                        <% if  @student.batch.id== @student_batch.batch.id %>
                          <%= hidden_field_tag 'max_amount', finance_fee.balance.to_f+fine_amount.to_f, options={:disabled => "disabled"} %>
                          <%= text_field_tag "transactions[#{i}][amount]", value="", options={:class => "precision_text payment_box input_amount", :onkeyups => "this.value = minmax(this.value, 0, #{finance_fee.balance.to_f+fine_amount.to_f})"} %>
                          <%= hidden_field_tag "transactions[#{i}][finance_id]", finance_fee.id %>
                          <%= hidden_field_tag "transactions[#{i}][finance_type]", "FinanceFee" %>
                          <%= hidden_field_tag "transactions[#{i}][payee_type]", "Student" %>
                          <%= hidden_field_tag "transactions[#{i}][payee_id]", @student.id %>
                          <%= hidden_field_tag "transactions[#{i}][category_id]", @transaction_category_id %>
                          <%= hidden_field_tag "transactions[#{i}][title]", "#{t('receipt_no')}. (#{t('multiple_fees')}) F#{finance_fee.id}" %>
                          <%= hidden_field_tag "transactions[#{i}][transaction_date]", Date.today, options ={:class => 'fee_transaction_date'} %>
                          <%= hidden_field_tag "transactions[#{i}][payment_mode]", '', options ={:class => 'mode'} %>
                          <%= hidden_field_tag "transactions[#{i}][payment_note]", '', options ={:class => 'note'} %>
                           <%= hidden_field_tag "transactions[#{i}][balance]",'' %>
                        <% else%>
                          <label style="color: #444;font-size: 14px;font-weight: bold;"><%= t('fee_cant_pay') %></label>
                        <% end%>
                      <% else%>
                        <%= hidden_field_tag 'max_amount', finance_fee.balance.to_f+fine_amount.to_f, options={:disabled => "disabled"} %>
                          <%= text_field_tag "transactions[#{i}][amount]", value="", options={:class => "precision_text payment_box input_amount", :onkeyups => "this.value = minmax(this.value, 0, #{finance_fee.balance.to_f+fine_amount.to_f})"} %>
                          <%= hidden_field_tag "transactions[#{i}][finance_id]", finance_fee.id %>
                          <%= hidden_field_tag "transactions[#{i}][finance_type]", "FinanceFee" %>
                          <%= hidden_field_tag "transactions[#{i}][payee_type]", "Student" %>
                          <%= hidden_field_tag "transactions[#{i}][payee_id]", @student.id %>
                          <%= hidden_field_tag "transactions[#{i}][category_id]", @transaction_category_id %>
                          <%= hidden_field_tag "transactions[#{i}][title]", "#{t('receipt_no')}. (#{t('multiple_fees')}) F#{finance_fee.id}" %>
                          <%= hidden_field_tag "transactions[#{i}][transaction_date]", Date.today, options ={:class => 'fee_transaction_date'} %>
                          <%= hidden_field_tag "transactions[#{i}][payment_mode]", '', options ={:class => 'mode'} %>
                          <%= hidden_field_tag "transactions[#{i}][payment_note]", '', options ={:class => 'note'} %>
                           <%= hidden_field_tag "transactions[#{i}][balance]",'' %>
                      <%end%>
                    <% end %>
                  </td>

                </tr>
            <% end %>

            <tr class="tr-blank"></tr>
            <tr class="tr-blank"></tr>


            <tr class="tr-blank"></tr>
            <tr class="tr-blank"></tr>
            <tr class="tr-<%= cycle("odd", "even") %> height-26" cellpadding="1" cellspacing="1">
              <td colspan="4">
                <div class="fright"> <%= "#{t('total')} #{t('amount')}" %>:</div>
              </td>
              <td class="col-6 ">
                <% unless precision_label(total_fees).to_f == 0 %>
                    <%= precision_label(total_fees.to_f) %>
                <% else %>
                    <%= precision_label(0) %>
                <% end %>
              </td>
            </tr>
            <tr class="tr-<%= cycle("odd", "even") %> height-26" cellpadding="1" cellspacing="1">
              <td colspan="4">
                <div class="fright"> <%= "#{t('amount_to_pay')} #{t('with')} #{t('fine')}" %> :</div>
              </td>
              <td class="col-6 total-pay">
                <% unless precision_label(total_amount_to_pay).to_f == 0 %>
                    <%= precision_label(total_amount_to_pay.to_f) %>
                <% else %>
                    <%= precision_label(0) %>
                <% end %>
              </td>
            </tr>




            <% unless total_fees == 0 %>
                <tr>
                  <td colspan="5">
                    <div class="payment_details">
                      <div class="label-field-pair3">
                        <label><%= t('payment_mode') %>  <%= image_tag("loader.gif",
                                                                       :align => "absmiddle",
                                                                       :border => 0,
                                                                       :id => "loader1",
                                                                       :style => "display: none;") %></label>

                        <div class="text-input-bg3"><%= select :multi_fees_transaction, :payment_mode, [["#{t('cash')}", "#{t('cash')}"], ["#{t('online_payment')}", "#{t('online_payment')}"], ["#{t('cheque')}", "#{t('cheque')}"], ["#{t('dd')}", "#{t('dd')}"], ["#{t('others')}", "#{t('others')}"]], {}, {:onChange => "#{remote_function(:url => {:controller=>"finance",:action => "select_payment_mode"},
                                                                                                                                                                                                                                                                                                                                                :with => "'payment_mode='+value", :before => "$('loader1').show();",
                                                                                                                                                                                                                                                                                                                                                :success => "$('loader1').hide();")}"} %>
                        </div>
                      </div>
                      <div class="label-field-pair3-text-area">
                        <label><%= t('payment_notes') %> </label>

                        <div class="textarea-input-bg3"><%= form.text_area :payment_note, :cols => 50, :rows => 1 %>
                        </div>
                      </div>
                      <div class="label-field-pair4">
                        <label><%= t('amount') %> </label>

                        <div class="text-input-bg4">
                          <%= hidden_field_tag 'multi_fees_transaction[student_id]', @student.id %>
                          <%= hidden_field_tag 'multi_fees_transaction[transaction_date]', Date.today, options={:class => 'fee_transaction_date'} %>
                          <%= form.text_field :fees_paid, :value => 0, :class => 'precision_text payment', :readonly => true, :disabled => "disabled" %>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
            <% end %>


            <tr>
              <td colspan="5">
                <div class="pay_fees">
                  <div id="payment_mode"></div>
                  <%#= transaction_date_field %>
                  <div class='label-field-pair3' style='height: auto; margin-top:-17px;'>
                      <label><%= t('payment_date') %></label>
                      <div class='date-input-bg'>
                        <%= calendar_date_select_tag 'transaction_date', I18n.l(Date.today,:format=>:default),:valid_date_check => "date <= (new
Date()).stripTime()",:popup=>'force',:class=>'start_date'%>
                      </div>
                    </div>
                  <div class="pay_fees_buttons">
                    <% unless total_amount_to_pay == 0 %>
                    <%if (@student.batch.end_date_lock == false) || @current_user.admin?%>
                    <%if @student.student_lock == false %>
                        <%= submit_tag "► #{t('pay_fees')}", :class => 'submit_button', :id => 'submit_button' %>
                    <% end %>
                    <%end%>
                    <% else %>
                        <h4><%= t('fees_paid') %></h4>
                    <% end %>
                    <%= link_to "► #{t('print_receipt')}",
                                {:controller => "finance_extensions", :action => "pay_all_fees_receipt_pdf", :id => @student.id}, :target => '_blank', :class => 'user_button' %>
                  </div>
                </div>
              </td>
            </tr>


          </table>

        </div>

    <% end %>

<% end %>
<% if @paid_fees.present? or @other_transactions.present? %>
    <div id="payments_details">
      <div class="label-field-pair3">
        <label><%= t('payment_history') %> </label>
      </div>
      <table id="listing1" align="left" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head">
          <td><%= t('s_no') %></td>
          <td><%= t('fee_collections') %></td>
          <td><%= t('date_text') %></td>
          <td><%= t('receipt_no') %></td>
          <td><%= t('mode') %></td>
          <td><%= t('payment_notes') %></td>
          <td><%= t('amount') %> (<%= currency %>)</td>
          <td><%= t('manual_receipt_no') %></td>
          <td><%= t('manual_receipt_date') %></td>
          <td class="col-3" style="width:2%;"></td>
          <!-- <td class="col-3" style="width:2%;"></td> -->
        </tr>
        <% i=0 %>
        <tr class="tr-blank"></tr>
        <% @paid_fees.each do |f| %>
            <tr class="tr-<%= cycle("odd", "even") %>" id="mft<%= f.id %>">
              <td class="col-1" style="min-width: 40px"><%= i +=1 %></td>
              <% collections=[] %>
              <% f.finance_transactions.each { |ft| collections<< ft.finance.finance_fee_collection.name } %>
              <td class="col-3 left_align" style="min-width: 200px"><%= collections.join(', ') %></td>
              <td class="col-3 left_align" style="min-width: 90px"><%= f.transaction_date %></td>
              <td class="col-3 left_align" style="min-width: 80px"><%= f.finance_transactions.collect(&:receipt_no).join(', ') %></td>
              <td class="col-3 left_align" style="min-width: 50px"><%= f.payment_mode %></td>
              <td class="col-3 left_align" style="min-width: 50px; word-break:break-all"><%= f.payment_note %></td>
              <td class="col-3" style="min-width: 80px">
                <%= precision_label(f.amount.to_f) %>
              </td>
              <td class="col-2" style="min-width: 60px"><%= f.finance_transactions.collect(&:Manual_receipt_no).first %></td>
              <td class="col-3" style="min-width: 90px"><%= f.finance_transactions.collect(&:Manual_receipt_date).first %></td>
              <td class="col-3" style="min-width: 40px;"><label><%#= link_to "#{t('edit_text')}",  {:controller=>:finance,:action=>:edit_finance_transaction,:id=>f.finance_transactions.collect(&:id).join(', '),:student_name => @student.full_name}%>
              <%if (@student.batch.end_date_lock == false) || @current_user.admin?%>
              <%= link_to_remote "#{t('edit_text')}",:url => { :controller=>"finance_extensions",:action => 'edit_manual_receipt4',:id=>f.id,:sid=>@student.id,:student_name => @student.full_name,:date => params[:date]},:method => 'get'%>
              <%end%>
                <%= link_to "Print",
                  {:controller => "finance", :action => "print_single_receipt_pdf1", :id=>f.id,:stu_id=>@student.id,:student_name => @student.full_name,:batch_id =>@student.batch.id,:date => params[:date]},:target => '_blank' %>
              </label></label></td>
              <!-- <td class="col-3" style="width:2%;"> -->
                <%# if f.finance_transactions.map{|ft| ft.finance.fee_refund}.compact.present? %>
                    <!-- <div class="disabled-link"> <%#= link_to_remote raw(' <div class="delete_icon inactive-delete"></div>'), {:class => "themed_text disable_link"} %></div> -->
                <%# else %>
                    <%#= link_to_remote raw(' <div class="delete_icon"></div>'), {:class => "themed_text"} %>
                <%# end %>
                <!-- <%# if f.finance_transactions.map{|ft| ft.finance.fee_refund}.compact.present? %>
                    <div class="disabled-link"> <%#= link_to_remote raw(' <div class="delete_icon inactive-delete"></div>'), {:url => {:controller => :finance_extensions, :action => :delete_multi_fees_transaction, :id => @student.id, :transaction_id => f.id, :type => 'multi_fees_transaction'}, :confirm => "#{t('are_you_sure_want_delete_this_transaction')}"}, {:class => "themed_text disable_link"} %></div>
                <%# else %>
                    <%#= link_to_remote raw(' <div class="delete_icon"></div>'), {:url => {:controller => :finance_extensions, :action => :delete_multi_fees_transaction, :id => @student.id, :transaction_id => f.id, :type => 'multi_fees_transaction'}, :confirm => "#{t('are_you_sure_want_delete_this_transaction')}"}, {:class => "themed_text"} %>
                <%# end %> -->
              <!-- </td> -->
            </tr>
        <% end %>

        <% @other_transactions.each do |f| %>
            <tr class="tr-<%= cycle("odd", "even") %>" id="mft<%= f.id %>">
              <td class="col-1"><%= i +=1 %></td>
              <td class="col-3 left_align" style="min-width: 200px"><%= f.finance.finance_fee_collection.name %></td>
              <td class="col-3 left_align" style="min-width: 90px"><%= f.transaction_date %></td>
              <td class="col-3 left_align" style="min-width: 80px"><%= f.receipt_no %></td>
              <td class="col-3 left_align" style="min-width: 50px"><%= f.payment_mode %></td>
              <td class="col-3 left_align" style="min-width: 50px;"><%= f.payment_note %></td>
              <td class="col-3" style="min-width: 80px">
                <%= precision_label(f.amount.to_f) %>
              </td>
              <td class="col-3 left_align" style="min-width: 60px"><%= f.Manual_receipt_no %></td>
              <td class="col-3 left_align" style="min-width: 90px"><%= f.Manual_receipt_date %></td>
              <td class="col-3" style="min-width: 40px;"><label>
              <%if (@student.batch.end_date_lock == false) || @current_user.admin?%>
                <%= link_to_remote "#{t('edit_text')}",:url => { :controller=>"finance_extensions",:action => 'edit_manual_receipt5',:id=>f.id,:sid=>@student.id,:student_name => @student.full_name,:date => params[:date]},:method => 'get'%>
              <%end%>
              <%= link_to "Print",
                  {:controller => "finance", :action => "print_single_receipt_pdf", :id=>f.id,:stu_id=>@student.id,:student_name => @student.full_name,:batch_id =>@student.batch.id,:date => params[:date]},:target => '_blank' %>
              </label></td>
              <!-- <td class="col-3" style="width:2%;">
                <%# if f.finance.fee_refund %>
                  <div class="disabled-link">  <%#= link_to_remote raw(' <div class="delete_icon inactive-delete"></div>'), {:class => "themed_text disable_link"} %></div>
                <%# else %>
                    <%#= link_to_remote raw(' <div class="delete_icon"></div>'), {:class => "themed_text"} %>
                <%# end %>
                original <%# if f.finance.fee_refund %>
                  <div class="disabled-link">  <%#= link_to_remote raw(' <div class="delete_icon inactive-delete"></div>'), {:url => {:controller => :finance_extensions, :action => :delete_multi_fees_transaction, :id => @student.id, :transaction_id => f.id, :type => 'other_transaction'}, :confirm => "#{t('are_you_sure_want_delete_this_transaction')}"}, {:class => "themed_text disable_link"} %></div>
                <%# else %>
                    <%#= link_to_remote raw(' <div class="delete_icon"></div>'), {:url => {:controller => :finance_extensions, :action => :delete_multi_fees_transaction, :id => @student.id, :transaction_id => f.id, :type => 'other_transaction'}, :confirm => "#{t('are_you_sure_want_delete_this_transaction')}"}, {:class => "themed_text"} %>
                <%# end %>
              </td> -->
            </tr>
        <% end %>
      </table>

    </div>
    <div id="revert-pop-up">
      <%= "Fees Refunded. You can't revert the transaction!" %>
      <br/>
      <div class="revert_arrow_down"></div>
    </div>
    </div>
<% end %>
<script type="text/javascript">


    j('.input_amount').on('input', function () {
        this.value = minmax(this.value, 0, j(this).siblings('#max_amount').val())
    })
    function minmax(value, min, max) {
        var precision = parseInt("<%= @precision %>");
        if (parseFloat(value) < 0 || isNaN(value)) {


            return 0;
        }
        else if (parseFloat(value) > max) {

            return (parseFloat(max).toFixed(precision))
        }
        else {
            return value;
        }
    }

    function total_fees() {
        return j('.payment').val()
    }
    j('.payment_box').on('input', function (e) {
        var precision = parseInt("<%= @precision %>");
        j('.payment').val(payment_sum())
        var total_balance = '<%= total_amount_to_pay%>' - payment_sum()
        j('.total-pay').text(total_balance.toFixed(precision))
    });

    function payment_sum() {
        var precision = parseInt("<%= @precision %>");
        var sum = 0
        j('.payment_box').each(function () {
            sum += +parseFloat(this.value) || 0
        });
        if (sum <= 0) {
            sum = 0
        }
        return sum.toFixed(precision)
    }

    j('#submit_button').click(function (e) {
        var input1 = '<input type="hidden" name="multi_fees_transaction[amount]" value= ' + payment_sum() + '>'
        j('.mode').val(j('#multi_fees_transaction_payment_mode').val())
        j('.note').val(j('#multi_fees_transaction_payment_note').val())
        j('#fees_form').append(input1)
        var array = j('.payment_box')
        var status = true
        date = j("#transaction_date")[0].value;
        curr_date=j.datepicker.formatDate('dd MM yy', new Date());
        disp_date = j.datepicker.formatDate('dd MM yy', (j.datepicker.parseDate("yy-mm-dd",date)));
        var button = document.getElementById('submit_button');
        
        if (curr_date<disp_date){
            alert('<%=t('please_select_valid_date')%>')
            return false
          }
        var amount = j('#multi_fees_transaction_fees_paid').val();
        var retVal = confirm("Please Confirm The Amount \n Rs." + amount);
        if( retVal == true ){
          return true;
        }
         else{
            return false;
         }
        j.each(array, function (index, value) {
            if (value.value.length == 0) {
                j(value).parent().children().attr('disabled', 'disabled')
            }
            else {
                var balance = parseFloat(j(value).parent().parent().children('.amount_to_pay').text())
                var payment = parseFloat(value.value)
                status = status && ( balance >= payment )
            }
        });
        if (status == false) {
            alert('<%=t('cant_pay_more')%>');
            return activate_payment_boxes()

        }
        if (j('.payment').val() == 0.0) {
            alert('<%=t('enter_amount')%>');
            return activate_payment_boxes()

        }
        //      j(j('.payment_box')[1]).parent().children().attr('disabled','disabled')
        //        var input1 = '<input type="hidden" name="multi_fees_transaction[amount]" value= ' + payment_sum() + '>'

    })
    j('#fees_form').submit(function () {
        j('#submit_button').attr('disabled', 'disabled')
        j('#submit_button').val('<%=t('please_wait') %>')
    })
    function activate_payment_boxes() {
        var array = j('.payment_box')
        j.each(array, function (index, value) {
            if (value.value.length == 0) {
                j(value).parent().children().removeAttr('disabled')
            }
        });
        j('#fees_form').unbind("submit");
        return false

    }

    $('submit_button').disable();
    setTimeout(function () {
        $('submit_button').enable();
    }, 3000);
    j(document).delegate('.calendar_date_select', 'click', function () {


        j('.fee_transaction_date').val(j('#transaction_date').val())

    })



    j(document).click(function (e) {
        j('div#revert-pop-up').hide();

    })



</script>