<!-- From phase 2 fee rank_finance/student_fee_receipt_pdf is changed to this-->
<div id="page-yield" class="available_sections">
  <body>
    <div class="section">
  		<hr>
  		<h2 class="topview">KHERWADI SOCIAL WELFARE ASSOCIATION</h2>
  		<h2 class="topview">Reg. under S.R.Act No. 3144 & BPT Act No F-419(Bom)</h2>
  		<h2 class="topview">Deduction u/s 80G of I.T.Act available</h2>
      <%@paid_fees.each do |p|%>
        <%if p.finance_transactions.find_all_by_pay_all_fee(0).present? == false%>
          <% @c = true%>
        <%else%>
          <%@c = false%>
          <%break%>
        <% end%>
      <%end%>
      <% if  @c == true%>
        <%# if (@other_transactions.find_all_by_pay_all_fee(0).present? == false)%>
          <h2 class="topview">Duplicate</h2>
        <%# end %>
      <% end %>
  	</div>
  	<div class="section" style="margin-top:50px;">
      <h2> <%= "#{t('admission_no')} : #{@student.admission_no}" %></h2>
      <h2> <%= "Donation Receipt - (Name of LDC)" %></h2>
      <% unless @paid_fees.empty? %>
        <h2> <%= "#{t('receipt_no')} : #{@a}" %></h2>
        <% pre_std = PreStudentRegistration.find_by_student_id(@student.id) %>
        <% if pre_std.present? %>
         <h2> <%= "#{t('pre_receipt_no')} : #{@pre_receipt}" %></h2>
        <% end %>
        <h2> <%= "Received with thanks from" %></h2>
        <table border="0">
        	<tr>
            <h2>
              <td style="width:100px;"><b>Mr./Mrs./Ms. :</b></td>
          		<td style="width:550px; border-bottom: 2px solid black;"><b><%= @student.full_name %></b></td>
            </h2>
          </tr>
          <tr>
            <h2>
          		<td style="width:150px;"><b>an amount of Rs :</b></td>
          		<td style="width:550px; border-bottom: 2px solid black;">
          		  <% total_paid = 0 %>
                <% total_paid = 0 %>
                <% actual_total=0 %>
                <% total_fees =0 %>       
                <% @finance_fees.each do |fee| %>
                  <% @student_batch=Student.find_by_batch_id(fee.batch.id)%>
                  <%unless @student_batch.nil?%>
                    <% if  @student_batch.batch.id == @student.batch.id %>
                      <% paid= fee.finance_transactions.sum(:amount).to_f%>
                      <%actual_total=actual_total+paid+fee.balance.to_f %>
                      <% actual_amount=fee.balance+fee.finance_transactions.sum(:amount)-fee.finance_transactions.sum(:fine_amount) %>
                      <% total_fees=total_fees+actual_amount %>
                    <% else%>
                      <% paid1= fee.finance_transactions.sum(:amount).to_f%>
                      <%actual_total=actual_total+paid1+fee.balance.to_f %>
                      <% actual_amount1=fee.balance+fee.finance_transactions.sum(:amount)-fee.finance_transactions.sum(:fine_amount) %>
                    <% end%>
                  <% else%>
                    <% paid= fee.finance_transactions.sum(:amount).to_f%>
                    <%actual_total=actual_total+paid+fee.balance.to_f %>
                    <!-- <td class="note-td"><%#= fee.finance_fee_collection.name %></td> -->
                    <% actual_amount=fee.balance+fee.finance_transactions.sum(:amount)-fee.finance_transactions.sum(:fine_amount) %>
                    <% total_fees=total_fees+actual_amount %>
                  <% end%>
                  <% date= fee.finance_fee_collection %>
                  <% days=(Date.today-date.due_date.to_date).to_i %>
                  <% auto_fine=date.fine %>
                  <% fine_amount=0 %>
                  <% if !fee.is_paid? and (days > 0 and auto_fine) %>
                    <% fine_rule=auto_fine.fine_rules.find(:last, :conditions => ["fine_days <= '#{days}' and created_at <= '#{date.created_at}'"], :order => 'fine_days ASC') %>
                    <%unless @student_batch.nil?%>
                      <% if  @student_batch.batch.id == @student.batch.id %>
                        <% fine_amount=fine_rule.is_amount ? fine_rule.fine_amount : (actual_amount*fine_rule.fine_amount)/100 if fine_rule %>
                        <% fine_amount=fine_amount-fee.finance_transactions.find(:all, :conditions => ["description=?", 'fine_amount_included']).sum(&:fine_amount) %>
                      <% else%>
                        <% fine_amount1=fine_rule.is_amount ? fine_rule.fine_amount1 : (actual_amount1*fine_rule.fine_amount1)/100 if fine_rule %>
                        <% fine_amount1=fine_amount1-fee.finance_transactions.find(:all, :conditions => ["description=?", 'fine_amount_included']).sum(&:fine_amount) %>
                      <% end%>
                    <% else%>
                      <% fine_amount=fine_rule.is_amount ? fine_rule.fine_amount : (actual_amount*fine_rule.fine_amount)/100 if fine_rule %>
                      <% fine_amount=fine_amount-fee.finance_transactions.find(:all, :conditions => ["description=?", 'fine_amount_included']).sum(&:fine_amount) %>
                    <% end%>
                  <% end %>          
                  <% unless @student_batch.nil?%>
                    <% if  @student_batch.batch.id == @student.batch.id %>
                      <% total_paid += paid %>
                    <% else%>
                    <% end%>
                  <% else%>
                    <% total_paid += paid %>
                  <% end%>
                <% end %>
          			<b><%= precision_label(total_paid) %></b>
              </td>
            </h2>
          </tr>
          <tr>
            <h2>
          		<td style="width:350px;"><b>In cash/cheque on (date) :</b></td>        		
          		<td style="width:450px; border-bottom: 2px solid black;">
          			<b><%= @paid_fees.last.payment_mode %></b>
          		</td>
            </h2>        
          </tr>
        </table>
      <% end %>
      <table border="0">
        <tr>
          <h2>
          	<td>
              <table border="0">
          			<tr style="border-bottom: 2px solid black;height:50px;">
          				<td style="width:550px; border-bottom: 2px solid black;height:48px;">
          				  <table>
                      <tr>
                        <td><b>Date :</b></td>
                        <td style="width:150px;border-bottom: 2px solid black;height:45px;"><%= @paid_fees.last.finance_transactions.last.transaction_date unless @paid_fees.empty?%></td>
                      </tr>
                    </table>
          				</td>
          				<td><b>(Authorised Signatory)</b></td>
          			</tr>
          		</table>
          			<!-- <b>Date :</b>
          		</td>
          		<td style="width:450px; border-bottom: 2px solid black;margin-right:-200px;">
          			<b><%#= @student.full_name %></b>
          		</td>
          		<td>
          			<b>(Authorised Signatory)</b> -->
          	</td>
          </h2>
        </tr>
      </table>
    </div>
  </body>
</div>


<style>
	body {
    background-image: url("/srv/fedena_iris_pro/vendor/plugins/rank_yuvaparivartan_support/public/images/YP_Logo3.png");
    background-position: center;
    background-size: 1000px 1000px;
}
	h2.topview{
		text-align: center;
	}
	tr{
		font-size: 16pt;
		line-height: 30pt;
	}
</style>