<%- # Fedena
    #Copyright 2010 Foradian Technologies Private Limited
    #
    #This product includes software developed at
    #Project Fedena - http://www.projectfedena.org/
    #
    #Licensed under the Apache License, Version 2.0 (the "License");
    #you may not use this file except in compliance with the License.
    #You may obtain a copy of the License at
    #
    #  http://www.apache.org/licenses/LICENSE-2.0
    #
    #Unless required by applicable law or agreed to in writing,
    #software distributed under the License is distributed on an
    #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    #KIND, either express or implied.  See the License for the
    #specific language governing permissions and limitations
    #under the License.   -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('fees_submission') %></h1>

  <div class='header-sep'>|</div>
  <div class='sub-header'><%= @student.full_name_with_admission_no %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :finance_pay_fees_in_particular_wise, @student %>
    <%= render_breadcrumbs %>
  </div>

  <div class="label-field-pair">
    <label><%= t('select_fee_collection') %> <%= image_tag("loader.gif",
                                                           :align => "absmiddle",
                                                           :border => 0,
                                                           :id => "loader",
                                                           :style => "display: none;") %></label>

    <div class="text-input-bg">
      <%= select :fees_submission, :dates_id, @dates.map { |e| [e.full_name, e.id] },
                 {:prompt => "#{t('select_fee_collection')}"},
                 {:onChange => "#{remote_function(:url =>
                                                          {:action => 'particular_wise_fee_payment'},
                                                  :method => 'get',
                                                  :with => "'date='+value+'&id='+#{@student.id}", :before => "$('loader').show();",
                                                  :success => "$('loader').hide();") }"} %>
    </div>
  </div>
  <div id="fee_submission2">
  <div id="fee_submission">

  </div>
</div>
</div>

<div id="modal-box" style="display:none;"></div>


<script type="text/javascript">

    function add_discount(link, p_id) {
        alt_id = new Date().getTime();
        regexp1 = new RegExp("replace_this", "g");
        regexp2 = new RegExp("replace_this_by_particular_id", "g");
        j(link).parents('.particular').after('<%=escape_javascript(render :partial => "particular_discounts")%>');
        j('.temp_name').html(j('.temp_name').html().replace(regexp2, p_id))
        j('.temp_name').html(j('.temp_name').html().replace(regexp1, alt_id))
        j('.temp_name').removeClass('temp_name')

    }
    function discount_delete(discount) {
        var precision = parseInt("<%= @precision %>");
        val=parseFloat(j(discount).parent().parent().children('.discount_amount').val() || 0 )
        j(discount).parents('.discount').remove()
        pay_amount=parseFloat(j('.balance_amount').text())
        applicable_discount=parseFloat(j('.applicable_discount').text())
        discount_applied=parseFloat(j('.discount_applied').text())
        amount_paying=parseFloat(j('.payment').val())
        j('.discount_applied').text(make_precision(discount_applied-val))
        j('.applicable_discount').text(make_precision(applicable_discount+val))
        j('.balance_amount').text(make_precision(pay_amount-val))
        j('.payment').val(make_precision(amount_paying+val))

    }
    function make_precision(value)
    {
        var precision = parseInt("<%= @precision %>");
        return value.toFixed(precision)
    }

    function pay_fine(value){
        var precision = parseInt("<%= @precision %>");
        bal=parseFloat(j('.payment').val())
        bal=bal+parseFloat(value)
        j('#auto_fine').addClass("amount_box payment_box")
        j('.payment').val(bal.toFixed(precision))
        j('.fine_add_link').hide();


    }


</script>