<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= stylesheet_link_tag "rank_finance_extensions/pay_all_fees_receipt_pdf.css" %>
<div id="page-yield" class="available_sections" xmlns="http://www.w3.org/1999/html">
  <div class="section">
    <center>
      <div class="hor_line"></div>
      <h2><%= t('fee_reciept') %></h2>
      <div class="hor_line"></div>
      <div class="extender"> </div>
    </center>
    <% total_paid = 0 %>
    <% total_paid1 = 0 %>
    <% total_balance = 0 %>
    <% total_balance1 = 0 %>
    <% actual_total=0 %>
    <% actual_total1=0 %>
    <% total_fees =0 %>
    <% total_fees1 =0 %>
    <% total_amount_to_pay=0 %>
    <% total_amount_to_pay1=0 %>
    <div id ="main_info">
      <div class="col-a">
        <h4 style="width:505px;"> <%= "#{t('name')}: #{@student.full_name}" %></h4>
        <h4 style="width:505px;"> <%= "#{t('admission_no')} : #{@student.admission_no}" %></h4>
        <h4 style="width:505px;"> <%= "#{t('course_text')} : #{@student.batch.course.course_name}" %></h4>
        <h4 style="width:505px;"> <%= "#{t('batch')} : #{@student.batch.full_name}" %></h4>
      </div>
    </div>
  </div>
  <div class="section" >
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="table-header">
        <td class="sl-td"><%= t('sl_no') %></td>
        <td class="note-td"><%= t('fee_collections') %></td>
        <td class="collection-td align_center"> <%= "#{t('actual')} #{t('amount')}" %> (<%= currency %>)</td>
        <td class="note-td align_center"> <%= "#{t('amount_to_pay')} #{t('with')} #{t('fine')}" %> (<%= currency %>)</td>
        <td class="amount-td align_center" style="min-width: 100px;"> <%= "#{t('fees_paid')}" %> (<%= currency %>)</td>
      </tr>
      <%k=7%>
      <% i = 0  %>
      <% c= 'even' %>
      <% @finance_fees.each do |fee| %>
        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
          <td class="sl-td"><%= i+=1 %></td>
          <%k+=1%>
          <td class="note-td"><%= fee.finance_fee_collection.name %></td>
          <% @student_batch=Student.find_by_batch_id(fee.batch.id)%>
            <%unless @student_batch.nil?%>
              <% if  @student_batch.batch.id == @student.batch.id %>
                <% paid= fee.finance_transactions.sum(:amount).to_f%>
                <%actual_total=actual_total+paid+fee.balance.to_f %>
                <!-- <td class="note-td"><%#= fee.finance_fee_collection.name %></td> -->
                <% actual_amount=fee.balance+fee.finance_transactions.sum(:amount)-fee.finance_transactions.sum(:fine_amount) %>
                <% total_fees=total_fees+actual_amount %>
                <td class="collection-td align_right">&nbsp;<%= "#{precision_label(actual_amount)}" %></td>
              <% else%>
                <% paid1= fee.finance_transactions.sum(:amount).to_f%>
                <%actual_total=actual_total+paid1+fee.balance.to_f %>
                <!-- <td class="note-td"><%#= fee.finance_fee_collection.name %></td> -->
                <% actual_amount1=fee.balance+fee.finance_transactions.sum(:amount)-fee.finance_transactions.sum(:fine_amount) %>
                <% total_fees1=total_fees1+actual_amount1 %>
                <td class="collection-td align_right">&nbsp;<%= "#{precision_label(actual_amount1)}" %></td>
              <% end%>
            <% else%>
              <% paid= fee.finance_transactions.sum(:amount).to_f%>
                <%actual_total=actual_total+paid+fee.balance.to_f %>
                <!-- <td class="note-td"><%#= fee.finance_fee_collection.name %></td> -->
                <% actual_amount=fee.balance+fee.finance_transactions.sum(:amount)-fee.finance_transactions.sum(:fine_amount) %>
                <% total_fees=total_fees+actual_amount %>
                <td class="collection-td align_right">&nbsp;<%= "#{precision_label(actual_amount)}" %></td>
            <% end%>
          <!-- <td class="collection-td align_right">&nbsp;<%#= "#{precision_label(actual_amount)}" %></td> -->
          <% date= fee.finance_fee_collection %>
          <% days=(Date.today-date.due_date.to_date).to_i %>
          <% auto_fine=date.fine %>
          <% fine_amount=0 %>
          <% if !fee.is_paid? and (days > 0 and auto_fine) %>
            <% fine_rule=auto_fine.fine_rules.find(:last, :conditions => ["fine_days <= '#{days}' and created_at <= '#{date.created_at}'"], :order => 'fine_days ASC') %>
            <%unless @student_batch.nil?%>
              <% if  @student_batch.batch.id == @student.batch.id %>
                <% fine_amount=fine_rule.is_amount ? fine_rule.fine_amount : (actual_amount*fine_rule.fine_amount)/100 if fine_rule %>
                <% fine_amount=fine_amount-fee.finance_transactions.find(:all, :conditions => ["description=?", 'fine_amount_included']).sum(&:fine_amount) %>
              <% else%>
                <% fine_amount1=fine_rule.is_amount ? fine_rule.fine_amount1 : (actual_amount1*fine_rule.fine_amount1)/100 if fine_rule %>
                <% fine_amount1=fine_amount1-fee.finance_transactions.find(:all, :conditions => ["description=?", 'fine_amount_included']).sum(&:fine_amount) %>
              <% end%>
            <% else%>
              <% fine_amount=fine_rule.is_amount ? fine_rule.fine_amount : (actual_amount*fine_rule.fine_amount)/100 if fine_rule %>
              <% fine_amount=fine_amount-fee.finance_transactions.find(:all, :conditions => ["description=?", 'fine_amount_included']).sum(&:fine_amount) %>
            <% end%>
          <% end %>
          <td class="note-td align_right">&nbsp;
            <% unless @student_batch.nil?%>
              <% if  @student_batch.batch.id == @student.batch.id %>
                <%= "#{precision_label(fee.balance.to_f+fine_amount.to_f)}" %>
                <% total_amount_to_pay=total_amount_to_pay+fee.balance.to_f+fine_amount.to_f %>
              <% else%>
                <%= "#{precision_label(fee.balance.to_f+fine_amount1.to_f)}" %>
                <% total_amount_to_pay1=total_amount_to_pay1+fee.balance.to_f+fine_amount1.to_f %>
              <% end%>
            <% else%>
              <%= "#{precision_label(fee.balance.to_f+fine_amount.to_f)}" %>
              <% total_amount_to_pay=total_amount_to_pay+fee.balance.to_f+fine_amount.to_f %>
            <% end%>
          </td>
          <td class="amount-td align_right">&nbsp;
            <% unless @student_batch.nil?%>
              <% if  @student_batch.batch.id == @student.batch.id %>
                <%= "#{precision_label(paid)}" %>
              <% else%>
                <label style="color: #444;font-size: 14px;font-weight: bold;"><%= t('fee_cant_pay') %></label>
              <% end%>
            <% else%>
              <%= "#{precision_label(paid)}" %>
            <% end%>
          </td>
        </tr>
        <% unless @student_batch.nil?%>
          <% if  @student_batch.batch.id == @student.batch.id %>
            <% total_paid += paid %>
            <% total_balance += fee.balance.to_f %>
          <% else%>
            <% total_paid1 += paid1 %>
            <% total_balance1 += fee.balance.to_f %>
          <% end%>
        <% else%>
          <% total_paid += paid %>
          <% total_balance += fee.balance.to_f %>
        <% end%>
        <%# total_paid += paid %>
        <%# total_balance += fee.balance.to_f %>
          </table>
          </div>

      <% end %>
          <div class="section">
            <table id="pdf-table" width="100%" cellspacing="0">


      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
        <td class="total align_center" colspan="2" ><%= t('total') %></td>
        <td class="collection-td align_right" ><% unless precision_label(total_fees).to_f == 0 %>
            <%= precision_label(total_fees.to_f) %>
          <% else %>
            <%= precision_label(0) %>
          <% end %></td>
        <td class="note-td align_right" ><% unless precision_label(total_amount_to_pay).to_f == 0 %>
            <%= precision_label(total_amount_to_pay.to_f) %>
          <% else %>
            <%= precision_label(0) %>
          <% end %></td>
        <td class="amount-td align_right" ><%=  precision_label(total_paid) %></td>
      </tr>



  </table>
  </div>
<div class="height_fix" style="height:10px;"></div>

  <div id="pdf-info" class="section">

    <%page_val=24%>
    <%k=19%>
    <% if @paid_fees.present? or @other_transactions.present? %>
      <div class="section">
        <h4><%= "#{t('payment_history')}"%></h4>

        <table id="pdf-table" width="100%" cellspacing="0">
          <% c= 'even' %>
          <tr class="table-header">
            <td class="sl-td" ><%= t('sl_no') %></td>
            <td class="collection-td"><%= t('fee_collections') %></td>
            <td class="date-td"> <%= t('date_text') %></td>
            <td class="date-td"> <%= t('receipt_no') %></td>
            <td class="mode-td" > <%= t('mode') %></td>
            <td class="date-td"><%= t('manual_receipt_no') %></td>
            <td class="date-td"><%= t('manual_receipt_date') %></td>
            
            <td class="date-td align_center" style="min-width: 80px"> <%= t('amount') %> (<%= currency %>)</td>
            <td class="note-td" > <%= t('payment_notes') %></td>
          </tr>
          <%i=0%>
          <% @paid_fees.each do|p| %>
            <% klass=i%2 == 0 ? "even" : "odd" %>
            <tr class="<%= klass %>">
              <td class="sl-td" ><%= i+=1 %></td>
              <% collections=[] %>
              <% p.finance_transactions.each{|ft| collections<< ft.finance.finance_fee_collection.name} %>
              <td class="collection-td" ><%= collections.join(', ') %></td>
              <td class="date-td" ><%= p.transaction_date.to_s %></td>
              <td class="date-td align_center" ><%= p.finance_transactions.collect(&:receipt_no).join(', ') %></td>

              <td class="mode-td" > <%= p.payment_mode %></td>
              <td class="date-td align_center"><%= p.finance_transactions.collect(&:Manual_receipt_no).first %></td>
              <td class="date-td align_center"><%= p.finance_transactions.collect(&:Manual_receipt_date).first %></td>
              
              <td class="date-td align_center" style="min-width: 80px"><%= precision_label p.amount.to_f %></td>
              <td class="note-td" > <%= p.payment_note %></td>
            </tr>
              </table>
              </div>
              <div class="section">
               <table id="pdf-table" width="110%" cellspacing="0">
    <%# ind=ind+1 %>
          <% end %>

          <% @other_transactions.each do|p| %>

              <% klass=i%2 == 0 ? "even" : "odd" %>
              <tr class="<%= klass %>">
                <td class="sl-td" ><%= i+=1 %></td>
                <% collections=[] %>
                <td class="collection-td align_center" ><%= p.finance.finance_fee_collection.name %></td>
                <td class="date-td" ><%= p.transaction_date.to_s %></td>
                <td class="date-td align_center" ><%= p.receipt_no.to_s %></td>

                <td class="mode-td" > <%= p.payment_mode %></td>
                <td class="date-td align_center"><%= p.Manual_receipt_no %></td>
                <td class="date-td align_center"><%= p.Manual_receipt_date %></td>
                
                <td class="date-td align_center" style="min-width: 80px"><%= precision_label p.amount.to_f %></td>
                <td class="note-td" > <%= p.payment_note %></td>
              </tr>
              </table>
              </div>
              <div class="section">
                <table id="pdf-table" width="100%" cellspacing="0">
              <%# ind=ind+1 %>
          <% end %>

        <% end %>
      </table>

    </div>


  </div>
</div>



