<div class="label-field-pair">
    <label for="student_image_file">Document Upload<span class="necessary-field">*</span></label>
    <div class="text-input-bg"><%= file_field_tag :document_upload, :id=>'image' %></div>
</div>