<p style="border-bottom: 1px solid #cccccc;"></p>
<% unless @writeoff_deposit.empty? %>
   <div class="submit-button">
    <%= link_to "#{t('export_as_csv')}" ,{:action=>'course_batch_details_csv',:sort_order=>@sort_order},:target=>'_blank' %>
  </div>
  <div class="details">
    <div class="name">
      <%= t('total_deposits') %>&nbsp;<span>:</span>
    </div>
    <div class="val themed_text">
      <div class="val-align"><%#= @paid_fees.nil? ? t('n_a') : @paid_fees.map(&:receipt_no).join(',') %></div>
    </div>
      <div class="name">
        <%= t('pending_deposit') %>&nbsp;<span>:</span>
      </div>
      <div class="val themed_text">
        <div class="val-align">
          <%#= @fee_category.name.capitalize %>
        </div>
      </div>
      <div class="name">
        <%= t('writeoff_deposit') %>&nbsp;<span>:</span>
      </div>
      <div class="val themed_text">
        <div class="val-align">
          <%#= @student.student_category.name.capitalize %>
        </div>
      </div>
  </div>
  <div class="extender"></div>
  <div id="page-yield">
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading">
        <td class="batch_order"><%= t('no_text') %></td>
        <td class="batch_order"><%= "#{t('reason_for_writeoff')}"%></td>
        <td class="batch_order"><%= "#{t('writeoff_amount')}"%></td>
        <td class="batch_order"><%= "#{t('writeoff_date')}" %></td>
        <td class="batch_order"><%= "#{t('writeoff_user')}" %></td>
        <td class="batch_order"><%= "#{t('writeoff_status')}" %></td>
      </tr>
      <% @writeoff_deposit.each_with_index do |c,@i| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-5"> <%= @i+1 %></td>
          <td class="col-2"><%= c.reason_for_writeoff %></td>
          <td class="col-2"><%= c.writeoff_amount %></td>
          <td class="col-4"><%= Time.zone.parse(c.created_at.to_s) %></td>
          <td class="col-3"><%= c.user %></td>
          <td class="col-6">
            <% if WriteoffDeposit.find_by_writeoff_details_id(c.id).approve == true %>
              Done
            <%else%>
              Pending
            <%end%>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <p class="flash-msg"> <%= t('no_record_found') %></p>
<% end %>
