<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('writeoff_deposit')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('writeoff_deposit')}"%></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div id="deposit_details">
    <%if @wod.nil? %>
        <p class="flash-msg"><%=t('no_deposit_details_exist')%></p>
    <%else%>
      <div  style="float: right;height: 40px;padding-top: 3px;width: 199px;">
        <label style="color: #444;display: block;float: left;font-size: 14px;font-weight: 600;margin: 0;padding-top: 6px;width: 152px;">
          Records Per Page
        </label>
        <div style ="background: transparent none repeat scroll 0 0;float: left;height: 28px;width: 47px;">
          <%= select_tag :per_page, options_for_select([10,20,30,40,50], params[:per_page].to_i),
           :onchange => "if(this.value){window.location='?per_page='+this.value;}"%>
        </div>
      </div>
      <table align="center" width="100%" cellpadding="1" cellspacing="1" id="listing" class="table_with_paginate" style ="padding: 33px;">
        <tr class="tr-head">
          <td><%= "#{t('reason_for_writeoff')}"%></td>
          <td><%= "#{t('writeoff_amount')}"%></td>
          <td><%= "#{t('writeoff_date')}"%></td>
          <td><%= "#{t('writeoff_user')}"%></td>
          <td><%= "#{t('action')}"%></td>
        </tr>
        <% @wod.each do |d| %>
          <tr class="tr-<%= cycle('odd', 'even')%>">
            <td class="col-7"> <%= d.reason_for_writeoff%></td>
            <td class="col-7"> <%= d.writeoff_amount %></td>
            <td class="col-4"> <%= d.writeoff_date %></td>   
            <td class="col-7"> <%= d.user unless d.nil? %></td>
            <td class="col-unique col-4" style="min-width: 160px;">
              <% unless d.writeoff_deposits.first.nil?%>
                <% if d.writeoff_deposits.first.approve != true  and  d.writeoff_deposits.first.reject != true%>
                    <%= link_to "#{t('edit_text')}", {:controller => :writeoff_deposits, :action => :edit_writeoff_deposit_details, :id => d.id}, :class => "themed_hover_text"%>
                <%elsif d.writeoff_deposits.first.approve == true%>
                    <%= "#{t('approved')}" %>
                <% elsif d.writeoff_deposits.first.reject == true %>
                  <%= "#{t('rejected')}" %> 
                <%end%>
                |
                  <%= link_to "#{t('show')}",  {:controller => :writeoff_deposits,:action =>:show_writeoff_deposit_details, :id=>  d.id}, :class=>"themed_hover_text"%>
              <%end%>
            </td>
          </tr>
        <%end%>
      </table>
      <%= will_paginate @wod , :style => 'margin-right: 33px;'%> 
    <%end%>   
  </div>
</div>