<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('write_off')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('write_off')}"%></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
</div>
</br>
<!-- :url => {:controller => 'writeoff_deposits', :action => 'writeoff_index'} -->
<% form_for :writeoff_deposits,:html => {:multipart => true} do |s| %>
  <% if @writeoff_details.vertical_id.present? %>
    <div class="label-field-pair">
      <label for="bank_deposit"><%= t('type_of_vertical') %></label>
      <div  class="text-input-bg">
        <%= text_field_tag  'type of vertical',YuvaVertical.find(@writeoff_details.vertical_id).name ,:readonly=>true%>
      </div>
    </div>
  <%end%>
  <div class="label-field-pair">
    <label for="write_off_amount">Write Off Amount</label>
    <div class="input-container"> <input class="precision_text payment" id="write_off_amount" name="write_off_amount" value="<%=@writeoff_details.writeoff_amount %>" readonly="true"></div>
  </div> 
  <div class="label-field-pair">
    <label for="student_course"><%= t('writeoff_date') %></label>
    <div class="input-container">
    <%= calendar_date_select_tag 'writeoff_date',(@writeoff_details.writeoff_date.blank? ?  I18n.l(Date.today,:format=>:default) : @writeoff_details.writeoff_date) %>
      <%#= calendar_date_select_tag 'writeoff_date', I18n.l(Date.today,:format=>:default),:year_range => 15.years.ago..5.years.from_now,:valid_date_check => "date <= (new
Date()).stripTime()", :id=>'date_of_deposit', :popup=>"force" %>
    </div>
  </div>
  <div class="label-field-pair">
    <label for="reason_for_write_off">Reason for Write Off</label>
    <input name="reason_for_write_off" type="text" value="<%=@writeoff_details.reason_for_writeoff %>">
  </div>
  <div class="label-field-pair">
    <label for="student_course"><%= t('writeoff_deposited_by') %></label>
    <div class="input-container">
      <%= text_field_tag 'writeoff_deposited_by',@current_user.full_name,:readonly=>true %>
    </div>
  </div>
  <div class="label-field-pair" id="document_upload">
    <label for="student_image_file">Document Upload<span class="necessary-field">*</span></label>
    <!-- <div class="text-input-bg"><%#= file_field_tag :document_upload, :id=>'image' %></div> -->
    <%= link_to @writeoff_details.document_upload_file_name.last(30), :action => "download_uploded_document" , :id=>@writeoff_details.id%>
    <%= link_to_remote "#{t('change')}",:url => { :controller=>"writeoff_deposits",:action => 'change_document_upload'},:method => 'get', :html => {:style=>'color: #000; background : none; border: medium none;float: none;font-family: arial;font-size: 14px;font-weight: bold;margin:  0;padding: 7px 10px;text-decoration: none;'}%>
  </div>
  </br>

  <div id="deposit_details">
    <%unless @writeoff_deposit.empty?%>
      <table id="listing"  width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head">
          <td><%= t('student_id') %></td>
          <td><%= t('student_name') %></td>
          <td><%= t('batch') %></td>
          <td><%= t('employee_name') %></td>
          <td><%= t('amount') %></td>
        </tr>
        <tr class="tr-blank"></tr>
        <% @writeoff_deposit.each do |d| %>
          <% former_stu = ArchivedStudent.find_by_former_id(d.student_id)%>
          <% stu = Student.find_by_id(d.student_id)%>
          <%# @emp=User.find_by_id(d.user) %>
          <tr class="tr-<%= cycle("odd", "even") %>">
           <!--  <td class="col-4" style="min-width: 80px;"><%#= @bdft.type_of_deposit %></td> -->
            <td class="col-4" style="min-width: 80px;"><%= d.student_id %></td>
            <td class="col-4" style="min-width: 80px;"><% unless former_stu.nil?%><%= link_to former_stu.full_name, {:controller => :bank_deposits,:action =>:view_student_finance_details, :id=>d.student_id} %><% else%><%= link_to stu.full_name, {:controller => :bank_deposits,:action =>:view_student_finance_details, :id=>d.student_id} %><%#= stu.full_name %><% end%> </td>
            <td class="col-4" style="min-width: 80px;"><% unless former_stu.nil?%><%= former_stu.batch.name %><% else%><%= stu.batch.name %><% end%></td>
            <td class="col-4" style="min-width: 80px;"><%= @writeoff_details.user %></td>
            <td class="col-4" style="min-width: 80px;"><%= d.amount%></td>
          </tr> 
          <%end%>
      </table>
    <% end%>
  </div>
  <div class="save-proceed-button1"> 
    <%= submit_tag "", :value => "► #{t('update')}", :class => "submit_button", :id => 'submit_button' %>
    <%=  link_to "#{t('back')}",  {:action=>:deposits}, :class=>"user_button1"%>
  </div>
<% end %>
 
