<div id="content-header">
   <%= show_header_icon %>
   <h1><%= "#{t('write_off_details')}"%></h1>
   <div class='header-sep'>|</div>
   <div class='sub-header'><%= "#{t('write_off_details')}"%></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs %>
  </div>
</div>
<div class="extender"></div>
<% if @writeoff_details.vertical_id.present? %>
  <div class="label-field-pair">
    <label for="bank_deposit"><%= t('type_of_vertical') %></label>
    <div  class="text-input-bg">
      <label for="bank_deposit"> <%= YuvaVertical.find(@writeoff_details.vertical_id).name %></label>
    </div>
  </div>
<%end%>
<div class="label-field-pair">
  <label for="bank_deposit"><%= t('reason_for_writeoff') %></label>
  <div  class="text-input-bg">
   <label for="bank_deposit"> <%=@writeoff_details.reason_for_writeoff %></label>
  </div>
</div>
<div class="label-field-pair">
  <label for="bank_deposit"><%= t('writeoff_amount') %></label>
  <div  class="text-input-bg">
    <label for="bank_deposit"> <%=@writeoff_details.writeoff_amount %></label>
  </div>
</div>
<div class="label-field-pair">
  <label for="bank_deposit"><%= t('writeoff_date') %></label>
  <div  class="text-input-bg">
     <label for="bank_deposit"> <%=@writeoff_details.writeoff_date%></label>
  </div>
</div>
<div class="label-field-pair">
  <label for="bank_deposit"><%= t('writeoff_user') %></label>
  <div  class="text-input-bg">
     <label for="bank_deposit"> <%=@writeoff_details.user%></label>
  </div>
</div>
<div class="label-field-pair">
  <label for="student_image_file">Document Upload<span class="necessary-field">*</span></label>
    <!-- <div class="text-input-bg"><%#= file_field_tag :document_upload, :id=>'image' %></div> -->
  <div  class="text-input-bg">
    <label for="bank_deposit"><%= link_to @writeoff_details.document_upload_file_name.last(30), :action => "download_uploded_document" , :id=>@writeoff_details.id%></label>
  </div>
</div>

<div id="deposit_details">
  <%unless @writeoff_deposit.empty?%>
    <table id="listing"  width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td><%= t('student_id') %></td>
        <td><%= t('student_name') %></td>
        <td><%= t('batch') %></td>
        <td><%= t('employee_name') %></td>
        <td><%= t('amount') %></td>
      </tr>
      <tr class="tr-blank"></tr>
      <% @writeoff_deposit.each do |d| %>
         <% stu = Student.find(d.student_id)%>
        <%# @emp=User.find_by_id(@bdft.employee_id) %>
        <%# @bdyb=BankDepositYuvaBank.find(@bdft.bank_deposit_yuvaparivarthan_bank_id)%>
        <%# @yuva_bank = YuvaparivarthanBank.find(@bdyb.bank_id)%>
        <tr class="tr-<%= cycle("odd", "even") %>">
           <!--  <td class="col-4" style="min-width: 80px;"><%#= @bdft.type_of_deposit %></td> -->
           <td class="col-2" style="min-width: 50px;"><%= d.student_id%></td>
          <td class="col-4" style="min-width: 80px;"><%= link_to stu.full_name, {:controller => :bank_deposits,:action =>:view_student_finance_details, :id=>d.student_id} %> <%#= stu.full_name %></td>
          <td class="col-4" style="min-width: 80px;"><%= stu.batch.name %></td>
          <td class="col-4" style="min-width: 80px;"><%= @writeoff_details.user %></td>
          <td class="col-4" style="min-width: 80px;"><%= d.amount%></td>
        </tr> 
        <%end%>
    </table>
    <div align = "center"> 
      <%if @writeoff_details.writeoff_deposits.first.approve == true or @writeoff_details.writeoff_deposits.first.reject == true%>
        <%=  link_to "#{t('back')}",  {:action=>:deposits}, :class=>"user_button1"%>
      <%else %>
        <%=  link_to "#{t('back')}",  {:action=>:deposits}, :class=>"user_button1"%>
        <%=  link_to "#{t('edit')}",  {:action=>:edit_writeoff_deposit_details, :id =>@writeoff_details.id}, :class=>"user_button1"%>
        <%if @current_user.admin? %>
        <%= link_to "#{t('approve')}", {:controller => :writeoff_deposits,:action =>:approve_writeoff_deposit_details, :id=>@writeoff_details.id}, :confirm => "#{t('approve_confirm_msg')}", :class=>"user_button1" %>
        <%= link_to "#{t('reject')}", { :controller=>:writeoff_deposits,:action =>:reject_writeoff_deposit_details, :id=>@writeoff_details.id}, :confirm => "#{t('reject_confirm_msg')}", :class=>"user_button1" %>
      <% end %>
        <% end %>
    </div>
  <%end%>
</div>

