<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('reports_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%="#{t('write_off_deposit_details')}" %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% remote_form_for :vertical,:url=>{:contoller => 'writeoff_deposits',:action=>'writeoff_report_details_yuva'} do |f| %>
  	<div class="label-field-pair">
      <label for="course"><%= t('select_vertical') %></label>
      <div  class="text-input-bg">
    	  <%= select '',:vertical_id, options_for_select(@verticals.map {|b| [b.name, b.id]}),{:include_blank=>"Select Vertical"}%>
  		</div>
  	</div>	
    <%= submit_tag "", :value => "► #{t('search')}", :class => "submit-button",:style => "float: left;margin-top: 2%;" %>
  <% end %>
  <div class="extender"></div>
</div>
<div id="report_table"></div>