.save-proceed-button1 input{
   -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left:220px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}

.#content-header {
    margin-top: 35px;
    height: 20px;
    width: 20px;
    float: left;
    background: url(/images/iconsprite-1.png) no-repeat center;
}
#warning_info
{
    float: left;
    width: 200px;
    border: 1px solid #B2B2B2;
    padding: 0 5px 5px 5px;
    margin-left: 60px;
}
#user_photo
{
    width: auto !important;
}
.label-field-pair input {
    background: none repeat scroll 0% 0% #EEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0px 0px 10px;
    width: 197px;
    height: 17px;
    padding: 5px;
}
.text-input-bg {
    background: transparent;
    height: 28px;
    width: 250px;
    float: left;
}
.odd{
    height:auto;
    background: #eff3fe;
    
    margin-right:5px;
}
.odd td{
    
    font-weight:bold;
    padding:10px 10px 10px 10px;
   border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
}
.right{
    width: 450px;
    color:#000000;
    text-align: left;
}
.left{
    width: 250px;
    color:#548ab2;
    text-align: right;
}
.even{
    
    height:auto;
    
    background: #dae6ff;
    margin-right:5px;
}
.even td{
    
    font-weight:bold;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
    padding:10px 10px 10px 10px;
}
.submit_button {
    padding: 10px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
table#listing td.col-8 {
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
}
table#listing {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;

}
table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
}
table#listing1 tr.tr-head {
 height: 30px;
background: #fff;
color: #990a10;
font-weight: bold;
text-align: center;
}
tr.tr-blank {
height: 10px;
}
table#listing1 .tr-odd {
background: #fff;
text-align: center;
padding: 50px;
color: #27292b;
font-weight: 600;
font-size: 14px;
}
table#listing1 .tr-even {
background: #f1f6ff;
text-align: center;
padding: 50px;
color: #27292b;
font-weight: 600;
font-size: 14px;
}
.col-2{
    max-width:200px;
    text-align: justify;
}
table#listing1 {
background: #c3d9ff;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 20px 20px 40px;
}
table#listing1 {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;

}
table#listing1 td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
}
table#listing1 td.col-8 {
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
}
/*new*/
table#listing1 .col-3 ,table#listing1 .col-6{
    text-align: right;
    padding-right: 8px;
    background: none repeat scroll 0 0 #fff !important;
}
table#listing1 .left_align
{
    text-align: left!important;
}

table#listing1 .center_align
{
    text-align: center !important;
}
table#listing1 .col-3 a  {
    margin: 0;
    padding: 0;
    background: none repeat scroll 0 0 #fff !important;
}
.payment_box{
    -webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    width:80px;
    /*float:right;*/
    padding-left: 6px;
}
.balance1{
    -webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    width:80px;
    /*float:right;*/
    padding-left: 6px;
}
.note1{
    -webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    width:150px;
    /*float:right;*/
    padding-left: 6px;
}
table#listing1 td a {
    background: none repeat scroll 0 0 ; 
    border: medium none;
    color: black; 
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -2px auto 0;
    padding: 9px 18px;
    text-decoration: none;
}
table#listing1 td a:hover{
    background:  white;
    /*    color: #fff;*/
    text-decoration: none;
}
#line {
    margin: -30px 10px 0px 500px;
}