.save-proceed-button1 input{
   -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left:220px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
.fee_category_scroll1 {
    height: 93px;
    margin-left: 201px;
    margin-top: -30px;
    overflow: auto;
    width: 266px;
    padding-left: 10px
}

.fee_category_scroll {
    -moz-background-inline-policy: continuous;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 150px;
    margin-left: 209px;
    margin-top: -30px;
    overflow: auto;
    width: 196px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right:10px;
}

.sel-list {
    margin-bottom: 4px;
    width:auto;
/*    width: 190px;*/
    color: #444444;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #DDDDDD;
}
.sel-list a {
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.sel-list a:hover {
    color: #9D0E00;
    text-decoration: none;
}

.each_batch {
    border-bottom: 1px solid #DDDDDD;
    color: #444444;
    font-size: 14px;
}
.each_batch span{
    width: auto;
}
.batches_box{
    width: auto;
}
.subjects_box{
    width: auto;
}
.students_box{
    width: auto;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left:212px;
    margin-top:34px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}

.fieldWithErrors,#online_exam_group_start_date,#online_exam_group_end_date{
    float: left;
}
.calendar_date_select_popup_icon{
    float: left;
    margin-top: 12px;
    margin-left: 4px;
}
.text-input-bg {
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 35px;
    overflow: hidden;
    width: 270px;
}
.calendar_date_select {
    border: 1px solid #777777;
    color: white;
    display: block;
    width: 205px;
    z-index: 10001;
}

#box{
    margin:0 auto;
}
.select_exam_type {
    float: left;
    padding-top: 5px;
    width: 300px;
}
.label-field-pair .label_for_exam_type {
    display:inline;
    font-weight:normal;
    margin: 0;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 5px;
    width:auto;
}
.label-field-pair .select_exam_type input {
    float:left;
    margin-right:5px;
    margin-left:10px;
    width:auto;
}
.autocomplete div {
    overflow: hidden;
    padding: 2px 5px;
    white-space: nowrap;
}
.autocomplete {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    color: #000000;
    cursor: default;
    margin: -7px 5px 6px -7px;
    max-height: 180px !important;
    overflow: auto;
    text-align: left;
    font-size:14px;
}
.autocomplete .selected {
    background:#F8F1D1;
    color:#BB0000;
}
.autocomplete-w1 {
    left: 0;
    margin: 6px 0 0 6px;
    position: absolute;
    top: 0;
}
.listodd {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BECFFB;
    color: #444444;
    font-weight: bold;
    height: auto;
    list-style-type: none;
    margin-bottom: 6px;
    margin-right:15px;
    float:left;
    font-size:12px;
    overflow: hidden;
    padding: 5px 0 1px 8px;
    width: 170px;
}
.list_c {
    float: left;
    width: 150px;
    margin-top:1px;
}
.list_btn {
    background-image: url("/images/iconsprite-1.png");
    background-position: -5px -344px;
    background-repeat: no-repeat;
    float: right;
    margin-top: 3px;
    padding: 8px;
}
#category-list_complainee {
    color: #444444;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: -40px;
    margin-top: 6px;
    width: 800px;
}
#complainee {
    float: left;
    width: 780px;
    margin-left:210px;
    margin-top:10px;
}
#student_selection {
    float:right;
    width:375px;
    height:200px;
}
#st-box {
    margin-left:159px;
    float:right;
    margin-top:-37px;
    height:250px;
}
#student-label {
    width:200px;
    float:right;
    margin-right:240px;
    width:350px;
}
#student-label label {
    text-align:right;
    float:right;
    width:270px;
}
.evaluator-true {
    display:block;
}
.evaluator-false {
    display:none;
}