<div class="label-field-pair">
	<label for="bank_deposit_date"><%= t('start_date') %><span class="necessary-field">*</span></label>
	<div class="input-container">
		<%= calendar_date_select "",:date_of_collection ,:valid_date_check => "date <= (new Date()).stripTime()", :popup=>"force", :onChange => "#{remote_function(:url => {:controller => "bank_deposits", :action => "end_date", :type_of_deposit=>params[:type_of_deposit], :batch_ids=>params[:batch_ids]}, :with=>"'date_of_collection='+value")}" %>
	</div>
</div>
<div class="extender"></div>
<div id = "end_date"></div>
