<div class="label-field-pair">
  <label for="student_image_file"><%= t('upload_scanned_copy_deposit_slip') %></label>
  <div class="text-input-bg"><%= file_field_tag :upload_document, :id=>'image' %></div>
</div>