<div class="label-field-pair">
  <label for="student_course"><%= t('date_of_collection') %><span class="necessary-field">*</span></label>
  <div class="input-container">
    <%= calendar_date_select_tag :date_of_collection, I18n.l(Date.today,:format=>:default),:year_range => 15.years.ago..5.years.from_now ,:valid_date_check => "date <= (new
Date()).stripTime()", :readonly=>true, :popup=>"force" %>
  </div>
</div>
<div class="label-field-pair">
  <label for="student_course"><%= t('total_amount')%><span class="necessary-field">*</span></label>
  <div class="input-container"> <%= text_field_tag "total_amount",value="" , :style =>'text-align: right;', :id=>'total_amount' %></div>
</div>
<div class="label-field-pair">
  <label><%= t('select_bank') %> </label>
  <div class="text-input-bg">
    <%= select '',:bank_id, options_for_select(@yuvabank.map { |e| [[e.bank_name,",",e.branch_name],e.id]}),{:prompt=>"Select Bank"}, {:onChange => "#{remote_function(:url => {:controller => "bank_deposits", :action => "yuva_bank_details",:deposit_type=>params[:type_of_deposit]}, :with => "'bank_id='+ value")}"} %> 
  </div>
</div>
<div id="bank_details_yuva"></div>

