<div class="label-field-pair">
  <label for="vertical"><%= t('select_type_of_vertical') %><span class="necessary-field">*</span></label>
  <div  class="text-input-bg">
    <%#= select '',:type_of_vertical, options_for_select([["LDC","LDC"], ["Community Batch", "Community Batch"],["Community Batch Center","Community Batch Center"]]),{:include_blank=>"Select Type of Vertical"}, {:onChange => "#{remote_function(:url => {:controller => "bank_deposits", :action => "vertical_index"}, :with => "'type_of_vertical='+ value")}"} %> 
    <%= select '', :type_of_vertical, YuvaVertical.all.map {|v| [v.name, v.id]},{:include_blank=>"Select Type of Vertical"}, {:onChange => "#{remote_function(:url => {:controller => "bank_deposits", :action => "vertical_index"}, :with => "'type_of_vertical='+ value")}"}  %>
  </div>
</div>
  