<% i = 0 %>
<% if @finance_donation.nil?%>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><ul><li><%= flash[:warn_notice] %></li></ul> </div>
  <% end %>
<% else%>
  <% if @finance_donation.empty?%>
    <p class="flash-msg"><%= t('donations_not_found') %></p>
  <% else%>
    <table id="listing1"  width="110%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <!-- <td style="width:53px;"><%#= link_to_function t('all'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = true; });" %>
         <%#= link_to_function t('none'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });" %>
        </td> -->
        <td></td>
        <td><%= t('transaction_no') %></td>
        <td><%= t('manual_receipt_no') %></td>
        <td><%= t('manual_receipt_date') %></td>
        <td><%= t('receipt_no') %></td>
        <td><%= t('receipt_date') %></td>
        <td><%= t('donations_collected') %></td>
        <td><%= t('donations_to_be_deposited') %></td>
        <td><%= t('balance') %></td>
      </tr>
      <% checked=false%>
      <tr class="tr-blank"></tr>
      <%@finance_donation.each do |donation| %>
        <%# unless params[:transactions].nil? %>
              <%# checked = params[:transactions][:finance_check_box].include?(donation.id.to_s) if params[:transactions][:finance_check_box].present? %>
            <%# end %>
        <% bank_deposit_finance_transaction_values=BankDepositFinanceTransaction.find_all_by_finance_transaction_id(donation.id) %>
          <% @total_deposited_amount=0%>
          <% bank_deposit_finance_transaction_values.each do |p|%>
            <% @total_deposited_amount = p.fee_to_be_deposited + @total_deposited_amount unless p.admin_status == true or p.reject_status == true %>
          <%end%>       
        <%i = i + donation.balance - @total_deposited_amount%>
        <% if donation.balance-@total_deposited_amount>0%>
          <% if donation.fee_deposit == false %>
            <tr class="tr-<%= cycle("odd", "even") %>">
            <!-- <td><%#= check_box_tag "transactions[finance_check_box][]",donation.id, checked, :class=>'batches_box' %></td> -->
            <td><%= check_box_tag "", :finance_check_box, checked=false, :class=>'batches_box' %></td>
              <td class="col-4"><%= donation.id %></td>
              <td class="col-7"><%= donation.Manual_receipt_no %><%= hidden_field_tag "transactions[#{donation.id}][manual_receipt_no]", donation.Manual_receipt_no %></td>
              <td class="col-7"><%= donation.Manual_receipt_date %><%= hidden_field_tag "transactions[#{donation.id}][manual_receipt_date]", donation.Manual_receipt_date %></td>
              <td class=""><%= donation.receipt_no %><%= hidden_field_tag "transactions[#{donation.id}][receipt_no]", donation.receipt_no %></td>
              <td class="col-4"><%= donation.transaction_date%><%= hidden_field_tag "transactions[#{donation.id}][date_of_collection]", donation.transaction_date %></td>
              <td class="col-4"><%= precision_label(donation.balance)%><%= hidden_field_tag "transactions[#{donation.id}][fee_collected]", donation.balance.to_f %></td>
              <td class="col-4">
                <%= hidden_field_tag 'max_amount', donation.balance - @total_deposited_amount, options={:class=>donation.finance_type, :onkeyups=>"$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });"}%>
                <% maximum =donation.balance - @total_deposited_amount %>
                <%= text_field_tag "transactions[#{donation.id}][fee_to_be_deposited]", value ="0", options={:class => "precision_text payment_box input_amount balance_box" , :style =>'text-align: right;',:id => "qwerty", :onkeyups => "this.value = minmax(this.value, 0, #{maximum})"} %>
              </td> 
              <td class="col-4"><%= text_field_tag ("transactions[balance][#{donation.id}]",precision_label(donation.balance.to_f- @total_deposited_amount.to_f), options = {:readonly => true, :class => "balance1", :style =>'text-align: right;' }) %></td>
            </tr>
          <% end%>
        <% end%>
      <% end%>	
    </table>
    <div class="extender"></div>
    <div class="label-field-pair">
      <label for="total_amount"><%= t('total_amount')%></label>
      <div class="input-container"> <%= text_field_tag "total_amount", value ="0", options = {:class => 'precision_text payment' , :style =>'text-align: right;',:readonly => true } %></div>
    </div>
    <div class="label-field-pair">
      <label><%= t('select_bank') %> </label>
      <div class="text-input-bg">
        <%= select "",:bank_id, options_for_select(@yuvabank.map { |e| [[e.bank_name,",",e.branch_name],e.id]}),{:prompt=>"Select Bank"}, {:onChange => "#{remote_function(:url => {:controller => "bank_deposits", :action => "yuva_bank_details", :deposit_type=>params[:type_of_deposit]}, :with => "'bank_id='+ value")}"} %>
      </div>
    </div>
    <div class="extender"></div>
    <div id="bank_details_yuva"></div>
  <% end%>
<% end%>
<script type="text/javascript">
 precision = parseInt("<%= @precision %>");
  j('.input_amount').on('input', function () {
    precision = parseInt("<%= @precision %>");
    fee_type=j(this).siblings('#max_amount').attr("class")
    max_value=parseFloat(j(this).siblings('#max_amount').val()).toFixed(precision)
    if((fee_type=='FinanceFee') || (fee_type=='TransportFee') || (fee_type=='HostelFee') || (fee_type=='InstantFee') || (fee_type==nil)){
      entered_amount=this.value
    }
    else{

      if(this.value>= max_value){
        entered_amount=max_value

      }
      else{
        entered_amount=0
      }

    }
    this.value = minmax(entered_amount, 0, max_value)
  })
  function minmax(value, min, max) {

    var precision = parseInt("<%= @precision %>");
    if (parseFloat(value) <= 0 || isNaN(value)) {


      return "";
    }
    else if (parseFloat(value) > max) {

      return (parseFloat(max).toFixed(precision))
    }
    else {
      return value;
    }
  }

  j('.payment_box').on('input', function (e) {
    update_pay_amount();
  });
  function update_pay_amount(){
    var precision = parseInt("<%= @precision %>");
    j('.payment').val(payment_sum())
  }

  function payment_sum() {
    var precision = parseInt("<%= @precision %>");
    var sum = 0
    j('.payment_box').each(function () {
      sum += +parseFloat(this.value) || 0
    });
    if (sum <= 0) {
      sum = 0
    }
    return sum.toFixed(precision)
  }

  j('.balance_box').on('input', function () {
    precision = parseInt("<%= @precision %>");
    max_value=parseFloat(j(this).siblings('#max_amount').val()).toFixed(precision)  
    var balance = max_value - this.value      
   j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(balance.toFixed(precision));      
  })  

  j('tr input[type=checkbox]').change( function(){   
    var max_amount = 0;
    var max_balance=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
       j(this).parent().parent('tr').find('input[type=checkbox]:checked').each( function() {
         max_amount =j(this).parent().parent('tr').find("input[id^='max_amount']").val(); 
         max_balance1=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
         max_balance -=  max_balance1;
     });
    j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(max_balance);
    j(this).parent().parent('tr').find("input[id^='qwerty']").val(max_amount);
    j('.payment').val(payment_sum())
})
  
</script>