<div class="label-field-pair">
	<label for="bank_deposit_date"><%= t('end_date') %><span class="necessary-field">*</span></label>
	<div class="input-container">
		<%= calendar_date_select "",:end_date ,:valid_date_check => "date <= (new
Date()).stripTime()", :popup=>"force", :onChange => "#{remote_function(:url => {:controller => "bank_deposits", :action => "donation_deposit_details",:date_of_collection => params[:date_of_collection], :type_of_deposit=>params[:type_of_deposit]}, :with=>"'end_date='+value")}" %>
	</div>
</div>
<div class="extender"></div>
<div id="donation_deposit"></div>