<% i = 0 %>
<% if @finance_fees.empty? and @pre_finance_fees.empty? %>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><ul><li><%= flash[:warn_notice] %></li></ul> </div>
  <% end %>
<% else%>
  <% if @finance_fees.empty? and @pre_finance_fees.empty?%>
    <p class="flash-msg"><%= t('transaction_not_found') %></p>
  <% else%>
    <!-- <div class="label-field-pair">
      <label for="bank_deposit_date"><%#= t('manual_receipt_date') %><span class="necessary-field">*</span></label>
      <div class="input-container">
        <%#= calendar_date_select "",:manual_receipt_date,:id=>"date", :popup=>"force" %>
      </div>
    </div>
    <div class="label-field-pair">
      <label for="bank_deposit_date"><%#= t('manual_receipt_no') %></label>
      <div class="input-container">
        <%#= text_field_tag "manual_receipt_no" %>
      </div>
    </div> -->
    <table id="listing1"  width="110%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td>
          <%#= check_box_tag "universal", :checked=>false, :class=>"abcd"%>
          <input id="universal" type="checkbox" class="abcd" value = "universal" name="universal">
          <!-- <input type="checkbox" name="sample" class="selectall"/> -->
        </td>
        <td><%= t('transaction_no') %></td>
        <td><%= t('manual_receipt_no') %></td>
        <td><%= t('manual_receipt_date') %></td>
        <td><%= t('batch_name') %></td>
        <td><%= t('course_name') %></td>
        <td><%= t('student_name') %></td>
        <td><%= t('receipt_no') %></td>
        <td><%= t('receipt_date') %></td>
        <td><%= t('fees_collected') %></td>
        <td><%= t('fees_deposited') %></td>
        <td><%= t('note') %></td>
        <td><%= t('balance') %></td>
      </tr>
      <tr class="tr-blank"></tr>
      <%@finance_fees.each do |finance| %>
        <% bank_deposit_finance_transaction_values=BankDepositFinanceTransaction.find_all_by_finance_transaction_id(finance.id) %>
        <% @total_deposited_amount=0%>
        <% bank_deposit_finance_transaction_values.each do |p|%>
          <% @total_deposited_amount = p.fee_to_be_deposited + @total_deposited_amount unless p.admin_status == true or p.reject_status == true %>
        <%end%>
        <%finance.balance = !finance.balance.nil? ? finance.balance : 0%>
        <%i=i+finance.balance - @total_deposited_amount%>
        <% @batch_code=Batch.find_by_id(finance.batch_id)%>
        <% @student_name=Student.find_by_id(finance.payee_id)%>
        <% student_name = ArchivedStudent.find_by_former_id(finance.payee_id)%>
        <% if finance.balance-@total_deposited_amount>0%>
          <% if finance.fee_deposit == false %>
            <tr class="tr-<%= cycle("odd", "even") %>">
              <td><%#= check_box_tag "finance_check_box", :finance_check_box, :checked=>false, :class=>'batches_box'%>
                <input id="finance_check_box" type="checkbox" class="abcd" value = "finance_check_box"name="finance_check_box">
              </td>
              <td class="col-4"><%= finance.id %></td>
              <td class="col-7"><%= finance.Manual_receipt_no %><%= hidden_field_tag "transactions[#{finance.id}][manual_receipt_no]", finance.Manual_receipt_no %></td>
              <td class="col-7"><%= finance.Manual_receipt_date %><%= hidden_field_tag "transactions[#{finance.id}][manual_receipt_date]", finance.Manual_receipt_date %></td>
              <% unless @batch_code.nil? %>
              <td class="col-4"><%= @batch_code %></td>
              <% else %>
              <td class="col-4"><% unless student_name.nil?%><%= student_name.batch.full_name %><% else%><%= @student_name.batch.full_name %> <%end%></td>
              <% end %>
              <td class="col-4"></td>
              <td class="col-4"><%unless student_name.nil? %><%= student_name.full_name %><% else%> <%= @student_name.full_name %><% end%></td>
              <td class=""><%= finance.receipt_no %><%= hidden_field_tag "transactions[#{finance.id}][receipt_no]", finance.receipt_no %></td>
              <td class="col-4"><%= finance.transaction_date%><%= hidden_field_tag "transactions[#{finance.id}][date_of_collection]", finance.transaction_date %></td>
              <td class="col-4"><%= precision_label(finance.amount) %><%= hidden_field_tag "transactions[#{finance.id}][fee_collected]", finance.balance.to_f %></td>
              <td class="col-4">
                <%= hidden_field_tag 'max_amount', finance.balance - @total_deposited_amount, options={:class=>finance.finance_type} %>
                <% maximum =finance.balance - @total_deposited_amount %>
                <%= text_field_tag "transactions[#{finance.id}][fee_to_be_deposited]", value ="0", options={:class => "precision_text payment_box input_amount balance_box", :style =>'text-align: right;',:id => "qwerty", :onkeyups => "this.value = minmax(this.value, 0, #{maximum}),"} %>
              </td> 
                 <!--<div class="textarea-input-bg3"><%#= form.text_area :payment_note, :cols => 50, :rows => 1 %>
                            </div>  -->
              <td class="col-4"><%= text_field_tag "transactions[#{finance.id}][notes]", value="", options = {:cols => 50, :rows => 1, :class => "note1"} %></td>
              <td class="col-4"><%= text_field_tag ("transactions[balance][#{finance.id}]",   precision_label(finance.balance.to_f- @total_deposited_amount.to_f) , options = {:readonly => true, :class => "balance1", :style =>'text-align: right;'}) %></td>
            </tr>
          <% end%>
        <% end %>
      <% end%>
      <!-- new code added for prestudent -->
      <% unless @pre_finance_fees.nil?%>
        <%@pre_finance_fees.each do |finance| %>
          <% bank_deposit_finance_transaction_values=BankDepositFinanceTransaction.find_all_by_pre_finance_transaction_id(finance.id) %>
          <% @total_deposited_amount=0%>
          <% bank_deposit_finance_transaction_values.each do |p|%>
            <% @total_deposited_amount = p.fee_to_be_deposited + @total_deposited_amount unless p.admin_status == true or p.reject_status == true %>
          <%end%>
          <%finance.balance = !finance.balance.nil? ? finance.balance : 0%>
          <%i=i+finance.balance - @total_deposited_amount%>
          <% @course_code=Course.find_by_id(finance.course_id)%>
          <% @student_name=PreStudentRegistration.find_by_id(finance.pre_student_registration_id)%>
          <% if finance.balance-@total_deposited_amount>0%>
            <%# if finance.fee_deposit == false %>
              <tr class="tr-<%= cycle("odd", "even") %>">
                <td><%#= check_box_tag "finance_check_box", :finance_check_box, :checked=>false, :class=>'batches_box'%>
                  <input id="finance_check_box" type="checkbox" class="abcd" value = "finance_check_box"name="finance_check_box">
                </td>
                <td class="col-4"><%= finance.id %></td>
                <td class="col-7"><%#= finance.Manual_receipt_no %><%#= hidden_field_tag "transactions[#{finance.id}][manual_receipt_no]", finance.Manual_receipt_no %></td>
                <td class="col-7"><%#= finance.Manual_receipt_date %><%#= hidden_field_tag "transactions[#{finance.id}][manual_receipt_date]", finance.Manual_receipt_date %></td>
                <%# unless @course_code.nil? %>
                <td class="col-4"></td>
                <td class="col-4"><%= @course_code.course_name %></td>
                <%# else %>
                <!-- <td class="col-4"><%#= @student_name.batch.full_name unless @student_name.nil?%></td> -->
                <%# end %>
                <td class="col-4"><%= @student_name.full_name unless @student_name.nil?%></td>
                <td class=""><%= finance.receipt_no %><%= hidden_field_tag "pre_transactions[#{finance.id}][receipt_no]", finance.receipt_no %></td>
                <td class="col-4"><%= finance.transaction_date%><%= hidden_field_tag "pre_transactions[#{finance.id}][date_of_collection]", finance.transaction_date %></td>
                <td class="col-4"><%= precision_label(finance.amount) %><%= hidden_field_tag "pre_transactions[#{finance.id}][fee_collected]", finance.balance.to_f %></td>
                <td class="col-4">
                  <%= hidden_field_tag 'max_amount', finance.balance - @total_deposited_amount, options={:class=>'PreFinance'}%>
                  <% maximum =finance.balance - @total_deposited_amount %>
                  <%= text_field_tag "pre_transactions[#{finance.id}][fee_to_be_deposited]", value ="0", options={:class => "precision_text payment_box input_amount balance_box", :style =>'text-align: right;',:id => "qwerty", :onkeyups => "this.value = minmax(this.value, 0, #{maximum}),"} %>
                </td> 
                   <!--<div class="textarea-input-bg3"><%#= form.text_area :payment_note, :cols => 50, :rows => 1 %>
                              </div>  -->
                <td class="col-4"><%= text_field_tag "pre_transactions[#{finance.id}][notes]", value="", options = {:cols => 50, :rows => 1, :class => "note1"} %></td>
                <td class="col-4"><%= text_field_tag ("pre_transactions[balance][#{finance.id}]",   precision_label(finance.balance.to_f- @total_deposited_amount.to_f) , options = {:readonly => true, :class => "balance1", :style =>'text-align: right;'}) %></td>
              </tr>
            <%# end%>
          <% end %>
        <% end%>
      <% end%>
      <!-- new code ended -->
    </table>
    <div class="extender"></div>
    <div class="label-field-pair">
      <label for="total_amount"><%= t('total_amount')%></label>
      <div class="input-container"> <%= text_field_tag "total_amount",value ="0", options = {:class => 'precision_text payment' , :style =>'text-align: right;',:readonly => true } %></div>
    </div>
    <div class="label-field-pair">
      <label><%= t('select_bank') %> </label>
      <div class="text-input-bg">
        <%= select "",:bank_id, options_for_select(@yuvabank.map { |e| [[e.bank_name,",",e.branch_name],e.id]}),{:prompt=>"Select Bank"}, {:onChange => "#{remote_function(:url => {:controller => "bank_deposits", :action => "yuva_bank_details",:deposit_type=>params[:type_of_deposit]}, :with => "'bank_id='+ value")}"} %>
      </div>
    </div>
    <div class="extender"></div>
    <div id="bank_details_yuva"></div>
  <% end%>
<% end%>
<script type="text/javascript">
 precision = parseInt("<%= @precision %>");
  j('.input_amount').on('input', function () {
    precision = parseInt("<%= @precision %>");
    fee_type=j(this).siblings('#max_amount').attr("class")
    max_value=parseFloat(j(this).siblings('#max_amount').val()).toFixed(precision)
    if((fee_type=='FinanceFee') || (fee_type=='TransportFee') || (fee_type=='HostelFee') || (fee_type=='InstantFee') || fee_type == 'PreFinance'){
      entered_amount=this.value
    }
    else{

      if(this.value>= max_value){
        entered_amount=max_value

      }
      else{
        entered_amount=0
      }

    }
    this.value = minmax(entered_amount, 0, max_value)
  })
  function minmax(value, min, max) {

    var precision = parseInt("<%= @precision %>");
    if (parseFloat(value) <= 0 || isNaN(value)) {


      return "";
    }
    else if (parseFloat(value) > max) {

      return (parseFloat(max).toFixed(precision))
    }
    else {
      return value;
    }
  }

  j('.payment_box').on('input', function (e) {
    update_pay_amount();
  });
  function update_pay_amount(){
    var precision = parseInt("<%= @precision %>");
    j('.payment').val(payment_sum())
  }

  function payment_sum() {
    var precision = parseInt("<%= @precision %>");
    var sum = 0
    j('.payment_box').each(function () {
      sum += +parseFloat(this.value) || 0
    });
    if (sum <= 0) {
      sum = 0
    }
    return sum.toFixed(precision)
  }

  j('.balance_box').on('input', function () {
    precision = parseInt("<%= @precision %>");
    max_value=parseFloat(j(this).siblings('#max_amount').val()).toFixed(precision)  
    var balance = max_value - this.value 
    // var pre_balance = max_value - this.value 
   j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(balance.toFixed(precision));
   j(this).parent().parent('tr').find("input[id^='pre_transactions_balance_']").val(balance.toFixed(precision));      
  }) 

  j('tr input[type=checkbox]').change( function(){   
    var max_amount = 0;
    var max_balance=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
       j(this).parent().parent('tr').find('input[type=checkbox]:checked').each( function() {
         max_amount =j(this).parent().parent('tr').find("input[id^='max_amount']").val();  
         max_balance1=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
         max_balance -=  max_balance1;
     });
    j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(max_balance); 
    j(this).parent().parent('tr').find("input[id^='pre_transactions_balance_']").val(max_balance);
    j(this).parent().parent('tr').find("input[id^='qwerty']").val(max_amount);
    j('.payment').val(payment_sum())
  });
  j('tr input[type=checkbox]').trigger('change');


  //   $('.selectall').click(function() {
  //     if ($(this).is(':checked')) {
  //         $('div input').attr('checked', true);
  //     } else {
  //         $('div input').attr('checked', false);
  //     }
  // });

  j('#universal').change(function () {
      if (j(this).prop('checked')) {
          j("input[id^='finance_check_box']").prop('checked', true);
          j('tr input[type=checkbox]').each( function(){   
            var max_amount = 0;
            var max_balance=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
               j(this).parent().parent('tr').find('input[type=checkbox]:checked').each( function() {
                 max_amount =j(this).parent().parent('tr').find("input[id^='max_amount']").val();  
                 max_balance1=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
                 max_balance -=  max_balance1;
             });
            j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(max_balance); 
            j(this).parent().parent('tr').find("input[id^='pre_transactions_balance_']").val(max_balance);
            j(this).parent().parent('tr').find("input[id^='qwerty']").val(max_amount);
            j('.payment').val(payment_sum())
          });
          // j('tr input[type=checkbox]').trigger('change');
      } else {
          j("input[id^='finance_check_box']").prop('checked', false);
          j('tr input[type=checkbox]').each( function(){   
            var max_amount = 0;
            var max_balance=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
               j(this).parent().parent('tr').find('input[type=checkbox]:checked').each( function() {
                 max_amount =j(this).parent().parent('tr').find("input[id^='max_amount']").val();  
                 max_balance1=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
                 max_balance -=  max_balance1;
             });
            j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(max_balance);
            j(this).parent().parent('tr').find("input[id^='pre_transactions_balance_']").val(max_balance); 
            j(this).parent().parent('tr').find("input[id^='qwerty']").val(max_amount);
            j('.payment').val(payment_sum())
          });
      }
  });
  j('#universal').trigger('change');

</script>


