<div class="label-field-pair"><label> <%= t('select_a_batch') %><span class="necessary-field">*</span>  </label></div>
<div class="fee_category_scroll">
  <div class="sel-list">
    Select: <%= link_to_function "#{t('all')}", "$$('input.batches_box').each(function(checkbox) { checkbox.checked = true; });#{remote_function(:url => {:action => "current_calender_date"}, :with =>"'type_of_calender='+ value")}" %>,
    <%= link_to_function "#{t('none')}", "$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });#{remote_function(:url => {:action =>"current_calender_date"}, :with => "'type_of_calender='+ value")}" %>
  </div>
  <% @batch.each do |f| %>
    <div class="each_batch">
      <%= check_box_tag "batch_ids[]", f.id, (@batch.map { |e| e.id }.include?("#{f.id}") unless @batch.map { |e| e.id }.nil?) ,:class=>'batches_box', :onChange=>"#{remote_function(:url => {:controller => "bank_deposits", :action => "current_calender_date"}, :with => "'type_of_calender='+ value")}"%>
      <span><%= f.full_name %></span>
    </div>
    <div >
    </div>
  <% end %>
</div>
