<div id="deposit_details">
  <%if @bdft.nil? %>
    <p class="flash-msg"><%=t('no_deposit_details_exist')%></p>
  <%else%>
    <table align="center" width="100%" cellpadding="1" cellspacing="1" id="listing" class="table_with_paginate" style ="padding: 33px;">
      <tr class="tr-head">
        <td><input id="universal" type="checkbox" class="abcd" value = "universal" name="universal">
        <%= "#{t('type_of_deposit')}"%></td>
        <td><%= "#{t('deposit_date')}"%></td>
        <td><%= "#{t('employee_name')}"%></td>
        <td><%= "#{t('bank_name')}"%></td>
        <td><%= "#{t('amount')}"%></td>
      </tr>
      <% @bdft.each do |d| %>
      <%# @b_num = d.bank_deposit_finance_transaction_number%>
      <% @emp=User.find_by_id(d.employee_id)%>
      <% if @emp.present?%>
        <tr class="tr-<%= cycle('odd', 'even')%>">
        <% @bank =BankDepositYuvaBank.find_by_id(d.bank_deposit_yuvaparivarthan_bank_id) unless d.bank_deposit_yuvaparivarthan_bank_id.nil?%>
        <% @yuvabank =YuvaparivarthanBank.find_by_id(@bank.bank_id) unless @bank.nil? %>           
          <td class="col-7"><input id="finance_check_box" type="checkbox" class="abcd1" value = "<%=d.id %>" name="[finance_check_box][]">
          <%= link_to d.type_of_deposit, {:controller => :bank_deposits,:action =>:show_bank_deposit_details, :id=>d.bank_deposit_finance_transaction_number} %> 
          <!-- <input type="hidden" name="[type_of_deposit][<%#=d.id%>]" value="<%#= d.type_of_deposit %>"> -->
          </td>
          <td class="col-7"><%= d.date_of_deposit%></td>
          <td class="col-7"> <%=@emp.first_name unless @emp.nil?%></td>
          <td class="col-4"><%=@yuvabank.bank_name unless @yuvabank.nil?%></td>        
          <td class="col-4 "><input name="[fee_to_be_deposited][[<%=d.id%>]]" class="balance1" value = "<%= precision_label(BankDepositYuvaBank.find(d.bank_deposit_yuvaparivarthan_bank_id).total_amount)%>" readonly = true></td>
          <!--  <td class="col-4"><%#= text_field_tag ("transactions[balance][#{finance.id}]",   precision_label(finance.balance.to_f- @total_deposited_amount.to_f) , options = {:readonly => true, :class => "balance1", :style =>'text-align: right;'}) %></td> -->
            <% else%>
          <% end %>
        </tr>
      <%end%>
    </table>
  <%end%>
<script type="text/javascript">

  j('#universal').change(function () {
      if (j(this).prop('checked')) {
          j('input[id^="finance_check_box"]').prop('checked', true);
          j('tr input[type=checkbox]').each( function(){   
            var max_amount = 0;
            var max_balance=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
               j(this).parent().parent('tr').find('input[type=checkbox]:checked').each( function() {
                 max_amount =j(this).parent().parent('tr').find("input[id^='max_amount']").val();  
                 max_balance1=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
                 max_balance -=  max_balance1;
             });
            j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(max_balance); 
            j(this).parent().parent('tr').find("input[id^='qwerty']").val(max_amount);
            // j('.payment').val(payment_sum())
          });
          // j('tr input[type=checkbox]').trigger('change');
      } else {
          j('input[id^="finance_check_box"]').prop('checked', false);
          j('tr input[type=checkbox]').each( function(){   
            var max_amount = 0;
            var max_balance=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
               j(this).parent().parent('tr').find('input[type=checkbox]:checked').each( function() {
                 max_amount =j(this).parent().parent('tr').find("input[id^='max_amount']").val();  
                 max_balance1=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
                 max_balance -=  max_balance1;
             });
            j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(max_balance); 
            j(this).parent().parent('tr').find("input[id^='qwerty']").val(max_amount);
            // j('.payment').val(payment_sum())
          });
      }
  });
  j('#universal').trigger('change');

</script>
<script type="text/javascript">
  
  j(".abcd1").click(function(){
     var total = 0.0 ;
     j(".abcd1").each(function() {
      if(j(this).prop( 'checked' ))
       {
        console.log(j(this).closest('tr').find('.balance1').val()+"h1")
        console.log(j(this).closest('tr').find('.balance1').text()+"h2")
        console.log(+"34")
        console.log(parseInt(j(this).closest('tr').find('.balance1').text())+"45")
        var text = parseInt(j(this).closest('tr').find('.balance1').val())
         if(isNaN(text)){
      
         }
         else{
           total =  total + text;
         }
       }
       });
     j("#write_off_amount").val(total);
     j(".abcd").prop('checked',false)
  })

  j(".abcd").click(function(){
    var total = 0.0 ;
    if(j(this).prop( 'checked' )){     
   j(".balance1").each(function() {
     var num = parseInt(j(this).val())
       if(isNaN(num)){
    

       }
       else{
         total =  total + num;
       }
     });
    }else{
      total = 0.0
    }
   j("#write_off_amount").val(total);
  })
  
</script>

<script type="text/javascript">
// if($("#finance_check_box").is(':checked'))
    var checkedValue = $('.abcd1:checked').val(); 
</script>


