<table id="listing1"  width="110%" cellpadding="1" cellspacing="1">
  <tr class="tr-head">
      <%#= check_box_tag "universal", :checked=>false, :class=>"abcd"%>
    <td><input id="universal" type="checkbox" class="abcd" value = "universal" name="universal">
      <td><%= t('course') %></td>
      <td><%= t('first_name') %></td>
      <td><%= t('transaction_date') %></td>
      <td><%= t('deposited_date') %></td>
      <td><%= t('payment_mode') %></td>
      <td><%= t('amount') %></td>
     </td>
  </tr>
  <% @finance_fees.each do |f| %>
    <tr class="tr-<%= cycle('odd', 'even')%>">
      <td><input id="finance_check_box" type="checkbox" class="abcd1" value = "<%=f.id %>"  name="[finance_check_box][]"></td>
      <td class="col-4"><%= Course.find(f.course_id).course_name %></td>
      <td class="col-4"><%= PreStudentRegistration.find(f.pre_student_registration_id).first_name %></td>
      <td class="col-4"><%= f.transaction_date %></td>
      <td class="col-4"><%= f.deposited_date %></td>
      <td class="col-4"><%= f.payment_mode %></td>
      <td class="col-4 "><input name= "" class="balance1" value = "<%= f.amount %>" readonly= true></td>
    </tr>
  <%end%>
</table>
<div class="extender"></div>
<div class="label-field-pair">
  <label for="total_amount">Total Amount</label>
  <div class="input-container"> <input class="precision_text payment" id="total_amount" name="total_amount" style="text-align: right;" type="text" value=""></div>
</div>
<div class="label-field-pair">
  <label><%= t('select_bank') %> </label>
  <div class="text-input-bg">
    <%= select "",:bank_id, options_for_select(@yuvabank.map { |e| [[e.bank_name,",",e.branch_name],e.id]}),{:prompt=>"Select Bank"}, {:onChange => "#{remote_function(:url => {:controller => "bank_deposits", :action => "yuva_bank_details",:deposit_type=>params[:type_of_deposit]}, :with => "'bank_id='+ value")}"} %>
  </div>
</div>
<div class="extender"></div>
<div id="bank_details_yuva"></div>

<script type="text/javascript">

  j('#universal').change(function () {
    if (j(this).prop('checked')) {
         j("input[id^='finance_check_box']").prop('checked', true);
        j('tr input[type=checkbox]').each( function(){   
          var max_amount = 0;
          var max_balance=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
             j(this).parent().parent('tr').find('input[type=checkbox]:checked').each( function() {
               max_amount =j(this).parent().parent('tr').find("input[id^='max_amount']").val();  
               max_balance1=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
               max_balance -=  max_balance1;
           });
          j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(max_balance); 
          j(this).parent().parent('tr').find("input[id^='qwerty']").val(max_amount);
          // j('.payment').val(payment_sum())
        });
        // j('tr input[type=checkbox]').trigger('change');
    } else {
       j("input[id^='finance_check_box']").prop('checked', false);
        j('tr input[type=checkbox]').each( function(){   
          var max_amount = 0;
          var max_balance=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
             j(this).parent().parent('tr').find('input[type=checkbox]:checked').each( function() {
               max_amount =j(this).parent().parent('tr').find("input[id^='max_amount']").val();  
               max_balance1=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
               max_balance -=  max_balance1;
           });
          j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(max_balance); 
          j(this).parent().parent('tr').find("input[id^='qwerty']").val(max_amount);
          // j('.payment').val(payment_sum())
        });
    }
  });

  j('#universal').trigger('change');

</script>
<script type="text/javascript">

  j(".abcd1").click(function(){
    var total = 0.0 ;
    j(".abcd1").each(function() {
      if(j(this).prop( 'checked' ))
       {
        console.log(j(this).closest('tr').find('.balance1').val()+"h1")
        console.log(j(this).closest('tr').find('.balance1').text()+"h2")
        console.log(+"34")
        console.log(parseInt(j(this).closest('tr').find('.balance1').text())+"45")
        var text = parseInt(j(this).closest('tr').find('.balance1').val())
         if(isNaN(text)){
      
         }
         else{
           total =  total + text;
         }
       }
       });
      j("#total_amount").val(total);
      j("#universal").prop('checked',false)
  })

  j("#universal").click(function(){
    var total = 0.0 ;
    if(j(this).prop( 'checked' )){     
    j(".balance1").each(function() {
      var num = parseInt(j(this).val())
        if(isNaN(num)){

        }
        else{
          total =  total + num;
        }
    });
    }else{
      total = 0.0
    }
    j("#total_amount").val(total);
  })
</script>

<script type="text/javascript">
    var checkedValue = $('.abcd1:checked').val();
</script>


  
      