<div class="label-field-pair">
		<label for="bank_deposit_date"><%= t('start_date') %><span class="necessary-field">*</span></label>
		<div class="input-container">
			<%= calendar_date_select "",:date_of_collection ,:valid_date_check => "date <= (new Date()).stripTime()", :popup=>"force", :onChange=>"#{remote_function(:url => {:action => "end_date"}, :with => "'deselected_students='+get_deselected_students()+'&batch_ids='+get_batch_ids()+'&start_date='+ value")}" %>
		</div>
	</div>
	<div class="extender"></div>
	<div class="label-field-pair">
		<label for="bank_deposit_date"><%= t('end_date') %><span class="necessary-field">*</span></label>
		<div class="input-container">
			<%= calendar_date_select "",:end_date ,:valid_date_check => "date <= (new Date()).stripTime()", :popup=>"force", :onChange=>"#{remote_function(:url => {:action => "fees_deposit_details"}, :with => "'deselected_students='+get_deselected_students()+'&batch_ids='+get_batch_ids()+'&end_date='+ value+'&start_date='+get_start_date()+'&pre_student='+get_pre_student()")}" %>
		</div>
	</div>