<center> 
	<div class="extender"> </div>
  <% remote_form_for :reject ,:remote => true do |s| %>
  <div class="label-field-pair">
      <label for="student_grade"><%= t('reason') %></label>
      <div class="text-input-bg"><%= s.text_field :reject_reason%></div>
  </div>
   <div > <%= s.submit "Reject", :style =>'padding: 10px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;', :disable_with => "► #{t('please_wait')}" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </div> 
  <%end%>
</center>