<div id="deposit_details">
  <%if @students.nil?%>
    <p class="flash-msg" style="margin-top:37px;" ><%=t('no_students_exist')%></p>
  <%else%>
    <table align="center" width="100%" cellpadding="1" cellspacing="1" id="listing" class="table_with_paginate" style ="padding: 33px;">
      <tr class="tr-head">
        <td>
          <%#= check_box_tag "universal", :checked=>false, :class=>"abcd"%>
          <input id="universal" type="checkbox" class="abcd" value = "universal" name="universal">
          <!-- <input type="checkbox" name="sample" class="selectall"/> -->
        </td>
        <td><%= t('student_id') %></td>
        <td><%= t('student_name') %></td>
        <td><%= t('batch') %></td>
        <td><%= t('fees_collected') %></td>
        <td><%= t('fees_deposited') %></td>
        <td><%= t('balance') %></td>
      </tr>
      <tr class="tr-blank"></tr>
      <%@students.each do |stu| %>
        <% if stu.class == ArchivedStudent %>
          <%finance = FinanceTransaction.find_all_by_payee_id(stu.former_id)%>
        <% else%>
          <%finance = FinanceTransaction.find_all_by_payee_id(stu.id)%>
        <% end%>
        <% unless finance.empty?%>
          <% transaction = finance.collect(&:id)%>
          <% amount = finance.collect(&:amount)%>
          <% total_amount = amount.inject{|sum,x| sum+x}%>
          <% bdft = BankDepositFinanceTransaction.find_all_by_finance_transaction_id_and_reject_status(transaction,false)%>
          <% bdft_amount = bdft.collect(&:fee_to_be_deposited)%>
          <% bdft_total_amount = bdft_amount.inject{|sum,y| sum+y}%>
          <tr class="tr-<%= cycle("odd", "even") %>">
            <%#= check_box_tag "finance_check_box", :finance_check_box, :checked=>false, :class=>'batches_box'%>
            <% if stu.class == ArchivedStudent %>
              <td class="col-7"><input id="finance_check_box" type="checkbox" class="abcd1" value = "<%=stu.former_id %>" name="[finance_check_box][]">
              </td>
              <td class="col-4"><%= stu.former_id %></td>
              <td class="col-4"><%= link_to stu.full_name, {:controller => :bank_deposits,:action =>:view_student_finance_details, :id=>stu.former_id} %><%#= stu.full_name %> <%= hidden_field_tag "students[#{stu.former_id}][name]", stu.full_name %></td>
              <td class="col-4"><%= stu.batch.name %><%= hidden_field_tag "students[#{stu.former_id}][batch_name]", stu.batch.name %></td>
              <td class="col-4"><%= total_amount %><%= hidden_field_tag "students[#{stu.former_id}][fees_collected]", total_amount %></td>
              <td class="col-4"><%= bdft_total_amount %><%= hidden_field_tag "students[#{stu.former_id}][fees_deposited]", bdft_total_amount %></td>
              <td class="col-4">
              <input name="[students][[<%=stu.former_id%>]]" class="balance1" value = "<%= precision_label(total_amount.to_f- bdft_total_amount.to_f)%>" readonly = true>
            <% else%>
              <td class="col-7"><input id="finance_check_box" type="checkbox" class="abcd1" value = "<%=stu.id %>" name="[finance_check_box][]">
              </td>
              <td class="col-4"><%= stu.id %></td>
              <td class="col-4"><%= link_to stu.full_name, {:controller => :bank_deposits,:action =>:view_student_finance_details, :id=>stu.id} %><%#= stu.full_name %> <%= hidden_field_tag "students[#{stu.id}][name]", stu.full_name %></td>
              <td class="col-4"><%= stu.batch.name %><%= hidden_field_tag "students[#{stu.id}][batch_name]", stu.batch.name %></td>
              <td class="col-4"><%= total_amount %><%= hidden_field_tag "students[#{stu.id}][fees_collected]", total_amount %></td>
              <td class="col-4"><%= bdft_total_amount %><%= hidden_field_tag "students[#{stu.id}][fees_deposited]", bdft_total_amount %></td>
              <td class="col-4">
              <input name="[students][[<%=stu.id%>]]" class="balance1" value = "<%= precision_label(total_amount.to_f- bdft_total_amount.to_f)%>" readonly = true>
              <%#= text_field_tag ("students[balance][#{stu.id}]",   precision_label(total_amount.to_f- bdft_total_amount.to_f) , options = {:readonly => true, :class => "balance1", :style =>'text-align: right;'}) %></td>
            <% end%>
          </tr>
        <% end%>
      <% end%>
    </table>
    </div> 
    <div class="label-field-pair">
      <label for="write_off_amount">Write Off Amount</label>
      <div class="input-container"> <input class="precision_text payment" id="write_off_amount" name="write_off_amount" style="text-align: right;" type="text" value="0" readonly="true"></div>
    </div>
     <div class="label-field-pair">
    <label for="student_course"><%= t('writeoff_date') %></label>
    <div class="input-container">
      <%= calendar_date_select_tag 'writeoff_date', I18n.l(Date.today,:format=>:default),:year_range => 15.years.ago..5.years.from_now,:valid_date_check => "date <= (new
  Date()).stripTime()", :id=>'writeoff_date', :popup=>"force" %>    
    </div>
  </div> 
    <div class="label-field-pair">
      <label for="reason_for_write_off">Reason for Write Off</label>
      <input name="reason_for_write_off" type="text" id="reason_for_write_off" value="">
    </div>
    <div class="label-field-pair">
      <label for="student_course"><%= t('writeoff_deposited_by') %></label>
      <div class="input-container">
        <%= text_field_tag 'writeoff_deposited_by',@current_user.full_name,:readonly=>true %>
      </div>
    </div>

    <div class="label-field-pair">
      <label for="student_image_file">Document Upload<span class="necessary-field">*</span></label>
      <div class="text-input-bg"><%= file_field_tag :document_upload, :id=>'image' %></div>
    </div>
    </br>
    <div class="save-proceed-button1">
      <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :id => 'submit_button' %>
      <!-- <input class="submit_button" id="submit_button" name="commit" type="submit" value="► Save"> -->
    </div>
  <% end%>
<div class="extender"></div>

<style type="text/css">
  .calendar_date_select_popup_icon{
    float:right;
    margin-right: 146px;
  }
</style>

<script type="text/javascript">
  j(".submit_button").click(function(){
    var amount = j('#write_off_amount').val();
    var reason = j('#reason_for_write_off').val();
    var img = j('#image').val();
    var button = document.getElementById('submit_button')
    if (amount=="" || amount==null || amount==0)
    {
      alert('Please Enter the Amount')
      return false
    }
    if (reason==""){
        alert('Please Enter Reason for Writeoff')
        return false
    }
    if (img==""){
        alert('Add Attachment')
        return false
    }
    else
    {
      button.disabled = true;
      button.value = '<%= "► #{t('please_wait')}"%>';
      if (confirm('<%=t('confirm_ the_transaction')%>')){
        button.disabled = true;
        j('#form').submit();
      }
      else{
        button.disabled = false;
        button.value = '<%= "► #{t('save')}"%>';
        return false
      }
    }
  })
</script>

<script type="text/javascript">  

  j('#universal').change(function () {
    if (j(this).prop('checked')) {
         j("input[id^='finance_check_box']").prop('checked', true);
        j('tr input[type=checkbox]').each( function(){   
          var max_amount = 0;
          var max_balance=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
             j(this).parent().parent('tr').find('input[type=checkbox]:checked').each( function() {
               max_amount =j(this).parent().parent('tr').find("input[id^='max_amount']").val();  
               max_balance1=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
               max_balance -=  max_balance1;
           });
          j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(max_balance); 
          j(this).parent().parent('tr').find("input[id^='qwerty']").val(max_amount);
          // j('.payment').val(payment_sum())
        });
        // j('tr input[type=checkbox]').trigger('change');
    } else {
         j("input[id^='finance_check_box']").prop('checked', false);
        j('tr input[type=checkbox]').each( function(){   
          var max_amount = 0;
          var max_balance=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
             j(this).parent().parent('tr').find('input[type=checkbox]:checked').each( function() {
               max_amount =j(this).parent().parent('tr').find("input[id^='max_amount']").val();  
               max_balance1=j(this).parent().parent('tr').find("input[id^='max_amount']").val();
               max_balance -=  max_balance1;
           });
          j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(max_balance); 
          j(this).parent().parent('tr').find("input[id^='qwerty']").val(max_amount);
          // j('.payment').val(payment_sum())
        });
    }
  });
  j('#universal').trigger('change');

  j(".abcd1").click(function(){
    var total = 0.0 ;
    j(".abcd1").each(function() {
      if(j(this).prop( 'checked' ))
       {
        console.log(j(this).closest('tr').find('.balance1').val()+"h1")
        console.log(j(this).closest('tr').find('.balance1').text()+"h2")
        console.log(+"34")
        console.log(parseInt(j(this).closest('tr').find('.balance1').text())+"45")
        var text = parseInt(j(this).closest('tr').find('.balance1').val())
         if(isNaN(text)){
      
         }
         else{
           total =  total + text;
         }
       }
       });
    j("#write_off_amount").val(total);
    j(".abcd").prop('checked',false)
  })

  j(".abcd").click(function(){
    var total = 0.0 ;
    if(j(this).prop( 'checked' )){     
    j(".balance1").each(function() {
      var num = parseInt(j(this).val())
        if(isNaN(num)){
      
        }
        else{
          total =  total + num;
        }
      });
      }else{
        total = 0.0
      }
    j("#write_off_amount").val(total);
  })

  var checkedValue = $('.abcd1:checked').val();

</script>
