<div id = "line">
        <%= check_box_tag "pre_student_checkbox", checked=true, false, :class=>'box', :onChange=>"#{remote_function(:url => {:controller => "bank_deposits", :action => "pre_student_calender"}, :with => "'pre_student_checkbox ='+ value")}"%>
        <label>Pre Student</label>
        <input type="hidden" id="pre_student_checkbox">
      </div>
	<!-- <div class="vertical"></div> -->
	<div class="extender"></div>
	<!-- <div id="fees_deposit"></div> -->
<div id="batch_selection">
  <%#= render :partial=>"multiple_batch_selector", :locals=>{:batches=>@batches, :batch_ids=>@batch_ids} %>
  <div class="label-field-pair"><label> <%= t('select_a_batch') %><span class="necessary-field">*</span>  </label></div>
	<div class="fee_category_scroll">
		<div class="sel-list">
		  Select: <%= link_to_function "#{t('all')}", "$$('input.batches_box').each(function(checkbox) { checkbox.checked = true; });#{remote_function(:url => {:action => "fees_deposit_details"}, :with => "'deselected_students='+get_deselected_students()+'&batch_ids='+get_batch_ids()")}" %>,
		  <%= link_to_function "#{t('none')}", "$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });#{remote_function(:url => {:action =>"fees_deposit_details"}, :with => "'type_of_calender='+ value")}" %>
		</div>
		<% @batches.each do |f| %>
	    <div class="each_batch">
	      <%= check_box_tag "batch_ids[]", f.id, (@batches.map { |e| e.id }.include?("#{f.id}") unless @batches.map { |e| e.id }.nil?) ,:class=>'batches_box', :onChange=>"#{remote_function(:url => {:action => "fees_deposit_details"}, :with => "'deselected_students='+get_deselected_students()+'&batch_ids='+get_batch_ids()")}"%>
	      <span><%= f.full_name %></span>
	    </div>
		<% end %>
	</div>
	<!-- <div class="label-field-pair">
		<label for="bank_deposit_date"><%#= t('start_date') %><span class="necessary-field">*</span></label>
		<div class="input-container">
			<%#= calendar_date_select "",:date_of_collection ,:valid_date_check => "date <= (new Date()).stripTime()", :popup=>"force", :onChange=>"#{remote_function(:url => {:action => "end_date"}, :with => "'deselected_students='+get_deselected_students()+'&batch_ids='+get_batch_ids()+'&start_date='+ value")}" %>
		</div>
	</div> -->
	<div class="extender"></div>
	<!-- <div class="label-field-pair">
		<label for="bank_deposit_date"><%#= t('end_date') %><span class="necessary-field">*</span></label>
		<div class="input-container">
			<%#= calendar_date_select "",:end_date ,:valid_date_check => "date <= (new Date()).stripTime()", :popup=>"force", :onChange=>"#{remote_function(:url => {:action => "fees_deposit_details"}, :with => "'deselected_students='+get_deselected_students()+'&batch_ids='+get_batch_ids()+'&end_date='+ value+'&start_date='+get_start_date()+'&pre_student='+get_pre_student()")}" %>
		</div>
	</div> -->
	<div class="label-field-pair">
	<%= hidden_field_tag(:batch, :batch_id) %>
	</div>
</div>

<script type="text/javascript">
 //    $("input:checkbox[name=type]:checked").each(function(){
 //    	yourArray.push($(this).val());
	// });

	// j(document).ready(function(){
	//  	var batch_ids = []    
	// 	j('#batch_ids_').each(function () {
	//         if (this.checked) {
	//             batch_ids << j(this).val(); 
	//             console.log(batch_ids)
	//         }
	// 	});
	// })
	j(function() {
    j('#pre_student_checkbox').click(function() {
        if (j(this).is(':checked')) {
            j('.batches_box').attr('disabled', 'disabled');
            // j('#_type_of_vertical').attr('disabled', 'disabled');
        } else {
            j('.batches_box').removeAttr('disabled');
             // j('#_type_of_vertical').removeAttr('disabled');
        }
    });
});
</script>

<style type="text/css">
	.fee_category_scroll {
	    height: 104px;
	    /* margin-left: 115px; */
	    margin-top: -31px;
	    overflow: auto;
	    overflow-x: auto;
	    overflow-y: auto;
	    width: 475px;
	}
</style>