<% if @batches.present? %>
	<div id="batch_selection">
		<div class="label-field-pair"><label> <%= t('select_a_batch') %><span class="necessary-field">*</span>  </label></div>
		<div class="fee_category_scroll">
		  <div class="sel-list">
		    Select: <%= link_to_function "#{t('all')}", "$$('input.batches_box').each(function(checkbox) { checkbox.checked = true; });#{remote_function(:url => {:action => "students_list"}, :with => "'deselected_students='+get_deselected_students()+'&batch_ids='+get_batch_ids()")}" %>,
		    <%= link_to_function "#{t('none')}", "$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });#{remote_function(:url => {:action => "students_list"}, :with => "'deselected_students='+get_deselected_students()+'&batch_ids='+get_batch_ids()")}" %>
		  </div>
		  <% @batches.each do |f| %>
		    <div class="each_batch">
		     <%= check_box_tag "batch_ids[]", f.id, (@batches.map { |e| e.id }.include?("#{f.id}") unless @batches.map { |e| e.id }.nil?) ,:class=>'batches_box', :onChange=>"#{remote_function(:url => {:action => "students_list"}, :with => "'deselected_students='+get_deselected_students()+'&batch_ids='+get_batch_ids()")}"%>
		      <span><%= f.full_name %></span>
		    </div>
		  <% end %>
		</div>
		<div class="extender"></div>
<div class="label-field-pair">
	<%= hidden_field_tag(:batch, :batch_id) %>
	</div>
</div>		
	<% else%>
	<p>There is no batches</p>
<% end %>
