<% if @yuvabank.id.present? %>
  <div class="label-field-pair">
  	<label for="student_course"><%= t('account_number') %></label>
      <div class="input-container">
      <%= text_field_tag  'account_number',@yuvabank.account_number , :readonly=>true %>
      </div>
  </div>
  <div class="label-field-pair">
      <label for="student_course"><%= t('branch_name') %></label>
      <div class="input-container">
      <%= text_field_tag  'branch_name',@yuvabank.branch_name, :readonly=>true %>
      </div>
  </div>
  <div class="label-field-pair">
    <label for="student_course"><%= t('date_of_deposit') %></label>
    <div class="input-container">
      <%= calendar_date_select_tag 'date_of_deposit', I18n.l(Date.today,:format=>:default),:year_range => 15.years.ago..5.years.from_now,:valid_date_check => "date <= (new
  Date()).stripTime()", :id=>'date_of_deposit', :readonly=>true, :popup=>"force" %>    
    </div>
  </div>
  <div class="label-field-pair">
      <label for="student_course"><%= t('fees_deposited_by') %></label>
      <div class="input-container">
      <%= text_field_tag 'fees_deposited_by',@current_user.full_name,:readonly=>true %>
      </div>
  </div>
  <div class="label-field-pair">
      <label for="student_image_file"><%= t('upload_scanned_copy_deposit_slip') %><span class="necessary-field">*</span></label>
      <div class="text-input-bg"><%= file_field_tag :upload_document, :id=>'image' %></div>
  </div>
<% end%>

<div class="extender"></div>
<div class="save-proceed-button1">
 <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :id => 'submit_button' %>
</div> 
<script type="text/javascript">
  j('#submit_button').click(function()
  {
    date = j("#date_of_deposit")[0].value;
    var elt = $('total_amount');
    var img = $('image');
    curr_date=j.datepicker.formatDate('dd MM yy', new Date());
    disp_date = j.datepicker.formatDate('dd MM yy', (j.datepicker.parseDate("yy-mm-dd",date)));
    var button = document.getElementById('submit_button');
    
    if (elt.value=="" || elt.value==null || elt.value==0)
    {
      alert('<%=t('please_enter_deposit_amount')%>')
      return false
    }
    if (img.value==""){
        alert('<%=t('please_attach_the_required_file')%>')
        return false
    }
    
    else
    {
      button.disabled = true;
      button.value = '<%= "► #{t('please_wait')}"%>';
      if (confirm('<%=t('confirm_ the_transaction')%>')){
        button.disabled = true;
        j('#form').submit();
      }
      else{
        button.disabled = false;
        button.value = '<%= "► #{t('save')}"%>';
        return false
      }
    }
  });
</script>

