<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('bank_deposit_details')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('bank_deposit_details')}"%></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('write_off')}",  {:controller=>:bank_deposits, :action=>:write_off} %> </li>
      <li class='themed_bg themed-dark-hover-background'><%= link_to  "#{t('write_off_deposit')}",  {:controller=>:writeoff_deposits,:action=>:deposits} %> </li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div id="deposit_details">
    <%if @bdft.nil? %>
        <p class="flash-msg"><%=t('no_deposit_details_exist')%></p>
    <%else%>
      <div  style="float: right;height: 40px;padding-top: 3px;width: 199px;">
        <label style="color: #444;display: block;float: left;font-size: 14px;font-weight: 600;margin: 0;padding-top: 6px;width: 152px;">
          Records Per Page
        </label>
        <div style ="background: transparent none repeat scroll 0 0;float: left;height: 28px;width: 47px;">
          <%= select_tag :per_page, options_for_select([10,20,30,40,50], params[:per_page].to_i),
           :onchange => "if(this.value){window.location='?per_page='+this.value;}"%>
        </div>
      </div>
      <table align="center" width="100%" cellpadding="1" cellspacing="1" id="listing" class="table_with_paginate" style ="padding: 33px;">
        <tr class="tr-head">
          <td><%= "#{t('type_of_deposit')}"%></td>
          <td><%= "#{t('deposit_date')}"%></td>
          <td><%= "#{t('employee_name')}"%></td>
          <td><%= "#{t('bank_name')}"%></td>
          <td><%= "#{t('action')}"%></td>
        </tr>
        <% @bdft.each do |d| %>
        <% @emp=User.find_by_id(d.employee_id)%>
        <% if @emp.present?%>
          <tr class="tr-<%= cycle('odd', 'even')%>">
          <% @bank =BankDepositYuvaBank.find_by_id(d.bank_deposit_yuvaparivarthan_bank_id) unless d.bank_deposit_yuvaparivarthan_bank_id.nil?%>
          <% @yuvabank =YuvaparivarthanBank.find_by_id(@bank.bank_id) unless @bank.nil? %>
          <% bank_deposit_details = BankDepositFinanceTransaction.find_all_by_bank_deposit_finance_transaction_number(d.bank_deposit_finance_transaction_number)%>
            <td class="col-7"> <%= d.type_of_deposit %></td>
            <td class="col-7"> <%= d.date_of_deposit %></td>
            <td class="col-7"> <%= @emp.first_name unless @emp.nil?%></td>
            <td class="col-4"> <%=@yuvabank.bank_name unless @yuvabank.nil?%></td>        
            <% if d.admin_status == false and d.reject_status == false%>
              <td class="col-unique col-4" style="min-width: 160px;">
                <%= link_to "#{t('edit_text')}", {:controller => :bank_deposits, :action => :edit_bank_deposit_details, :id => d.bank_deposit_finance_transaction_number}, :class => "themed_hover_text"%> |
                <%= link_to "#{t('show')}",  {:controller => :bank_deposits,:action =>:show_bank_deposit_details, :id=>d.bank_deposit_finance_transaction_number}, :class=>"themed_hover_text"%>
              </td>
            <%# end%>
            <%elsif d.admin_status == true%>
            <%#if bank_deposit_details.map(&:admin_status).include? true %>
              <td class="col-unique col-4">
                <%= "#{t('approved')}" %> |
                <%= link_to "#{t('show')}",  {:controller => :bank_deposits,:action =>:show_bank_deposit_details, :id=>d.bank_deposit_finance_transaction_number}, :class=>"themed_hover_text"%>
              </td>
            <% elsif d.reject_status == true %>
            <%#elsif bank_deposit_details.map(&:reject_status).include? true %>
              <td class="col-unique col-4">
                <%= "#{t('rejected')}" %> |
                <%= link_to "#{t('show')}",  {:controller => :bank_deposits,:action =>:show_bank_deposit_details, :id=>d.bank_deposit_finance_transaction_number}, :class=>"themed_hover_text"%>
              </td>
            <% else%>
            <% end %>
          </tr>
        <%end%>
        <% end %>
      </table>
      <%= will_paginate @bdft , :style => 'margin-right: 33px;'%> 
    <%end%>   
  </div>
</div>
