<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('bank_deposit_details')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('bank_deposit_details')}"%></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :bank_deposits_edit_bank_deposit_details, @all_bdft%>
    <%= render_breadcrumbs  %>
  </div>
  <div class="extender"></div>
  <% form_for :abc ,:html => {:multipart => true,:remote =>true ,:id => "form"} do |s|  %>
    <div class="label-field-pair">
      <label for="bank_deposit"><%= t('type_of_deposit') %></label>
      <div  class="text-input-bg">
        <%= text_field_tag  'type of deposit',@all_bdft.first.type_of_deposit , :readonly=>true %>
      </div>
    </div>
    <% unless @all_bdft.first.date_of_collection.nil?%>
      <div class="label-field-pair">
        <label for="bank_deposit"><%= t('date_of_collection') %></label>
        <div  class="text-input-bg">
          <%= text_field_tag  'date_of_collection',@all_bdft.first.date_of_collection , :readonly=>true %>
        </div>
      </div>
    <% end%>
   <div id="deposit_details">
    <%unless @all_bdft.empty?%>
      <%if @all_bdft.first.type_of_deposit=="Fee Deposit" or @all_bdft.first.type_of_deposit=="Donation Deposit"%>
        <table id="listing1"  width="100%" cellpadding="1" cellspacing="1">
      <%if  @all_bdft.present?%>
        <!-- <tr class="tr-head">
         <td><%#= t('course') %></td>
          <td><%#= t('first_name') %></td>
          <td><%#= t('date_of_collection') %></td>
          <td><%#= t('date_of_deposit') %></td>
          <td><%#= t('payment_mode') %></td>
          <td><%#= t('amount') %></td>
          </tr>-->
          <tr class="tr-blank"></tr>
          <%# @all_bdft.each do |f| %>
            <%# if f.pre_finance == true%>
              <%# puts "#{@all_bdft.inspect}...........ddddddddddd" %>
              <!-- <tr class="tr-<%#= cycle('odd', 'even')%>"> -->
              <%# @pft = PreFinanceTransaction.find(f.pre_finance_transaction_id) %>
              <%# puts"#{@ptf.inspect}....gggggggggg" %>
              <!-- <td class="col-4"><%#= Course.find(@pft.course_id).course_name %></td> -->
             <!-- <td class="col-4"><%#= PreStudentRegistration.find(f.pre_student_registration_id).first_name %></td>
              <td class="col-4"><%#= f.date_of_collection %></td>
              <td class="col-4"><%#= f.date_of_deposit %></td>
              <td class="col-4"><%#= PreFinanceTransaction.find(f.pre_finance_transaction_id).payment_mode %></td>
              <td class="col-4 "><input name= "" class="balance1" value = "<%#= PreFinanceTransaction.find(f.pre_finance_transaction_id).amount %>", readonly= "true"></td>
              </tr>
            <%#end%> -->
          <%#end%>
          <tr class="tr-head">
            <td><%= t('transaction_no') %></td>
            <td><%= t('manual_receipt_no') %></td>
            <td><%= t('manual_receipt_date') %></td>
            <%if @all_bdft.first.type_of_deposit=="Fee Deposit" %>
              <td><%= t('batch_name') %></td>
              <td><%= t('course') %></td>
              <td><%= t('student_name') %></td>
            <% end%>
            <td><%= t('receipt_no') %></td>
            <td><%= t('receipt_date') %></td>
            <%if @all_bdft.first.type_of_deposit=="Donation Deposit"%>
              <td><%= t('donations_collected') %></td>
              <td><%= t('donations_to_be_deposited') %></td>
            <% else%>
              <td><%= t('fees_collected') %></td>
              <td><%= t('fees_deposited') %></td>
            <% end%>
            <%if @all_bdft.first.type_of_deposit=="Fee Deposit" %>
              <td><%= t('note') %></td>
            <% end%>
            <td><%= t('balance') %></td>
          </tr>
              <tr class="tr-blank"></tr>
              <% @all_bdft.each do |d| %>
                <% if d.pre_finance_transaction_id.nil?  == false %>
                  <% @batch_code=""%>
                  <% @finance_transaction_details = PreFinanceTransaction.find(d.pre_finance_transaction_id) %>
                  <% bank_deposit_finance_transaction_values=BankDepositFinanceTransaction.find_all_by_pre_finance_transaction_id_and_reject_status(d.pre_finance_transaction_id,false) %>
                  <% @total_deposited_amount=0%>
                  <% bank_deposit_finance_transaction_values.each do |p|%>
                    <% @total_deposited_amount = p.fee_to_be_deposited + @total_deposited_amount %>
                  <%end%>
                  <% @course = Course.find(@finance_transaction_details.course_id).course_name %>
                  <% @student_name = PreStudentRegistration.find(@finance_transaction_details.pre_student_registration_id).first_name %>
                <% else %>
                  <% @finance_transaction_details=FinanceTransaction.find(d.finance_transaction_id)%>
                  <% bank_deposit_finance_transaction_values=BankDepositFinanceTransaction.find_all_by_finance_transaction_id_and_reject_status(d.finance_transaction_id,false) %>
                  <% @total_deposited_amount=0%>
                  <% bank_deposit_finance_transaction_values.each do |p|%>
                  <% @total_deposited_amount = p.fee_to_be_deposited + @total_deposited_amount %>
                <%end%>
                <% unless @all_bdft.first.type_of_deposit=="Donation Deposit"%>
                  <% @batch_code=Batch.find_by_id(@finance_transaction_details.batch_id)%>
                  <% @student_name=Student.find_by_id(@finance_transaction_details.payee_id).first_name%>
                <% end%>
              <% end %>
              <% @emp=User.find_by_id(d.employee_id)%>
              <tr class="tr-<%= cycle("odd", "even") %>">
                <td class="col-4" style="min-width: 80px;" >
                  <% if d.finance_transaction_id.nil? == false %>
                    <%= d.finance_transaction_id %>
                  <% else %>
                    <%= d.pre_finance_transaction_id %>
                  <% end %> 
                </td>
                <td class="">
                  <% if (@finance_transaction_details.class == PreFinanceTransaction ) == false %>
                    <%= @finance_transaction_details.Manual_receipt_no %>               
                    <%#= @finance_transaction_details.Manual_receipt_no %><%= hidden_field_tag "transactions[#{@finance_transaction_details.id}][manual_receipt_no]", @finance_transaction_details.Manual_receipt_no %>
                  <% end %> 
                </td>
                <td class="">
                  <% if (@finance_transaction_details.class == PreFinanceTransaction ) == false %>
                    <%= @finance_transaction_details.Manual_receipt_date %>
                  <%#= @finance_transaction_details.Manual_receipt_date %><%= hidden_field_tag "transactions[#{@finance_transaction_details.id}][manual_receipt_date]", @finance_transaction_details.Manual_receipt_date %> 
                 <% end %>
                </td>
                <%if @all_bdft.first.type_of_deposit=="Fee Deposit"%>
                  <%# unless @batch_code.nil? %>
                  <td class="col-4" style="min-width: 130px;"><%= @batch_code  unless @batch_code.nil? %></td>
                   <td class="col-4" style="min-width: 130px;"><%= @course  unless @course.nil? %></td>
                <%# else %>
                  <td class="col-4" style="min-width: 130px;"><%= @student_name unless @student_name.nil? %></td>
                <%# end %>
                <% end%>
                <td class=""><%= @finance_transaction_details.receipt_no %><%= hidden_field_tag "transactions[#{@finance_transaction_details.id}][receipt_no]", @finance_transaction_details.receipt_no %></td>
                <td class="col-4"><%= @finance_transaction_details.transaction_date%><%= hidden_field_tag "transactions[#{@finance_transaction_details.id}][date_of_collection]", @finance_transaction_details.transaction_date %></td>
                <td class="col-4 left_align"><%= precision_label(d.fee_collected.to_f) %><%= hidden_field_tag "transactions[#{@finance_transaction_details.id}][fee_collected]", d.fee_collected.to_f %></td>
                <td class="col-4 left_align">
                  <% if (@finance_transaction_details.class == PreFinanceTransaction ) == false %>
                    <%= hidden_field_tag 'max_amount',d.fee_collected+d.fee_to_be_deposited- @total_deposited_amount, options={:class=>@finance_transaction_details.finance_type} %>
                  <% else%>
                    <%= hidden_field_tag 'max_amount',d.fee_collected+d.fee_to_be_deposited- @total_deposited_amount, options={:class=>'PreFinance'} %>
                  <% end%>
                  <%= text_field_tag "transactions[#{@finance_transaction_details.id}][fee_to_be_deposited]",  d.fee_to_be_deposited, options={:class => "precision_text payment_box input_amount balance_box" , :style =>'text-align: right;', :onkeyups => "this.value = minmax(this.value, 0, #{d.fee_to_be_deposited.to_f}),"} %>
                </td> 
                <%if @all_bdft.first.type_of_deposit=="Fee Deposit"%>
                  <td class="col-4"><%= text_field_tag "transactions[#{@finance_transaction_details.id}][notes]", d.notes, options = {:cols => 50, :rows => 1, :class => "note1"} %></td>
                <% end%>
                <td class="col-4 left_align"><%= text_field_tag ("transactions[balance][#{@finance_transaction_details.id}]",  precision_label(d.fee_collected.to_f- @total_deposited_amount.to_f) , options ={:readonly => true, :class => "balance1" , :style =>'text-align: right;'}) %></td>
              </tr>
            <% end %>
          <% end %>
          </table>
        <% end%>
      <% end%>
    </div>
    <div class="extender"></div>
      <%if @all_bdft.first.type_of_deposit=="Fee Deposit" or @all_bdft.first.type_of_deposit=="Donation Deposit"%>
        <div class="label-field-pair">
          <label for="total_amount"><%= t('total_amount')%></label>
          <div class="input-container"> <%= text_field_tag "total_amount", precision_label(@bank.total_amount.to_f), options = {:class => 'precision_text payment' , :style =>'text-align: right;',:readonly => true } %></div>
        </div>
      <% else%>
        <div class="label-field-pair">
          <label for="total_amount"><%= t('total_amount')%></label>
          <div class="input-container"> <%= text_field_tag "total_amount", precision_label(@bank.total_amount.to_f), :id => 'total_amount' , :style =>'text-align: right;' %></div>
        </div>
      <% end%>
      <div class="label-field-pair">
        <label><%= t('select_bank') %></label>
        <div class="text-input-bg">
         <!--  <%#= select '',:bank_id, options_for_select(@bankyuva.map { |e| [[e.bank_name,",",e.branch_name],e.id]}),{:prompt=>"#{@yuvabank.bank_name},#{@yuvabank.branch_name}"}, {:onChange => "#{remote_function(:url => {:controller => "bank_deposits", :action => "yuva_bank_details_edit", :id=>@all_bdft.first.bank_deposit_yuvaparivarthan_bank_id}, :with => "'bank_id='+ value")}"} %> -->

          <%= select '',:bank_id, options_for_select(@bankyuva.map { |e| [[e.bank_name,",",e.branch_name],e.id]}),{:prompt=>"#{@yuvabank.bank_name},#{@yuvabank.branch_name}"} %>
        </div>
      </div>
      <div id="bank_details_yuva">
        <div class="label-field-pair">
          <label for="bank_deposit"><%= t('account_number') %></label>
          <div class="input-container">
            <%=text_field_tag 'account_number', @yuvabank.account_number, :readonly => true  %>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="bank_deposit"><%= t('branch_name') %></label>
          <div class="input-container">
            <%=text_field_tag 'branch_name', @yuvabank.branch_name, :readonly => true  %>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="bank_deposit"><%= t('date_of_deposit') %></label>
          <div class="input-container">
           <!--  <%#=text_field_tag 'date_of_deposit', @bank.date_of_deposit, :readonly => true %> -->
             <%= calendar_date_select_tag 'date_of_deposit',(@bank.date_of_deposit.blank? ?  I18n.l(Date.today,:format=>:default) : @bank.date_of_deposit) %>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="bank_deposit"><%= t('fees_deposited_by') %></label>
          <div class="input-container">
            <%=text_field_tag 'fees_deposited_by', @emp.full_name, :readonly => true  %>
          </div>
        </div>
      </div>
      <div class="label-field-pair" id = "scanned_copy_replace">
        <label for="image_file"><%= t('scanned_copy') %></label>
        <div class="input-container">
          <span style="width:75%;max-width: 75%; margin-left:15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= link_to @bank.upload_document_file_name.last(30), :action => "download_attachment" , :id=>@bank.id%></span>
            <%= link_to_remote "#{t('change')}",:url => { :controller=>"bank_deposits",:action => 'change_scanned_copy'},:method => 'get', :html => {:style=>'color: #000; background : none; border: medium none;float: none;font-family: arial;font-size: 14px;font-weight: bold;margin:  0;padding: 7px 10px;text-decoration: none;'}%>
        </div>           
      </div>        
      <%if @all_bdft.first.type_of_deposit=="Fee Deposit" or @all_bdft.first.type_of_deposit=="Donation Deposit"%>
        <div class="save-proceed-button1"> 
          <%= submit_tag "", :value => "► #{t('update')}", :class => "submit_button", :id => 'submit_button' %>
          <%=  link_to "#{t('back')}",  {:action=>:bank_deposit_details}, :class=>"user_button1"%>
        </div>
      <% else%>
        <div class="save-proceed-button1">
          <%= submit_tag "", :value => "► #{t('update')}", :class => "submit_button", :id => 'submit_button' %>
          <%=  link_to "#{t('back')}",  {:action=>:bank_deposit_details}, :class=>"user_button1"%>
        </div>
      <%end%>
      <div class="extender"></div>      
  <% end %>
</div>
<script type="text/javascript">
 precision = parseInt("<%= @precision %>");
  j('.input_amount').on('input', function () {
    precision = parseInt("<%= @precision %>");
    fee_type=j(this).siblings('#max_amount').attr("class")
    console.log(fee_type+"-------------------");
    max_value=parseFloat(j(this).siblings('#max_amount').val()).toFixed(precision)
    if((fee_type=='FinanceFee') || (fee_type=='TransportFee') || (fee_type=='HostelFee') || (fee_type=='InstantFee') || (fee_type==nil) || (fee_type == 'PreFinance')){
      entered_amount=this.value
    }
    else{

      if(this.value>= max_value){
        entered_amount=max_value

      }
      else{
        entered_amount=0
      }

    }
    this.value = minmax(entered_amount, 0, max_value)
  })
  function minmax(value, min, max) {

    var precision = parseInt("<%= @precision %>");
    if (parseFloat(value) <= 0 || isNaN(value)) {


      return "";
    }
    else if (parseFloat(value) > max) {

      return (parseFloat(max).toFixed(precision))
    }
    else {
      return value;
    }
  }

  j('.payment_box').on('input', function (e) {
    update_pay_amount();
  });
  function update_pay_amount(){
    var precision = parseInt("<%= @precision %>");
    j('.payment').val(payment_sum())
  }

  function payment_sum() {
    var precision = parseInt("<%= @precision %>");
    var sum = 0
    j('.payment_box').each(function () {
      sum += +parseFloat(this.value) || 0
    });
    if (sum <= 0) {
      sum = 0
    }
    return sum.toFixed(precision)
  }

  j('.balance_box').on('input', function () {
    precision = parseInt("<%= @precision %>");
    max_value=parseFloat(j(this).siblings('#max_amount').val()).toFixed(precision)  
    var balance = max_value - this.value      
   j(this).parent().parent('tr').find("input[id^='transactions_balance_']").val(balance.toFixed(precision));      
  })
</script>