<%= stylesheet_link_tag 'bank_deposits/index.css' %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('bank_deposit_text')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('bank_deposit_details')}"%></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <% form_for :abc ,:html => {:multipart => true, :id => "form"} do |s|  %>
    <div>
      <div class="label-field-pair">
        <label for="bank_deposit"><%= t('select_type_of_deposit') %><span class="necessary-field">*</span></label>
        <div  class="text-input-bg">
          <%= select '',:type_of_deposit, options_for_select([["Fee Deposit","Fee Deposit"], ["Donation Deposit", "Donation Deposit"],["Other Deposit","Other Deposit"]]),{:include_blank=>"Select Type of Deposit"}, {:onChange => "#{remote_function(:url => {:controller => "bank_deposits", :action => "display_vertical"}, :with => "'type_of_deposit='+ value")}"} %> 
        </div>
      </div>
     <!--  <div id = "line">
        <%#= check_box_tag "pre_student_checkbox", checked=true, false, :class=>'box', :onChange=>"#{remote_function(:url => {:controller => "bank_deposits"}, :with => "'this.='+ value")}"%>
        <label>Pre Student</label>
        <input type="hidden" id="pre_student_checkbox">
      </div> -->
    </div>

    <div class="extender"></div>
     <div id="calender"></div>    
    <div id="vertical"></div>
    <div id = "batches"></div>
    <div id="pre_calender"></div>
    <div id="fees_deposit"></div>
    <div id="prevertical"></div>
    <div id = "courses"></div>
  <%end%>
</div>
<script type="text/javascript">
  j(document).ready(function(){
    var batch_ids = [] 
    j('#batch_ids_').each(function () {
     if (this.checked)
     {
        batch_ids << j(this).val(); 
        console.log(batch_ids)
     }
    });
  })

  function get_deselected_students()
  {
    var deselected_students = [];
    j('.students_box:not(:checked)').each(function(){
      deselected_students.push(j(this).val());
    })
    return deselected_students;
  }

  function get_batch_ids()
  {
    var batch_ids = [];
    j('.batches_box:checked').each(function(){
      batch_ids.push(j(this).val());
    })
    return batch_ids;
  }
  function get_start_date()
  {
    start_date = j('#_date_of_collection').val();
    return start_date;
  }

// j(function() {
//     j('#pre_student_checkbox').click(function() {
//         if (j(this).is(':checked')) {
//             j('.batches_box').attr('disabled', 'disabled');
//             // j('#_type_of_vertical').attr('disabled', 'disabled');
//         } else {
//             j('.batches_box').removeAttr('disabled');
//              // j('#_type_of_vertical').removeAttr('disabled');
//         }
//     });
// });

function get_pre_student()
  {
     if(j('#pre_student_checkbox:checked').length > 0) {
      return true;
     }
     else
     {
      return false; 
     }
}
</script>





