<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('bank_deposit_details')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('bank_deposit_details')}"%></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :bank_deposits_show_bank_deposit_details, @all_bdft%>
    <%= render_breadcrumbs  %>
  </div>
  <div class="extender"></div>
  <div class="label-field-pair">
    <label for="bank_deposit"><%= t('type_of_deposit') %></label>
    <div  class="text-input-bg">
      <%=@all_bdft.first.type_of_deposit %>
    </div>
  </div>
  <% unless @all_bdft.first.date_of_collection.nil?%>
    <div class="label-field-pair">
      <label for="bank_deposit"><%= t('till_date_of_collection') %></label>
      <div  class="text-input-bg">
        <%= @all_bdft.first.date_of_collection  %>
      </div>
    </div>
  <% end%>
  <%if @all_bdft.first.reject_status == true%>
    <div class="reject_reason">
      <label for="bank_deposit"><span class="themed_text"><%= t('reason_for_rejection') %> :</span></label>
      <div  class="text-input-bg1">
        <%= @all_bdft.first.reject_reason %>
      </div>
    </div>
  <%end%>
  <div id="deposit_details">
    <%unless @all_bdft.empty?%>
      <%if @all_bdft.first.type_of_deposit=="Fee Deposit" or @all_bdft.first.type_of_deposit=="Donation Deposit"%>
        <table id="listing1"  width="100%" cellpadding="1" cellspacing="1">
      <%if  @all_bdft.present?%>
        <!-- <tr class="tr-head">
         <td><%#= t('course') %></td>
          <td><%#= t('first_name') %></td>
          <td><%#= t('date_of_collection') %></td>
          <td><%#= t('date_of_deposit') %></td>
          <td><%#= t('payment_mode') %></td>
          <td><%#= t('amount') %></td>
          </tr>-->
          <tr class="tr-blank"></tr>
          <%# @all_bdft.each do |f| %>
            <%# if f.pre_finance == true%>
              <%# puts "#{@all_bdft.inspect}...........ddddddddddd" %>
              <!-- <tr class="tr-<%#= cycle('odd', 'even')%>"> -->
              <%# @pft = PreFinanceTransaction.find(f.pre_finance_transaction_id) %>
              <%# puts"#{@ptf.inspect}....gggggggggg" %>
              <!-- <td class="col-4"><%#= Course.find(@pft.course_id).course_name %></td> -->
             <!-- <td class="col-4"><%#= PreStudentRegistration.find(f.pre_student_registration_id).first_name %></td>
              <td class="col-4"><%#= f.date_of_collection %></td>
              <td class="col-4"><%#= f.date_of_deposit %></td>
              <td class="col-4"><%#= PreFinanceTransaction.find(f.pre_finance_transaction_id).payment_mode %></td>
              <td class="col-4 "><input name= "" class="balance1" value = "<%#= PreFinanceTransaction.find(f.pre_finance_transaction_id).amount %>", readonly= "true"></td>
              </tr>
            <%#end%> -->
          <%#end%>
          <tr class="tr-head">
            <td><%= t('transaction_no') %></td>
            <td><%= t('manual_receipt_no') %></td>
            <td><%= t('manual_receipt_date') %></td>
            <%if @all_bdft.first.type_of_deposit=="Fee Deposit" %>
              <td><%= t('batch_name') %></td>
              <td><%= t('course') %></td>
              <td><%= t('student_name') %></td>
            <% end%>
            <td><%= t('receipt_no') %></td>
            <td><%= t('receipt_date') %></td>
            <%if @all_bdft.first.type_of_deposit=="Donation Deposit"%>
              <td><%= t('donations_collected') %></td>
              <td><%= t('donations_to_be_deposited') %></td>
            <% else%>
              <td><%= t('fees_collected') %></td>
              <td><%= t('fees_deposited') %></td>
            <% end%>
            <%if @all_bdft.first.type_of_deposit=="Fee Deposit" %>
              <td><%= t('note') %></td>
            <% end%>
            <td><%= t('balance') %></td>
          </tr>
         <tr class="tr-blank"></tr>
          <% @all_bdft.each do |d| %>
            <% if d.pre_finance_transaction_id.nil?  == false %>
              <% @batch_code=""%>
              <% @finance_transaction_details = PreFinanceTransaction.find(d.pre_finance_transaction_id) %>
              <% bank_deposit_finance_transaction_values=BankDepositFinanceTransaction.find_all_by_pre_finance_transaction_id_and_reject_status(d.pre_finance_transaction_id,false) %>
              <% @total_deposited_amount=0%>
              <% bank_deposit_finance_transaction_values.each do |p|%>
                <% @total_deposited_amount = p.fee_to_be_deposited + @total_deposited_amount %>
              <%end%>
              <% @course = Course.find(@finance_transaction_details.course_id).course_name %>
              <% @student_name = PreStudentRegistration.find(@finance_transaction_details.pre_student_registration_id).first_name %>
            <% else %>
              <% @finance_transaction_details=FinanceTransaction.find(d.finance_transaction_id)%>
              <% bank_deposit_finance_transaction_values=BankDepositFinanceTransaction.find_all_by_finance_transaction_id_and_reject_status(d.finance_transaction_id,false) %>
              <% @total_deposited_amount=0%>
              <% bank_deposit_finance_transaction_values.each do |p|%>
                <% @total_deposited_amount = p.fee_to_be_deposited + @total_deposited_amount %>
              <%end%>
              <% unless @all_bdft.first.type_of_deposit=="Donation Deposit"%>
                <% @batch_code=Batch.find_by_id(@finance_transaction_details.batch_id)%>
                <% @student = Student.find_by_id(@finance_transaction_details.payee_id) %>
                <% if @student.present? %>
                  <% @student_name = @student.first_name %>
                <% else %>
                  <% @student_name = ArchivedStudent.find_by_former_id(@finance_transaction_details.payee_id).first_name %>
                <% end %>
              <% end%>
            <% end %>
            <% @emp=User.find_by_id(d.employee_id)%>
            <tr class="tr-<%= cycle("odd", "even") %>">
              <td class="col-4" style="min-width: 80px;" >
                <% if d.finance_transaction_id.nil? == false %>
                  <%= d.finance_transaction_id %>
                 <% else %>
                  <%= d.pre_finance_transaction_id %>
                <% end %> 
              </td>
              <td class="col-4" style="min-width: 80px;">
                <% if (@finance_transaction_details.class == PreFinanceTransaction ) == false %>
                  <%= @finance_transaction_details.Manual_receipt_no %>
                <% end %>                  
              </td>
              <td class="col-4" style="min-width: 80px;">
                 <% if (@finance_transaction_details.class == PreFinanceTransaction ) == false %>
                   <%= @finance_transaction_details.Manual_receipt_date %>
                 <% end %>
              </td>
              <%if @all_bdft.first.type_of_deposit=="Fee Deposit" %>
                <%# unless @batch_code.nil? %>
                  <td class="col-4" style="min-width: 130px;"><%= @batch_code  unless @batch_code.nil? %></td>
                   <td class="col-4" style="min-width: 130px;"><%= @course  unless @course.nil? %></td>
                <%# else %>
                  <td class="col-4" style="min-width: 130px;"><%= @student_name %></td>
                <%# end %>
              <% end%>
              <td class="col-4" style="min-width: 80px;"><%= @finance_transaction_details.receipt_no %></td>
              <td class="col-4" style="min-width: 80px;"><%= @finance_transaction_details.transaction_date%></td>
              <td class="col-4 left_align" style="min-width: 40px;"><%= precision_label(@finance_transaction_details.amount) %></td>
              <td class="col-4 left_align" style="min-width: 40px;"><%= precision_label(d.fee_to_be_deposited) %></td>  
              <%if @all_bdft.first.type_of_deposit=="Fee Deposit" %> 
                <td class="col-4" style="min-width: 160px;"><%= d.notes %></td>
              <% end%>
             <td class="col-4 left_align"><%= text_field_tag ("transactions[balance][#{@finance_transaction_details.id}]",  precision_label(d.fee_collected.to_f- @total_deposited_amount.to_f) , options ={:readonly => true, :class => "balance1" , :style =>'text-align: right;'}) %></td>
            </tr> 
          <% end %>
          <tr>
            <td id="row"><%= t('total_amount') %></td>
            <%if @all_bdft.first.type_of_deposit=="Fee Deposit" %>
              <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="col-4 left_align" style="min-width: 40px;font-size: 14px;"><%= precision_label(@bank.total_amount.to_f) %></td>
            <% else%>
              <td></td><td></td><td></td><td></td><td></td><td class="col-4 left_align" style="min-width: 40px;font-size: 14px;"><%= precision_label(@bank.total_amount.to_f) %></td>
            <% end%>
            </tr>
            <% end %>
        </table>
        <div class="extender"></div>
        <div class="label-field-pair">
          <label for="student_course"><%= t('account_number') %></label>
          <div class="input-container">
            <%= @yuvabank.account_number %>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="student_course"><%= t('branch_name') %></label>
          <div class="input-container">
            <%= @yuvabank.branch_name %>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="student_course"><%= t('date_of_deposit') %></label>
          <div class="input-container">
            <%= @bank.date_of_deposit%>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="student_course"><%= t('fees_deposited_by') %></label>
          <div class="input-container">
            <%= @emp.full_name unless @emp.nil?%>
          </div>
        </div>        
        <div class="label-field-pair">
          <label for="student_image_file"><%= t('scanned_copy') %></label>
          <div class="input-container">
            <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= link_to @bank.upload_document_file_name.last(30), :action => "download_attachment" , :id=>@bank.id %></span>
          </div>
        </div>
        <div align = "center"> 
          <%if @all_bdft.first.admin_status == true or @all_bdft.first.reject_status ==
           true%>
          <%#if @all_bdft.map(&:admin_status).include? true or @all_bdft.map(&:reject_status).include? true%>
            <%=  link_to "#{t('back')}",  {:action=>:bank_deposit_details}, :class=>"user_button1"%>
          <% else %>
            <%=  link_to "#{t('back')}",  {:action=>:bank_deposit_details}, :class=>"user_button1"%>
            <%=  link_to "#{t('edit')}",  {:action=>:edit_bank_deposit_details, :id => @all_bdft.first.bank_deposit_finance_transaction_number}, :class=>"user_button1"%>
            <% if @current_user.admin? %>
              <%= link_to "#{t('approve')}", {:controller => :bank_deposits,:action =>:approve_bank_deposit_details, :id=>@all_bdft.first.bank_deposit_finance_transaction_number}, :confirm => "#{t('approve_confirm_msg')}", :class=>"user_button1" %>
              <%= link_to_remote "#{t('reject')}",:url => { :controller=>"bank_deposits",:action => 'reject_bank_deposit_details', :id=>@all_bdft.first.bank_deposit_finance_transaction_number},:method => 'get', :html => {:style=>'padding: 10px 10px;
                color: #fff;
                background: #27292B;
                -moz-border-radius:10px;
                -webkit-border-radius:10px;
                font-weight: bold;
                font-size: 14px;
                border:none;
                font-family: arial;
                cursor:pointer;',}%>
            <% end %>
          <% end %>
        </div>
      <%else%>
        <div class="label-field-pair">
          <label for="student_course"><%= t('total_amount') %></label>
          <div class="input-container">
            <%= precision_label(@bank.total_amount.to_f) %>
          </div>
        </div>
        <div class="extender"></div>
        <div class="label-field-pair">
          <label for="student_course"><%= t('account_number') %></label>
          <div class="input-container">
            <%= @yuvabank.account_number %>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="student_course"><%= t('branch_name') %></label>
          <div class="input-container">
            <%= @yuvabank.branch_name %>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="student_course"><%= t('date_of_deposit') %></label>
          <div class="input-container">
            <%= @bank.date_of_deposit%>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="student_course"><%= t('fees_deposited_by') %></label>
          <div class="input-container">
            <%= @emp.full_name unless @emp.nil?%>
          </div>
        </div>
        <div class="label-field-pair">
          <label for="student_image_file"><%= t('scanned_copy') %></label>
          <div class="input-container">
            <span style="width:75%;max-width: 75%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= link_to @bank.upload_document_file_name.last(30), :action => "download_attachment" , :id=>@bank.id%></span>
          </div>
        </div>
        <div > 
          <%if @all_bdft.first.admin_status == true or @all_bdft.first.reject_status == true%>
          <%#if @all_bdft .map(&:admin_status).include? true or @all_bdft.map(&:reject_status).include? true%>
            <%=  link_to "#{t('back')}",  {:action=>:bank_deposit_details}, :class=>"user_button1"%>
          <% else %>
            <% if @current_user.admin? %>
              <%= link_to "#{t('approve')}", {:controller => :bank_deposits,:action =>:approve_bank_deposit_details, :id=>@all_bdft.first.bank_deposit_finance_transaction_number}, :confirm => "#{t('approve_confirm_msg')}", :class=>"user_button1" %>
              <%= link_to_remote "#{t('reject')}",:url => { :controller=>"bank_deposits",:action => 'reject_bank_deposit_details', :id=>@all_bdft.first.bank_deposit_finance_transaction_number},:method => 'get', :html => {:style=>'padding: 10px 10px;
                color: #fff;
                background: #27292B;
                -moz-border-radius:10px;
                -webkit-border-radius:10px;
                font-weight: bold;
                font-size: 14px;
                border:none;
                font-family: arial;
                cursor:pointer;',}%>
            <% end %>
            <%=  link_to "#{t('back')}",  {:action=>:bank_deposit_details}, :class=>"user_button1"%>
            <%=  link_to "#{t('edit')}",  {:action=>:edit_bank_deposit_details, :id => @all_bdft.first.bank_deposit_finance_transaction_number}, :class=>"user_button1"%> 
            
          <% end %>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
<div class="extender"></div>
<div id="modal-box" style="display:none;"></div>