<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('bank_deposit_details')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('bank_deposit_details')}"%></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :bank_deposits_view_bank_deposit_details, @all_bdft%>
    <%= render_breadcrumbs  %>
  </div>
  <div class="extender"></div>
  <% unless @finance_transactions.empty? %>
    <div id="payments_details">
      <div class="label-field-pair3">
        <label><%#= t('payment_history') %> </label>
      </div>
      <table id="listing1" align="center" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head">
          <td><%= t('transaction_no') %></td>
          <td><%= t('student_name') %></td>
          <td><%= t('batch_name') %></td>
          <td><%= t('receipt_no') %></td>
          <td><%= t('receipt_date') %></td>
          <td><%= t('fee_collected') %></td>
          <td><%= t('fee_collected_by') %></td>
        </tr>
        <% amount = [] %>
        <% total_deposited_amount = 0 %>
        <% @finance_transactions.each do |f| %>
          <% stu=Student.find_by_id(f.payee_id) %>
          <% former_stu=ArchivedStudent.find_by_former_id(f.payee_id) %>
          <% user=User.find_by_id(f.user_id) %>
          
          <% amount << f.amount %>
          <% total_deposited_amount = amount.inject{|sum,x| sum+x}%>
          <tr class="tr-<%= cycle("odd", "even") %>">
            <td class="col-1"><%= f.id %></td>
            <td class="col-3"><% unless former_stu.nil?%><%= former_stu.full_name %><% else%><%= stu.full_name %><% end%></td>
            <td class="col-3"><% unless former_stu.nil?%><%= former_stu.batch.name %><% else%><%= stu.batch.name %><% end%></td> 
            <td class="col-2"><%= f.receipt_no %></td>
            <td class="col-3">
              <%= f.transaction_date %>
            </td>
            <td class="col-3"><%= precision_label(f.amount.to_f) %></td>
            <td class="col-3"><%= user.username unless user.nil? %></td>
          </tr>
        <% end%>
         <tr>
            <td id="row"><%= t('total_amount') %></td>
            <td></td><td></td><td></td><td></td><td class="col-4 left_align" style="min-width: 40px;font-size: 14px;"><%=precision_label(total_deposited_amount.to_f) %></td>
            </tr>
      </table>
    </div>
  <% end%>
  <div align = "center">           
    <%=  link_to "#{t('back')}",  {:action=>:write_off}, :class=>"user_button1"%>  
  </div>
</div>
<div class="extender"></div>
<div id="modal-box" style="display:none;"></div>