<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('write_off')}"%></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('write_off')}"%></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
</div>
</br>
<% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
<% form_for :writeoff_deposits, :url => {:controller => 'writeoff_deposits', :action => 'writeoff_index'} ,:html => {:multipart => true, :id => "form"} do |s| %>
  <div>
    <div class="label-field-pair">
      <label for="vertical"><%= t('select_type_of_vertical') %><span class="necessary-field">*</span></label>
      <div  class="text-input-bg">
        <%= select '', :type_of_vertical, YuvaVertical.all.map {|v| [v.name, v.id]},{:include_blank=>"Select Type of Vertical"}, {:onChange => "#{remote_function(:url => {:controller => "bank_deposits", :action => "write_off_batch"}, :with => "'type_of_vertical='+ value")}"}  %>
      </div>
    </div>
  </div>
  <div id="write_off_batch"></div>
  <div id="students_list"></div>
<%end%>



<script type="text/javascript">
  // j('.submit_button').click(function()
  // {
  //   alert("gdfgfg")
  //   var vertical = j('#_type_of_vertical').val();
  //   var amount = j('#write_off_amount').val();
  //   var reason = j('#reason_for_write_off').val();
  //   var img = j('#image').val();
  //   var button = document.getElementById('sub_button');
  //   alert(j('#pre_student_checkbox').is(':checked'));

  //   if (vertical==""){
  //     alert("Enter the Type of Vertical")
  //       return false
  //   }
    
  //   if (amount=="" || amount==null || amount==0)
  //   {
  //     alert('Please Enter the Amount')
  //     return false
  //   }

  //    if (reason==""){
  //       alert('Please Enter Reason for Writeoff')
  //       return false
  //   }
    
  //   if (img==""){
  //       alert('Add Attachment')
  //       return false
  //   }
    
  // });
  j(document).ready(function(){
    var batch_ids = [] 
    j('#batch_ids_').each(function () {
     if (this.checked)
     {
        batch_ids << j(this).val(); 
        console.log(batch_ids)
     }
    });
  })
  function get_deselected_students()
  {
    var deselected_students = [];
    j('.students_box:not(:checked)').each(function(){
      deselected_students.push(j(this).val());
    })
    return deselected_students;
  }

  function get_batch_ids()
  {
    var batch_ids = [];
    j('.batches_box:checked').each(function(){
      batch_ids.push(j(this).val());
    })
    return batch_ids;
  }

</script>
