<% transport_fees_list= student.hostel_fees_by_batch(batch.try(:id)) %>
<% unless transport_fees_list.empty? %>
  <tr class="table_subtitle">
    <td colspan="4"><%= t('hostel_fees') %></td>
  </tr>
  <% transport_fees_list.each do |fees| %>
    <% collection=fees.hostel_fee_collection %>
    <% next if  collection.is_deleted? %>
    <tr class="item">
      <td >
        <% if page == :report && (permitted_to? :student_hostel_fee,:hostel_fee) %>
          <%= link_to "#{fees.name}", {:controller=>:hostel_fee,:action=>:student_hostel_fee, :id=>@student.id, :collection_id=>collection.id}, :class=>"themed_hover_text",:target=>:_blank %>
        <% elsif permitted_to? :student_profile_fee_details ,:hostel_fee %>
          <%= link_to collection.name, {:controller=>:hostel_fee,:action=>:student_profile_fee_details, :id=>student.id, :id2=>collection.id}, :class=>"themed_hover_text" %>
        <% else %>
          <%= collection.name %>
        <% end %>
      </td>
      <% @balance = student.hostel_fee_balance(collection.id)  %>
      <% if @balance == 0 %>
        <td class="status_cell" data-status="paid" ><%=  t('paid')  %></td>
        <td>
          <% paid =fees.finance_transaction.amount %>
          <%= precision_label(paid) %>
        </td>
        <td class="due-date">
          <%= t('paid_on') %>
          <%= fees.finance_transaction.transaction_date %>
          <%#= format_date(fees.finance_transaction.transaction_date) %>
          <%#= format_date(collection.due_date) %>
        </td>
      <% else %>
        <td class="status_cell" data-status="unpaid">
          <%= t('unpaid')  %>
        </td>
        <td>
          <%= precision_label(@balance) %>
        </td>
        <td class="due-date">
          <%= t('due_on') %>
          <%= collection.due_date %>
          <%#= format_date(collection.due_date) %>
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>
