#student_profile_heading1 {
    clear: both;
    float: left;
    height: 50px;
    margin: -20px 0 38px -60px;
    padding: 0 0 0 60px;
    width: 100%;
}
#student_main_info1 span.name {
    color: #000000;
    float: left;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 13px 0 0;
    padding-right: 20px;
    width: 100%;
    font: bold;
}
#student_main_info1 span.course {
    color: #000000;
    float: left;
    font-size: 14px;
    margin: 10px 0 0;
    padding-right: 20px;
    width: 100%;
}
#student_main_info1 span.adm {
    color: #000000;
    float: left;
    font-size: 14px;
    margin: 5px 0 0;
    padding: 0;
    width: 100%;
}

table#listing{
    float: left;
}

.profile_info_label_top {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:right;
    padding-right:20px;
    float:left;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-right:5px;
}
.profile_info_label_top2 {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:right;
    padding-right:20px;
    float:left;
    font-weight:bold;
    color:#548ab2;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
    margin-right:5px;
}
.profile_info_label_top {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:right;
    padding-right:20px;
    float:left;
    font-weight:bold;
    color:#548ab2;
}
.user_button {
    margin-top:40px;
    margin-left:270px;
}

.parent-del-button {
    margin : 20px 0 40px 600px;
}
.profile_top_banner{
    position:absolute;
    float:right;
    padding-left:525px;
    margin-top:-12px;

}
.parent-edit-button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-left:10px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
    float:left;
}
.parent-edit-button:hover{
    background: #373B3F;
}
.parent-edit-button a{
    color:#fff;
    text-decoration: none;
}
#guardians-links span{
    font-weight:600;
    color:#444444;
    margin-bottom: 10px;
    display:block;
    text-decoration: underline;
}
.button-pair{
    width:220px;
    margin:20px auto;
}
#new_profile_info_top {
    margin:30px auto;
    width:697px;

}


#category-list {
    clear: both;
    padding: 44px 0 40px 0px;
    width: 570px;
    margin: 0px auto;
}

#category-list .listeven{
    background: #EEF2FD;
    border-bottom: 1px solid #BECFFB;
    color: #444;
    min-height: 1.5em;
    width: 33em;
    overflow: auto;
    list-style-type: none;
    padding: 0.5em 0 0 3em;
}

#category-list .listodd{
    background: #DFEAFF;
    border-bottom: 1px solid #BECFFB;
    color: #444;
    min-height: 1.5em;
    width: 33em;
    overflow: auto;
    list-style-type: none;
    padding: 0.5em 0 0 3em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width: 261px;
    font-weight: bold;
    font-size: 13px;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size: 13px;
    width : 129px;

    color: #000;
}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

#category-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 0 0 5em;
    width: 496px;
}

.fees{
    float: right;
    margin-top: -56px;
    font-size:14px;
    color:#000;
}
.user_button  {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
    margin:0 auto 0 20px;
    display: inline;
    float: none;
}
.user_button:hover{
    background:  #373B3F;
}

#category-list li div.due-date{
    float: left;
    width: 95px;
    font-size: 13px;
    color: #000;
}

#category-list li div.category-name a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

#category-list li div.category-name a:hover {
    color: #BB0000;
    font-weight: bold;
}
.line{
    padding-top: .5px;
    padding-bottom: .5px;
    width: 100%;
    background-color: #999;
    margin-top: 18px;
}
.check_box{
    float:left;
    padding-right:10px;
    margin-top:6px
}
.paid_text{
    float:left;
    width:210px;
    margin-top:8px
}
