<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% if @due_date.to_date < Date.today %>
<%if @student.student_lock == false %>
  <div id="fee-defaulters">
    <div class="text_box">
      <h5><%= t('due_date_exceeded_collect_fine') %> : </h5>
    </div>
    <% form_for :fine, :url => {:action => 'update_defaulters_fine_ajax',:batch_id=>@batch.id } do |form| %>
      <div class="box">
        <div class="label-field-pair">
          <div class="text-input-bg">
            <%= form.text_field :fee, :value=>'' ,:id=>"fine_fee", :class=>'precision_text' %></div>
            <%= form.hidden_field :student, :value => @student.id %>
            <%= form.hidden_field :date, :value => @date.id %>
        </div>
        <%=  submit_tag "► #{t('add_fine')}",:class=>'submit_button2',:id => 'fine_button',:onclick=>'return validate_fine();' %>
      <% end %>
    </div>
  </div>
<% end %>
<% end %>
