<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<%# unless @dates.nil? %>
  <%= select  :fees_submission, :dates_id, @dates.map { |e| [e.full_name, e.id]},
    {:prompt => "#{t('select_fee_collection_date')}"},
    {:onChange => "#{remote_function( :url =>
    {:action => "load_fees_submission_batch"},
    :with => "'date='+value+'&batch_id='+($('fees_submission_batch_id').value || $('fees_submission_inactive_batch_id').value)",
    :before => "Element.show('loader')",
    :success => "Element.hide('loader')")}"
  } %>

<%# else %>
    <%#*<p class="flash-msg"> <%= t('select_a_batch') %>
<%# end %>