<%-# Licensed to the Apache Software Foundation (ASF) under one
#or more contributor license agreements.  See the NOTICE file
#distributed with this work for additional information
#regarding copyright ownership.  The ASF licenses this file
#to you under the Apache License, Version 2.0 (the
#"License"); you may not use this file except in compliance
#with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% if @batches.present? %>
 <%=hidden_field_tag :category,@fee_category.id if @fee_category%>
  <div class="batch_select_box">
    <div class="label-field-pair">
      <label> <%= t('select_batch') %><span class="necessary-field">*</span>:
      </label>
    </div>
    <div class="fee_category_scroll">
      <div class="sel-list">
        <%= link_to_function t('all'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = true; });" %>,
        <%= link_to_function t('none'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });" %>
      </div>
      <% @batches.each do |f| %>
      
        <div class="each_batch">
          <% checked = false %>
          <% unless params[:fee_collection].nil? %>
            <% checked = params[:fee_collection][:category_ids].include?(f.id.to_s) if params[:fee_collection][:category_ids].present? %>
          <% end %>
          <% if f.finance_fee_collections.find_by_fee_category_id(@fee_category).present?%>
            <%= check_box_tag "fee_collection[category_ids][]", f.id, true, :class=>'batches_box',:disabled=>true %> <%= f.full_name %>
          <%else%>
            <%= check_box_tag "fee_collection[category_ids][]", f.id, checked, :class=>'batches_box' %> <%= f.full_name %>
          <% end %>
        </div>
     
      <% end %>
    </div>
  </div>

<% else %>
  <p class="flash-msg"> <%= t('finance.flash28') %> </p>
<% end %>
