<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% if @due_date.to_date < Date.today %>
<% if @student.student_lock == false %>
  <% form_remote_for :fine, :url => {:action => 'update_fine_ajax' }, :before=>"$('add_fine').disable()",:complete=>"setTimeout(function(){$('add_fine').enable();},5000)" do |form| %>
    <div class="fine_info">
      <div class="label-field-pair1">
        <label><%= t('due_date_exceeded_collect_fine') %></label>
        <div class="text-input-bg1">
          <%= form.text_field :fee, :value=>'' ,:id=>"fine_fee", :class=>'precision_text' %>
          <%= submit_tag t('add_fine'),:class=>'submit_button2', :id => 'add_fine' ,:onclick=>'return validate_fine();' %>
        </div>
      </div>
      
    </div>
    <div class="extender"></div>
    <%= form.hidden_field :student, :value => @student.id %>
    <%= form.hidden_field :batch_id, :value => @batch.id %>
    <%= form.hidden_field :date, :value => @date.id %>
  <% end %>
<% end %>
<% end %>
