<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% unless @master_categories.empty? %>
 
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= t('sl_no') %></td>
      <td><%= t('fees_name') %></td>
      
      <td><%= t('created_date') %> </td>
      <td></td>
    </tr>
    <tr class="tr-blank"></tr>

    <% @master_categories.each_with_index do |fees,i| %>
      <tr class="tr-<%= cycle("odd","even") %>">
        <td class="col-1"><%= i+1 %></td>
        <td class="col-4"><%= link_to  fees.name, :action => 'master_category_particulars',:id => fees.id,:batch_id=>@batches.id %>
        </td>
        
        <td class="col-7"><%= I18n.l(fees.created_at,:format=>"%m-%d-%Y") %></td>
        <td class="col-7">
          <div class="options">
          <% if ((@current_user.admin?) or (@batches.end_date_lock == false)) %>
            <%  unless fees.check_fee_collection(@batches.id) == false %>
              <span class="small"> <%= link_to_remote t('delete_text'),:confirm=>"#{t('delete_confirm_msg')}", :url => { :action => 'master_category_delete',:id => fees.id,:batch_id=>@batches.id} %></span>
              <span class="small"> <%= link_to_remote t('edit_text'), :url => { :action => 'master_category_edit',:id => fees.id,:batch_id=>@batches.id} %></span>
            <% else %>
              <span class="small-strike"><%= t('delete_text') %></span>
               <span class="small-strike"><%= t('edit_text') %></span>
            <% end %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>


  </table>

<% else %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= t('no_categories_to_display') %>!</td>
    </tr>
  </table>

<% end%>
