<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<label class="head_label"><%= t('create_master_category_for_fees') %><span></span></label>


<div id="grading-levels-form">

  <% form_remote_for @finance_fee_category, :url=>{:action=>'master_category_create'},:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>

    <div id="form-errors"></div>


    <div class="label-field-pair">
      <div class="label-container"><%= f.label "#{t('name')}" %></div>
      <div class="input-container"><%= f.text_field :name %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container"><%= f.label "#{t('description')}" %></div>
      <div class="input-container"><%= f.text_field :description %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container"><label><%= t('select_a_batch') %> :</label></div>
      <%#= f.select :batch_id, @batches.map { |c| [c.full_name, c.id] },{:prompt => 'Select Batch'} %>
      <div class="batches">
         <div class="sel-list">
           <%= t('select') %>: <%= link_to_function t('all'), "$$('input.MB_focusable').each(function(checkbox) { checkbox.checked = true; });" %>,
      <%= link_to_function t('none'), "$$('input.MB_focusable').each(function(checkbox) { checkbox.checked = false; });" %>
    </div>
      <% @batches.each do |f| %>
        <div class="each_batch">
          <%= check_box_tag "finance_fee_category[category_batches_attributes][#{f.id}][batch_id]", f.id %> <label><%= f.full_name %></label>
        </div>
      <% end %></div>
    </div>
    <div class="extender" style ="height:20px"></div>
    <div id ="sub-button">
    <% if @current_user.admin?  %>
      <%=  submit_tag "► #{t('save')}",{:class=>'submit_button', :id => 'submit_button'} %>
    <% end %>
    </div>

  <% end %>
</div>
