<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% unless @discounts.blank? %>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <table id="listing">
    <tr class="tr-head">
      <td><%= t('name') %></td>
      <td><%= t('student_category') %></td>
      <td><%= t('student_name') %></td>
      <td><%= t('discount') %></td>
      
        <td></td>
      
    </tr>

    <% @discounts.each do |f| %>
      <tr class="tr-<%= cycle('odd', 'even')%> ">
        <td class="col-3"><%= f.name %></td>
        <% if f.receiver_type == "StudentCategory" %>
          <td class="col-3"><%= f.category_name   %></td>
          <td class="col-3"></td>
        <% elsif f.receiver_type == "Student" %>
          <td class="col-3"></td>
          <td class="col-3"><%= f.student_name   %></td>
        <% elsif f.receiver_type == "Batch" %>
          <td class="col-3"></td>
          <td class="col-3"></td>
        <% end %>
        <td class="col-3">
          <%= f.is_amount?? "#{precision_label(f.discount)}#{(currency)}"  : "#{precision_label(f.discount)}#{"(%)"}" %>
          
        </td>
        <% if ((@current_user.admin?) or (@bacth.end_date_lock == false)) %>
          <td class="col-1">
            <div class="options">
              <span class="small"> <%= link_to_remote "#{t('delete_text')}",:confirm=>"#{t('delete_confirm_msg')}",:url => {:action => 'delete_fee_discount', :id => f.id,:batch_id=>f.batch_id} %></span>
            <%if f.collection_exist%>
            <span class="small"><%= link_to_remote "#{t('edit_text')}", :url => {:action => 'edit_fee_discount', :id => f.id,:batch_id=>f.batch_id} %> |&nbsp; </span>
            <%else%>
              <span class="small-strike"><%= t('edit_text') %></span>
            
             <%end%>
        <%end%>   
            
            </div>
            </td>
      </tr>
    <% end %>
  </table>

<% else %>
  <p class="flash-msg"> <%= t('no_discount_found') %></p>

<% end %>
