<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= stylesheet_link_tag "rank_finance/fees_submission_batch.css" %>
<div class="details">
  <div class="name">
    <%= t('fees_receipt_no') %>
  </div>
  <div class="val themed_text">
    <span>:</span>
    <div class="val-align"><%= @paid_fees.nil? ? t('n_a') : @paid_fees.map(&:receipt_no).join(',') %></div>
  </div>
  <% unless @fee_category.nil? %>
    <div class="name">
      <%= t('fee_category_name') %>
    </div>
    <div class="val themed_text">
      <span>:</span>
      <div class="val-align">
        <%= @fee_category.name.capitalize %>
      </div>
    </div>
  <% end %>
  <% unless @student.student_category.nil? %>
    <div class="name">
      <%= t('student_category') %>
    </div>
    <div class="val themed_text">
      <span>:</span>
      <div class="val-align">
        <%= @student.student_category.name.capitalize %>
      </div>
    </div>
  <% else %>
    <div class="name">
      <%= t('student_category') %>
    </div>
    <div class="val themed_text">
      <span>:</span>
      <div class="val-align">
        <%= t('n_a') %>
      </div>
    </div>
  <% end %>
  <div class="name">
    <%= t('fees_collection_date_name')%>
  </div>
  <div class="val themed_text">
    <span>:</span>
    <div class="val-align">
      <%= @date.name.capitalize  %>
    </div>
  </div>
</div>
<br />
<%= error_messages_for "financefee" ,:header_message => nil%>
<% unless @financefee.is_paid == true or (@total_payable-@total_discount==0)%>
  <%= render :partial => "rank_finance/fine_submission" if @fine.nil? %>
<% end %>
<div class="height-fixer"> </div>
<div id="register">
  <div class="header">
    <div class="prev">
      <%= link_to_remote '◄',:url => {:action => 'load_fees_submission_batch', :batch_id => @batch.id, :student => @prev_student.id, :date=> @date.id }%>
    </div>
    <div class="month">
      <%= @student.full_name_with_admission_no %><%="(#{t('transfered_to_batch')}:#{@student.batch.full_name})" unless @batch==@student.batch%>
    </div>
    <div class="next">
      <%= link_to_remote '►',:url => {:action => 'load_fees_submission_batch', :batch_id => @batch.id, :student => @next_student.id, :date=> @date.id }%>
    </div>
    <div class="extender"></div>
  </div>
</div>

<% total_fees =0 %>
<% form_remote_for :fees, :url => {:action => 'update_ajax',:student => @student.id,:batch_id => @batch.id,:date => @date.id, :fine=>@fine,:special_fine=>@fine_amount}, :html => {:id => "fees_form"}, :before=>"prev_double()",:complete=>"set_back()" do |form| %>
  <% unless @fee_particulars.nil? %>
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td><%= t('sl_no') %> </td>
        <td><%= t('particulars') %></td>
        <td><%= t('amount') %> (<%= currency %>  )</td>
      </tr>
      <tr class="tr-blank"></tr>
      <% i = 0 %>
      <% puts "#{@fee_particulars.inspect}------" %>
      <% @fee_particulars.each do |fee| %>
        <tr class="tr-<%= cycle("odd","even") %>">
          <td class="col-1"><%= i+=1 %></td>
          <td class="col-2"><%= fee.name %></td>
          <td class="col-6">
            <%= precision_label fee.amount %>
          </td>
        </tr>
        <% total_fees += fee.amount %>
      <% end %>

      <% unless @total_discount == 0 %>
        <tr class="tr-blank"></tr>
        <tr class="tr-blank"></tr>
        <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
          <td class="col-1" ></td>
          <td class="col-1" colspan="2"><span class="themed_text"><%= t('discount') %></span></td>
        </tr>
        <% @discounts.each do |d| %>
          <tr class="tr-<%= cycle("odd","even") %>">
            <td class="col-1"><%= i+1 %></td>
            <% discount_text = d.is_amount == true ? "#{d.name}" : "#{d.name}&#x200E; (#{d.discount})% &#x200E;" %>
            <td class="col-2"><%= discount_text %></td>
            <td class="col-6">
              <%= precision_label(@total_payable * d.discount.to_f/ (d.is_amount?? @total_payable : 100)) %>
            </td>
          </tr>
          <% i += 1 %>
        <% end %>

        <tr class="tr-blank"></tr>
        <tr class="tr-blank"></tr>

        <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
          <td class="col-8" colspan="2" ><%= t('total_discount') %> </td>
          <td class="col-6" >
            <%= precision_label(@total_discount) %>
          </td>
        </tr>

        <tr class="tr-blank"></tr>
        <tr class="tr-blank"></tr>
        <% total_fees = (@total_payable-@total_discount)%>
        <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
          <td class="col-8" colspan="2" ><%= t('total_fees') %> </td>
          <td class="col-6" >
            <%= precision_label(total_fees) %>
          </td>
        </tr>

      <% end %>

      <tr class="tr-blank"></tr>
      <tr class="tr-blank"></tr>

      <% unless @fine.nil? %>
        <tr class="tr-<%= cycle("odd","even") %>">
          <td class="col-1"><%= i+=1 %></td>
          <td class="col-2"><span class="themed_text"><%= t('fine_on') %> <%= Date.today %></span></td>
          <td class="col-6">
            <%= precision_label(@fine.to_f) %>
          </td>
        </tr>
        <% unless @financefee.is_paid? == true %>
          <% total_fees += @fine.to_f %>
        <% else %>
          <% total_fees = @fine %>
        <% end %>
      <% end %>
      <%total_fees1=total_fees%>
      <% if @paid_fees%>


        <% unless @paid_fees.blank? %>
          <% @paid_fees.each do |trans| %>
            <% if trans.fine_included %>
              <tr class="tr-<%= cycle("odd","even") %>">
                <td class="col-1"><%= i+=1 %></td>
                <td class="col-2"><span class="themed_text"><%= t('fine_on') %> <%= trans.transaction_date %></span></td>
                <td class="col-6">
                  <%= precision_label(trans.fine_amount) %>
                </td>
              </tr>
              <% total_fees += trans.fine_amount.to_f %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%unless @financefee.is_paid%>
        <tr class="tr-blank"></tr>
        <tr class="tr-blank"></tr>
        <%if @fine_rule%>
          <tr class="tr-<%= cycle("odd","even") %>">
            <td class="col-1"><%= i+=1 %></td>
            <td class="col-2"><span class="themed_text"><%= t('fine_on') %> <%= @date.due_date.to_date+@fine_rule.fine_days.days %><%= discount_text = @fine_rule.is_amount ? "" :  " (#{@fine_rule.fine_amount}&#x200E;%)" %></span></td>
            <td class="col-6"><%= precision_label(@fine_amount) %></td>
          </tr>
        <%end%>
      <%end%>
      <% unless @paid_fees.nil? %>
        <% paid=0 %>
        <% @paid_fees.each{|a| paid += a.amount.to_f} %>
        <% total_fees -= paid %>
        <tr class="tr-blank"></tr>
        <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
          <td class="col-8" colspan="2"><%= t('payment_done') %></td>
          <td class="col-6" >
            <%= precision_label(paid) %>
          </td>
        </tr>
      <% end %>
      <%balance=@financefee.balance.to_f+@fine.to_f%>
      <tr class="tr-blank"></tr>
      <tr class="tr-blank"></tr>
      <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
        <td class="col-8" colspan="2"><%= t('amount_to_pay') %> :</td>
        <td class="col-6" >
          <% unless precision_label(balance+@fine_amount.to_f).to_f == 0 %>
            <%= precision_label(balance+@fine_amount.to_f) %>
          <%# unless precision_label((@total_payable-@total_discount)+@fine_amount.to_f).to_f == 0 %>
            <%#= precision_label((@total_payable-@total_discount)+@fine_amount.to_f) %>
          <% else %>
            <%= precision_label(0) %>
          <% end %>
        </td>
      </tr>

      <% unless @financefee.is_paid %>
        <tr>
          <td colspan="3">
            <div class="payment_details">
              <div class="label-field-pair3">
                <label><%= t('payment_mode') %>  <%= image_tag("loader.gif",
                    :align => "absmiddle",
                    :border => 0,
                    :id => "loader1",
                    :style =>"display: none;" ) %></label>
                <div class="text-input-bg3"><%= select :fees, :payment_mode, [["#{t('cash')}", "#{t('cash')}"],["#{t('online_payment')}", "#{t('online_payment')}"],["#{t('cheque')}", "#{t('cheque')}"],["#{t('dd')}","#{t('dd')}"],["#{t('others')}", "#{t('others')}"]], {} ,{:onChange => "#{remote_function(:url => {:action => "select_payment_mode"},
                    :with => "'payment_mode='+value",:before => "$('loader1').show();",
                    :success => "$('loader1').hide();")}"}  %>
                </div>
              </div>
              <div class="label-field-pair3-text-area">
                <label><%= t('payment_notes') %> </label>
                <div class="textarea-input-bg3"><%= form.text_area :payment_note,:cols => 50, :rows => 1 %>
                </div>
              </div>
              <div class="label-field-pair4">
                <label><%= t('amount') %> </label>
                <div class="text-input-bg4">
                  <%#= form.text_field :fees_paid, :value=> precision_label((@total_payable-@total_discount)+@fine_amount.to_f), :class=>'precision_text' %>
                  <%= form.text_field :fees_paid, :value=> precision_label(balance+@fine_amount.to_f), :class=>'precision_text' %>
                  <%=  hidden_field_tag :total_fees, total_fees1 %>
                </div>
              </div>

            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3">
          <div class="pay_fees">
            <div id="payment_mode"></div>
            <%unless @financefee.is_paid %>
                <%#= transaction_date_field %>
                <div class='label-field-pair3' style='height: auto; margin-top:-17px;'>
                      <label><%= t('payment_date') %></label>
                      <div class='date-input-bg'>
                        <%= calendar_date_select_tag 'transaction_date', I18n.l(Date.today,:format=>:default),:valid_date_check => "date <= (new
Date()).stripTime()",:popup=>'force',:class=>'start_date'%>
                      </div>
                    </div>
              <div class="pay_fees_buttons">
                <% unless @student_batch.nil?%>
                  <% if  @student_batch.first.id == params[:batch_id].to_i %>
                    <%if ((@student.batch.end_date_lock == false) || @current_user.admin?) %>
                      <% @fee = FinanceFeeParticular.find_by_batch_id(params[:batch_id].to_i) %>
                      <% if @student.student_lock == false %>
                        <% if @fee.amount.to_i > 0 %>
                          <%= submit_tag "► #{t('pay_fees')}",:class=>'submit_button' , :id => 'submit_button',:onClick => "return validate_payment_mode();" %>
                        <% else %>
                          <label style="margin-left:440px; color: #444;font-size: 14px;font-weight: bold;"><%= t('fee_cant_pay') %></label>
                        <% end %>
                      <% end %>
                    <%end%>
                  <% else%>
                    <label style="margin-left:440px;color: #444;font-size: 14px;font-weight: bold;"><%= t('fee_cant_pay') %></label>
                  <% end%>
                <% else%>
                  <% if @student.batch.id == params[:batch_id].to_i%>
                  <%if ((@student.batch.end_date_lock == false) || @current_user.admin?) %>
                    <% @fee = FinanceFeeParticular.find_by_batch_id(params[:batch_id].to_i)%>
                    <%if @student.student_lock == false %>
                     <% if @fee.amount.to_i > 0 %>
                      <%= submit_tag "► #{t('pay_fees')}",:class=>'submit_button' , :id => 'submit_button',:onClick => "return validate_payment_mode();" %>
                      <% else %>
                        <label style="margin-left:440px; color: #444;font-size: 14px;font-weight: bold;"><%= t('fee_cant_pay') %></label>
                      <% end %>
                    <% end %>
                  <%end%>
                  <% else%>
                    <label style="margin-left:440px; color: #444;font-size: 14px;font-weight: bold;"><%= t('fee_cant_pay') %></label>
                  <% end%>
                <% end%>
                <!-- start <%# unless @student_batch.nil?%>
                  <%# if BatchTransferWithFeePaid.find_by_student_id_and_current_batch_id(@student.id,params[:batch_id])%>
                    <%#= submit_tag "► #{t('pay_fees')}", :class => 'submit_button', :id => 'submit_button', :onClick => "return validate_payment_mode()" %>
                  <%# elsif BatchTransferWithFeePaid.find_by_student_id_and_previous_batch_id(@student.id,@student_batch.second.id) %>
                    <%#= "Fee cannot pay" %>
                  <%# else %>
                    <%#= submit_tag "► #{t('pay_fees')}", :class => 'submit_button', :id => 'submit_button', :onClick => "return validate_payment_mode()" %>
                  <%# end %>
                <%# else %>
                  <%# if BatchTransferWithFeePaid.find_by_student_id_and_current_batch_id(@student.id,params[:batch_id])%>
                    <%#= submit_tag "► #{t('pay_fees')}", :class => 'submit_button', :id => 'submit_button', :onClick => "return validate_payment_mode()" %>
                  <%# else %>
                    <%#= "Fee cannot pay" %>
                  <%# end%>
                <%# end %>   END -->
                <%= link_to "► #{t('print_receipt')}",
                  {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id},:target => '_blank', :class=> 'user_button' unless @trans.nil? %>
                <%if (@student.batch.end_date_lock == false) || @current_user.admin?%>
                  <%= link_to "► #{t('print_receipt')}",
                    {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id,:batch_id=>@batch.id},:target => '_blank', :class=> 'user_button' %>
                <%end%>
              </div>
            <% else %>
              <div class="pay_fees_buttons">
                <h4><%= t('fees_paid') %></h4>
                <%= link_to "► #{t('print_receipt')}",
                  {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id,:batch_id=>@batch.id},:target => '_blank', :class=> 'user_button' %>
              </div>
            <% end %>
          </div> 
        </td>
      </tr>
    <%#*<tr>%>
    <%#*<td colspan="3">%>
    <%# unless @paid_fees.nil? or not total_fees.to_f == 0 %>
    <%#= link_to "► #{t('print_receipt')}",
    {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id},:target => '_blank', :class=> 'user_button' %>
    <%# end %>
    <%#*</td>%>
    <%#*</tr>%>

    <%end%>
  </table>
<% end %>
<div id = "edit_manual"><div>
<% unless @paid_fees.empty? %>
  <div id="payments_details">
    <div class="label-field-pair3">
      <label><%= t('payment_history') %> </label>
    </div>
    <table id="listing1" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td><%= t('sl_no') %></td>
        <td><%= t('payment_date') %></td>
        <td><%= t('payment_mode') %></td>
        <td><%= t('payment_notes') %></td>
        <td><%= t('amount') %> (<%= currency %>  )</td>
        <td><%= t('manual_receipt_no') %></td>
        <td><%= t('manual_receipt_date') %></td>
        <td class="col-3" style="width:2%;"></td>
        <!-- <td class="col-3" style="width:2%;"></td> -->
      </tr>
      <tr class="tr-blank"></tr>
      <% @paid_fees.each_with_index do |f , i| %>
        <tr class="tr-<%= cycle("odd","even") %>">
          <td class="col-1"><%= i +=1 %></td>
          <td class="col-3"><%= f.transaction_date %></td>
          <td class="col-3"><%= f.payment_mode %></td>
          <td class="col-2"><%= f.payment_note %></td>
          <td class="col-3" >
            <%= precision_label(f.amount.to_f) %>
          </td>
          <td class="col-3"><%= f.Manual_receipt_no %></td>
          <td class="col-3"><%= f.Manual_receipt_date %></td>
          <td class="col-1">
            <label>
            <%if ((@student.batch.end_date_lock == false) || @current_user.admin?)%>
              <%= link_to_remote "#{t('edit_text')}",:url => { :controller=>"finance",:action => 'edit_manual_receipt',:id=>f.id,:stu_id=>@student.id,:student_name => @student.full_name,:batch_id => @batch.id,:date => params[:date]},:method => 'get', :html => {:style=>'color: #000; background : none; border: medium none;float: none;font-family: arial;font-size: 14px;font-weight: none;margin:  0;padding: 7px 10px;text-decoration: none;'}%>
            <%end%>
              <%= link_to "Print",
                  {:controller => "finance", :action => "print_single_receipt_pdf", :id=>f.id,:stu_id=>@student.id,:student_name => @student.full_name,:batch_id => @batch.id,:date => params[:date]},:target => '_blank' %>
            </label>
          </td>
         <!-- <td class="col-3" style="width:2%;"> <div class="cancel themed_text" >
          <%# if @student.batch.id == params[:batch_id].to_i%>
            <%# if @financefee.fee_refund.present? %>
              <div class="disabled-link cancel"><%#= link_to_remote ("&times"), {:url => {:controller => :finance, :action => :delete_transaction_by_batch, :id => @student.id, :date => @date.id, :transaction_id => f.id}, :confirm => "#{t('are_you_sure_want_delete_this_transaction')}"}, {:class => "themed_text disable_link  inactive-delete"} %></div>
              <div id="hover-message"></div>
            <%# else %>
              <%#=link_to_remote ("&times"),{:url=>{:controller=>:finance,:action=>:delete_transaction_by_batch,:id=>@student.id,:date=>@date.id,:transaction_id=>f.id,:batch_id => @batch.id},:confirm=>"#{t('are_you_sure_want_delete_this_transaction')}"},{:class=>"themed_text"}%>
           <%# end %>
          <%# else%>
            <%# if @financefee.fee_refund.present? %>
              <div class="disabled-link cancel"><%#= link_to_remote ("&times") %></div>
              <div id="hover-message"></div> -->
            <%# else %>
              <%#=link_to_remote ("&times"), {:class=>"themed_text"}%>
            <%# end %>
          <%# end%>
           <!-- <%# if @financefee.fee_refund.present? %>
               <div class="disabled-link cancel"><%#= link_to_remote ("&times"), {:url => {:controller => :finance, :action => :delete_transaction_by_batch, :id => @student.id, :date => @date.id, :transaction_id => f.id}, :confirm => "#{t('are_you_sure_want_delete_this_transaction')}"}, {:class => "themed_text disable_link  inactive-delete"} %></div>
               <div id="hover-message"></div>
               <%# else %>
               <%#=link_to_remote ("&times"),{:url=>{:controller=>:finance,:action=>:delete_transaction_by_batch,:id=>@student.id,:date=>@date.id,:transaction_id=>f.id,:batch_id => @batch.id},:confirm=>"#{t('are_you_sure_want_delete_this_transaction')}"},{:class=>"themed_text"}%>
           <%# end %> -->
         <!-- </div></td> -->
        </tr>
      <% end %>
    </table>
    <div id="revert-pop-up">
      <%= "Fees Refunded. You can't revert the transaction!" %>
      <br/>
      <div class="revert_arrow_down"></div>
    </div>
  </div>
<% end %>
<script type="text/javascript">

  j("form").submit(function(){
    //   date = j("#transaction_date")[0].value;
    //   curr_date=j.datepicker.formatDate('dd MM yy', new Date());
    // disp_date = j.datepicker.formatDate('dd MM yy', (j.datepicker.parseDate("yy-mm-dd",date)));
    // if (curr_date!=disp_date){
    //     alert('<%=t('please_select_valid_date')%>')
    //     return false
    //   }
      j('#submit_button').attr('disabled', 'disabled')
      j('#submit_button').val('<%=t('please_wait') %>')
  })
    j("form").bind('ajax:complete', function () {


        j('#submit_button').removeAttr('disabled')
        j('#submit_button').val('<%="► #{t('pay_fees')}" %>')

    });

  j(document).click(function (e) {
      j('div#revert-pop-up').hide();

  })

  j(function () {


      j('.disabled-link').hover(function (e) {

          if (j('.disabled-link').children().length == 1) {
              var moveLeft = 0
              var moveDown = 0


              var moveLeft = ((j(this).position().left) + (j(this).width()) / 2)
              var moveDown = (j(this).position().top) - 35
              revert_message_show(moveLeft, moveDown, this)

          }
      }, function () {
          j('div#revert-pop-up').hide();
      });


  });

  function revert_message_show(moveLeft, moveDown, e) {
      j('div#pop-up').hide();
      var rtl = "<%= (rtl?) ? 'rtl' : 'ltr'  %>"

      if (rtl == 'rtl') {
          left_index = -40
      }
      else {
          left_index = -285
      }

      moveLeft = moveLeft + left_index

      j('div#revert-pop-up').delay(350).show(0);

      moveDown = moveDown - (j('div#revert-pop-up').height())


      j("div#revert-pop-up").css('top', moveDown).css('left', moveLeft);
  }
  j('#submit_button').click(function()
  {
    date = j("#transaction_date")[0].value;
    curr_date=j.datepicker.formatDate('dd MM yy', new Date());
    disp_date = j.datepicker.formatDate('dd MM yy', (j.datepicker.parseDate("yy-mm-dd",date)));
    var button = document.getElementById('submit_button');
    
    // if (curr_date<disp_date){
    //     alert('<%#=t('please_select_valid_date')%>')
    //     return false
    //   }
    // else
    // {
    //   button.disabled = true;
    //   button.value = '<%#= "► #{t('please_wait')}"%>';
    //   if (confirm('<%#=t('confirm_the_transaction')%>')){
    //     button.disabled = true;
    //     j('#form').submit();
    //   }
    //   else{
    //     button.disabled = false;
    //     button.value = '<%#= "► #{t('pay_fees')}"%>';
    //     return false
    //   }
    // }
    // var amount = document.getElementById("fees_fees_paid").innerText;
    var amount = j('#fees_fees_paid').val();
    var retVal = confirm("Please Confirm The Amount \n Rs." + amount);
     if( retVal == true ){
        return true;
     }
     else{
        return false;
     }
  });
  // function getConfirmation(){
  //    var retVal = confirm("Do you want to continue ?");
  //    if( retVal == true ){
  //       return true;
  //    }
  //    else{
  //       return false;
  //    }
  // }
</script>
