<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('donations') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('add_new_donation') %></div>
<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('donors')}", :action => "donors" %></li>
  </ul>
</div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :finance_donation_edit, @donation %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="box">
    <%= error_messages_for :donation %>
    <% form_for :donation do |f| %>

      <div id="create_user_form">
        <div class="label-field-pair">
          <label for="donor_name"><%= t('donor_name') %><span class="necessary-field">*</span>:</label>
          <div class="text-field-bg"><%= f.text_field :donor %></div>
        </div>
        <div class="label-field-pair">
          <label for="description"><%= t('description') %>:</label>
          <div class="text-field-bg"><%= f.text_field :description %></div>
        </div>
        <div class="label-field-pair">
          <label for="description"><%= t('transaction_date') %>:</label>
          <div class="text-field-bg"><%= calendar_date_select_tag 'donation[transaction_date]', I18n.l(@donation.transaction_date,:format=>:default), :year_range => 5.years.ago..0.years.ago,:readonly=>true,:popup=>"force" %></div>
        </div>
        <div class="label-field-pair">
          <label for="amount"><%= t('amount') %><span class="necessary-field">*</span>:</label>
          <div class="text-field-bg"><%= f.text_field :amount,:class=>'precision_text',:value => precision_label(@donation.amount) %></div>
        </div>
        <div class="label-field-pair">
          <label for="description"><%= t('manual_receipt_date') %><span class="necessary-field"></span>:</label>
          <div class="text-field-bg"><%= calendar_date_select_tag 'manual_receipt_date', I18n.l(Date.today,:format=>:default), :year_range => 5.years.ago..0.years.ago,:readonly=>true,:popup=>"force" %></div>
        </div>
        <div class="label-field-pair">
          <label for="amount"><%= t('manual_receipt_no') %><span class="necessary-field"></span>:</label>
          <div class="text-field-bg"><%= text_field_tag :manual_receipt_no ,@transaction.Manual_receipt_no  %></div></div>
        </div>
        
        <%=  submit_tag "► #{t('update')}",:class=>'submit_button' %>
      </div>


    <% end %>

  </div>
</div>
