<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



</div>
<div id="page-yield">

  <div class="hor_line"></div>
  <h2><%= t('donation_receipt') %></h2>
  <div class="hor_line"></div>


  <div class="extender"> </div>
  <div class="report">

    <div id ="main_info">
      <h4> <%= "#{t('donor')}: #{@donation.donor}" %></h4>
    </div>
    <div id="pdf-info">
      <table id="pdf-table" width="100%" cellspacing="0">

            <tr class="even">
              <td class="col-pdf"><%= t('description') %></td>
              <td class="col-pdf"><%= @donation.description %></td>
            </tr>
            <tr class="odd">
              <td class="col-pdf"><%= t('amount') %></td>
              <td class="col-pdf">
                <%= @currency_type.to_s+" #{precision_label(@donation.amount).to_s}" %>
              </td>
            </tr>
            <tr class="even">
              <td class="col-pdf"><%= t('transaction_id') %></td>
              <td class="col-pdf"><%= @donation.transaction_id %></td>
            </tr>
            <tr class="even">
              <td class="col-pdf"><%= t('manual_receipt_no') %></td>
              <td class="col-pdf"><%= @finance_donation.Manual_receipt_no %></td>
            </tr>
            <tr class="even">
              <td class="col-pdf"><%= t('manual_receipt_date') %></td>
              <td class="col-pdf"><%= @finance_donation.Manual_receipt_date %></td>
            </tr>
         
      </table>
    </div>

  </div>

</div>
