<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('donations') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('donation_receipt') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :finance_donation_receipt, @donation %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="box">

    <div class="field1"><%= t('donor') %>:</div>
    <div class="val themed_text"> <%= @donation.donor %></div>

    <div class="field1"><%= t('description') %>: </div>
    <div class="val themed_text"><%= @donation.description %></div>

    <div class="field1"><%= t('amount') %>: </div>
    <div class="val themed_text">
      <%= precision_label(@donation.amount) %>
    </div>
    <div class="field1"><%= t('transaction_id') %>: </div>
    <div class="val themed_text"><%= @donation.transaction_id unless @donation.transaction_id.nil? %></div>
    <div>
    <div class="field1"><%= t('manual_receipt_no') %>: </div>
    <div class="val themed_text"><%= @finance_donation.Manual_receipt_no unless @finance_donation.Manual_receipt_no.nil? %></div>
    <div>
    <div class="field1"><%= t('manual_receipt_date') %>: </div>
    <div class="val themed_text"><%= @finance_donation.Manual_receipt_date unless @finance_donation.Manual_receipt_date.nil? %></div>
    <div>
      <%= link_to "► #{t('print_receipt')}", {:action => 'donation_receipt_pdf', :id => @donation.id}, :format => 'pdf', :target => '_blank', :class=>"user_button" %>
    </div>
  </div>
</div>
