<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<style type="text/css">
	.links_class a {
    font-size: 14px;
    padding-right: 8px;
	}
</style>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('donations') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%=t('donors')  %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% if @donations.present? %>
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <h4> <%= t('list_of_donors') %> </h4>
  <table id="listing">
    <tr class="tr-head">
      <td><%= t('name') %></td>
      <td><%= t('description') %></td>
      <td><%= t('amount') %></td>
      <td><%= t('manual_receipt_no') %></td>
      <td><%= t('manual_receipt_date') %></td>
      <td><%= t('created_at') %></td>
      <td></td>
    </tr>
    <% @donations.each do |d| %>
    	<%finance_donor=FinanceTransaction.find(d.transaction_id)%>
    	<% bdft=BankDepositFinanceTransaction.find_by_finance_transaction_id(d.transaction_id)%>
      <tr class="tr-<%= cycle('odd','even') %>">
        <td class="col-3"><%= link_to d.donor,:action=>'donation_receipt',:id=>d.id %></td>
        <td class="col-3"><%= d.description %></td>
        <td class="col-3"><%= precision_label(d.amount) %></td>
        <td class="col-3"><%= finance_donor.Manual_receipt_no %></td>
        <td class="col-3"><%= finance_donor.Manual_receipt_date %></td>
        <td class="col-3"><%= d.transaction_date.strftime("%d-%m-%y") unless d.transaction_date.nil?%></td>
        <td class="col-3 links_class">
          <% unless bdft.present?%>
            <%= link_to t('edit_text'), :action => 'donation_edit', :id => d.id %>  |  
            <%= link_to t('delete_text'), {:action => 'donation_delete', :id=> d.id} , :confirm => t('delete_confirm_msg') %>
          <% else%>
            <s><%= "#{t('edit_text')}" %></s> |
            <s><%= "#{t('delete_text')}" %></s>
          <% end%>
	        <%# unless bdft.present?%>
	        	<%#= link_to t('delete_text'), {:action => 'donation_delete', :id=> d.id} , :confirm => t('delete_confirm_msg') %>
	        <%# else%>
	        	<!-- <s><%#= "#{t('delete_text')}" %></s> -->
	        <%# end%>
        </td>
      </tr>
    <% end %>

  </table>
  <% else %>
    <p class="flash-msg"><b><%= "#{t('no_donors')}" %></b></p>
  <% end %>
</div>
