<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('fees_collection') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('create_fee_collection') %></div>

<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('fees_collection')}", :action=>'fee_collection'%></li>
  </ul>
</div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash_box">
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for @finance_fee_collection,
    :url => {:action => 'fee_collection_create'},:html=>{:onsubmit=>"return validate();"} do |form| %>

    <div id="form-errors"><%= error_messages_for 'finance_fee_collection' %></div>
    <div id="left-side-inputs">
      <div class="label-field-pair">
        <label for="reason"> <%= t('fee_category') %>:</label>
        <div class="text-input-bg">
          <%= form.select(:fee_category_id, @fee_categories.map { |item| [item.name, item.id] }.sort_by{|x, y| x.downcase}.uniq,
            {:selected => @fee_category.present? ? @fee_category.first.name : nil , :prompt => "#{ t('select_category')}" },
            {:onchange => "#{remote_function(:url => {:action => "fee_collection_batch_update"},
              :with => "'id='+value",
              :before => "Element.show('loader')",
              :success => "Element.hide('loader')")}"
            })%>
        </div>
        <div class="loader_div">
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none; position : absolute; " ) %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="reason">  <%= t('fee_collection_name') %>:</label>
        <div class="text-input-bg"><%= form.text_field :name%></div>
      </div>

      <div class="label-field-pair">
    <label for="reason"><%= t('fine') %>:</label>
    <div class="text-input-bg">
      <%= form.select(:fine_id, @fines.map { |item| [item.name, item.id] }.sort_by{|x, y| x.downcase}.uniq,
        {:prompt => "#{t('select_category')}" },
        {:onchange => "#{remote_function(:url => {:action => "fine_list"},
          :with => "'id='+value",
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')")}"
        })%>
    </div>
  </div>

  <div id ="fine_list"></div>


      <div class="label-field-pair">
        <label for="reason">  <%= t('start_date') %>:</label>
        <div class="text-input-bg"><%= calendar_date_select_tag 'finance_fee_collection[start_date]', I18n.l(@finance_fee_collection.start_date || Date.today,:format=>:default),:popup=>"force",:class=>'start_date' %></div>
      </div>
      <div class="label-field-pair">
        <label for="reason">  <%= t('end_date') %>:</label>
        <div class="text-input-bg"><%= calendar_date_select_tag 'finance_fee_collection[end_date]',I18n.l(@finance_fee_collection.end_date || Date.today,:format=>:default), :popup=>"force",:class=>'end_date' %></div>
      </div>
      <div class="label-field-pair">
        <label for="reason">  <%= t('due_date') %>:</label>
        <div class="text-input-bg"><%= calendar_date_select_tag 'finance_fee_collection[due_date]', I18n.l(@finance_fee_collection.due_date || Date.today,:format=>:default), :popup=>"force",:class=>'due_date'%></div>
      </div>
    </div>


    <div id ="batchs">
      <% unless params[:fee_collection].nil? %>
        <%= render :partial=>'rank_finance/fee_collection_batchs' if params[:fee_collection][:category_ids].present? %>
      <% end %>
    </div>

    <div class="extender"></div>
    <div id="submit-button">
      <%=  submit_tag "► #{t('create_text')}",:class=>'submit_button',:disable_with => "► #{t('create_text')}" %>
    </div>
  <% end %>
</div>
<script>
  function validate(){
    string=""
   if ($$('#finance_fee_collection_fee_category_id')[0].value.length==0)
     {string='<%="#{t('select_fee_category')}"%>'+"\n"
       }
   if ($$('.batch_select_box')[0]==undefined)
     {
       string=string+'<%="#{t('finance.flash28')}"%>'+"\n";
     }else{
        pointer=0
         arr=$$('#fee_collection_category_ids_')
         len=$$('#fee_collection_category_ids_').length
         for(i=0;i<len;i++){
          if (arr[i].checked){pointer=1}
         }
          if (pointer==0){
            string=string+'<%="#{t('select_one_batch')}" %>'+"\n";
          }
     }
     if ($$('#finance_fee_collection_name')[0].value.length==0)
       {
         string=string+"<%=t('fee_collection_name_cant_be_blank')%>"+ "\n"
       }
       if (!($$('.start_date')[0].value<=$$('.end_date')[0].value))
         {
           string=string+"<%=t('start_date_cant_be_after_end_date')%>"+"\n"
         }
         if (!($$('.end_date')[0].value<=$$('.due_date')[0].value))
         {
           string=string+"<%=t('end_date_cant_be_after_due_date')%>"+"\n"
         }

         if (string.length==0)
           {
             return true;
           }
           else
             {
               alert(string);
               return false;
             }

  }
</script>
