<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('fees_submission') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('student_fees_submission') %></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background' id="active-batch-link"><%= link_to_function t('show_active_batches'), "show_active_batches()" %></li>
      <li class='themed_bg themed-dark-hover-background' id="inactive-batch-link"><%= link_to_function t('show_inactive_batches'), "show_inactive_batches()" %></li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="batchs1">
    <% form_for :fees_submission_batch do %>

      <div class="label-field-pair fleft" id="hide1"><label><%= t('select_a_batch') %></label>
        <div class="text-input-bg"> <%= select :fees_submission, :batch_id, @batches.map { |c| [c.full_name, c.id] },
            {:prompt => "#{t('select_a_batch')}"},
            {:onChange => "#{remote_function(:url => {:action => "update_fees_collection_dates"},
            :with => "'batch_id='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')")}"
          }%>
        </div>

  <%#=link_to_function "show inactive batches","show_inactive_batches()",{:class=>'user_button'}%>

      </div>

      <div class="label-field-pair fleft" id="hide2"><label><%= t('select_a_batch') %></label>
        <div class="text-input-bg"> <%= select :fees_submission_inactive, :batch_id, @inactive_batches.map { |c| [c.full_name, c.id] },
            {:prompt => "#{t('select_a_batch')}"},
            {:onChange => "#{remote_function(:url => {:action => "update_fees_collection_dates"},
            :with => "'batch_id='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')")}"
          }%>
        </div>

  <%#=link_to_function "show active batches","show_active_batches()",{:class=>'user_button'}%>
      </div>
      <div class="loader_div">
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none; " ) %>
      </div>

      <div class="label-field-pair"><label><%= t('select_fee_collection_date') %></label>

        <div class="text-input-bg">
          <div id="fees_collection_dates">
            <%= render :partial => "rank_finance/fees_collection_dates"  %>
          </div>
        </div>
      </div>
    <% end %>
    <div id="student"> </div>

    <div id="modal-box" style="display:none;"></div>
  </div>
  <div class="extender"></div>
</div>

<script type="text/javascript">
  document.observe("dom:loaded", function() {
    j('#hide2').hide();
    j('#active-batch-link').hide();
  });

  function show_inactive_batches(){
    $('fees_submission_batch_id').value=""
    j('#hide2').show();
    j('#hide1').hide();
    j('#fees_submission_dates_id').find('option').remove().end().append('<option value=""><%="#{t('select_fee_collection_date')}"%></option>')
    ;
    j('#active-batch-link').show();
    j('#inactive-batch-link').hide();
  }

  function show_active_batches(){
    $('fees_submission_inactive_batch_id').value=""
    j('#hide1').show();
    j('#hide2').hide();
    j('#fees_submission_dates_id').find('option').remove().end().append('<option value=""><%="#{t('select_fee_collection_date')}"%></option>')
    j('#inactive-batch-link').show();
    j('#active-batch-link').hide();
  }

  function validate_payment_mode()
  {
    if ($('payment')!=null)
    {
      if ($('payment').select('input')[0].value=="")
      {
        alert('<%= "#{t('select_one_payment_mode')}"%>');
        return false;
      }
      else
      {
        return true;
      }
    }
    else
    {
      return true;
    }
  }
  function validate_fine()
  {
    if(isNaN($('fine_fee').value)==false)
    {
      if($('fine_fee').value <= 0)
      {
        $('fine_fee').value=""
        alert("Please enter a positive value for fine");
        return false;
      }
      else if($('fine_fee').value=="")
      {
        alert("Please enter a positive value for fine");
        return false;
      }
      else{
        return true;
      }
    }
    else
    {
      $('fine_fee').value=""
      alert("Please enter a numeric value for fine");
      return false;
    }
  }
  function prev_double(){
    $('fees_form').setAttribute("onsubmit", "return false")
    $('submit_button').disable();
  }

  function set_back(){
    $('fees_form').removeAttr("onsubmit");
    setTimeout(function(){$('submit_button').enable();},15000);
  }
</script>
