<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('master_category') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('finance_management') %></div>
<div id="inner-tab-menu">
  <ul>
<% if ((@current_user.admin?) or (@batch.end_date_lock == false)) %>
      <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('create_particulars')}", :url => { :action => 'fees_particulars_new2',:category_id=>params[:id],:batch_id=>@batch.id} %></li>
  <% end %>

  </ul>
</div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :finance_master_category_particulars, @finance_fee_category %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash_box"></div>

  <div id="message"></div>

  <div class="box">
 
  <div id="modal-box" style="display:none;"></div>
  <%= @a %>
  
  <div id="categories"><%= render :partial => "rank_finance/master_particulars_list" %></div>
</div>
  </div>
