<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('fees_submission') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= @student.full_name %></div>
</div>

<div id="page-yield">

  <div class="bread_crumb">
    <% breadcrumb :finance_pay_fees_defaulters, @student %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><p><%= t('there_were_pblm') %></p><ul><li><%= flash[:warn_notice] %></li></ul></div>
  <% end %>
  <div id="modal-box" style="display:none;"></div>
  <div class="main_info">
    <div class="details">
      <div class="name">
        <%= t('fees_receipt_no') %>
      </div>
      <div class="val themed_text">
        <span>:</span>
        <div class="val-align"><%= @paid_fees.nil? ? t('n_a') : @paid_fees.map(&:receipt_no).join(',') %></div>
      </div>
      <% unless @fee_category.nil? %>
        <div class="name">
          <%= t('fee_category_name') %>
        </div>
        <div class="val themed_text">
          <span>:</span>
          <div class="val-align">
            <%= @fee_category.name.capitalize %>
          </div>
        </div>
      <% end %>
      <% unless @student.student_category.nil? %>
        <div class="name">
          <%= t('student_category') %>
        </div>
        <div class="val themed_text">
          <span>:</span>
          <div class="val-align">
            <%= @student.student_category.name.capitalize %>
          </div>
        </div>
      <% else %>
        <div class="name">
          <%= t('student_category') %>
        </div>
        <div class="val themed_text">
          <span>:</span>
          <div class="val-align">
            <%= t('n_a') %>
          </div>
        </div>
      <% end %>
      <div class="name">
        <%= t('fees_collection_date_name')%>
      </div>
      <div class="val themed_text">
        <span>:</span>
        <div class="val-align">
          <%= @date.name.capitalize  %>
        </div>
      </div>
    </div>
    <% total_fees =0 %>
    <% unless @financefee.is_paid or (@total_payable-@total_discount==0)%>
      <%= render :partial=> 'rank_finance/defaulters_fine_submission' if @fine.nil? %>
    <% end %>
    <div class="height-fixer"> </div>
    <div class="extender"> </div>
    <% form_for :fees, :url => {:action => 'pay_fees_defaulters', :student => @student.id,:date => @date.id, :fine => @fine,:special_fine=>@fine_amount,:batch_id=>@batch.id}, :html=>{:id => "fees_form",:onSubmit => "return validate_payment_mode();"} do |form| %>
      <% unless @fee_particulars.nil? %>


        <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
          <tr class="tr-head">
            <td><%= t('sl_no') %></td>
            <td><%= t('particulars') %></td>
            <td><%= t('amount') %> (<%= currency %>  )</td>
          </tr>
          <% i = 0 %>
          <tr class="tr-blank"></tr>
          <% @fee_particulars.each do |fee| %>
            <tr class="tr-<%= cycle("odd","even") %>">
              <td class="col-1"><%= i+=1 %></td>
              <td class="col-2"><%= fee.name %></td>
              <td class="col-6"><%= precision_label fee.amount%></td>
            </tr>
            <% total_fees += fee.amount %>
          <% end %>

          <% unless @total_discount == 0 %>
            <tr class="tr-blank"></tr>
            <tr class="tr-blank"></tr>
            <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
              <td class="col-1"></td>
              <td class="col-1" colspan="3" ><span class="themed_text"><%= t('discount') %></span></td>
            </tr>
            <% @discounts.each do |d| %>
              <tr class="tr-<%= cycle("odd","even") %>">
                <td class="col-1"><%= i+1 %></td>
                <% discount_text = d.is_amount == true ? "#{d.name}" : "#{d.name} &#x200E;(#{d.discount})% &#x200E;" %>
                <td class="col-2"><%= discount_text %></td>
                <td class="col-6"><%= precision_label(@total_payable * d.discount.to_f/ (d.is_amount?? @total_payable : 100)) %></td>
              </tr>
              <% i += 1 %>
            <% end %>

            <tr class="tr-blank"></tr>
            <tr class="tr-blank"></tr>

            <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
              <td class="col-8" colspan="2" ><%= t('total_discount') %></td>
              <td class="col-6" ><%= precision_label(@total_discount) %></td>
            </tr>

            <tr class="tr-blank"></tr>
            <tr class="tr-blank"></tr>
            <% total_fees = (@total_payable-@total_discount)%>
            <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
              <td class="col-8" colspan="2" ><%= t('total_fees') %></td>
              <td class="col-6" ><%= precision_label(total_fees) %></td>
            </tr>

            <tr class="tr-blank"></tr>
            <tr class="tr-blank"></tr>

          <% end %>

          <% unless @fine.nil? %>
            <tr class="tr-<%= cycle("odd","even") %>">
              <td class="col-1"><%= i+=1 %></td>
              <td class="col-2"><span class="themed_text"><%= t('fine_on') %> <%= Date.today %></span></td>
              <td class="col-6"><%= precision_label(@fine.to_f) %></td>
            </tr>
            <% total_fees += @fine.to_f %>
          <% end %>
          <%total_fees1=total_fees%>
          <% if @paid_fees%>

            <% unless @paid_fees.blank? %>
              <% @paid_fees.each do |trans| %>
                <% if trans.fine_included %>
                  <tr class="tr-<%= cycle("odd","even") %>">
                    <td class="col-1"><%= i+=1 %></td>
                    <td class="col-2"><span class="themed_text"><%= t('fine_on') %> <%= trans.transaction_date %></span></td>
                    <td class="col-6"><%= precision_label(trans.fine_amount) %></td>
                  </tr>
                  <% total_fees += trans.fine_amount.to_f %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <%unless @financefee.is_paid%>
            <tr class="tr-blank"></tr>
            <tr class="tr-blank"></tr>
            <%if @fine_rule%>
              <tr class="tr-<%= cycle("odd","even") %>">
                <td class="col-1"><%= i+=1 %></td>
                <td class="col-2"><span class="themed_text"><%= t('fine_on') %> <%= @date.due_date.to_date+@fine_rule.fine_days.days %><%= discount_text = @fine_rule.is_amount ? "" :  " (#{@fine_rule.fine_amount}&#x200E;%)" %></span></td>
                <td class="col-6"><%= precision_label(@fine_amount) %></td>
              </tr>
            <%end%>
          <%end%>

          <% unless @paid_fees.nil? %>
            <% paid=0 %>
            <% @paid_fees.each{|a| paid += a.amount.to_f} %>
            <% total_fees -= paid %>
            <tr class="tr-blank"></tr>
            <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
              <td class="col-8" colspan="2"><%= t('payment_done') %></td>
              <td class="col-6" ><%= precision_label(paid) %></td>
            </tr>
          <% end %>

          <%balance=@financefee.balance.to_f+@fine.to_f%>
          <tr class="tr-blank"></tr>
          <tr class="tr-blank"></tr>
          <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
            <td class="col-8" colspan="2" ><%= t('amount_to_pay') %></td>
            <td class="col-6" ><%= precision_label(balance+@fine_amount.to_f) %></td>
          </tr>

          <%unless @financefee.is_paid %>
            <tr>
              <td colspan="3">
                <div class="payment_details">
                  <div class="label-field-pair3">
                    <label><%= t('payment_mode') %>  <%= image_tag("loader.gif",
                        :align => "absmiddle",
                        :border => 0,
                        :id => "loader1",
                        :style =>"display: none;" ) %></label>
                    <div class="text-input-bg3"><%= select :fees, :payment_mode, [["#{t('cash')}", "#{t('cash')}"],["#{t('online_payment')}", "#{t('online_payment')}"],["#{t('cheque')}", "#{t('cheque')}"],["#{t('dd')}","#{t('dd')}"],["#{t('others')}", "#{t('others')}"]], {} ,{:onChange => "#{remote_function(:url => {:action => "select_payment_mode"},
                        :with => "'payment_mode='+value",:before => "$('loader1').show();",
                        :success => "$('loader1').hide();")}"}  %>
                    </div>
                  </div>
                  <div class="label-field-pair3-text-area">
                    <label><%= t('payment_notes') %> </label>
                    <div class="textarea-input-bg3"><%= form.text_area :payment_note,:cols => 50, :rows => 1 %>
                    </div>
                  </div>
                  <div class="label-field-pair4">
                    <label><%= t('amount') %> :</label>
                    <div class="text-input-bg4"><%= form.text_field :fees_paid, :value=> precision_label(balance+@fine_amount.to_f), :class=>'precision_text' %>
                      <%=  hidden_field_tag :total_fees, total_fees1 %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
          <tr>
            <td colspan="3">
              <div class="pay_fees">
                <div id="payment_mode"></div>
                <%unless @financefee.is_paid %>
                    <%= transaction_date_field %>
                  <div class="pay_fees_buttons">
                  <%if (@student.batch.end_date_lock == false) || @current_user.admin?%>
                  <% if @student.student_lock == false %>
                    <%= submit_tag "► #{t('pay_fees')}",:class=>'submit_button' ,:id => 'submit_button'%>
                  <% end %>
                  <%end%>
                    <%= link_to "► #{t('print_receipt')}",
                      {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id,:page_height=>1000},:target => '_blank', :class=> 'user_button' unless @trans.nil? %>
                    <%= link_to "► #{t('print_receipt')}",
                      {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id,:batch_id=>@student.batch_id},:target => '_blank', :class=> 'user_button' %>
                  </div>
                <% else %>
                  <div class="pay_fees_buttons">
                    <h4><%= t('fees_paid') %></h4>
                    <%= link_to "► #{t('print_receipt')}",
                      {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id,:batch_id=>@student.batch_id},:target => '_blank', :class=> 'user_button' %>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
    <%#*<tr>%>
    <%#*<td colspan="3">%>
    <%# unless @paid_fees.nil? or not total_fees.to_f == 0 %>
    <%#= link_to "► #{t('print_receipt')}",
    {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id},:target => '_blank', :class=> 'user_button' %>
    <%# end %>
    <%#*</td>%>
    <%#*</tr>%>
        <%end%>
      </table>
    <% end %>
    <% unless @paid_fees.empty? %>
      <div id="payments_details">
        <div class="label-field-pair3">
          <label><%= t('payment_history') %> </label>
        </div>
        <table id="listing1" align="center" width="100%" cellpadding="1" cellspacing="1">
          <tr class="tr-head">
            <td><%= t('sl_no') %></td>
            <td><%= t('payment_date') %></td>
            <td><%= t('payment_mode') %></td>
            <td><%= t('payment_notes') %></td>
            <td><%= t('amount') %> (<%= currency %>  )</td>
            <td class="col-3"></td>
          </tr>
          <tr class="tr-blank"></tr>
          <% @paid_fees.each_with_index do |f , i| %>
            <tr class="tr-<%= cycle("odd","even") %>">
              <td class="col-1"><%= i +=1 %></td>
              <td class="col-3"><%= f.transaction_date %></td>
              <td class="col-3"><%= f.payment_mode %></td>
              <td class="col-2"><%= f.payment_note %></td>
              <td class="col-3" ><%= precision_label(f.amount.to_f) %></td>
              <!-- <td class="col-3" style="width:2%;"><div class="cancel" ><%#=link_to ("&times"),{:controller=>:finance,:action=>:delete_transaction_fees_defaulters,:id=>@student.id,:date=>@date.id,:batch_id=>@batch.id,:transaction_id=>f.id},:confirm=>"#{t('are_you_sure_want_delete_this_transaction')}",:class=>"themed_text"%></div></td> -->
              <td>
            <label>
              <%#= link_to_remote "#{t('edit_text')}",:html => {:style=>'color: #000; background : none;'},:url => { :controller=>"finance",:action => 'edit_manual_receipt',:id=>f.id,:stu_id=>@student.id,:student_name => @student.full_name,:batch_id => @batch.id,:date => params[:date]},:method => 'get'%>
              <%= link_to "Print",
                {:controller => "finance", :action => "print_single_receipt_pdf", :id=>f.id,:stu_id=>@student.id,:student_name => @student.full_name,:batch_id => @batch.id,:date => params[:date]},:target => '_blank', :style=>'color: #000; background : none;font-family: arial;font-size: 14px;font-weight: none;margin:  2px;padding: 7px 10px;text-decoration: none;float: left;' %>             
            </label>
          </td>
            </tr>
          <% end %>
        </table>

      </div>
    <% end %>

  </div>
</div>
<script type="text/javascript">
  function validate_payment_mode()
  {
    $("fees_form").setAttribute("onsubmit", "return false");
    button = document.getElementById('submit_button');
    if ($('payment')!=null)
    {
      if ($('payment').select('input')[0].value=="")
      {
        alert('<%= "#{t('select_one_payment_mode')}"%>');
        return false;
      }
      else
      {
        button.value = '<%= "► #{t('please_wait')}"%>';     //
        button.disabled=true;                               //prevent double click
        return true;

      }
    }
    else
    {
      button.value = '<%= "► #{t('please_wait')}"%>';       //
      button.disabled=true;                                 //prevent double click
      return true;
    }
  }
  function validate_fine()
  {
    if(isNaN($('fine_fee').value)==false)
    {
      if($('fine_fee').value <= 0)
      {
        $('fine_fee').value=""
        alert("Please enter a positive value for fine");
        return false;
      }
      else if($('fine_fee').value=="")
      {
        alert("Please enter a positive value for fine");
        return false;
      }
      else{
        return true;
      }
    }
    else
    {
      $('fine_fee').value=""
      alert("Please enter a numeric value for fine");
      return false;
    }
  }

</script>
