<!-- From phase 2 fee rank_finance/student_fee_receipt_pdf is changed to this-->
<div id="page-yield" class="available_sections">
<body>
    <div class="section">
		<hr>
		<h2 class="topview">KHERWADI SOCIAL WELFARE ASSOCIATION</h2>
		<h2 class="topview">Reg. under S.R.Act No. 3144 & BPT Act No F-419(Bom)</h2>
		<h2 class="topview">Deduction u/s 80G of I.T.Act available</h2>
        <% if @finance_transaction.duplicate == 1 %>
        <h2 class="topview">DUPLICATE</h2>
        <% end%>
	</div>
	<div class="section" style="margin-top:50px;">
        <h2> <%= "#{t('admission_no')} : #{@student.admission_no}" %></h2>
        <h2> <%= "Donation Receipt - #{Configuration.get_config_value('InstitutionName')}" %></h2>
        <%# unless @paid_fees.empty? %>
        
        <h2> <%= "#{t('receipt_no')} :#{@finance_transaction.receipt_no}" %></h2>
        <% pre_std = PreStudentRegistration.find_by_student_id(@student.id) %>
        <% if pre_std.present? %>
         <h2> <%= "#{t('pre_receipt_no')} :#{@finance_transaction.pre_receipt_no}" %></h2>
        <% end %>
        <h2> <%= "Received with thanks from" %></h2>
        <table border="0">
        	<tr><h2>
        		<td style="width:100px;">
        			<b>Mr./Mrs./Ms. :</b>
        		</td>
        		<td style="width:550px; border-bottom: 2px solid black;">
        			<b><%= @student.full_name %></b>
        		</td></h2>
        	</tr>
        	<tr><h2>
        		<td style="width:150px;">
        			<b>an amount of Rs :</b>
        		</td>
        		<td style="width:550px; border-bottom: 2px solid black;">
        		<%# paid=0 %>
          		<%# @paid_fees.each{|a| paid += a.amount.to_f} %>
        			<b><%= precision_label(@finance_transaction.amount) %></b>
        		</td></h2>
        	</tr>
        	<tr><h2>
        		<td style="width:350px;">
        			<b>In cash/cheque on (date) :</b>
        		</td>
        		
        		<td style="width:450px; border-bottom: 2px solid black;">
        			<b><%= @finance_transaction.payment_mode %></b>
        		</td></h2>
        <%# end %>
        	</tr>
        	</table>
        	<table border="0">
        	<tr><h2>
        		<td><table border="0">
        			<tr style="border-bottom: 2px solid black;height:50px;">
        				<td style="width:550px; border-bottom: 2px solid black;height:48px;">
        				<table><tr><td><b>
        					Date :</b></td><td style="width:150px;border-bottom: 2px solid black;height:45px;"><%= @finance_transaction.transaction_date %></td></tr></table>
        				</td>
        				<td>
        			<b>(Authorised Signatory)</b> 
        		</td>
        			</tr>
        		</table>
        			<!-- <b>Date :</b>
        		</td>
        		<td style="width:450px; border-bottom: 2px solid black;margin-right:-200px;">
        			<b><%#= @student.full_name %></b>
        		</td>
        		<td>
        			<b>(Authorised Signatory)</b> -->
        		</td>
        		</h2>
        	</tr>
        </table>
      </div>
</body>
</div>
<style>
	body {
    background-image: url("/srv/fedena_iris_pro/vendor/plugins/rank_yuvaparivartan_support/public/images/YP_Logo3.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 900px 900px;
}
	h2.topview{
		text-align: center;
	}
	tr{
		font-size: 16pt;
		line-height: 30pt;
	}
</style>