<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="page-yield" class="available_sections">
  <div class="section">
    <center>
    <div class="hor_line"></div>
    <% if @financefee.is_paid %>
      <h2><%= t('fee_reciept') %></h2>
    <% else %>
      <h2><%= t('partial_payment_receipt') %></h2>
    <% end %>
    <div class="hor_line"></div>
    <div class="extender"> </div>
    </center>
    <% total_fees = 0 %>
    <div id ="main_info">
       <div class="col-a">
        <h4 style="width:505px;"> <%= "#{t('name')}: #{@student.full_name}" %></h4>
        <h4 style="width:505px;"> <%= "#{t('admission_no')} : #{@student.admission_no}" %></h4>
        <h4 style="width:505px;"> <%= "#{t('course_text')} : #{@student.batch.course.course_name}" %></h4>
        <h4 style="width:505px;"> <%= "#{t('batch')} : #{@student.batch.full_name}" %></h4>
      </div>
      <div class="col-b" >
        <h4 > <%= "#{t('fees_collection_date_name')}: #{@date.name.capitalize}" %> </h4>
      </div>
    </div>
  </div>
 <div class="section" >
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="table-header">
        <td class="mark-td"><%= t('sl_no') %></td>
        <td class="name-td"><%= t('particulars') %></td>
        <td class="mark-td"> <%= "#{t('amount')}(#{@currency_type.to_s})" %></td>
      </tr>
     <%k=7%>
      <% i = 0  %>
      <% c= 'even' %>
      <% @fee_particulars.each do |fee| %>
        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
          <td class="mark-td"><%= i+=1 %></td>
          <%k+=1%>
          <td class="name-td"><%= fee.name %></td>
          <td class="mark-td">&nbsp;<%= "#{precision_label(fee.amount.to_s)}" %></td>
        </tr>
        <% total_fees += fee.amount %>
      <% end %>

      <% unless @total_discount == 0 %>
        <tr class="tr-blank"></tr>
        <tr class="tr-blank"></tr>
        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
          <%k+=1%>
          <td class="col-1" colspan="3"><span class="space"><%= t('discount') %></span></td>
        </tr>

        <% @discounts.each do |d| %>
        <%k+=1%>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="mark-td"><%= i+=1 %></td>
            <% discount_text = d.is_amount == true ? "#{d.name}" : "#{d.name}(#{d.discount})%" %>
            <td class="name-td"><%= discount_text %></td>
            <td class="mark-td"><%= precision_label(@total_payable * d.discount.to_f/ (d.is_amount?? @total_payable : 100)) %></td>
          </tr>
        <% end %>

        <tr class="tr-blank"></tr>
        <tr class="tr-blank"></tr>

        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
           <%k+=1%>
          <td class="mark-td" colspan="2" ><%= t('total_discount') %></td>
          <td class="mark-td" ><%= "#{precision_label(@total_discount)}" %></td>
        </tr>

        <tr class="tr-blank"></tr>
        <tr class="tr-blank"></tr>
        <% total_fees = (@total_payable-@total_discount) %>
        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
           <%k+=1%>
          <td class="mark-td" colspan="2" ><%= t('total_fees') %></td>
          <td class="mark-td" ><%=  precision_label(total_fees) %></td>
        </tr>

        <tr class="tr-blank"></tr>
        <tr class="tr-blank"></tr>

      <% end %>

      <% if @paid_fees%>



        <% unless @paid_fees.blank? %>
          <% @paid_fees.each do |trans| %>
            <% if trans.fine_included %>
              <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                 <%k+=1%>
                <td class="col-1"><%= i+=1 %></td>
                <td class="col-2"><span><%= t('fine_on') %> <%= trans.transaction_date %></span></td>

                <td class="col-4"><%="#{precision_label(trans.fine_amount.to_f)}" %></td>
              </tr>
              <% total_fees += trans.fine_amount.to_f %>
            <% end %>
          <% end %>
        <% end %>
      <%end%>
        <% unless @paid_fees.nil? %>
          <% paid=0 %>
          <% @paid_fees.each{|a| paid += a.amount.to_f} %>
          <% total_fees -= paid %>
          <tr class="tr-blank"></tr>
          <tr class="tr-blank"></tr>
          <%if (@fine_amount.present?) and (@financefee.balance > 0)%>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
             <%k+=1%>
            <td class="col-8" colspan="2" ><%= t('fine_on') %> <%= Date.today %></td>
            <td class="col-6" ><%=precision_label(@fine_amount.to_f) %></td>
          </tr>
          <%end%>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
             <%k+=1%>
            <td class="col-8" colspan="2" ><%= t('payment_done') %></td>
            <td class="col-6" ><%=precision_label(paid) %></td>
          </tr>
        <% end %>
      <%balance=@financefee.balance.to_f+@fine.to_f+@fine_amount.to_f%>
      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
         <%k+=1%>
        <td colspan="2" class="col-8"><%= t('amount_to_pay') %></td>
        <td class="col-pdf"><%=precision_label(balance) %></td>
      </tr>
       <% if ((k+1)%1)==0 %>
          </table>
      </div>
      <div class="section" >
        <center>

          <table id="pdf-table" width="100%" >

          <% end %>
    </table>
  </div>

  <div id="pdf-info" class="section">

           <%page_val=24%>
   <%k=19%>
 <% unless @paid_fees.empty? %>
            <div class="section">
              <h4><%= "#{t('payment_history')}"%></h4>

              <table id="pdf-table" width="100%" cellspacing="0">
                <% c= 'even' %>

                  <tr class="table-header">
                     <td class="sl-td" ><%= t('sl_no') %></td>
            <td class="date-td"> <%= t('payment_date') %></td>
            <td class="rec-td"> <%= t('receipt_no') %></td>
            <td class="mode-td" > <%= t('payment_mode') %></td>
            <td class="note-td" > <%= t('payment_notes') %></td>
            <td class="amount-td" style="min-width: 80px"> <%= t('amount') %>  (<%= currency %>  )</td>
            <td class="rec-td" style="min-width: 80px"><%= t('manual_receipt_no') %></td>
            <td class="date-td" style="min-width: 100px"><%= t('manual_receipt_date') %></td>
                  </tr>
                  <% @paid_fees.each_with_index do|p,i| %>

                     <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %> <%= "paid" if @paid_fees.last.id.to_i == p.id.to_i and @financefee.is_paid == false%>">
              <td class="sl-td" ><%= i+=1 %></td>
              <td class="date-td" ><%= p.transaction_date.to_s %></td>
              <td class="rec-td"> <%= p.receipt_no %></td>
              <td class="mode-td" > <%= p.payment_mode %></td>
              <td class="note-td" > <%= p.payment_note %></td>
              <td class="amount-td" ><%= precision_label p.amount.to_f %></td>
              <td class="rec-td-3"><%= p.Manual_receipt_no %></td>
              <td class="date-td"><%= p.Manual_receipt_date %></td>
            </tr>
          <%# ind=ind+1 %>
                  <% end %>

                <% end %>
              </table>

          </div>


    </div>
    </div>


