<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('course_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('show') %></div>
  <div id="inner-tab-menu">
    <ul>
      <% if @current_user.admin? %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "Locked Batches", {:controller=>"courses", :action=>"locked_batches", :id=>@course.id} %> </li>
      <% end%>
      <% if @course.master_course.status == true%>
         <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_text')}", new_course_batch_path(@course) %> </li>
      <%end%>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "Group Batches", {:controller=>"courses", :action=>"grouped_batches", :id=>@course.id} %> </li>      
      <% if permitted_to? :edit, :course %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('edit_text')}", edit_course_path(@course) if permitted_to? :edit, :course %></li>
      <%  end %>
      <% if permitted_to? :destroy, :course %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to("#{t('delete_text')}", course_path(@course), :method => 'delete', :confirm => "#{t('delete_confirm_msg')}") %></li>
      <%  end %>

      <% if permitted_to? :assign_subject_amount, :courses %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('assign_subject_amount')}", assign_subject_amount_courses_path(:id => @course.id) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :courses_show, @course %>
    <%=  render_breadcrumbs %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">

    <% unless @batches.empty? %>
      <ul id="category-list">

        <% @batches.each do |batch| %>
          <li class="list<%=cycle('odd', 'even')%>">
            <%if batch.end_date_lock%>
            <div class="category-name"><%= link_to batch.full_name, [@course, batch] %></div>
            <div class="category-name" style="width:6em;float:right;"><!-- <a href="/rank_lock.ico"></a> --><img src="/rank_lock.ico" width="25" height="25" style="color:red;float:left;"></div>

            <%else%>
            <div class="category-name"><%= link_to batch.full_name, [@course, batch] %></div>
             <div class="category-edit"> <%= link_to "#{t('edit_text')}", edit_course_batch_path(@course, batch) if permitted_to? :edit, :batches %></div><div class="category-delete">   <%= link_to("#{t('delete_text')}", [@course, batch], :method => 'delete', :confirm => "#{t('delete_confirm_msg')}")  if permitted_to? :destroy, :batches %></div>
            <%end%>
          </li>
        <% end %>

      </ul>
    <% else %>
      <p class="flash-msg"> <%= t('no_batches_in_this_course') %></p>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
