<% unless @pre_student_registration.nil? %>
  <div class="height-fixer"> </div>
  <div id="register">
    <div class="header">
      <div class="prev">
        <%= link_to_remote '◄',:url => {:action => 'load_advance_fee_collection', :course_id => @course.id, :pre_student => @prev_pre_student.id}%>
      </div>
      <div class="month">
        <%= @pre_student_registration.full_name %><%#="(#{t('transfered_to_batch')}:#{@student.batch.full_name})" unless @batch==@student.batch%>
      </div>
      <div class="next">
        <%= link_to_remote '►',:url => {:action => 'load_advance_fee_collection', :course_id => @course.id, :pre_student => @next_pre_student.id}%>
      </div>
      <div class="extender"></div>
    </div>
  </div>
  <% form_remote_for :pre_finance_transaction, :url => {:action => 'pre_finance_update_ajax',:pre_student_registration => @pre_student_registration.id,:course_id => @course.id} do |form| %>
    <% unless @pre_student_registration.nil? %>
      <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head">
          <td><%= t('sl_no') %> </td>
          <td><%= t('course_fee') %></td>
          <td><%= t('amount') %> (<%= currency %>  )</td>
        </tr>
        <tr class="tr-blank"></tr>
        <% i = 0 %>
        <%#@pre_student_registration.each do |fee| %>
          <tr class="tr-<%= cycle("odd","even") %>">
            <td class="col-1"><%= i+=1 %></td>
            <td class="col-2"><%= @course_fee %></td>
            <td class="col-6">
              <%= precision_label @course_fee %>
            </td>
          </tr>
          <%#total_fees += fee.amount %>
        <%#end %>

        <% end %>
        <% paid=0 %>
        <% unless @amount.nil? %>
          <% paid = @amount.inject(0){|sum,x| sum + x } %>
          <%#total_fees -= paid %>
          <tr class="tr-blank"></tr>
          <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
            <td class="col-8" colspan="2"><%= t('payment_done') %></td>
            <td class="col-6" >
              <%= precision_label(paid) %>
            </td>
          </tr>
        <% end %>
        <% balance = @course_fee - paid.to_i%>
        <tr class="tr-blank"></tr>
        <tr class="tr-blank"></tr>
        <tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
          <td class="col-8" colspan="2"><%= t('amount_to_pay') %> :</td>
          <td class="col-6" >
            <%#unless precision_label(balance+@fine_amount.to_f).to_f == 0 %>
              <%= precision_label(balance.to_i) %>
            <%#else %>
              <%#= precision_label(0) %>
            <%#end %>
          </td>
        </tr>

        <%#unless @financefee.is_paid %>
          <tr>
            <td colspan="3">
              <div class="payment_details">
                <div class="label-field-pair3">
                  <label><%= t('payment_mode') %>  <%= image_tag("loader.gif",
                      :align => "absmiddle",
                      :border => 0,
                      :id => "loader1",
                      :style =>"display: none;" ) %></label>
                  <div class="text-input-bg3"><%= select :fees, :payment_mode, [["#{t('cash')}", "#{t('cash')}"],["#{t('online_payment')}", "#{t('online_payment')}"],["#{t('cheque')}", "#{t('cheque')}"],["#{t('dd')}","#{t('dd')}"],["#{t('others')}", "#{t('others')}"]] %>
                  </div>
                </div>
                <div class="label-field-pair3-text-area">
                  <label><%= t('payment_notes') %> </label>
                  <div class="textarea-input-bg3"><%= form.text_area :payment_note,:cols => 50, :rows => 1 %>
                  </div>
                </div>
                <div class="label-field-pair4">
                  <label><%= t('amount') %> </label>
                  <div class="text-input-bg4">
                  <% maximum = precision_label(balance.to_f) %>
                    <%= form.text_field :fees_paid,:value=> precision_label(balance.to_f),:onkeyup => "this.value = validate_max(this.value, 0, #{maximum})" %>
                    <%=  hidden_field_tag :course_id, @course.id %>
                    <%= hidden_field_tag :course_amt, @course_fee %>
                  </div>
                </div>

              </div>
            </td>
          </tr>
        <%#end %>
        <tr>
          <td colspan="3">
            <div class="pay_fees">
              <div id="payment_mode"></div>
              <%#unless @financefee.is_paid %>
                  <%= transaction_date_field %>
                <div class="pay_fees_buttons">
                <% @p = (paid == @course_fee) %>
                <%if @pre_student_registration.transferred == false &&  @p == false %>
                    <%= submit_tag "► #{t('pay_fees')}",:class=>'submit_button' , :id => 'submit_button',:onClick => "return validate_amount()" %>
                <% end %>
                  <%= link_to "► #{t('print_receipt')}",{:action => "pre_student_fee_receipt_pdf",:pre_student_registration => @pre_student_registration.id,:course_id => @course.id},:target => '_blank',:class=> 'user_button'%>
                </div>
              <%#else %>
                <!-- <div class="pay_fees_buttons">
                  <h4><%#= t('fees_paid') %></h4>
                  <%#= link_to "► #{t('print_receipt')}"%>
                </div> -->
              <%#end %>
            </div>
          </td>
        </tr>
      <%#*<tr>%>
      <%#*<td colspan="3">%>
      <%# unless @paid_fees.nil? or not total_fees.to_f == 0 %>
      <%#= link_to "► #{t('print_receipt')}",
      {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id},:target => '_blank', :class=> 'user_button' %>
      <%# end %>
      <%#*</td>%>
      <%#*</tr>%>

      <%#end%>
    </table>
  <% end %>
  <% unless @pre_finance.nil? %>
    <div id="payments_details">
      <div class="label-field-pair3">
        <label><%= t('payment_history') %> </label>
      </div>
      <table id="listing1" align="center" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head">
          <td><%= t('sl_no') %></td>
          <td><%= t('payment_date') %></td>
          <td><%= t('payment_mode') %></td>
          <td><%= t('payment_notes') %></td>
          <td><%= t('amount') %> (<%= currency %>  )</td>
          <!-- <td><%#= t('manual_receipt_no') %></td>
          <td><%#= t('manual_receipt_date') %></td> -->
          <td class="col-3" style="width:2%;"></td>
        </tr>
        <tr class="tr-blank"></tr>
        <% @pre_finance.each_with_index do |f , i| %>
          <tr class="tr-<%= cycle("odd","even") %>">
            <td class="col-1"><%= i +=1 %></td>
            <td class="col-3"><%= f.transaction_date %></td>
            <td class="col-3"><%= f.payment_mode %></td>
            <td class="col-2"><%= f.payment_note %></td>
            <td class="col-3" >
              <%= precision_label(f.amount.to_f) %>
            </td>
            <!-- <td class="col-3"><%#= f.Manual_receipt_no %></td>
            <td class="col-3"><%#= f.Manual_receipt_date %></td> -->
           <td class="col-3">
                <%= link_to "Print",
                    {:controller => "pre_finance_transactions", :action => "print_std_single_receipt_pdf", :id=>f.id},:target => '_blank',:style => 'color: #000;background : none; border: medium none;float: none;font-family: arial;font-size: 14px;font-weight: none;margin:  0;padding: 7px 10px;text-decoration: none;' %>
              <%#end%>
              
            </td>
          </tr>
        <% end %>
      </table>
      <div id="revert-pop-up">
        <%= "Fees Refunded. You can't revert the transaction!" %>
        <br/>
        <div class="revert_arrow_down"></div>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="flash-msg"> <%= t('no_record_found') %></p>
<% end %>
