<%= select  :fees_submission, :dates_id, @dates.map { |e| [e.full_name, e.id]},
    {:prompt => "#{t('select_fee_collection_date')}"},
    {:onChange => "#{remote_function( :url =>
    {:action => "load_advance_fee_collection"},
    :with => "'date='+value+'&batch_id='+($('fees_submission_batch_id').value || $('fees_submission_inactive_batch_id').value)",
    :before => "Element.show('loader')",
    :success => "Element.hide('loader')")}"
  } %>