#new_profile_info_top {
    margin:60px auto;
    width:697px;

}
.listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : auto;
    width : 938px;
    list-style-type : none;
    padding: 10px 0 10px 16px;
    font-size: 14px;
    overflow: hidden;

}

.listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : auto;
    width : 938px;
    list-style-type : none;
    padding: 10px 0 10px 16px;
    font-size: 14px;
    overflow: hidden;
}


.themed_hover_text:hover{
    color: #9c0000;
}

.submit_button {
    margin-top:20px;
    margin-left:26px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}

.col-unique {
    padding-left: 27px;
}
table#listing {
    background: #c3d9ff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px 40px;
}

table#listing tr.tr-head {
    background: #fff;
    color: #990a10;
    font-weight: bold;
    text-align: left;
}

table#listing .tr-head td {
    padding: 5px;
    padding-left: 10px;

}

table#listing .tr-head td a {
    color: #990a10;
}

table#listing .tr-head td a:hover {
    color: #990a10;
    text-decoration: underline;
}

table#listing tbody .tr-head th a {
    color: #990a10;
    text-decoration: none
}

table#listing tbody .tr-head th a:hover {
    color: #990a10;
    text-decoration: none;
}

table#listing .tr-odd {
    background: #fff;
    text-align: left;
    padding: 50px;
    color: #27292b;
    font-weight: 600;
    font-size: 14px;
}

table#listing .tr-even {
    background: #f1f6ff;
    text-align: left;
    padding: 50px;
    color: #27292b;
    font-weight: 600;
    font-size: 14px;
}

table#listing .tr-read-odd {
    background: #fff;
    text-align: left;
    padding: 50px;
    color: #27292b;
    font-weight: normal;
    font-size: 14px;
}

table#listing .tr-read-even {
    background: #f1f6ff;
    text-align: left;
    padding: 50px;
    color: #27292b;
    font-weight: normal;
    font-size: 14px;
}

table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 22px;
}

table#listing td.col-2 {
    width: 40%;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}

table#listing td a {
    text-decoration: none;
    color: #27292b;
}

table#listing td a:hover {
    color: #990a10;
    text-decoration: underline;
}

table#listing td.col-3 {
    width: 13%;
    padding: 5px;
    padding-left: 10px;
}

table#listing td.col-4 {
    width: 26%;
    padding: 5px;
    padding-left: 10px;
}

table#listing td.col-5 {
    width: 5%;
    padding: 5px;
    padding-left: 10px;
}

table#listing td.col-6 {
    text-align: right;
    width: 13%;
    padding: 5px;
    padding-left: 10px;
}

table#listing td.col-7 {
    width: 20%;
    padding: 5px;
    padding-left: 10px;
}

tr.tr-blank {
    height: 10px;
}
.table_with_paginate{
    padding: 20px 20px 40px 20px !important;
}
.pagination
{   float: right;
    position: relative;
    margin-top: -30px;
    margin-right: 49px;
}