.odd{
    height:auto;
    background: #eff3fe;
    
    margin-right:5px;
}
.odd td{
    
    font-weight:bold;
    padding:10px 10px 10px 10px;
   border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
}
.right{
    width: 450px;
    color:#000000;
    text-align: left;
}
.left{
    width: 250px;
    color:#548ab2;
    text-align: right;
}
.even{
    
    height:auto;
    
    background: #dae6ff;
    margin-right:5px;
}
.even td{
    
    font-weight:bold;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
    padding:10px 10px 10px 10px;
}
.submit_button {
    padding: 10px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
table#listing {
    background: #c3d9ff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px 20px;
}