<div class="label-field-pair" id="student_states">
    <label for="student_state"><%= t('state') %><span class="necessary-field">*</span></label>
    <!-- <div class="text-input-bg"><%#= s.text_field :state %></div> -->
    <div class="text-input-bg"> <%= select :student, :state, YuvaState.find_all_by_country_id(76).map {|c| [c.name, c.name]},{:include_blank=>"Select State"} ,{:onChange => "#{remote_function(:url => {:controller => "student", :action => "find_cities"}, :with => "'student_state='+ value")}"} %> </div>
</div>