<div class="label-field-pair" id='student_cities'>
  <label for="student_city"><%= t('city') %><span class="necessary-field">*</span></label>
  <!-- <div class="text-input-bg"><%#= s.text_field :city %></div> -->
  <div class="text-input-bg"> <%= select :student, :city, @yuva_cities.map {|c| [c.name, c.name]},{:include_blank=>"Select City"}%> </div>
</div>