<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
        <% unless @students.blank? %>
          <tr class="tr-head">
            <td>
              <%= t('sl_no') %>
            </td>
            <td>
             <%= t('first_name') %>
            </td>
            <td> <%= t('batch') %></td>
            <td> <%= t('adm_no') %></td>
            <td> <%= t('status') %></td>

          </tr>
          <tr class="tr-blank"></tr>
          <% @students.each_with_index do |student, i| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= i+1 %></td>
              <%if params[:option]=="active"%>
                <%if student.student_lock == true %>
                  <td class="col-4"><%= student.full_name %></td>
                <%else%>
                  <td class="col-4"><%=  link_to student.full_name, :controller => 'student', :action => 'profile', :id => student.id%></td>
                <%end%>
              <%else%>
              <td class="col-4"><%=  link_to student.full_name, '#', :onclick=>"update_sibling_selected('#{student.id}','#{student.full_name.gsub("'","\\\\'")}')" %></td>
              <%end%>
              <td class="col-4"><%= student.batch.full_name %></td>
              <td class="col-1"><%= student.admission_no %></td>
              <%if student.student_lock == true %>
                <td class="col-1" style="color: red;">Locked</td>
              <%else%>
                <td class="col-1">UnLocked</td>
              <%end%>
            </tr>
          <% end %>
        <% else %>

          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2"><%= t('no_students_found') %></td>
          </tr>
        <% end %>
      </table>
