<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div class="students-table">
  <table align="center" width="100%" cellpadding="1" cellspacing="1">
    <%if !@students.empty? %>
      <tr class="tr-head">
        <td><%= t('sl_no') %></td>
        <td><%= t('name') %></td>
        <td><%= t('adm_no') %></td>
        <td><%= t('status') %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% @students.each_with_index do |r, i| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-1">
            <%= i+1 %>
          </td>

          <td class="col-2">
            <%if r.student_lock == true %>
              <%= r.full_name %>
            <%else%>
              <%= link_to r.full_name,:controller => "student", :action => "profile", :id => r.id %>
            <%end%>
          </td>

          <td class="col-1">
            <%= r.admission_no %>
          </td>

          <%if r.student_lock ==  true %>
            <td class="col-1" style="color: red;">Locked</td>
            <%else%>
              <td class="col-1">UnLocked</td>
          <%end%>
        
          <%if r.student_lock ==  true %>
            <td class="col-7">
              <%= "#{t('view_profile')}" %>
            </td>
          <%else%>
             <td class="col-7">
              <%=  link_to  "#{t('view_profile')}", :controller => "student", :action => "profile", :id => r.id %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-2"><%= t('no_students_found') %></td>
      </tr>
    </table>
  <% end %>
</div>
