<% page =@controller.action_name=="student_fees_headwise_report" ? :report : :profile %>
<div id="fees_list">
  <% @batches.each do |batch| %>
    <h3 class="fees_list_title"><span class="batch_full_name"> <%= batch.course_name %> - <%=batch.name %></span>
    <img id ="abcd_<%=batch.id %>" align="right" src="/images/arrow-down.gif" height="20px" width="20px" onclick="toggle_visibility('hide_<%=batch.id %>'),chngimg('abcd_<%=batch.id %>')">
      
      </h3>
      <div class="fees_list_item" id = "hide_<%=batch.id %>"  style="display:none">
        <table class="fees_table">
          <thead>
            <th class="class44">
              <%= t('fees_name') %>
            </th> 
            <th class="class13">
              <%= t('status') %>
            </th>
            <th class="class13">
              <%= t('amount') %>
              <%= "(#{currency})" %>
            </th>
            <th class="class20">
              <%= t('date_text') %>
            </th>
          </thead>
          <% unless @student.fees_list_by_batch(batch.id).empty? %>
            <tr class="table_subtitle">
              <td colspan="4" ><%= t('general_fees') %></td>
            </tr>
          <% end %>
          <% @student.fees_list_by_batch(batch.id).each do |fee| %>
            <tr class="item">
              <td>
                <% if page == :report && (permitted_to? :pay_fees_defaulters,:finance) %>
                  <%= link_to "#{fee.name}", {:controller=>:finance,:action=>:pay_fees_defaulters, :id=>@student.id, :batch_id=>batch.id,:date=>fee.id}, :class=>"themed_hover_text",:target=>:_blank %>
                <% elsif permitted_to? :fee_details ,:student %>
                  <%= link_to "#{fee.name}", {:controller=>:student,:action=>:fee_details, :id=>@student.id, :id2=>fee.id}, :class=>"themed_hover_text" %>
                <% else %>
                  <%= fee.name %>
                <% end %>
              </td>
              <% paid = (fee.is_paid or ((precision_label(fee.balance.to_f+fee.fine_to_pay(@student).to_f))==precision_label(0))) %>
              <% paid = paid.to_i if paid.class.to_s == "String" %>
              <% if  paid == true || paid ==1 %>
                <td id="countpaid" class="status_cell" data-status="paid">
                  <%=  t('paid') %>
                </td>
                <td>
                  <%= precision_label(fee.paid_amount) %>
                </td>
                <td>
                  <%= t('paid_on') %>
                  <%= fee.last_transaction_date %>
                  <%#= format_date(fee.last_transaction_date) %>
                </td>
              <% else %>
                <% patially_paid_amount=fee.try(:paid_amount) %>
                <% amount_to_pay=fee.balance.to_f+fee.fine_to_pay(@student).to_f %>
                <% total_amount=patially_paid_amount.to_f+amount_to_pay %>
                <td class="status_cell" data-status="unpaid" data-amount-to-pay="<%= amount_to_pay %>" data-partialy-paid-amount="<%= patially_paid_amount %>" >
                  <%=  t('unpaid') %>
                </td>
                <td>
                  <%= precision_label(amount_to_pay)+ "  /  " + precision_label(total_amount) %>
                </td>
                <td>
                  <%= t('due_on') %>
                  <%= fee.due_date %>
                  <%#= format_date(fee.due_date) %>
                </td>
              <% end %>
            </tr>
          <% end %>
          <tr>
           <%FedenaPlugin.deliver_registered_hook(:student_profile_fees).each do |mod| %>
            <%= render :partial=>mod.camelize.constantize.send("student_profile_fees_by_batch_hook"),:locals=>{:student=>@student,:batch=>batch,:page=>page} %>
          <% end %>
          </tr>         
      </table>
    </div>
  <% end %>  
<script type="text/javascript">
  function toggle_visibility(id) 
  {
    var e = document.getElementById(id);
    if (e.style.display == 'block' || e.style.display=='')
    {
      e.style.display = 'none';
    }
    else 
    {
      e.style.display = 'block';
    }
  }
  function chngimg(id)
  {
    var img = document.getElementById(id).src;
    if (img.indexOf('arrow-down.gif')!=-1)
    {
      document.getElementById(id).src  = '/images/arrow-up.gif';
    }
    else 
    {
      document.getElementById(id).src = '/images/arrow-down.gif';
    }
  }
</script>
