<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('admission') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('step4') %></div>

</div>
<div id="page-yield">
<div class="bread_crumb">
    <% breadcrumb :student_admission4, @student %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for :student_additional_details do |a| %>
    <%= error_messages_for 'student' %>
  <%#= error_messages_for 'employee_bank_details' %>
    <% i=0 %>
    <div id="form-contents">
      <span class="span-sub-heading"><%= t('additional_detail') %></span>
      <hr class="sub-heading"></hr>
      <div id="necessary-field-notification"> <%= t('legend1') %> <span class="necessary-field">*</span> <%= t('legend2') %></div>
      <% @additional_fields.each do |additional| %>
        <% prev_record = @student_additional_details.find_by_additional_field_id(additional.id) %>
        <% unless prev_record.nil? %>
          <% if additional.input_type=="has_many" %>
            <% prev_value = prev_record.additional_info.split(", ") %>
          <% else %>
            <% prev_value = prev_record.additional_info %>
          <% end %>
        <% end %>
        <% input_val = ((params[:student_additional_details].present? and params[:student_additional_details][additional.id.to_s.to_sym].present? and params[:student_additional_details][additional.id.to_s.to_sym][:additional_info].present?) ? (params[:student_additional_details][additional.id.to_s.to_sym][:additional_info]) : (prev_value.present? ? prev_value : nil))%>
        <% if additional.input_type=="belongs_to" %>
          <div class="label-field-pair">
            <label><%= additional.name %>
              <% if additional.is_mandatory %>
                <span class="necessary-field">*</span>
              <% end %>
            </label>
            <div class="text-input-bg"><%= select_tag "student_additional_details[#{additional.id}][additional_info]", options_for_select(additional.student_additional_field_options.map{|b| [b.field_option,b.field_option]}, input_val)%></div>
          </div>
        <% elsif additional.input_type=="has_many" %>
          <div class="grades">
            <div class="label-field-pair">
              <label><%= additional.name %>
                <% if additional.is_mandatory %>
                  <span class="necessary-field">*</span>
                <% end %></label>
            </div>
            <div class="fee_category_scroll">
              <div class="sel-list">
                <%= t('select') %>: <%= link_to_function t('all'), "$$('input.check#{i}').each(function(checkbox) { checkbox.checked = true; });" %>,
                <%= link_to_function t('none'), "$$('input.check#{i}').each(function(checkbox) { checkbox.checked = false; });" %>
              </div>
              <% additional.student_additional_field_options.each do |k| %>
                <div class="each_batch">
                  <%= check_box_tag "student_additional_details[#{additional.id}][additional_info][]", k.field_option,(!(input_val.nil?) and input_val.include?(k.field_option)), :class=>"batches_box check#{i}" %> <label><%= k.field_option %></label>
                </div>
              <% end %>
            </div>
          </div>
          <% i+=1 %>
        <% elsif additional.input_type=="text_area" %>
          <div class="label-field-pair-text-area">
            <label><%= additional.name %>
              <% if additional.is_mandatory %>
                <span class="necessary-field">*</span>
              <% end %></label>
            <div class="textarea-input-bg"><%= text_area_tag "student_additional_details[#{additional.id}][additional_info]", input_val%></div>
          </div>
        <% elsif additional.input_type=="date" %>
          <div class="label-field-pair">
            <label><%= additional.name %>
              <% if additional.is_mandatory %>
                <span class="necessary-field">*</span>
              <% end %>
            </label>
            <div class="text-input-bg"><%= calendar_date_select_tag "student_additional_details[#{additional.id}][additional_info]", input_val, :readonly => true %>
            </div>
          </div>
        <% else %>
          <div class="label-field-pair">
            <label><%= additional.name %>
              <% if additional.is_mandatory %>
                <span class="necessary-field">*</span>
              <% end %></label>

            <div class="text-input-bg"><%= text_field_tag "student_additional_details[#{additional.id}][additional_info]", input_val %></div>
          </div>
        <% end %>
        <div class="extender"></div>

      <% end %>

    </div>
    <div class="save-proceed-button">
      <%= submit_tag "► #{t('save_and_proceed')}", :disable_with => "► #{t('please_wait')}" %>
    </div>
  <% end %>

</div>

<script>
  // var $=jQuery.noConflict();
  $(document).ready(function(){
      $("label:contains(Adhar)").siblings("div").children("input").on('input', function () {
        limitText(this, 12);
    });
  });
  function limitText(field, maxChar){
      var ref = $(field),
      val = ref.val();
      if ( val.length >= maxChar ){
        ref.val(function() {
          return val.substr(0, maxChar);       
        });
      }
      else
      {
        ref.val(function() {
          return val.replace(/[^0-9a-zA-Z]/gi, '');
        });      
      }
  }
  var $=jQuery.noConflict();
</script>
