<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('admission') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('parent_guardian_details_step2') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :student_admission2, @student %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="parents">

    <% unless @student.guardians.empty? %>

      <ul id="parents-list">
        <p><%= t('saved_message') %> <%= @student.full_name %> </p>
        <%- @student.guardians.each do |p| -%>
          <li class="list<%=cycle('odd', 'even')%>"><%= p.full_name %> - <%= p.relation %> </li>
        <%  end %>
        <div id="add-more-parent">
          <%= link_to_function "► #{t('add_another_guardian')}", :class => "user_button" do |page|
            page.visual_effect :toggle_slide, "admission1_form"
            page.hide "parents"
          end %>
        </div>
        <div id="skip">
          <%= link_to "► #{t('finish')}", {:controller => "student", :action => "admission3", :id => @student.id }, :class => "user_button" %>
        </div>
        <script type="text/javascript">
          Event.observe(window, 'load', function() { $('admission1_form').hide(); });
        </script>
      </ul>

    <%  end %>

  </div>

  <% form_for :guardian do |f| %>

    <%= f.error_messages :header_message => nil %>
    <% if f.error_messages.present?  %>
      <script type="text/javascript">
        Event.observe(window, 'load', function() { $('parents').hide(); });
        Event.observe(window, 'load', function() { $('admission1_form').show(); });
      </script>
    <% end %>
    <div id="admission1_form">

      <div id="admission1_form_vertical_block_left">

        <div class="label-field-pair">
          <label for="parent_detail_student_id"><%= "#{t('student_text')}  #{t('admission_number')}" %></label>
          <div class="text_display"><%= @student.admission_no %></div>
          <%= f.hidden_field :ward_id, :value => @student.id %>
        </div>

        <br/>
        <span class="span-sub-heading"><%= t('parent') %> - <%= t('personal_details') %></span>
        <hr class="sub-heading"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_name"><%= t('first_name') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= f.text_field :first_name %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_name"><%= t('last_name') %></label>
          <div class="text-input-bg"><%= f.text_field :last_name %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_relation"><%= t('relation') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= f.text_field :relation %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_dob"><%= t("date_of_birth") %></label>
          <div class="text-input-bg"><%= calendar_date_select_tag 'guardian[dob]', I18n.l(@guardian.dob || Date.today-10.years,:format => :default),
              :year_range => 83.years.ago..4.years.ago, :readonly=>true, :popup=>"force" %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_education"><%= t('education') %></label>
          <div class="text-input-bg"><%= f.text_field :education %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_occupation"><%= t('occupation') %></label>
          <div class="text-input-bg"><%= f.text_field :occupation %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_income"><%= t('income') %></label>
          <div class="text-input-bg"><%= f.text_field :income %></div>
        </div>

        <br/>

        <span class="span-sub-heading"><%= t("parent") %> - <%= t('contact_details') %></span>

        <hr class="sub-heading"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_email"><%= t('email') %></label>
          <div class="text-input-bg"><%= f.text_field :email %></div>
        </div>

        <hr class="label-underline"></hr>
      </div>

      <div id="admission1_form_vertical_block_right">

        <div class="label-field-pair">
          <label for="master_student_city"><%= t('address_line') %> 1</label>
          <% unless @student.address_line1.empty? %>
            <div class="text-input-bg"><%= f.text_field :office_address_line1,:value=>@student.address_line1 %></div>
          <% else %>
            <div class="text-input-bg"><%= f.text_field :office_address_line1 %></div>
          <% end %>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_city"><%= t('address_line') %> 2</label>
          <% unless @student.address_line2.empty? %>
            <div class="text-input-bg"><%= f.text_field :office_address_line2,:value=>@student.address_line2 %></div>
          <% else %>
            <div class="text-input-bg"><%= f.text_field :office_address_line2 %></div>
          <% end %>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_city"><%= t('city') %></label>
          <% unless @student.city.empty? %>
            <div class="text-input-bg"><%= f.text_field :city,:value=>@student.city %></div>
          <% else %>
            <div class="text-input-bg"><%= f.text_field :city %></div>
          <% end %>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_state"><%= t('state') %></label>
          <% unless @student.state.empty? %>
            <div class="text-input-bg"><%= f.text_field :state,:value=>@student.state %></div>
          <% else %>
            <div class="text-input-bg"><%= f.text_field :state %></div>
          <% end %>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_country"><%= t('country') %></label>
          <% unless @student.country.nil? %>
            <div class="text-input-bg"> <%= select :guardian, :country_id, Country.all.map {|c| [c.full_name, c.id]}, :selected => @student.country_id %> </div>
          <% else %>
            <div class="text-input-bg"> <%= select :guardian, :country_id, Country.all.map {|c| [c.full_name, c.id]}, :selected => 76 %> </div>
          <% end %>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_office_phone1"><%= t('phone') %> 1</label>
          <div class="text-input-bg"><%= f.text_field :office_phone1 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_office_phone2"><%= t('phone') %> 2</label>
          <div class="text-input-bg"><%= f.text_field :office_phone2 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_mob_phone"><%= t('mobile') %></label>
          <div class="text-input-bg"><%= f.text_field :mobile_phone %></div>
        </div>

        <hr class="label-underline"></hr>

      </div>

      <div class="extender">
        <%= submit_tag "", :value => " ► #{t('finish')}",  :name => "commit", :class => "submit_button3", :disable_with => "► #{t('please_wait')}" %>
      </div>
      <!-- <div id="skip">
        <%#= link_to "► #{t('click_here_to_skip')}", {:controller => "student", :action => "admission3", :id => @student.id }, :class => "user_button" %>
       </div>-->

    </div>
  <% end %>

</div>
<script type="text/javascript">
  history.pushState(null, null, document.URL);
  // alert(document.URL)
  window.addEventListener('popstate', function () {
      history.pushState(null, null, document.URL);
          });
</script>