<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('students') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('leaving_school') %></div>

</div>
<div id="page-yield">
<div class="bread_crumb">
    <% breadcrumb :student_change_to_former, @student %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="student-details">
    <h3><%= @student.full_name %></h3>
    <h4><%= t('adm_no') %> : <%= @student.admission_no %></h4>
    <h4><%= t('class') %> : <%= @student.batch.course_name %></h4>
  </div>

  <div class="extender"> </div>
  <% if @dependency.present? %>
    <% @dependency.each do |mod| %>
     <%= render :partial=>mod.classify.constantize.send("student_dependency_hook") if mod.classify.constantize.respond_to?("student_dependency_hook") %>
  <% end %>
  <% else %>
    <div id="remove-student">
      <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
      <p><%= t('description_for_students_leaving') %></p>
      <div id="necessary-field-notification"> <%= t('legend1') %> <span class="necessary-field">*</span> <%= t('legend2') %></div><br/>
      <% remote_form_for :remove, :before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>
        <div class="label-field-pair">
          <label for="remove_descr"><%= t('reason_for_leaving') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= f.text_field :status_description %></div>
        </div>
        <div class="label-field-pair">
          <label><%= t('leaving_date') %>:</label>
          <div class="input-container"><%= calendar_date_select_tag 'leaving_date', I18n.l(Date.today,:format=>:default) ,:popup=>:force%></div>
        </div>
        <div id="submit-button">
          <%= submit_tag "► #{t('delete_text')}", :id => 'submit_button' %>
        </div>

      <% end %>
    </div><br />
    <br/>
    <div id="tc-generate"></div>
  <% end %>
</div>