<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
 
<% content_for :head do %>
 <%= stylesheet_link_tag 'jquery-ui_1.css' %>
  <% if rtl? %>
    <%= stylesheet_link_tag 'rtl/rank_student/student_wise_report' %>
  <%else %>
    <%= stylesheet_link_tag 'rank_student/student_wise_report' %>
  <% end %>
<% end %>
<%= stylesheet_link_tag 'rank_student/fees_with_tmpl.css'%>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('student_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('fee_status') %></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('view_refunds')}",:controller => 'finance', :action => "refund_student_view",:id => @student.id  if permitted_to? :refund_student_view, :finance %> </li>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('student_profile')}", :controller => 'student', :action => 'profile', :id => @student.id %></li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :student_fees, @student %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
  <!--<div id="flash_box">
    <%# unless @flash_notice.nil? %>
      <p class="flash-msg">
        <%= @flash_notice %>
         <%# if permitted_to? :fees_received, :finance %>
          -<%#=link_to_remote t('student_fees_preferences'),:url=>{:action=>"student_fees_preference",:id=>@student.id},:method=>:get%>
        <%# end %>
      </p>
    <%# end %>
  </div>-->
  <div id="modal-box" style="display:none;"></div>
  <div id="student_profile_heading1">
    <div id="student_main_info1">
      <span class="name"><b> <%= @student.full_name %></b> </span>
      <span class="course"><%= t('course_and_batch') %>: <%= @student.batch.course_name %> - <%= @student.batch.name  %>  </span>
      <span class="adm"> <%= t('adm_no') %>: <%= @student.admission_no %> </span>
      <%# if roll_number_enabled? %>
        <!-- <span class="adm"> <%#= t('roll_no') %>: <%#= (@student.roll_number.present? ? @student.roll_number : "-")  %> </span> -->
      <%# end %>
    </div>
    <div class="extender">
    </div>
  </div>
   <div class="fees">
    <% if (permitted_to? :fees_received, :finance)%>
      <% form_for :fee do |f|%>
        <div class="check_box"><%= check_box :fee, :has_paid_fees,:checked=>@student.has_paid_fees %></div>
        <div class="paid_text"><%= t('has_paid_all_the_fees') %></div>
        <%= submit_tag "► #{t('update')}",:class=>'user_button' %>
    <%#=link_to_remote t('student_fees_preferences'),:url=>{:action=>"student_fees_preference",:id=>@student.id},:method=>:get%>
      <% end %>
    <% end %>
    <div class="batch_transfer">
      <% @batch_transfer_with_fee_paid= BatchTransferWithFeePaid.find_by_current_batch_id_and_student_id_and_is_refunded_and_is_deducted(@student.batch.id,@student.id,false,false)%>
        <%# finance_fees=Batch.find_by_id(batch.id).finance_fees.select{|p| p.student_id==@student.id}.map{|i| i.balance}%>
        <%# finance_fees=FinanceFeeParticular.find_all_by_batch_id(batch.id).map{|p| p.amount} %>
      <%finance_fees=Student.find_by_id(@student.id).finance_fees.select{|p| p.batch_id == @student.batch.id}.map{|l| l.balance.to_f}%>
      <%@finance_amount=finance_fees.inject{|sum,y| sum + y }%>
      <% unless @batch_transfer_with_fee_paid.nil? %>
        <% @paid_amount = @batch_transfer_with_fee_paid.paid_amount %>
        <% if @current_user.admin? %>
          <% unless @finance_amount.nil? %>
            <%# if @batch_transfer_with_fee_paid.is_refunded==true and @batch_transfer_with_fee_paid.is_deducted==true%>
            <%# else %>
              <% if @finance_amount > @paid_amount %>
                <span class="batch_transfer_full_name"><%= t('batch_Transfer_yuva') %> <%= t('with') %>
                    <%=precision_label(@paid_amount)%> <%=  t('amount') %>
                </span>
                <div id="refund1">
                  <%= link_to_remote "Click Here", :url => {:controller => "batch_transfers", :action => "discount_details", :id =>@student.id} %>&nbsp;&nbsp;<%=  t('for_discount') %>
                </div>
              <%else%>
                <span class="batch_transfer_full_name"> <%= t('batch_Transfer_yuva') %> <%= t('with') %>
                    <%=precision_label(@paid_amount)%> <%=  t('amount') %>
                </span> 
                <div id="refund">
                  <%= link_to_remote "Click Here", :url => {:controller => "batch_transfers", :action => "refund_details", :id =>@student.id} %>&nbsp;&nbsp;<%=  t('after_refund') %>
                </div>
              <% end %>
            <%# end %>
          <%else%>
            <span class="batch_transfer_full_name"> <%= t('batch_Transfer_yuva') %> <%= t('with') %>
              <%=precision_label(@paid_amount)%> <%=  t('amount') %>
            </span> 
            <div id="refund">
              <%= link_to_remote "Click Here", :url => {:controller => "batch_transfers", :action => "refund_details", :id =>@student.id} %>&nbsp;&nbsp;<%=  t('after_refund') %>
            </div>
          <% end %>
        <% end %> 
      <% end %>
    </div>
  </div>
  <div class="extender">
  </div>
  <div class="line">
  </div>
  <div class="extender">
  </div>
  <%= render :partial=> "rank_student/student_wise_report" ,:locals=>{:batches=>@batches}%>
</div>
