<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('parent_info') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('parents_profile') %></div>

<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('student_profile')}", :controller => 'student', :action => 'profile', :id => @student.id %></li>
    <% if (((permitted_to? :add_guardian, :student) && (@student.batch.start_date_lock == false)) or (@current_user.admin?)) %>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('add_guardian')}", :controller => 'student', :action => 'add_guardian', :id => @student.id %></li>
      <%if (Configuration.find_by_config_key('EnableSibling').present? and Configuration.find_by_config_key('EnableSibling').config_value=="1") and  permitted_to? :admission1_2, :student%>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('configure_sibling')}", :controller => 'student', :action => 'admission1_2', :id => @student.id,:configure=>"config"%></li>
      <%end%>
    <% end %>
  </ul>
</div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= breadcrumb :student_guardians, @student %>
    <%= render_breadcrumbs  %>
  </div>

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="student_profile_heading">



    <div id="student_main_info">
      <span class="name"> <%= truncate(@student.full_name, 30) %>  </span>
      <span class="course"><%= t('course_and_batch') %>: <%= truncate(@student.batch.course_name, 15) %> </span>
      <span class="adm"><%= t('adm_no') %>: <%= @student.admission_no %> </span>
    </div>

    <div class="extender"> </div>

  </div>

  <div id="guardians-links">

    <ul>
      <span><%= t('parents_guardian') %>:</span>
      <% @parents.each do |p| %>
        <li><a class="themed_hover_text" href="#guardian-details-id-<%= p.id %>"><%= " #{p.full_name} &#x200E;" %></a> <%= "( #{p.relation} ) &#x200E;"%></li>
      <% end %>
    </ul>

  </div>


  <div id="parent-list">

    <% @parents.each do |p| %>

      <a name="guardian-details-id-<%= p.id %>"> </a>
      <div id="new_profile_info_top">
        <table width ="700">
          <tr class="odd left"><td><%= t('name') %></td><td class="right"><%= shorten_string(p.full_name,35) %></td></tr>
          <tr class="even left"><td><%= t('relation') %></td><td class="right"><%= p.relation  %></td></tr>
          <tr class="odd left"><td><%= t('date_of_birth') %></td><td class="right"><%= p.dob.strftime('%d %B, %Y') unless p.dob.nil? %></td></tr>
          <tr class="even left"><td><%= t('email') %></td><td class="right"><%= p.email  %></td></tr>

          <tr class="odd left"><td><%= t('office_phone1') %></td><td class="right"><%= p.office_phone1 %></td></tr>
          <tr class="even left"><td><%= t('office_phone2') %></td><td class="right"><%= p.office_phone2 %></td></tr>

          <tr class="odd left"><td><%= t('mobile_phone_no') %></td><td class="right"><%= p.mobile_phone  %></td></tr>
          <tr class="even left"><td><%= t('address') %></td><td class="right"><%= p.office_address_line1%> <%= p.office_address_line2%></td></tr>
          <tr class="odd left"><td><%= t('city') %></td><td class="right"><%= p.city %> </td></tr>
          <tr class="even left"><td><%= t('state') %></td><td class="right"><%= p.state %>  </td></tr>
          <tr class="odd left"><td><%= t('country') %></td><td class="right"><%= p.country.nil? ? "" : p.country.full_name %> </td></tr>
          <tr class="even left"><td><%= t('income') %></td><td class="right"><%= p.income %></td></tr>
          <tr class="odd left"><td><%= t('occupation') %></td><td class="right"><%= p.occupation %></td></tr>
        </table>
        <div class="extender"></div>
      </div>
      <div class="button-pair">
        <% if (((permitted_to? :edit_guardian,:student) &&(@student.batch.start_date_lock == false)) or (@current_user.admin?)) %>
          <div class="parent-edit-button">
            <%= link_to "► #{t('edit_text')}",
              { :controller => 'student', :action => 'edit_guardian', :id => p.id,:student_id=>@student.id}, :class=>"user_button" %>
          </div>
        <%  end %>
        <% if permitted_to? :del_guardian,:student %>
          <%  if @student.guardians.size > 1 %>
            <div class="parent-edit-button">
              <%= link_to "► #{t('delete_text')}",
                {:controller => 'student', :action => 'del_guardian', :id => p.id ,:student_id=>@student.id},
                {:confirm => "#{t('are_you_completely_sure')}", :class=>"user_button"} %>
            </div>
          <%  end %>
        <% end %>
      </div>

      <div class="extender"></div>
    <% end %>

  </div>
</div>
