<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<script type="text/javascript"> function setOption(optn) {document.getElementById("option").value = optn;} </script>



<div id="content-header">
  <div class="header-icon student-icon"></div>
  <h1><%= t('student_details') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('view_details') %></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to t('view_all'), :controller=>"student", :action=>"view_all" %></li>
      <li class='themed_bg themed-dark-hover-background' ><%= link_to t('advanced'), :controller=>"student", :action=>"advanced_search" %></li>
    </ul>
  </div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="search_box_bg">
    <form name="search_form" action="" style="display:inline;">
      <%= hidden_field_tag("option", params['option'], :value => "active") %>
      <label for="user_name"><%= t('search_text') %>
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>
      </label>
      <div id="search_textbox">
        <%= text_field_tag("query", params['query'], :autocomplete => 'off') %>

      </div>
      <div class="radio_button">
        <input type="radio" name="setopt" id="search_present_students_radio" checked="checked" onclick="setOption('active')" /><%= t('present_student') %>
        <input type="radio" name="setopt" id ="search_former_students_radio"onclick="setOption('former')" /><%= t('former_student') %>
      </div>
      <div class="extender"></div>
    </form>
  </div>
  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="view_all">

  </div>


<%#= observe_fields ['query', 'option'],
:frequency => 0.5,
:update => 'information',
:before => "Element.show('loader')",
:success => "Element.hide('loader')",
:url => {:action => 'search_ajax'} %>

  <script type="text/javascript">
    function search_ajax(){
      if ($('query').value.include("%")) return;
<%="#{remote_function(:url => {:action => "search_ajax"},
:with =>"j('form').serialize()",
:before => "Element.show('loader')",
:success => "Element.hide('loader')",
:update=>"information"
)}"%>
  }

  document.observe("dom:loaded", function() {
    new Form.Element.Observer('query', 1, search_ajax);
    new Form.Element.Observer('option', 0.5, search_ajax);
  });

  </script>

  <div id="information"></div>

</div>
