<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= stylesheet_link_tag "rank_student/profile_with_tmpl.css" %>
<script>
  j(document).ready(function() {
    j("#drop_header").hover(
      function () {
        link_off = j("#drop_header").offset();
        link_width = j("#drop_header").width();
        link_height = j("#drop_header").height();
        box_width = j("#box_1").width();
      //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
      j("#box_1").css({top: (link_off.top + link_height),left: ((link_off.left + link_width) - box_width)});
      j("#box_1").css("display","block");
    },
    function () {
      j("#box_1").css("display","none");
    });
  });
</script>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('student_info') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('student_profile') %></div>

  <div id="inner-tab-menu">
    <ul>
      <% if permitted_to? :reports,:student  or @current_user.admin?%>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('reports_text')}", :controller => 'student',
        :action => 'reports', :id => @student.id %></li>
        <%end%>

        <% if permitted_to? :guardians,:student %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('guardians_text')}", :controller => "student",
          :action => "guardians", :id => @student.id %></li>
          <% end %>
          <% if permitted_to? :email,:student %>
          <% if @student.is_email_enabled %>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('send_email')}", :controller => "student",
            :action => "email", :id => @student.id %></li>
            <%  end %>
            <%  end %>
            <% if permitted_to? :remove, :student or permitted_to? :admission1, :student %>
            <%# if (((permitted_to? :remove, :student or permitted_to? :admission1, :student) && (@student.batch.start_date_lock == false)) or (@current_user.admin?)) %>
            <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('delete_text')}", :controller => 'student',
              :action => 'remove_student', :id => @student.id %></li>
              <% end %>
              <li id="drop_header" class='themed_bg themed-dark-hover-background'>
                <a href="#" id="drop_header_link"><%= t('more') %> &#9660;</a>
                <ul id="box_1" class="more-menu-div" style="display:none;">
                  <% if @sms_module.include?('Finance') and permitted_to? :fees, :student%>
                  <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('fees_text')}", :controller => 'student',:action => 'fees', :id => @student.id %></li>
                  <% end %>
                  <% if !@student.batch.subjects.empty? and permitted_to? :my_subjects, :student or @current_user.privileges.map{|p| p.name}.include?("StudentsControl")%>
                  <li class="themed_bg themed-dark-hover-background"><%= link_to "#{t('my_subjects')}", :controller => 'student', :action => 'my_subjects' ,:id => @student.id%></li>
                  <%end%>
                  <% FedenaPlugin::ADDITIONAL_LINKS[:student_profile_more_menu].each do |mod| %>
                  <% if can_access_request? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym  %>
                  <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t(mod[:title])}",mod[:destination].merge(:id=>@student.id) %></li>
                  <% end %>
                  <% end %>
                  <li class="themed_bg themed-dark-hover-background"><%= link_to "#{t('activities')}", :controller => 'student', :action => 'activities' ,:id => @student.id%></li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
        <div id="page-yield">
          <div class="bread_crumb">
            <% breadcrumb :student_profile, @student %>
            <%= render_breadcrumbs  %>
          </div>

          <% unless flash.now[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

          <div id="student_profile_heading">

            <div id="profile_picture_display">
              <% if @student.photo.file? %>
              <%= image_tag @student.photo.url(:original, false) %>
              <% else %>
              <%= image_tag "master_student/profile/default_student.png" %>
              <% end %>
            </div>

            <div id ="student_main_info">
              <h3> <%= @student.full_name %>  </h3>
              <h4> <%= t('course_text') %>: <%= @student.batch.course.full_name %> </h4>
              <h4> <%= t('batch') %> : <%= @student.batch.name %> </h4>
              <h4> <%= t('adm_no') %> : <%= @student.admission_no %> </h4>
            </div>

            <div class="extender"> </div>

          </div>

          <div id="new_profile_info_top">

            <table width="700">
              <tr class="odd left"><td><%= t('admission_date') %></td><td class="right"><%= I18n.l(@student.admission_date,:format=>:normal) unless @student.admission_date.nil? %></td></tr>
              <tr class="even left"><td><%= t('date_of_birth') %></td><td class="right"><%= I18n.l(@student.date_of_birth,:format=>:normal) unless @student.date_of_birth.nil? %></td></tr>
              <tr class="odd left"><td><%= t('blood_group') %></td><td class="right"><%= @student.blood_group %></td></tr>
              <tr class="even left"><td><%= t('gender') %></td><td class="right"><%= t("#{@student.gender_as_text.downcase}") %></td></tr>

              <tr class="odd left"><td><%= t('nationality') %></td><td class="right"><%= @student.nationality.full_name unless @student.nationality_id.nil? %></td></tr>
              <tr class="even left"><td><%= t('mother_tongue') %></td><td class="right"><%= @student.language %></td></tr>

              <tr class="odd left"><td><%= t('category') %></td><td class="right"><%= @student.student_category.name unless @student.student_category.nil? %></td></tr>
              <tr class="even left"><td><%= t('religion') %></td><td class="right"><%= @student.religion %></td></tr>
              <tr class="odd left"><td><%= t('address') %></td><td class="right"><%= @student.address_line1%><%= ', ' unless @student.address_line1.blank? %><%=  @student.address_line2 %></td></tr>
              <%#*<tr class="even left"><td></td><td class="right"><%= @student.address_line2%>
              <tr class="even left"><td><%= t('city') %></td><td class="right"><%= @student.city %></td></tr>
              <tr class="odd left"><td><%= t('state') %></td><td class="right"><%= @student.state %></td></tr>
              <tr class="even left"><td><%= t('zip') %></td><td class="right"><%= @student.pin_code %></td></tr>
              <tr class="odd left"><td><%= t('country') %></td><td class="right"><%= @student.country.full_name unless @student.country_id.nil? %></td></tr>
              <tr class="even left"><td><%= t('birth_place') %></td><td class="right"><%= @student.birth_place %></td></tr>
              <tr class="odd left"><td><%= t('phone') %></td><td class="right"><%= @student.phone1 %></td></tr>
              <tr class="even left"><td><%= t('mobile') %></td><td class="right"><%= @student.phone2 %></td></tr>
              <tr class="odd left"><td><%= t('email') %></td><td class="right"><%= @student.email %></td></tr>
              <% unless @assigned_employees.empty? %>
              <tr class="odd left"><td><%= t('group_tutor') %>(s) :</td><td class="right">
                <% @tutors = @assigned_employees.map{|e| e.full_name} %>
                <% @tutor_ids = @assigned_employees.map{|e| e.user_id} %>
                <%= link_to @tutors.join(", "),:controller=>'reminder',:action=>'create_reminder',:send_to=>@tutor_ids.join(",")  %>
              </td></tr>

              <% end  %>
              <% FedenaPlugin.deliver_registered_hook(:student_profile).each do |mod| %>
              <%= render :partial=>mod.camelize.constantize.send("student_profile_hook"),:locals=>{:student=>@student} %>
              <% end %>
              <% if @sms_setting.application_sms_active %>
              <tr class="odd left"><td><%= t('sms_alerts') %></td><td class="right"><%= @student.is_sms_enabled?? "Enabled":"Disabled" %></td></tr>
              <% end  %>
              <tr class="even left"><td><%= t('email_alerts') %></td><td class="right"><%= @student.is_email_enabled?? "Enabled":"Disabled" %></td></tr>
              <tr class="odd left"><td><%= t('biometric_id') %></td><td class="right"><%= @biometric_id %></td></tr>
              <% unless @immediate_contact.nil? or @immediate_contact.user_id.nil? %>
              <tr class="even left"><td></td><td class="right"><%= t('immediate_contact') %></td></tr>
              <tr class="odd left"><td><%= t('name_text') %></td><td class="right"><%= link_to @immediate_contact.full_name, :controller => "student", :action => "guardians", :id => @student.id %></td></tr>
              <% if @immediate_contact and !@immediate_contact.mobile_phone.empty? %>
              <tr class="even left"><td><%= t('contact_number') %></td><td class="right"><%=  @immediate_contact.mobile_phone %></td></tr>
              <% end %>
              <% unless @immediate_contact.user.nil? %>
              <tr class="odd left"><td><%= t('username') %></td><td class="right"><%=  @immediate_contact.user.username %></td></tr>
              <% else %>
              <tr class="odd left"><td><%= t('username') %></td><td class="right"><%= "No Contact found" %></td></tr>
              <% end %>
              <%if permitted_to? :admission3_1,:student %>
              <tr class="even left"><td></td><td class="right"><%= link_to "#{t('change_contact')}", :controller => 'student', :action => 'admission3_1', :id => @student.id %></td></tr>
              <% end %>
              <%else%>
              <% if (((permitted_to? :add_guardian,:student) && (@student.batch.start_date_lock == false)) or (@current_user.admin?)) %>
              <span>
                <tr class="even left"><td></td><td class="right"><%= t('no_guardian') %> (<%= link_to "#{t('add_guardian')}",:controller => 'student',:action => 'add_guardian', :id => @student.id %><%if @student.guardians.present?%>/<%= link_to "#{t('choose_from_existing')}",:controller => 'student',:action => 'admission3_1', :id => @student.id %><%end%>)</td></tr>
              </span>
              <%else%>
              <tr class="even left"><td></td><td class="right"><%= t('no_guardian') %></td></tr>
              <%end%>
              <%end%>
              <% unless  @additional_details.empty? %>

              <% @additional_details.each do |detail| %>
              <% p =cycle('2',' ') %>
              <tr class="even left">
              <% if detail.student_additional_field.input_type == "date" %>
              <td><%= detail.student_additional_field.name %></td>
                <td class="right">
                  <%= Date.parse(detail.additional_info).strftime("%b %d, %Y") unless detail.nil? %>
                </td>
               <% else %>
                <td><%= detail.student_additional_field.name %></td>
                <td class="right">
                  <%= detail.additional_info.gsub(/\n/, '<br>') unless detail.nil? %>                  
                </td>
                <% end %>
                <% end %>
              </tr>
              <tr class="odd left">
                <td></td>
                <td class="right">

                  <% if permitted_to? :edit_admission4,:student %>
                  <% unless @additional_details.blank? %>
                  <span> (<%= link_to "#{t('edit_additional_details')}", :controller => 'student', :action => 'admission4', :id => @student.id %>)</span>
                  <% end %>
                  <% end %>
                </td>
              </tr>
              <% else %>
              <% unless @additional_fields_count == 0 %>
              <% if permitted_to? :admission4,:student %>
              <tr class="odd left">
                <td></td>
                <td class="right">
                  <span> (<%= link_to "#{t('add_additional_details')}", :controller => 'student', :action => 'admission4', :id => @student.id %>)</span>
                </td>
              </tr>
              <% end %>
              <% end %>
              <% end %>
              <% unless @previous_data.nil? %>
              <tr class="even left"><td></td><td class="right"><%= t('previous_details') %></td></tr>
              <tr class="odd left"><td><%= t('previous_institution') %></td><td class="right"><%= link_to @previous_data.institution,:action=>'show_previous_details', :id => @student.id %></td></tr>
              <%else%>
              <% if (((permitted_to? :previous_data,:student) && (@student.batch.start_date_lock == false)) or (@current_user.admin)) %>
              <tr class="even left"><td></td><td class="right"><%= t('no_previous_data') %> (<%= link_to "#{t('add_previous_data')}", :controller => 'student', :action => 'previous_data_from_profile', :id => @student.id %>)</td></tr>
              <% else %>
              <tr class="odd left"><td></td><td class="right"><%= t('no_previous_data') %></td></tr>
              <% end %>
              <% end %>

              <% if @current_user.admin? or permitted_to? :edit, :student %>
              <tr class="odd left"><td><%= t('attachments') %></td>
                <% if !@student_docs.blank? %>
                <td class="right">
                  <% @student_docs.each do |stud_doc| %>
                  <div>
                    <span style="float:left;width:75%;max-width: 75%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= link_to stud_doc.document_file_name, :controller => "student", :action => "download_attachment" , :id=>stud_doc.id%></span>
                    <span style="float:left; text-align: center; width:25%;" Onclick="return ConfirmDelete();"><%= link_to 'Delete',url_for(:controller => "student",:action => "attachment_destroy",:id => stud_doc.id) %></span>
                  </div>
                  <% end %>
                </td>
                <% else %>
                <td class="right"><%= "No Attached files" %></td>
                <% end %>
              </tr>
              <% end %>
            </table>

            <% if @current_user.admin? or permitted_to? :edit, :student %>
            <% form_for :student_document, :html => {:multipart => true}, :url => {:controller => "student", :action => 'upload_document' } do |f| %>
            <%= f.hidden_field :student_id, :value => @student.id %>
            <br><div class="label-field-pair" style="padding-left:30px;">
            <label for="student_image_file"><%= t('upload_doc') %>(<%= t('max_size1') %>)</label>
            <div class="text-input-bg"><%= f.file_field :document,:size=>12 %></div>
            <%= error_messages_for  :student_document %>
            </div>
          <%= f.submit "", :value => "► #{t('document_upload')}", :class => "user_button"%><br>
          <% end  %>
          <% end  %>

            <% if @current_user.admin? %>
          <div class="buttons">
            <%= link_to " ► #{t('edit_text')}",
            { :controller => "student", :action => "edit", :id => @student.id },:class => "user_button"%>

            <%= link_to " ► #{t('pdf_report')}",
            {:controller => "student", :action => "profile_pdf", :id => @student.id},:target => '_blank', :class=> 'user_button' %>
          </div>
          <% elsif permitted_to? :edit, :student %>
          <%if @student.batch.start_date_lock == false%>
          <div class="buttons">
            <%= link_to " ► #{t('edit_text')}",
            { :controller => "student", :action => "edit", :id => @student.id },:class => "user_button"%>

            <%= link_to " ► #{t('pdf_report')}",
            {:controller => "student", :action => "profile_pdf", :id => @student.id},:target => '_blank', :class=> 'user_button' %>
          </div>
          <%end%>
          <%elsif permitted_to? :profile_pdf,:student%>
          <div class="buttons">
            <%= link_to " ► #{t('pdf_report')}",
            {:controller => "student", :action => "profile_pdf", :id => @student.id},:target => '_blank', :class=> 'user_button' %>
          </div>
          <% end %>

        </div>
      </div>

      <script>
        function ConfirmDelete()
        {
          var x = confirm("Are you sure! you want to delete?");
          if (x)
            return true;
          else
            return false;
        }
      </script> 