<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('students') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('remove_student') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :student_remove, @student %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
  <% end %>

   <ul>
     <li><div class="title"><%= t('student_name')  %> </div> <div class="seperator"> : </div> <div class="value"><%= @student.full_name %></div></li>
    <li><div class="title"><%= t('adm_no') %> </div> <div class="seperator"> : </div> <div class="value"><%= @student.admission_no %></div></li>
    <li><div class="title"><%= t('class') %></div> <div class="seperator"> : </div> <div class="value"><%= @student.batch.course_name %></div></li>
  </ul>

  <div class="extender"> </div>
  <% if (@student.batch.end_date_lock == false) or (@current_user.admin?)%>
    <div class="link-box">
      <div class="link-heading"> <%= link_to "#{t('leaving_institution')}", :controller => "student", :action => "change_to_former", :id => @student.id %> </div>
      <div class="link-descr"><%= t('leaving_institution_message') %></div>
    </div>
  <%end%>
  <% if (@student.batch.start_date_lock == false) or (@current_user.admin?)%>
    <div class="link-box">
      <div class="link-heading"> <%= link_to "#{t('remove_student_records')}", {:controller => "student", :action => "destroy", :id => @student.id} ,:confirm => "#{t('are_you_completely_sure')}" %> </div>
      <div class="link-descr"><%= t('remove_student_message') %></div>
    </div>
  <%end%>

  <!--

<div id="remove-student">
  <h4><%= link_to "#{t('student_left_message')}" %></h4>
  <p>For students leaving the school, use this option to remove them from the list of active students and place them in the former students list.</p>
  <% form_for :remove do |f| %>
      <div class="label-field-pair">
        <label for="remove_descr">Reason for leaving</label>
        <div class="text-input-bg"><%= f.text_field :description %></div>
      </div>
      <div class="extender"> </div>
    <%= image_submit_tag '/images/buttons/remove.png', :disable_with => "► #{t('please_wait')}" %>
  <% end %>
</div>

<div id="delete-student">
  <h4>Delete student</h4>
  <p>Completely delete student's records from the school's databases. Use this option only if you created the student record by accident and want to remove it completely.</p>

  <p class="warning">(Warning: All records will be deleted for the student and cannot be recovered.)</p>
  <%= link_to image_tag('/images/buttons/delete.png', :border => 0),
    { :action => 'destroy', :id => @student.id }, :confirm =>"#{t('are_you_completely_sure')}" %>
</div>
  -->

</div>
