<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('student_info') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('previous_details') %></div>

<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('profile_text')}", :action=>:profile, :id=>@student.id %> </li>
  </ul>
</div>

</div>
<div id="page-yield">
<div class="bread_crumb">
    <% breadcrumb :student_show_previous_details, @student %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="student_profile_heading">

    <div id="profile_picture_display">
      <% if @student.photo.file? %>
        <%= image_tag @student.photo.url(:original, false) %>
      <% else %>
        <%= image_tag "master_student/profile/default_student.png" %>
      <% end %>
    </div>

    <div id ="student_main_info">
      <h3> <%= @student.full_name %>  </h3>
      <h4> <%= t('course_and_batch') %> : <%= @student.batch.course_name %> </h4>
      <h4><%= t('adm_no') %>: <%= @student.admission_no %> </h4>
    </div>

    <div class="extender"> </div>
  </div>

  <div id="new_profile_info_top">



    <% unless @previous_data.nil? %>
      <div class="new_profile_info_area1">
        <div class="profile_info_label_top"><%= t('institution_name') %></div>
        <div class="profile_info_text_top"><%=@previous_data.institution %></div>
      </div>
      <div class="new_profile_info_area1">
        <div class="profile_info_label_top2"><%= t('course_text') %></div>
        <div class="profile_info_text_top2"><%=@previous_data.course %></div>

        <div class="profile_info_label_top"><%= t('year') %></div>
        <div class="profile_info_text_top"><%=@previous_data.year %></div>
      </div>
      <div class="new_profile_info_area1">
        <div class="profile_info_label_top2"><%= t('total_mark') %></div>
        <div class="profile_info_text_top2"><%=@previous_data.total_mark %></div>
      </div>
      <div class="new_profile_info_area1">
        <div class="profile_info_label_top"></div>
        <div class="profile_info_text_top"><u><%= t('subject') %></u></div>
      </div>
      <% unless @previous_subjects.blank? %>
        <div class="prev_subject_box">
          <% @previous_subjects.each do |s| %>
            <% a =cycle('2','') %>
            <div class="new_profile_info_area2">
              <div class="profile_info_label_top_1<%=a %>"><%= s.subject %> </div>
              <div class="profile_info_text_top_1<%=a %>"><%= s.mark %> </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="new_profile_info_area1">
          <div class="profile_info_label_top"></div>
          <div class="profile_info_text_top"><u>(<%= t('no_previous_subject') %>)</u></div>
        </div>
      <% end %>
    <% end %>

    <% if (((permitted_to? :previous_data_edit,:student) && (@student.batch.start_date_lock == false)) or (@current_user.admin?)) %>
    <div class="buttons">
      <%= link_to " ► #{t('edit_text')}",
        { :controller => "student", :action => "previous_data_edit", :id => @student.id },:class => "user_button"%>
    </div>
    <% end %>
    <div class="extender"></div>
  </div>

</div>
