<%= stylesheet_link_tag 'master_courses/edit.css' %>
<%= flash[:notice] %>
<div class="well">
  <% form_for @master_course do |f| %>
    <%= f.error_messages %>

     <table width="100%">
      <tr>
        <td class="label-field-pair">
          Course name
        </td>
        <td class="input-container">
          <%= f.text_field :course_name %>
        </td>
      </tr>
      <tr>
        <td class="label-field-pair">
          Section name
        </td>
        <td class="input-container">
          <%= f.text_field :section_name %>
        </td>
      </tr>
      <tr>
        <td class="label-field-pair">
          Code
        </td>
        <td class="input-container">
          <%= f.text_field :code %>
        </td>
      </tr>
      <tr>
        <td class="label-field-pair">
          Fee Structure
        </td>
        <td class="input-container">
          <%= f.text_field :fee_structure %>
        </td>
      </tr>
      <% unless @grade_types.blank? %>
        <tr>
          <td class="label-field-pair">
            Grading System type
          </td>
          <td class="input-container">
            <%= f.select :grading_type,@grade_types %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="label-field-pair">
          Active
        </td>
        <td class="input-container">
          <%= f.check_box :status %>
        </td>
      </tr>
    </table>
    <div class="form-actions">
      <%= submit_tag "", :value => "► Save", :class => "default btn", :disable_with => "► #{t('please_wait')}" %>
    </div>
  <% end %>
</div>