<%= stylesheet_link_tag 'master_courses/show.css' %>
<%= flash[:notice] %>
<div class="well">
  <%= link_to "Assign Course", assign_course_master_courses_path, :class=>"btn" %>
  <div class="details">
    <table width="100%">
      <tr>
        <td class="label-field-pair">
          <label>Course name</label>
          <%=h @master_course.course_name %>
        </td>
        <td class="label-field-pair" align="right">
          <label>Section name</label>
          <%=h @master_course.section_name %>
        </td>
      </tr>
      <tr>
        <td class="label-field-pair">
          <label>Code</label>
          <%=h @master_course.code %>
        </td>
        <td class="label-field-pair" align="right">
          <label>Grading System type</label>
          <% grade_name = @grade_types.select{|g| g[1]=="0"} %>
          <% if grade_name.present? %>
            <%= grade_name.first[0] %>
          <% else %>
            <%=h @master_course.grading_type%>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="label-field-pair">
          <label>Fee Structure</label>
          <%=h @master_course.fee_structure %>
        </td>
      </tr>
    </table>
  </div>
  <br /><br />
  <h4>Assigned Schools</h4>
  <table class='table table-striped table-bordered'>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="2"></th>
    </tr>

    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.name , school %></td>
        <td><%=h school.code %></td>
        <td><%= link_to 'Unassign', deassign_course_master_course_path(@master_course,:school_id=>school), :confirm => 'Are you sure?',:class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </table>
</div>