<div class="fields">
  <div class="label-field-pair-attachment">
	  <label for="student_image_file"><%= t('attachment') %> &#x200E;(<%= t('max2_size') %>)</label>
	  <div class="text-input-bg"><%= file_field_tag :attachment2,:size=>12,:id=>"image1", :onchange =>"GetFileSize1(this);",:data => {
                :max_file_size => 5.megabytes
              } %></div>
	  <!-- <div class="text-input-bg"><%#= paperclip_file_field :attachment, :direct=>false, :size=>12 %></div> -->
	</div>
</div>