<% unless @pre_student_applicant.blank? %>
  <% form_for :search,:url=>{:action=>:pre_student_sort} do %>
    <%= hidden_field_tag :course_id,@registration_course.id %>
    <div class="filter">
      <div class="col">
        <div class="col-label"><%= t('status') %>:</div>
        <div class="text-input-bg">
          <%=  select :search,:status,[[t('pending'),"false"],
            [t('alloted'),"true"]],\
            :selected=>(params[:search] and params[:search][:status] ? params[:search][:status] : "")%>
        </div>
      </div>
      <div class="col2">
        <div class="col-label"><%= t('from') %>: </div>
        <div class="text-input-bg2">  <%= calendar_date_select_tag 'search[created_at_gte]',
            (params[:search].blank? ? I18n.l((DateTime.now-30.days).to_date,:format=>:default) : params[:search][:created_at_gte]),:readonly=>true, :popup=>:force %>
        </div>
      </div>
      <div class="col2">
        <div class="col-label"><%= t('to') %>: </div>
        <div class="text-input-bg2">
          <%= calendar_date_select_tag 'search[created_at_lte]',
            (params[:search].blank? ? I18n.l((DateTime.now).to_date,:format=>:default) : params[:search][:created_at_lte]),:readonly=>true, :popup=>:force %>
        </div>
      </div>
      <%= submit_tag t('filter'),:class=>"submit_1" %>
    </div>
  <% end %>

  <% form_for :pre_student_allot,:url=>{:action=>:pre_student_allot} do |f| %>
  <%= hidden_field_tag :course_id,@registration_course.id %>
    <div class="row">
        <div class="label"><%= t('allot_selected_to') %>:</div>
        <% active_batches=[] %>
        <% if @registration_course.present? and @registration_course.present? %>
          <%# active_batches=@registration_course.batches.active %>
          <% active_batches = Batch.active.all(:order=>'id desc', :conditions=>"start_date_lock=false AND course_id = '#{@registration_course.id}'")%>
        <% end %>
        <div class="text-input-bg"> <%= f.select :batch, active_batches.map{|b| [b.full_name,b.id]} %> </div>
        <%#view = params[:search] and  params[:search][:status] ? params[:search][:status] : ""   %>
        <%#= f.hidden_field :view,:value=>view %>
        <%= f.submit t('allot') ,:class=>"sbutton"%></div>
        <%#= hidden_field_tag "id",params[:pre_student_applicant.id] %>
        <%#= t('o_r') %>
        <%#= f.submit t('discard') ,:class=>"sbutton"%>
      </div>
    <table id="listing_applicant" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td><%= check_box_tag :chkall,"",false,:onclick=>"$$('.right').each(function(checkbox) { checkbox.checked = !checkbox.checked; });" %></td>
        <td class="name">
            <lable><%= "#{t('reg_no')}"%></lable>
        </td>
        <td class="name">
            <lable><%= "#{t('name')}" %></lable>
        </td>
        <td class="date">
            <lable><%= "#{t('da_te')}" %></lable>
        </td>
        <td class="applicant_status">
            <lable><%= "#{t('status')}" %></lable>
        </td>
        <td><%= t('amount_paid') %></td>
        <td><%= t('total_amount') %> </td>
      </tr>
      <% i = 0 %>
      <% @pre_student_applicant.each do |pre_student_applicant| %>
        <tr class="tr-<%=cycle('even', 'odd')%>">
          <% @amount = PreFinanceTransaction.find_all_by_pre_student_registration_id(pre_student_applicant.id).map{|a| a.amount} %>
          <% paid = @amount.inject(0){|sum,x| sum + x } %>
          <% fees = pre_student_applicant.pre_std_course_fee %>
          <% if fees == 0 %>
            <% if pre_student_applicant.transferred == false %>
              <td class="chk"><%= check_box_tag "regid[]",pre_student_applicant.id,false,:class=>"right" %></td>
            <% else %>
              <td></td>
            <% end %>
          <% else %>
            <% if paid == 0 %>
                <td></td>
            <% elsif pre_student_applicant.transferred == true %>
              <td></td>
            <% elsif (fees/2 == paid)  || (paid >= fees/2) %>
                <td class="chk"><%= check_box_tag "regid[]",pre_student_applicant.id,false,:class=>"right" %></td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
          <td class="batch"><%= i+=1 %></td>
          <td class="name"><%= link_to pre_student_applicant.full_name, :action=>:view_pre_student,:id=>pre_student_applicant.id %></td>
          <td><%= I18n.l(pre_student_applicant.created_at.to_date,:format=>:normal) unless pre_student_applicant.created_at.to_date.nil? %></td>
          <td class="status">
            <% if pre_student_applicant.transferred == true %>
              <span class="alloted">Alloted</span>
            <% else %>
              <span class="pending">Pending</span>
            <% end %>
          </td>
          <td><%= paid %></td>
          <td><%= fees %></td>
        </tr>
      <% end %>
    </table>
    <%#= will_paginate @pre_student_applicant,:params=>{:action => "pre_student_applicant"} %>
    <%#if @pre_student_applicant.count >=1 and params[:view] != "alloted" %>
      
    <%#end %>
  <% end %>
  <!-- <div id = "button">
  <%#= link_to "PDF Report", {:controller=>"applicants_admins", :action => "applicants_pdf", :report_format_type => "pdf",:sort_order => @sort_order, :id => params[:id],:search => params[:search],:applicants => @applicants, :page_height => 760}, :target => '_blank',:class => "user_button" %></li>
  <%#= link_to "CSV Export", {:controller=>"csv_export", :action => "generate_csv", :csv_report_type => "applicant_registration", :report_format_type => "csv", :sort_order => @sort_order, :id => params[:id],:search => params[:search],:applicants => @applicants}, :class => "user_button" %></li> 
  </div>-->
<% else %>
  <p class="flash-msg"> <%= t('no_applicants_for_course') %> </p>
<% end %>
