<%#= stylesheet_link_tag 'pre_student_registrations/_pre_student_registration_form.css' %>
<%#= javascript_include_tag 'pre_student_registrations.js' %>
<%# form_for(@pre_student_registration, :url => {:action => 'update_pre_student_registration'} , :html => {:multipart => true}) do |s| %>
<% form_for(@pre_student_registration, :url => {:action => 'update_pre_student_registration', :id=>@pre_student_registration.id},:html => {:multipart => true, :onsubmit=> "return validate_image();"}) do |s| %>
  <%# if s.error_messages.present? %>
   <!-- <div id="content-header">
     <%= show_header_icon %>
     <h1><%#= "#{t('pre_student_register')}"%></h1>
     <div class='header-sep'>|</div>
     <div class='sub-header'><%#= "#{t('pre_student_register')}"%></div>
     <div id="inner-tab-menu">
      <ul>
        <li class='themed_bg themed-dark-hover-background'><%#= link_to t('manage_course'), :controller=>"pre_student_registrations", :action => 'manage_courses' %></li>
      </ul>
    </div>
   </div> -->
  <%# end %>
  <%# if s.error_messages.present? %>
   <!--  <div id="page-yield">
      <div class="bread_crumb">
        <%# breadcrumb :pre_student_registrations_index %>
        <%= render_breadcrumbs  %>
      </div>
    </div> -->
  <%#end%>
  <%= s.error_messages :header_message => nil %>
  <%# if s.error_messages.present? %>
    <!-- <div class="label-field-pair">
      <label for="course"><%#= t('course_name') %></label>
        <div class="text-input-bg"><%#= text_field_tag :course_name,@course.course_name,:readonly => true %></div>
    </div> -->
  <%#end%>

  <div class="label-field-pair">
    <label for="course"><%= t('course_name') %></label>
      <div class="text-input-bg"><%= text_field_tag :course_name,@course.course_name,:readonly => true %></div>
  </div>
  
  <div class="label-field-pair">
    <label for="course"><%= t('course_fee') %></label>
    <div class="text-input-bg"><%= text_field_tag :course_fee,MasterCourse.find(@course.master_course_id).fee_structure.to_i,:readonly => true %></div>
  </div>

  <div id="admission1_form">

    <div id="necessary-field-notification"> <%= t('legend1') %> <span class="necessary-field">*</span> <%= t('legend2') %></div>


    <span class="span-sub-heading"><%= t('personal_details') %></span>
    <hr class="sub-heading"></hr>

    <div class="row">
      <div class="label-field-pair">
        <label for="student_grade"><%= t('first_name') %><span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= s.text_field :first_name %></div>
      </div>

      <div class="label-field-pair">
        <label for="student_grade"><%= t('middle_name') %></label>
        <div class="text-input-bg"><%= s.text_field :middle_name %></div>
      </div>

      <div class="label-field-pair">
        <label for="student_grade"><%= t('last_name') %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= s.text_field :last_name %></div>
      </div>
    </div>
    <%= s.hidden_field :pin_number,:value => @pin_number unless @pin_number.nil? %>
    <div class="row">
      <%= s.hidden_field :course_id, :value=>@course.id %>

      <div class="label-field-pair">
        <label for="student_date_of_birth"><%= t('date_of_birth') %></label>
        <div class="text-input-bg w198">
          <%= calendar_date_select_tag 'pre_student_registration[date_of_birth]',(@pre_student_registration.date_of_birth.blank? ?  I18n.l(Date.today-15.years,:format=>:default): @pre_student_registration.date_of_birth),
            :year_range => 72.years.ago..0.years.ago,:readonly=>true,:popup=>"force" %>
            <%#= calendar_date_select_tag 'pre_student_registration[date_of_birth]',
              I18n.l(@pre_student_registration.date_of_birth || Date.today-15.years,:format=>:default),:valid_date_check => "date <= (new Date().setFullYear(new Date().getFullYear() - 5))" , :year_range => 72.years.ago..15.years.from_now,:popup=>"force" %>
        </div>
      </div>

      <div class="label_field_pair">
        <label class="label_for_student_gender" for="student_gender"><%= t('gender') %></label>
        <div class="student_gender_value">
          <label class="label_for_gender" for="student_gender_true"> <%= t('male') %></label>
          <%= s.radio_button  "gender", "m", :checked => "checked" %>
          <label class="label_for_gender" for="student_gender_false"><%= t('female') %></label>
          <%= s.radio_button  "gender", "f" %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="student_country"><%= t('nationality') %></label>
        <div class="text-input-bg_form"> <%= s.select  :nationality_id, Country.all.map {|c| [c.full_name, c.id]}, :selected=> @pre_student_registration.nationality_id || @selected_value %></div>
      </div>

    </div>

    <div class="row">
      <div class="label-field-pair">
          <label for="student_category"><%= t('category') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg_form"><%= s.select :pre_student_category_id, @categories.map {|c| [c.name, c.id]}, { :prompt => "#{t('select_a_category')}" } %></div>
        </div>

        <div class="label-field-pair">
          <label for="student_religion"><%= t('religion') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= s.text_field :religion %></div>
        </div>

        <div class="label-field-pair">
        <label for="student_date_of_birth"><%= t('admission_date') %></label>
        <div class="text-input-bg w198">
          <%= calendar_date_select_tag 'pre_student_registration[admission_date]', I18n.l(@pre_student_registration.admission_date || Date.today,:format=>:default),
              :year_range => 15.years.ago..5.years.from_now ,:valid_date_check => "date <= (new
          Date()).stripTime()", :readonly=>true, :popup=>"force" %>
        </div>
      </div>

    </div>

    <div class="row">
      <span class="span-sub-heading"><%= t('contact_details') %></span>
      <hr class="sub-heading"></hr>
      <div class="label-field-pair">
        <label for="student_city"><%= t('address_line') %>1<span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= s.text_field :address_line1 %></div>
      </div>


      <div class="label-field-pair">
        <label for="student_city"><%= t('address_line') %>2</label>
        <div class="text-input-bg"><%= s.text_field :address_line2 %></div>
      </div>

      <div class="label-field-pair">
        <label for="student_state"><%= t('state') %><span class="necessary-field">*</span></label>
        <div class="text-input-bg_form"><%= select :pre_student_registration, :state, YuvaState.find_all_by_country_id(76).map {|c| [c.name, c.name]},{:include_blank=>"Select State"} ,{:onChange => "#{remote_function(:url => {:controller => "pre_student_registrations", :action => "find_cities"}, :with => "'student_state='+ value")}"} %> </div>
      </div>
    </div>

    <div class="row">
      <div class="label-field-pair" id="student_cities">
        <label for="student_city"><%= t('city') %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= s.text_field :city %></div>
      </div>

      <div class="label-field-pair">
        <label for="student_pin_code"><%= t('zip') %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= s.text_field :pin_code %></div>
      </div>


      <div class="label-field-pair">
        <label for="student_country"><%= t('country') %></label>
        <div class="text-input-bg_form"> <%= s.select  :country_id, Country.all.map {|c| [c.full_name, c.id]}, :selected=>@pre_student_registration.country_id || @selected_value %> </div>
      </div>

    </div>
    <div class="row">
      <div class="label-field-pair">
        <label for="student_phone1"><%= t('phone') %></label>
        <div class="text-input-bg"><%= s.text_field :phone1 %></div>
      </div>

      <div class="label-field-pair">
        <label for="student_phone2"><%= t('mobile') %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= s.text_field :phone2 %></div>
      </div>

      <div class="label-field-pair">
        <label for="student_email"><%= t('email') %></label>
        <div class="text-input-bg"><%= s.text_field :email %></div>
      </div>
    </div>
    
    <div class="row">
      <span class="span-sub-heading"><%= t('upload_photo') %></span>
      <hr class="sub-heading"></hr>
      <div class="label-field-pair-photo">
        <label for="student_image_file"><%= t('upload_photo') %> (<%= t('max_size') %>)</label>
        <div class="text-input-bg"><%= s.paperclip_file_field :photo, :size=>12, :direct => false, :style=>"width:200px;" %></div>
      </div>
    </div>

    <div class="row">
      <span class="span-sub-heading"><%= t('last_attended_institution_details') %></span>
      <hr class="sub-heading"></hr>

      <%fields_for :applicant_previous_data do |pd| %>

        <div class="label-field-pair">
          <label for="student_last_attended_school"><%= t('institution_name') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= pd.text_field :last_attended_school ,:value => (@pre_student_previous_data.last_attended_school unless @pre_student_previous_data.nil?)%></div>
        </div>

        <div class="label-field-pair">
          <label for="student_qualifying_exam"><%= t('qualifying_exam_name') %></label>
          <div class="text-input-bg"><%= pd.text_field :qualifying_exam, :value => (@pre_student_previous_data.qualifying_exam unless @pre_student_previous_data.nil?)%></div>
        </div>

        <div class="label-field-pair">
          <label for="student_qualifying_exam_roll"><%= t('exam_roll_no') %></label>
          <div class="text-input-bg"><%= pd.text_field :qualifying_exam_roll, :value => (@pre_student_previous_data.qualifying_exam_roll unless @pre_student_previous_data.nil?)%></div>
        </div>
      </div>
      <div class="row">
        <div class="label-field-pair">
          <label for="student_qualifying_exam_final_score"><%= t('final_score') %></label>
          <div class="text-input-bg"><%= pd.text_field :qualifying_exam_final_score, :value => (@pre_student_previous_data.qualifying_exam_final_score unless @pre_student_previous_data.nil?) %></div>
        </div>
      </div>
    <% end %>


    <%fields_for :applicant_guardian do |p| %>
      <div class="row">
        <div id="admission1_form_vertical_block_right">
          <span class="span-sub-heading"><%= t('parent_personal_details') %></span>
          <hr class="sub-heading"></hr>

          <div class="label-field-pair">
            <label for="parent_detail_name"><%= t('first_name') %><span class="necessary-field">*</span></label>
            <div class="text-input-bg"><%= p.text_field :first_name,:value => (@pre_student_guardian.first_name unless @pre_student_guardian.nil?) %></div>
          </div>
          <div class="label-field-pair">
            <label for="parent_detail_name"><%= t('last_name') %><span class="necessary-field">*</span></label>
            <div class="text-input-bg"><%= p.text_field :last_name,:value => (@pre_student_guardian.last_name unless @pre_student_guardian.nil?)%></div>
          </div>

          <div class="label-field-pair">
            <label for="parent_detail_relation"><%= t('relation') %><span class="necessary-field">*</span></label>
            <div class="text-input-bg"><%= p.text_field :relation,:value => (@pre_student_guardian.relation unless @pre_student_guardian.nil?) %></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-field-pair ">
          <label for="parent_detail_dob"><%= t('date_of_birth') %></label>
          <div class="text-input-bg w198">
            <%= calendar_date_select_tag "pre_student_guardian[dob]",(@pre_student_guardian.blank? ? "" : @pre_student_guardian.dob),:year_range => 100.years.ago..20.years.ago,:readonly=>true,:popup=>"force" %>
          </div>
        </div>

        <div class="label-field-pair">
          <label for="parent_detail_education"><%= t('education') %></label>
          <div class="text-input-bg"><%= p.text_field :education,:value => (@pre_student_guardian.education unless @pre_student_guardian.nil?) %></div>
        </div>

        <div class="label-field-pair">
          <label for="parent_detail_occupation"><%= t('occupation') %></label>
          <div class="text-input-bg"><%= p.text_field :occupation,:value => (@pre_student_guardian.occupation unless @pre_student_guardian.nil?) %></div>
        </div>
      </div>

      <div class="row">
        <div class="label-field-pair">
          <label for="parent_detail_income"><%= t('income') %></label>
          <div class="text-input-bg"><%= p.text_field :income,:value => (@pre_student_guardian.last_name unless @pre_student_guardian.nil?) %></div>
        </div>

        <div class="label-field-pair">
          <label for="parent_detail_email"><%= t('email') %></label>
          <div class="text-input-bg"><%= p.text_field :email,:value => (@pre_student_guardian.email unless @pre_student_guardian.nil?) %></div>
        </div>
      </div>

      <div class="row">
        <span class="span-sub-heading"><%= t('parent_contact_details') %></span>
        <hr class="sub-heading"></hr>
        <div class="label-field-pair">
          <label for="master_student_city"><%= t('office_address_line1') %></label>
          <div class="text-input-bg"><%= p.text_field :office_address_line1,:value => (@pre_student_guardian.office_address_line1 unless @pre_student_guardian.nil?)%></div>
        </div>

        <div class="label-field-pair">
          <label for="master_student_city"><%= t('office_address_line2') %></label>
          <div class="text-input-bg"><%= p.text_field :office_address_line2,:value => (@pre_student_guardian.office_address_line2 unless @pre_student_guardian.nil?) %></div>
        </div>

        <div class="label-field-pair">
          <label for="parent_detail_city"><%= t('city') %></label>
          <div class="text-input-bg"><%=  p.text_field :city,:value => (@pre_student_guardian.city unless @pre_student_guardian.nil?) %></div>
        </div>
      </div>
      <div class="row">

        <div class="label-field-pair">
          <label for="parent_detail_state"><%= t('state') %></label>
          <div class="text-input-bg"><%= p.text_field :state,:value => (@pre_student_guardian.state unless @pre_student_guardian.nil?) %></div>
        </div>

        <div class="label-field-pair">
          <label for="parent_detail_country"><%= t('country') %></label>
          <div class="text-input-bg_form"> <%= p.select :country_id, @countries.map {|c| [c.full_name, c.id]}, :selected=>(@pre_student_guardian.present? and @pre_student_guardian.country_id) || @selected_value %></div>
        </div>

        <div class="label-field-pair">
          <label for="parent_detail_office_phone1"><%= t('office_phone1') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= p.text_field :office_phone1,:value => (@pre_student_guardian.office_phone1 unless @pre_student_guardian.nil?)%></div>
        </div>
      </div>
      <div class="row">
        <div class="label-field-pair">
          <label for="parent_detail_office_phone2"><%= t('office_phone2') %></label>
          <div class="text-input-bg"><%= p.text_field :office_phone2,:value => (@pre_student_guardian.office_phone2 unless @pre_student_guardian.nil?) %></div>
        </div>

        <div class="label-field-pair">
          <label for="parent_detail_mob_phone"><%= t('mobile_phone_no') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= p.text_field :mobile_phone,:value => (@pre_student_guardian.mobile_phone unless @pre_student_guardian.nil?) %></div>
        </div>
      </div>
    <% end %>
    <div class="extender">

    </div>
    <%#if @course.include_additional_details == true %>
      <% fields_for :pre_student_additional_details do |a| %>
        <% i=0 %>
        <div id="form-contents">
          <span class="span-sub-heading"><%= t('additional_detail') %></span>
          <hr class="sub-heading"></hr>
          <% @additional_fields.each do |additional| %>
            <% prev_record = @pre_student_additional_detail.find_by_additional_field_id(additional.id) %>
            <%  unless prev_record.nil? %>
              <% if additional.input_type=="has_many" %>
                <% prev_value = prev_record.additional_info.split(", ") %>
              <% else %>
                <% prev_value = prev_record.additional_info %>
              <% end %>
            <% end %>
            <% input_val = ((params[:applicant_additional_details].present? and params[:applicant_additional_details][additional.id.to_s.to_sym].present? and params[:applicant_additional_details][additional.id.to_s.to_sym][:additional_info].present?) ? (params[:applicant_additional_details][additional.id.to_s.to_sym][:additional_info]) : (prev_value.present? ? prev_value : nil))%>
            <% if additional.input_type=="belongs_to" %>
              <div class="label-field-pair12">
                <label><%= additional.name %>
                  <%if additional.is_mandatory %>
                    <span class="necessary-field">*</span>
                  <% end %>
                </label>
                <div class="text-input-bg12"><%= select_tag "applicant_additional_details[#{additional.id}][additional_info]", options_for_select(additional.student_additional_field_options.map{|b| [b.field_option,b.field_option]}, input_val)%></div>
              </div>
            <% elsif additional.input_type=="has_many" %>
              <div class="grades">
                <div class="label-field-pair scroll">
                  <label><%= additional.name %>
                    <% if additional.is_mandatory %>
                      <span class="necessary-field">*</span>
                    <% end %></label>
                </div>
                <div class="fee_category_scroll1">
                  <div class="sel-list">
                    <%= t('select') %>: <%= link_to_function t('all'), "$$('input.check#{i}').each(function(checkbox) { checkbox.checked = true; });" %>,
                    <%= link_to_function t('none'), "$$('input.check#{i}').each(function(checkbox) { checkbox.checked = false; });" %>
                  </div>
                  <%additional.student_additional_field_options.each do |k| %>
                    <div class="each_batch">
                      <%= check_box_tag "applicant_additional_details[#{additional.id}][additional_info][]", k.field_option,(!(input_val.nil?) and input_val.include?(k.field_option)), :class=>"batches_box check#{i}" %> <label><%= k.field_option %></label>
                    </div>
                  <%end %>
                </div>
              </div>
              <%i+=1 %>
            <%elsif additional.input_type=="text_area" %>
              <div class="label-field-pair12-text-area adjust">
                <label><%= additional.name %>
                  <%if additional.is_mandatory %>
                    <span class="necessary-field">*</span>
                  <%end %></label>

                <div class="textarea12-input-bg"><%= text_area_tag "applicant_additional_details[#{additional.id}][additional_info]", input_val %></div>
              </div>
            <%else %>
              <div class="label-field-pair12">
                <label><%= additional.name %>
                  <%if additional.is_mandatory %>
                    <span class="necessary-field">*</span>
                  <%end %></label>

                <div class="text-input-bg12"><%= text_field_tag "applicant_additional_details[#{additional.id}][additional_info]", input_val %></div>
              </div>
            <% end %>
            <div class="extender"></div>

          <% end %>

        </div>
      <% end %>
      <br /><br />
    <%#end %>

    <%@addl_field_groups.each do |fg| %>
      <span class="span-sub-heading"><%= fg.name %></span>
      <hr class="sub-heading"></hr>
      <%fg.applicant_addl_fields.active.each do |adl| %>
        <div class="row">
          <div class="label-field-pair-addl">
            <label for="parent_detail_mob_phone"> <%=adl.field_name %>
              <%if adl.is_mandatory? %>
                <span class="necessary-field">*</span>
              <%end %>
            </label>
            <%unless adl.field_type=="has_many" %>
              <div class="text-input-bg"><%= generate_input(s,adl,adl.applicant_addl_field_values) %></div>
            <%else %>
              <div class="text-input-bg21"><%= generate_input(s,adl,adl.applicant_addl_field_values) %></div>
              <div class="extender"></div>
            <%end %>
          </div>
        </div>
      <%end %>
    <%end %>
    <% @p = PreStudentDocumentUpload.find_all_by_pre_student_registration_id(@pre_student_registration.id) %>
   <div>
      <span class="span-sub-heading"><%= t('additional_attachments') %></span>
      <hr class="sub-heading"></hr>
      <div class="addl_attachments">
        <%# @p.each do |p| %>
        <% unless @p[0].nil? %>
          <div class="label-field-pair-attachment" id= "document_replace_0">
            <label for="student_image_file"><%= t('attachment') %></label>
            <%= link_to @p[0].attachment_file_name.last(30), :action => "download_document" , :id=>@p[0].id%>
            <%= link_to_remote "#{t('change')}",:url => { :controller=>"pre_student_registrations",:action => 'change_document_0',:id => @p[0].id},:method => 'get', :html => {:style=>'color: #000; background : none; border: medium none;float: none;font-family: arial;font-size: 14px;font-weight: bold;margin:  0;padding: 7px 10px;text-decoration: none;'}%>
          </div>
        <% end %>
        <% unless @p[1].nil? %>
          <div class="label-field-pair-attachment" id= "document_replace_1">
            <label for="student_image_file"><%= t('attachment') %></label>
            <%= link_to @p[1].attachment_file_name.last(30), :action => "download_document" , :id=>@p[1].id%>
            <%= link_to_remote "#{t('change')}",:url => { :controller=>"pre_student_registrations",:action => 'change_document_1',:id => @p[1].id},:method => 'get', :html => {:style=>'color: #000; background : none; border: medium none;float: none;font-family: arial;font-size: 14px;font-weight: bold;margin:  0;padding: 7px 10px;text-decoration: none;'}%>
          </div>
        <% end %>
        <% unless @p[2].nil? %>
          <div class="label-field-pair-attachment" id= "document_replace_2">
            <label for="student_image_file"><%= t('attachment') %></label>
            <%= link_to @p[2].attachment_file_name.last(30), :action => "download_document" , :id=>@p[2].id%>
            <%= link_to_remote "#{t('change')}",:url => { :controller=>"pre_student_registrations",:action => 'change_document_2',:id => @p[2].id},:method => 'get', :html => {:style=>'color: #000; background : none; border: medium none;float: none;font-family: arial;font-size: 14px;font-weight: bold;margin:  0;padding: 7px 10px;text-decoration: none;'}%>
          </div>
        <% end %>
        <%# end %>
        <%# s.fields_for :pre_student_document_uploads do |a| %>
          <%#= render "pre_student_document_upload_fields", :f=>a  %>
        <%# end %>
        <!-- <div class="add_document_uploads">
          <%#= link_to_add_document_uploads "#{image_tag "buttons/add_2.png" } #{t('add_txt')}", s, :pre_student_document_uploads %>
        </div> -->
      </div>
    </div> 
  <%# end %>

    <%#if ((@course.is_subject_based_registration == false) or (@course.subject_based_fee_colletion == false and @course.is_subject_based_registration  == true)) %>
      <div class="default_amount">
        <div class="span_text"><%= t('total_payable') %> :</div><div id="total_amount" class="themed_text"> <%= @currency %>. <%= precision_label(MasterCourse.find(@course.master_course_id).fee_structure.to_i) %></div>
      </div>
    <%#end %>
    <%= submit_tag "", :value => "► #{t('save_and_proceed')}", :class => "submit_button", :disable_with => "► #{t('please_wait')}",:onClick => "return GetFileSize()" %>
  <% end %>
</div>
