<div class="fields">
  <div class="label-field-pair-attachment">
    <label for="student_image_file"><%= t('attachment') %> &#x200E;(<%= t('maxi_size') %>)&#x200E;<span class="necessary-field">*</span></label>
    <% if @pre_student_registration.new_record? %>
      <div class="text-input-bg"><%#= file_field_tag :attachment, :id=>'image' %>
      <%= f.paperclip_file_field :attachment,:direct=>false, :size=>12 %></div>
    <% else %>
      <% if f.object.attachment_file_name.nil? or f.object.id.nil? %>
        <div class="text-input-bg"><%= f.paperclip_file_field :attachment,:direct=>false, :size=>12 %></div>
      <% else %>
        <div class="text-input-bg themed_text margin_left_10" style="margin-top: 2px"><%= truncate(f.object.attachment_file_name, :length => 15,:ommision => '...') %></div>
        <div class="remove_link"><%= link_to_remove_fields_pre image_tag('buttons/delete_2.png') ,f %></div>
      <% end %>
    <% end %>
  </div>
</div>

