 <%= stylesheet_link_tag 'pre_student_registrations/index.css' %>
 <%= javascript_include_tag 'pre_student_registrations.js' %>
 <div id="content-header">
   <%= show_header_icon %>
   <h1><%= "#{t('pre_student_register')}"%></h1>
   <div class='header-sep'>|</div>
   <div class='sub-header'><%= "#{t('pre_student_register')}"%></div>
   <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to t('manage_course'), :controller=>"pre_student_registrations", :action => 'manage_courses' %></li>
    </ul>
  </div>
 </div>
<div id="page-yield">
  <%unless flash[:notice].nil? %>
    <p class="flash-msg"><%= flash[:notice] %></p>
  <%end %>
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
<div class="extender"> </div>
  <%#form_for :pre_student_registration_form ,:html => {:multipart => true, :id => "form"} do |s|  %>
    <div class="label-field-pair">
      <label for="course"><%= t('select_course') %><!-- <span class="necessary-field">*</span> --></label>
      <div  class="text-input-bg">
        <%= select '',:course_id, options_for_select(@courses.flatten.map {|b| [b.course_name, b.id]}),{:include_blank=>"Select Course"}, {:onChange => "#{remote_function(:url => {:controller => "pre_student_registrations", :action => "pre_student_registration_form"},:with => "'course_id='+value")}"} %> 
      </div>
    </div>
  <div class="extender"></div>

  <div id="calender"></div>

  </div>
  <%#end%>
</div>
<script type="text/javascript">
// function validate_form() {
//  alert("vbfdgjdgj");
//  var image_a = j("#image").files[0].size;
//  alert(image_a);
// }
// var b;
// var c;
// var d;
// function GetFileSize() {
//     var fi = document.getElementById('image'); // GET THE FILE INPUT.
//     // VALIDATE OR CHECK IF ANY FILE IS SELECTED.
//     if (fi.files.length > 0) {
//         // RUN A LOOP TO CHECK EACH SELECTED FILE.
//         for (var i = 0; i <= fi.files.length - 1; i++) {

//             var fsize = fi.files.item(i).size;      // THE SIZE OF THE FILE.
//             b = Math.round((fsize / 1024));
//         }
//         if (b >= 5000)
//         {
//           alert("Size of attachment you are trying to upload is more than 5 MB !")
//           return false;
//         }else{
//           return true;
//         }
//     }
//   }
//   function GetFileSize1() {
//     var fi = document.getElementById('image1'); // GET THE FILE INPUT.
//     // VALIDATE OR CHECK IF ANY FILE IS SELECTED.
//     if (fi.files.length > 0) {
//         // RUN A LOOP TO CHECK EACH SELECTED FILE.
//         for (var i = 0; i <= fi.files.length - 1; i++) {

//             var fsize = fi.files.item(i).size;      // THE SIZE OF THE FILE.
//             c = Math.round((fsize / 1024));
//         }
//         if (c >= 5000)
//         {
//           alert("Size of attachment you are trying to upload is more than 5 MB !")
//           return false;
//         }else{
//           return true;
//         }
//     }
//   }
//   function GetFileSize2() {
//     var fi = document.getElementById('uploadImageFile'); // GET THE FILE INPUT.
//     // VALIDATE OR CHECK IF ANY FILE IS SELECTED.
//     if (fi.files.length > 0) {
//         // RUN A LOOP TO CHECK EACH SELECTED FILE.
//         for (var i = 0; i <= fi.files.length - 1; i++) {

//             var fsize = fi.files.item(i).size;      // THE SIZE OF THE FILE.
//             d = Math.round((fsize / 1024));
//         }
//         if (d >= 5000)
//         {
//           alert("Size of attachment you are trying to upload is more than 5 MB !")
//           return false;
//         }else{
//           return true;
//         }
//     }
//   }
 //  var total_size = 0;
 // $(function() {
 //   // Multiple images preview in browser
 //   var imagesPreview = function(input, placeToInsertImagePreview) {
 //     if (input.files) {
 //       var filesAmount = input.files.length;

 //       // for (i = 0; i < filesAmount; i++) {
 //       //   var reader = new FileReader();
 //       //   reader.onload = function(event) {
 //       //     var t = $($.parseHTML('<img>')).attr('src', event.target.result);
 //       //     var image = new Image();
 //       //     image.src = t[0].src;
 //       //     var p = '<div class="image-list-row"><div class="image-preview" >'+t[0].outerHTML+'</div><div class="image-desc"> <h4>Image Description</h4> <input placeholder="Description" type="text" class="common-input" name="image_comment_field_name[]" value=""/> </div> </div>'
 //       //     $('.gallery').append(p)
 //       //   }
 //       //   reader.readAsDataURL(input.files[i]);
 //         total_size = total_size + Math.round(input.files[0].size/1024);
 //         console.log(total_size);
 //       // }
 //     }
 //   };
 //   $('input#gallery-photo-add.upload').on('change', function() {
 //       imagesPreview(this, 'div.gallery');
 //   });
 // });

 // $(document).ready(function(){
 // $('#up_pht_submit').click(function (e){
 //   if($('.image-preview').length <= 0 || total_size > 25000){
 //     if(total_size > 25000){
 //      alert("Total size of images you are trying to upload is more than 25 MB !")
 //     }else{
 //      alert("Please select atleast one image .")
 //     }
 //     e.preventDefault();
 //   }
 //   else{
 //     $('.modal').hide();
 //     $("div.jquery-modal.blocker.current").removeClass();
 //     $("body").css('overflow','');
 //     $('div.jquery-modal.blocker.current').empty().remove();
 //     $('#up_photos').prop('disabled', true);
 //   }
 // })
 // })
    //   var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
    //   var extErrorMessage = "Only png jpg jpeg gif file is allowed";
    //   var allowedExtension = ["png","jpg","jpeg","gif","PNG","JPG","JPEG","GIF"];
    //   var maxFileSize = inputFile.files.item(0).size;

    //   var extName;
    //   // var maxFileSize = $(inputFile).data('max-file-size');
    //   alert(maxFileSize);
    //   var sizeExceeded = false;
    //   var extError = false;

    //   $.each(inputFile.files, function() {
    //     if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    //     extName = this.name.split('.').pop();
    //     if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
    //   });
    //   if (sizeExceeded) {
    //     alert(maxExceededMessage,"error");
    //     $(inputFile).val('');
    //   };

    //   if (extError) {
    //     alert(extErrorMessage,"error");
    //     $(inputFile).val('');
    //   };
    //   if(!extError && !sizeExceeded){
    //     document.getElementById("uploadImageFile").value = inputFile.value;
    //   }
    // }
    function validate_image() { 
      //alert("hgfhfh");
      var z;
      var x;
      var y;
      var file = document.getElementById('uploadImageFile');
      var b = document.getElementById('image'); 
      var c = document.getElementById('image1');

      if(file.value == null || file.value == "") {
        alert("Please upload the attachment.");
        return false;
      }else{
        //alert(file.files.item(0).size+"!!--1");
        z = Math.round((file.files.item(0).size / 1024));
        if (z >= 1000) {
          alert("Size of attachment you are trying to upload is more than 1 MB !");
          return false;
        }else if (b.value != null || b.value != ""){
          //alert(b.files.item(0).size+"!!--b");
          x = Math.round((b.files.item(0).size / 1024));
          if (x >= 1000) {
            alert("Size of attachment you are trying to upload is more than 1 MB !");
            return false;
          }
        }
         if (c.value != null || c.value != ""){
          //alert(c.files.item(0).size+"!!--c");
          y = Math.round((c.files.item(0).size / 1024));
          if (y >= 1000) {
            alert("Size of attachment you are trying to upload is more than 1 MB !");
            return false;
          }
        }else {
          return true
        }          
      }
    }
      
</script>
