 <%= stylesheet_link_tag 'pre_student_registrations/index.css' %>
 <div id="content-header">
   <%= show_header_icon %>
   <h1><%= "#{t('pre_student_register')}"%></h1>
   <div class='header-sep'>|</div>
   <div class='sub-header'><%= "#{t('pre_student_register')}"%></div>
   <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to t('manage_course'), :controller=>"pre_student_registrations", :action => 'manage_courses' %></li>
    </ul>
  </div>
 </div>
<div id="page-yield">
  <%unless flash[:notice].nil? %>
    <p class="flash-msg"><%= flash[:notice] %></p>
  <%end %>
  <div class="bread_crumb">
    <%#= make_breadcrumb %>
    <%#= render_breadcrumbs  %>
  </div>
<div class="extender"> </div>
  <%#form_for :pre_student_registration_form ,:html => {:multipart => true, :id => "form"} do |s|  %>
   <!--  <div class="label-field-pair">
      <label for="course"><%#= t('select_course') %></label>
      <div  class="text-input-bg">
        <%#= select '',:course_id, options_for_select(@courses.map {|b| [b.course_name, b.id]}),{:include_blank=>"Select Course"}, {:onChange => "#{remote_function(:url => {:controller => "pre_student_registrations", :action => "pre_student_registration_form"},:with => "'course_id='+value")}"} %> 
      </div>
    </div> -->
    <%= render :partial => "pre_student_registrations/pre_student_registration_form1" %>
  <div class="extender"></div>

  <div id="calender"></div>

  </div>
  <%#end%>
</div>
