<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%#content_for :head do %>
  <%#= javascript_include_tag "applicant_registration" %>
<%#end %>
<%= javascript_include_tag 'pre_student_registrations.js' %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('pre_student_registration') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('edit_pre_student') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%#= make_breadcrumb %>
    <% breadcrumb :pre_student_registrations_pre_student_edit,@pre_student_registration.id %>
    <%= render_breadcrumbs %>
  </div>
  <%= render 'pre_student_registration_form1' %>
</div>
<script type="text/javascript">
function change_att_document(a){
  var q = jQuery.noConflict();
   q.ajax({
     type: 'POST' ,
     url: '/pre_student_registrations/change_document',
     data : {
       id : a
     }
   });
}
function validate_image() { 
      //alert("hgfhfh");
      var z;
      var x;
      var y;
      var file = document.getElementById('uploadImageFile');
      var b = document.getElementById('image'); 
      var c = document.getElementById('image1');

      if(file.value == null || file.value == "") {
        alert("Please upload the attachment.");
        return false;
      }else{
        //alert(file.files.item(0).size+"!!--1");
        z = Math.round((file.files.item(0).size / 1024));
        if (z >= 1000) {
          alert("Size of attachment you are trying to upload is more than 1 MB !");
          return false;
        }else if (b.value != null || b.value != ""){
          //alert(b.files.item(0).size+"!!--b");
          x = Math.round((b.files.item(0).size / 1024));
          if (x >= 1000) {
            alert("Size of attachment you are trying to upload is more than 1 MB !");
            return false;
          }
        }
         if (c.value != null || c.value != ""){
          //alert(c.files.item(0).size+"!!--c");
          y = Math.round((c.files.item(0).size / 1024));
          if (y >= 1000) {
            alert("Size of attachment you are trying to upload is more than 1 MB !");
            return false;
          }
        }else {
          return true
        }          
      }
    }
  // function change_att_document(){
  //   alert();
  //   // $.ajax("/pre_student_registrations/change_document");
  //   $.ajax({
  //           type: 'get',
  //           url: '/pre_student_registrations/change_document',
  //           data: ""
  //         });
  //   // $.ajax({
  //   // url: "/pre_student_registrations/change_document",
  //   // type: 'GET'
  //   // });
  //   alert("fkhgdfg");
  // }
  // function roundVal(val)
  // {
  //   var dec = parseInt("<%= @precision%>") ;
  //   var result = Math.round(val*Math.pow(10,dec))/Math.pow(10,dec);
  //   return result;
  // }
  // function get_value()
  // {
  //   values = [];
  //   $$('.batches_box').each(function (checkbox)
  //   {
  //     if(checkbox.checked == 1)
  //       values.push(checkbox.value);
  //   }
  // );
  //   return values;
  // }
  // function calculate_amount()
  // {
  //   var total=0
  //   $$('input.batches_box_elective').each(
  //   function(checkbox)
  //   {
  //     if(checkbox.checked == true)
  //     {
  //       var a=checkbox.value.split(" ");
  //       var b=a[a.length-1];
  //       var c=parseFloat(b);
  //       total+=c
  //     }
  //   }
  // );
  //   $('amount_details').select('span')[2].innerHTML=roundVal(parseFloat(total));
  // }
</script>
