<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('pre_student_registration') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('pre_student') %></div>

<!-- <div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%#= link_to t('course_s'), {:action => "show"} %></li>
  </ul>
</div> -->


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :pre_student_registrations_pre_student_applicant,@registration_course.id %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
    <%= render :partial => "pre_student_registrations/pre_std_list_applicant" %>
</div>