<div class="page">
  <div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('applicant_s')%></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('view_details') %></div>
    <div id="inner-tab-menu">
      <ul>
        <li class='themed_bg themed-dark-hover-background'>
        <% if @pre_student_registration.transferred == false %>
          <%= link_to t('ed_it'), :controller=>"pre_student_registrations", :action => 'pre_student_edit', :id => @pre_student_registration.id %>
        <% end %> 
        </li>
        <li class='themed_bg themed-dark-hover-background'><%#= link_to t('print'),print_application_applicants_path(:id => @pre_student_registration.id),:target=>'_blank' %></li>
      </ul>
    </div>

  </div>
  <div id="page-yield">
    <div class="bread_crumb">
      <%#= make_breadcrumb %>
      <% breadcrumb :pre_student_registrations_view_pre_student,@course.id %>
      <%= render_breadcrumbs %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div class="content-wrapper">
      <div class="page-yield">
        <% unless flash[:warn_notice].nil? %>
          <div id="errorExplanation1">
            <ul>
              <li>
                <%= flash[:warn_notice] %>
              </li>
            </ul>
          </div>
        <% end %>
        <%#if @pre_student_registration.is_academically_cleared == true and @pre_student_registration.is_financially_cleared == true and @pre_student_registration.status != "alloted" %>
          <!-- <p id="conf-status-U">
            <%#= link_to_remote t('admit_applicant_to_a_batch'),:url=>{:action=>"admit_applicant",:id=>@pre_student_registration.id},:html=>{:onclick=>'perform_operation();'} %>
          </p> -->
        <%#end %>
        <%#if @pre_student_registration.is_academically_cleared == true and @pre_student_registration.registration_course.enable_approval_system == true and (@current_user.admin? or @current_user.privileges.map(&:name).include? 'FinanceControl')%>
          <%#unless @pre_student_registration.has_paid? %>
            <!-- <p id="conf-status-U">
              <%#= t('applicant_has_not_paid_fees') %>.
              <%#= link_to_remote t('mark_paid'),:url=>{:action=>"mark_paid",:id=>@applicant.id} %>
            </p> -->
          <%#end %>
        <%#else %>
          <%#if @pre_student_registration.is_academically_cleared != true and @pre_student_registration.registration_course.enable_approval_system == true %>
           <!--  <p id="conf-status-U">
              <%#= t('mark_applicant_as_academically_cleared') %>.
              <%#= link_to_remote t('mark_cleared'),:url=>{:action=>"mark_academically_cleared",:id=>@pre_student_registration.id} %>
            </p> -->
          <%#else %>
            <%#unless @pre_student_registration.has_paid? %>
              <!-- <p id="conf-status-U">
                <%#= t('applicant_has_not_paid_fees') %>.
                <%#= link_to_remote t('mark_paid'),:url=>{:action=>"mark_paid",:id=>@pre_student_registration.id} %>
              </p> -->
            <%#end %>
          <%#end %>
        <%#end %>
        <div id="modal-box" style="display:none;"></div>
        <div class="section photo-section">

          <h4 class="section-heading themed_text"><%= t('basic_information') %></h4>
          <div id="applicant_photo">
            <%= image_tag @pre_student_registration.photo.url(:original, false) %>
          </div>
          <%= attr_pair(t('application_date'),@pre_student_registration.created_at.strftime("%B %d, %Y"))  %>
          <%= attr_pair(t('last_name'),@pre_student_registration.last_name) %>
          <%= attr_pair(t('middle_name'),@pre_student_registration.middle_name) %>
          <%= attr_pair(t('first_name'),@pre_student_registration.first_name) %>
          <% unless @pre_student_registration.status.nil? %>
          <%= attr_pair(t('application_status'),@pre_student_registration.status.gsub('alloted','allotted').capitalize) %>
          <% end %>
          <%#= attr_pair(t('application_fee'),@pre_student_registration.has_paid ? t('paid') : t('not_paid')) %>
          <%= attr_pair(t('gender'),@pre_student_registration.gender.downcase=="m" ? t('male') : t('female')) %>
          <%= attr_pair(t('nationality'),@pre_student_registration.nationality.full_name)  if @pre_student_registration.nationality.present?%>
          <%#if !course_pin_system_registered_for_course(@pre_student_registration.course_id) %>
            <%= attr_pair(t('pin_no'),@pre_student_registration.pin_code)  unless @pre_student_registration.pin_code.nil? %>
          <%#end %>
          <%#= attr_pair(t('registration_amount'),@pre_student_registration.finance_transaction.nil?? precision_label(@pre_student_registration.amount) : precision_label(@pre_student_registration.finance_transaction.amount.to_f) ) %>
          <%#unless @financetransaction.nil? %>
            <%#= attr_pair(t('receipt_no'),@financetransaction.receipt_no) %>
          <%#end %>
          <%#if (FedenaPlugin.can_access_plugin?("fedena_pay") and @online_transaction_id.present?) %>
            <%#= attr_pair(t('online_transaction_id'),@online_transaction_id) %>
          <%#end %>
        </div>
        <div class="section">
          <h4 class="section-heading themed_text"><%= t('admission_information') %></h4>
          <%= attr_pair(t('course'),Course.find(@pre_student_registration.course_id).full_name) %>
          <%#= attr_pair(t('reg_no'),@pre_student_registration.reg_no) %>
          <%= attr_pair(t('admission_date'),@pre_student_registration.admission_date) %>
        </div>
        <div class="extender"></div>
        <div class="section">

          <h4 class="section-heading themed_text"><%= t('contact_information') %></h4>
          <% if @pre_student_registration.address_line1.present?%>
            <%= attr_pair(t('address'),@pre_student_registration.address_line1 + ", "+ @pre_student_registration.address_line2 ) %>
          <% else %>
            <%= attr_pair(t('address'),@pre_student_registration.address_line1 + @pre_student_registration.address_line2 ) %>
          <% end %>
          <%= attr_pair(t('city'),@pre_student_registration.city) %>
          <%= attr_pair(t('state'),@pre_student_registration.state) %>
          <%= attr_pair(t('zip_code'),@pre_student_registration.pin_code) %>
          <%= attr_pair(t('country'),@pre_student_registration.country.name) %>
          <%= attr_pair(t('phone'),@pre_student_registration.phone1) %>
          <%= attr_pair(t('mobile'),@pre_student_registration.phone2) %>
          <%= attr_pair(t('email'),@pre_student_registration.email) %>
          <%= attr_pair(t('date_of_birth'),@pre_student_registration.date_of_birth) %>
        </div>
        <div class="extender"></div>
        <% unless @pre_student_registration.pre_student_guardian.blank? %>
          <% applicant_guardian = @pre_student_registration.pre_student_guardian %>
          <div class="section">
            <h4 class="section-heading themed_text"><%= t('guardian_information') %></h4>
            <%= attr_pair(t('first_name'),applicant_guardian.first_name) %>
            <%= attr_pair(t('last_name'),applicant_guardian.last_name) %>
            <%= attr_pair(t('relation'),applicant_guardian.relation) %>
            <%= attr_pair(t('occupation'),applicant_guardian.occupation) %>
            <%= attr_pair(t('income'),applicant_guardian.income) %>
            <%= attr_pair(t('education'),applicant_guardian.education) %>
            <%= attr_pair(t('dob'),applicant_guardian.dob) %>
          </div>
          <div class="extender"></div>
          <div class="section">
            <h4 class="section-heading themed_text"><%= t('guardian_contact_information') %></h4>
            <% if applicant_guardian.office_address_line1.present? %>
              <%= attr_pair(t('address'),applicant_guardian.office_address_line1 + ", "+ applicant_guardian.office_address_line2 ) %>
            <% else %>
              <%= attr_pair(t('address'),applicant_guardian.office_address_line1 + applicant_guardian.office_address_line2 ) %>
            <% end %>
            <%= attr_pair(t('city'),applicant_guardian.city) %>
            <%= attr_pair(t('state'),applicant_guardian.state) %>
            <%= attr_pair(t('country'),applicant_guardian.country.name) %>
            <%= attr_pair(t('office_phone1'),applicant_guardian.office_phone1) %>
            <%= attr_pair(t('office_phone2'),applicant_guardian.office_phone2) %>
            <%= attr_pair(t('mobile'),applicant_guardian.mobile_phone) %>
            <%= attr_pair(t('email'),applicant_guardian.email) %>
          </div>
        <% end %>
        <div class="extender"></div>
        <%#if @pre_student_registration.registration_course.is_subject_based_registration%>
          <div class="section">
            <h4 class="section-heading themed_text"><%#= t('applicants.chosen_electives') %></h4>
            <%#count=1%>
            <%#unless @elective_name.blank?%>
              <%#@elective_name.each do |sub|%>
                <div class="attr_pair">
                  <div class="attr_label_1">
                    <%#="#{count})"%>
                  </div>
                  <div class="attr_value_1">
                    <%#=sub.name%>
                  </div>
                </div>
                <%#count=count+1%>
              <%#end%>

            <%#end%>
          </div>
        <%#end%>
        <div class="extender"></div>
        <% unless @pre_student_registration.pre_student_previous_data.blank? %>
          <% previous_data = @pre_student_registration.pre_student_previous_data %>
          <div class="section">
            <h4 class="section-heading themed_text"><%= t('last_attended_institution_details') %></h4>
            <%= attr_pair(t('last_attended_school'),previous_data.last_attended_school) %>
            <%= attr_pair(t('qualifying_exam'),previous_data.qualifying_exam) %>
  <%#= attr_pair(t('qualifying_exam_year'),previous_data.qualifying_exam_year) %>
            <%= attr_pair(t('qualifying_exam_roll'),previous_data.qualifying_exam_roll) %>
            <%= attr_pair(t('qualifying_exam_final_score'),previous_data.qualifying_exam_final_score) %>
          </div>
        <% end %>
        <div class="extender"></div>
        <div class="section">
          <h4 class="section-heading themed_text"><%= t('additional_detail') %></h4>
          <% unless @additional_details.nil? %>
            <% @additional_details.each do |additional_data| %>
              <%= attr_pair(additional_data.additional_field.try(:name),additional_data.additional_info.gsub(/\n/, '<br>')) %>
            <% end %>
          <%end %>
        </div>
        <div class="extender"></div>        
        <% unless @pre_student_registration.pre_student_document_uploads.blank? %>

          <div class="extender"></div>
          <div class="section addl-attachment">
            <h4 class="section-heading themed_text"> Additional Attachments </h4>
            <%# @pre_student_registration.pre_student_document_upload.each do |att| %>
              <%#= attr_pair(truncate(att.attachment_file_name, :length => 15,:ommision => '...'),"#{link_to t('download_text'),att.attachment.url(:original, false),:class=>"themed_text",:target=>"blank"}") %>
            <%# end %>
            <%#@pre_student_registration.pre_student_document_upload.each do |att| %>
              <div class="attr_pair">
                  <div class="attr_value"><!-- <a href="" class="themed_text" target="blank">Download</a> -->
                  <% @p = PreStudentDocumentUpload.find_all_by_pre_student_registration_id(@pre_student_registration.id) %>
                <% @p.each do |p| %>
                  <% unless p.nil? %>
                    <%= attr_pair(truncate(p.attachment_file_name, :length => 15,:ommision => '...'),"#{link_to t('download_text'),p.attachment.url(:original, false),:class=>"themed_text",:target=>"_blankank"}") %>
                  <% end %>
                <% end %>
                  </div>
              </div>
            <%#end%>
          </div>
        <% end %>
      </div>

      <br />
      <br />

    </div>
  </div>
</div>
<script type="text/javascript">
  function perform_operation(){
    if (j('#conf-status-U').children().size()==1){
      j('#conf-status-U').children().first().hide();
      j('#conf-status-U').append('<span>Please wait...</span>');
    }
  }
</script>