table#listing .tr-odd {
    background: #fff;
    text-align: left;
    padding: 50px;
    color: #27292b;
    font-weight: normal; 
    font-size: 14px;
}
table#listing .tr-even{
    background: #f1f6ff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}