table#listing_applicant{
    background: #c3d9ff;
    margin-bottom: 8px;
}
div.pagination{
    margin-top: 0px;
}
table#listing_applicant tr.tr-head{
    background: #fff;
    /*color:#990a10;*/
    font-weight:bold;
    text-align:left;
}
table#listing_applicant .tr-odd{
    background: #fff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;
}
table#listing_applicant .tr-even{
    background: #f1f6ff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;
}


table#listing_applicant td.col-2{
    text-align:left;
    padding: 5px;
    padding-left:10px;
}
table#listing_applicant td a{
    text-decoration:none;
    color:#27292b;
}
table#listing_applicant td a:hover{
    color:#990a10;
    text-decoration:underline;
}

table#listing_applicant td{
    padding :5px;
}

table#listing_applicant td.name{
    width: 200px;
}

.options a{
    font-size :10px;
    color:#444444;
}

.options span{
    font-size :10px;
    color:#444444;
}
.status{
    font-size: 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.status span{
    width: 57px;
    display: block;
}
.alloted{
    background-color: #00b400;
}
.discarded{
    background-color:  #b00;
}
.pending{
    background-color: #0C6C92;
}

table#listing_applicant .tr-head td{
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px;
    text-align: center;
}
td.course{
    width: 112px;
}
td.date{
    width: 137px;
}
td.applicant_status{
    width: 70px;
}
td.batch{
    width: 110px;
}

.interview_time{
    font-size: 10px;
    font-weight: bold;
}
.telephone_interview a{
    color: #27292b;
}

.telephone_interview_time a{
    font-size: 10px;
    color: #27292b;
}
.chk{
    width: 3%;
}
.col{
    font-size: 13px;
    width: 170px;
    float: left;
}
.col2{
    font-size: 13px;
    width: 210px;
    float: left;
    padding-right: 30px;
}
.col-label{
    width: 50px;
    float: left;
}
.col2 .col-label{
    width: 40px;
    float: left;
}
.text-input-bg {
    background: transparent;
    height: 28px;
    width: 120px;
    float: left;
}
.text-input-bg2 {
    background: transparent;
    height: 28px;
    width: 160px;
    float: left;
}
.text-input-bg2 input[type="text"]{
    width: 130px;
    float: left;
}
.text-input-bg select {
    background-color: #EEE;
    border: 1px solid #C6C6C6;
    margin: -3px 0 0 5px;
    width: 100px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.text-input-bg2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : -3px 0 0 -5px;
    width : 130px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.filter{
    width: 800px;
    padding-bottom: 20px;
}
.submit_button {
    margin-top: -2px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.row{
    width: 900px;
    padding-top: 10px;
    font-size: 13px;
}
.label{
    width: 105px;
    float: left;
}
.calendar_date_select_popup_icon{
    float: right;
}
.sbutton{
    margin-top: -2px;
}
.submit_1{
    margin-top: -4px;
}

#button{
    margin-left: 350px;
    margin-top: 30px;
}
