#autofill-area .label-field-pair {
    margin:0 95px 10px 0;
}
#admission1_form_vertical_block_left {
    padding-bottom: 20px;
}
.label_field_pair label.label_for_gender {
    font-weight:normal;
    display:inline;
}
#admission1_form_vertical_block_right {
    padding-bottom: 20px;
}
.label_field_pair1 {
    width:285px;
    float:left;
    padding-top:40px;
}
.label_field_pair label {
    padding-top: 10px;
    display:block;
    color:#444;
    margin-bottom:10px;
    font-size: 14px;
    font-weight: normal;
}
.label_for_student_gender{
    display:block;
    color:#444;
    margin-bottom:10px;
    width:119px;
    float:left;
}
.student_gender_value{
    width:200px;
    float:left;
    padding-top: 5px;
}
.label_field_pair label.label_for_gender {
    font-weight:normal;
    display:inline;
}

#name_field_block {
    clear:both;
    padding-bottom:20px;
}
#name_field_block .text-input-bg {
    background : #eee;
    float:left;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 180px;
    height:23px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding-top: 3px;
}
#name_field_block label {
    font-weight:bold;
    display:block;
    margin-bottom:10px;
}
#name_field_block input {
    background:transparent;
    border:0;
    color:#000;
    padding-left:10px;
    width:165px;
}
.label_field_pair input[type="text"] {
    width:210px;height:28px;
    background:transparent;
    border:none;
    padding-left:10px;
    padding-top:5px;
}
.label_field_pair select {
    background : #eee;
    border: none;
    height: auto;
    margin: 5px 0 0 5px;
    width: 220px;
}
.label_field_pair .label_for_gender {
    margin:0;
    display:block;
    padding-top:5px;
    padding-right:2px;
    padding-left:0px;
}
#student_gender_true,
#student_gender_false {
    margin:0;
    padding:0;
    width:20px;
    display:inline;
    margin-bottom:10px;
    display:block;
    float:left;
}
#create_user {
    display:inline;
}
#address_text_area {
    width:232px;
    height:162px;
    background:#fff url(/images/admission/address_area_bg.jpg) no-repeat;
    margin-bottom:40px;
}
#student_address,
#parent_detail_office_address {
    padding-left:10px;
    padding-top:5px;
    width:222px;
    height:162px;
    border:none;
    background:transparent;
    color:#b00;
    font-weight:bold;
}
#create_user_option {
    display:inline;
    margin:0px;
    padding:0px;
}

.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 212px;
    margin-right: 221px;
    margin-top: 30px;
    padding: 7px 10px;
}
.submit_button:hover{
    background:  #373B3F;
}

.submit_button1 {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 119px;
    margin-top: 30px;
    padding: 7px 10px;
}

.submit_button1:hover{
    background:  #373B3F;
}

.submit_button3 {
    margin-top:30px;
    margin-left:50px;
    float:left;
}
.text_display {
    width:230px;
    height:28px;
    background:#fff url(/images/admission/text_input.jpg) no-repeat;
    margin-bottom:20px;
    color:#b00;
    font-weight:bold;
    padding-left:10px;
    padding-top:3px;
}
.necessary-field {
    color : #f00;
    font-size : 1.1em;
}
#necessary-field-notification {
    font-weight : bold;
    padding : 10px 0 30px 0;
}

#create_user{
    display:none;
}
.student_admission_date {
    float:left;
    height:80px;
    width:450px;
}
.student_admission_date label {
    color:#444444;
    display:block;
    float:left;
    margin:0 0 10px;
    padding-top: 10px;
    font-weight: normal;
    font-size: 14px;
}
.text-input-bg-admission input  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 10px;
    padding:5px;
    width:205px;
    text-align: left;
}
input#student_image_file {
    height:24px;
}
.sub-heading{
    background:#9E0F15;
    height: 1px;
    border: none;
    margin-bottom: 15px;
}
.span-sub-heading{
    font-weight: bold;
    padding-top:10px;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}
.text-input-bg-admission input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

input#student_photo{
    height: 28px;
}
input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    width: auto;
}
.label-field-pair label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 108px;
    padding-top: 10px;
    font-weight: normal;
}
.label-field-pair input {
    background: #EEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 10px;
    width: 155px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
.label-field-pair1 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 108px;
    padding-top: 10px;
    font-weight: normal;
}
.label-field-pair1 input {
    background: #EEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 10px;
    width: 203px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

#admission1_form .label-field-pair {
    height: 40px;
    width: 320px;
    padding-top: 3px;
    float: left;
}
.text-input-bg {
    background: transparent;
    height: auto;
    width: 180px;
    float: left;
}
.label_field_pair {
    width: 320px;
    height: 40px;
    padding-top: 3px;
    float: left;
}
.row{
    width: 100%;
    float: left;
    padding-bottom: 10px;
}
.w198{
    width: 198px;
}
.label-field-pair-photo{
    width: 400px;
    height: 40px;
    padding-top: 3px;
    float: left;
}
.label-field-pair-photo label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 200px;
    padding-top: 10px;
    font-weight: normal;
}
.label-field-pair-photo input {
    background: #EEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 10px;
    width: 155px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
#admission1_form .text-input-bg select {
    background-color: #EEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 10px;
    width: 210px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.w400{
    width: 400px;
}
.text-input-bg input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    width: auto;
}
.label-field-pair-addl {
    height: auto;
    width: 700px;
    padding-top: 3px;
    float: left;
}
.label-field-pair-addl label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 200px;
    padding-top: 10px;
    font-weight: normal;
}
.label-field-pair-addl input {
    background: #EEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 10px;
    width: 200px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
.label-field-pair-addl input[type="checkbox"] {
    margin-top: 13px;
    width: auto;
    float: left;
}

.label-field-pair-addl .text-input-bg{
    width: 400px;
}
.coption{
    margin-top: 15px;
    margin-left: 40px;
    font-size: 13px;
}
.label-field-pair-attachment{
    width: 600px;
    height: auto;
    float: left;
}
.label-field-pair-attachment label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 200px;
    padding-top: 4px;
    font-weight: normal;
}
.add_button_img {
    background: none;
    display: block;
    float: none;
    height: 12px;
    width: 100px;
    margin-top: 15px;
    font-size: 13px;
    text-decoration: none;
    display: inline;
    color: #080;
}
.four-pad{
    padding-top: 4px;
}
.submit-button_print {
    margin-left: 0px;
    margin-right: 0px;}


.fee_category_scroll {
    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 86px;
    margin-left: 209px;
    margin-top: -1px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 7px;
    width: 200px;
}
.fee_category_scroll1 {
    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 86px;
    margin-left: 170px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 7px;
    width: 200px;
    -moz-border-radius: 10px 10px 10px 10px;     -webkit-border-radius:10px;
}
.sel-list {
    border-bottom:1px solid #DDDDDD;
    margin-bottom:2px;
    width:197px;
}
.each_batch {
    border-bottom:1px solid #DDDDDD;
    font-size:12px;
    overflow:auto;
    width:198px;
}



.label_field_pair2 {
    width: 320px;
    height: 40px;
    padding-top: 3px;
    float: left;
}

.label_field_pair2 label {
    padding-top: 10px;
    display:block;
    color:#444;
    margin-bottom:10px;
    font-size: 14px;
    font-weight: normal;
}

.label_field_pair2 input {
    padding-top: 10px;
    display:block;
    color:#444;
    margin-bottom:10px;
    font-size: 14px;
    font-weight: normal;
}

.adjust
{
    min-width: 380px;
}

.adjust label{
    min-width: 160px;
}

#loader{
    float: right;
}

#amount_details {
    float: right;
    font-size: 17px;
    font-weight: bold;
    margin-right: 8px;
    margin-top: -66px;
}

.default_amount {
    margin-top: 20px;
    float: left;
    font-size: 17px;
    font-weight: bold;
    width: 500px;
}

.label-field-pair-text-area {
    height: 85px;
    padding-top: 3px;
    width: 600px;
}

.label-field-pair-text-area label {
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
}

.label-field-pair-text-area textarea {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 10px;
    padding: 5px;
    height:60px;
    width:250px;
}
.label-field-pair12 {
    height : 40px;
    width : 600px;
    padding-top: 3px;
}
.text-input-bg12 {
    background : transparent;
    height : 28px;
    width : 250px;
    float:left;
}
.label-field-pair12 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    width:200px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair12 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg12 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
label-field-pair12-text-area{
    height:110px;
    padding-top:3px;
    width:600px;
}

.label-field-pair12-text-area label{
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:200px;
}
.textarea12-input-bg {
    background:none repeat scroll 0 0 transparent;
    float:left;
}
.label-field-pair12-text-area textarea {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 0 0 10px;
    padding:5px;
    width:205px;
    height: 80px;
}
.label-field-pair12-text-area textarea:focus{
    background:#FFFFFF;
    border: 1px solid #9E0F15;
}
.scroll{
    width:210px !important
}
.number{
    font-family: Arial;
    font-weight: bold;
    color: black;
}
.text-input-bg21{
    width: 475px;
    height:auto;
    float:left;
    margin-left: 10px;
    margin-bottom: 20px;
}
#name_field_block .text-input-bg_form {
    background : #eee;
    float:left;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 180px;
    height:23px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding-top: 3px;
}
.text-input-bg_form {
    background: transparent;
    height: 28px;
    width: 180px;
    float: left;
}
#admission1_form .text-input-bg_form select {
    background-color: #EEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 10px;
    width: 170px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#total_amount{
    float: left;
    width: 200px;
}
.span_text{
    float:left;
    width:212px;

}

#page-yield .add_addl_attachment a:hover{
    color: #008800 !important;
}
.margin_left_10{
    margin-left: 10px;
}