<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= stylesheet_link_tag 'master_courses/edit.css' %>
<%= flash[:notice] %>
<div class="well">
  <% form_for @vertical do |f| %>
    <%= f.error_messages %>

     <table width="100%">
      <tr>
        <td class="label-field-pair">
          Vertical name
        </td>
        <td class="input-container">
          <%= f.text_field :name %>
        </td>
      </tr>
    </table>
    <div class="form-actions">
      <%= submit_tag "", :value => "► Save", :class => "default btn", :disable_with => "► #{t('please_wait')}" %>
    </div>
  <% end %>
</div>