<%= stylesheet_link_tag 'master_courses/index.css' %>
<%= flash[:notice] %>
<div class="well">
  <%= link_to "New Vertical", new_yuva_vertical_path, :class=>"btn" %>
  <%#= link_to "Assign Course", assign_course_master_courses_path, :class=>"btn" %>
  <br />
  <h4 align="center">Verticals</h4>
  <table class='table table-striped table-bordered'>
    <tr>
      <th>Name</th>
      <th colspan="6"></th>
    </tr>

    <% @verticals.each do |vertical| %>
      <tr>
        <td><%= link_to vertical.name , vertical %></td>
        <!-- <td><%#= link_to vertical.code , vertical %></td> -->
        <!-- <td><%#= vertical.active_courses.count %></td> -->
        <td><%= link_to 'Edit', edit_yuva_vertical_path(vertical), :class=>"btn" %><%= link_to 'Delete', vertical, :confirm => 'Are you sure?', :method => :delete,:class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </table>
</div>