.odd{
    height:auto;
    background: #eff3fe;
    
    margin-right:5px;
}
.odd td{
    
    font-weight:bold;
    padding:10px 10px 10px 10px;
   border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
}
.right{
    width: 450px;
    color:#000000;
    text-align: left;
}
.left{
    width: 250px;
    color:#548ab2;
    text-align: right;
}
.even{
    
    height:auto;
    
    background: #dae6ff;
    margin-right:5px;
}
.even td{
    
    font-weight:bold;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
    padding:10px 10px 10px 10px;
}
.submit_button {
    padding: 10px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
table#listing {
    background: #c3d9ff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px 20px;
}
.label-field-pair label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: -9px 0 0px 0;
    float: left;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
}
.user_button1 {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-background-clip: border;
    -webkit-background-origin: padding;
    -webkit-background-size: auto auto;
    -webkit-border-radius: 10px;
    background-attachment: scroll;
    background-color: #27292B;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    text-decoration: none;
   }
   .odd{
    height:auto;
    background: #eff3fe;
    
    margin-right:5px;
}
.odd td{
    
    font-weight:bold;
    padding:10px 10px 10px 10px;
   border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
}
.right{
    width: 450px;
    color:#000000;
    text-align: left;
}
.left{
    width: 250px;
    color:#548ab2;
    text-align: right;
}
.even{
    
    height:auto;
    
    background: #dae6ff;
    margin-right:5px;
}
.even td{
    
    font-weight:bold;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
    padding:10px 10px 10px 10px;
}
.submit_button {
    padding: 10px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
table#listing td.col-8 {
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
}
table#listing {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;

}
table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
}
table#listing1 tr.tr-head {
 height: 30px;
background: #fff;
color: #990a10;
font-weight: bold;
text-align: center;
}
tr.tr-blank {
height: 10px;
}
table#listing1 .tr-odd {
background: #fff;
text-align: center;
padding: 50px;
color: #27292b;
font-weight: 600;
font-size: 14px;
}
table#listing1 .tr-even {
background: #f1f6ff;
text-align: center;
padding: 50px;
color: #27292b;
font-weight: 600;
font-size: 14px;
}
.col-2{
    max-width:200px;
    text-align: justify;
}
table#listing1 {
background: #c3d9ff;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 20px 20px 40px;
}
table#listing1 {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;

}
table#listing1 td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
}
table#listing1 td.col-8 {
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
}
/*new*/
table#listing1 .col-3 ,table#listing1 .col-6{
    text-align: right;
    padding-right: 8px;
    background: none repeat scroll 0 0 #fff !important;
}
table#listing1 .left_align
{
    text-align: left!important;
}

table#listing1 .center_align
{
    text-align: center !important;
}
table#listing1 .col-3 a  {
    margin: 0;
    padding: 0;
    background: none repeat scroll 0 0 #fff !important;
}
.payment_box{
    -webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    width:80px;
    /*float:right;*/
    padding-left: 6px;
}
.balance1{
    -webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    width:80px;
    /*float:right;*/
    padding-left: 6px;
}
table#listing1 .left_align {
    text-align: right!important;
}
table#listing1 td.col-4{
  width:16% !important;
  padding: 5px;
}
.reject_reason{
    float:right;
    padding-left:10px;
    margin-top:-37px
}
.text-input-bg1 {
    background: transparent;
    height: 28px;
    width: 429px;
    float: right;
    margin-top:-2px;
    padding-left: 13px;
    font-weight: bold;
}
