<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<ul id="tutor-list">
  <% unless @employees.empty? %>
    <li class="heading"> <%= t('assign_new') %>: </li>
    <% @employees.each do |e| %>
      <li class="list<%=cycle('even', 'odd')%>">
        <div class="tutor-name"><%= e.full_name %></div>
        <%if ((@current_user.admin) or (@batch.start_date_lock == false)) %>
          <% if @assigned_employee.include?e %>
            <div class="remove"><%= link_to_remote "#{t('remove')}", :url => {:action => "remove_employee", :id => e.id,:batch_id=>params[:batch_id],:department_id=>params[:department_id]}, :update => "department-select", :before=>"this.style.display='none'" %></div>
          <% else %>
            <div class="remove"><%= link_to_remote "#{t('assign')}", :url => {:action => "assign_employee", :id => e.id,:batch_id=>params[:batch_id],:department_id=>params[:department_id]},  :update => "setTimeount(function{department-select}, 2000)", :before=>"this.style.display='none'" %></div>
          <% end %>
        <%end%>
      </li>
    <% end %>
  <% else %>
    <p class="flash-msg"> <%= t('no_employee_found') %>.</p>
  <% end %>

</ul>
