<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('batch') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('edit_batch') %></div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :batches_edit,@batch %>
    <%= render_breadcrumbs %>
  </div>
  <div class="box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <% form_for [@course, @batch] do |f| %>
      <%= f.error_messages  %>
      <% if ((@current_user.admin?) or (@batch.start_date_lock == false))%>
        <div class="label-field-pair">
          <div class="label-container"><%= t('name') %></div>
          <div class="input-container"><%= f.text_field :name %></div>
        </div>

        <div class="label-field-pair">
          <div class="label-container"><%= t('start_date') %></div>
          <div class="input-container"><%= calendar_date_select_tag 'batch[start_date]',I18n.l(@batch.start_date.to_date, :format=>:default), :popup => "force"%></div>
        </div>

        <div class="label-field-pair">
          <div class="label-container"><%= t('end_date') %></div>
          <div class="input-container"><%= calendar_date_select_tag 'batch[end_date]',I18n.l(@batch.end_date.to_date, :format=>:default) ,:popup => "force"%></div>
        </div>
        <div class="label-field-pair">
          <label for="name"> <%= t('start_time') %> </label>
          <%unless @batch.start_time.nil?%>
            <%if (@batch.start_time == "-- :") %>
              <div class="time-select-field"><%= time_select "start", "time", {:minute_step => 1,:default => Time.now,:include_blank=> true} %></div>
            <% elsif @batch.start_time.include? "-- "  %>
              <div class="time-select-field"><%= time_select "start", "time", {:minute_step => 1,:default => {:hour => "#{Batch.last.start_time.gsub("-- ", "").split(":").first}", :minute => "#{Batch.last.start_time.gsub("-- ", "").split(":").last}"}} %></div>
            <%else%>
              <div class="time-select-field"><%= time_select "start", "time", {:minute_step => 1,:default => @batch.start_time.to_time} %></div>
            <%end%>
          <%else%>
             <div class="time-select-field"><%= time_select "start", "time", {:minute_step => 1,:default => Time.now,:include_blank=> true} %></div>
          <%end%>
        </div>

        <div class="label-field-pair">
          <label for="name"><%= t('end_time') %>  </label>
          <% unless @batch.end_time.nil? %>
            <% if ((@batch.end_time.present?) && (@batch.end_time== "-- :")) %>
              <div class="time-select-field"><%= time_select "end", "time", {:minute_step => 1,:default => Time.now,:include_blank=> true} %></div>
            <% elsif @batch.end_time.include? "-- " %>
              <div class="time-select-field"><%= time_select "end", "time", {:minute_step => 1,:default =>{:hour => "#{Batch.last.end_time.gsub("-- ", "").split(":").first}", :minute => "#{Batch.last.end_time.gsub("-- ", "").split(":").last}"}} %></div>
            <%else%>
              <div class="time-select-field"><%= time_select "end", "time", {:minute_step => 1,:default => @batch.end_time.to_time} %></div>
            <%end%>
          <%else%>
            <div class="time-select-field"><%= time_select "end", "time", {:minute_step => 1,:default => Time.now,:include_blank=> true} %></div>
          <%end%>  
        </div>
        <div class="label-field-pair">
          <div class="label-container">Select Vertical</div>
          <div class="text-input-bg"><%= select :batch,:yuva_vertical_id, @verticals.map {|c| [c.name, c.id]},{:include_blank=>"Select Vertical"}%></div>
        </div>
      <% else %>
        <div class="label-field-pair">
        <div class="label-container"><%= t('name') %></div>
        <div class="input-container"><%= f.text_field :name, :readonly=>true  %></div>
      </div>

      <div class="label-field-pair">
        <div class="label-container"><%= t('start_date') %></div>
        <div class="input-container"><%= text_field_tag 'batch[start_date]',I18n.l(@batch.start_date.to_date, :format=>:default), :disabled => true %></div>
      </div>

      <div class="label-field-pair">
        <div class="label-container"><%= t('end_date') %></div>
        <div class="input-container"><%= text_field_tag 'batch[end_date]',I18n.l(@batch.end_date.to_date, :format=>:default), :disabled => true %></div>
      </div>
      <div class="label-field-pair">
        <div class="label-container">Select Vertical</div>
        <div class="text-input-bg"><%= select :batch,:yuva_vertical_id, @verticals.map {|c| [c.name, c.id]},{:include_blank=>"Select Vertical", :disabled => true }%></div>
      </div>
      <% end %>
      <% if @current_user.admin? %>
        <div class="label-field-pair3-text-area">
          <div class="label-container"><%= t('audit_remark') %></div>
          <div class="textarea-input-bg3"><%= f.text_area :audit_rank ,:rows => 4, :cols => 30%></div>
        </div>
        <div class="label-field-pair3-text-area">
          <div class="label-container"><%= t('ec_remark') %></div>
          <div class="textarea-input-bg3"><%= f.text_area :ec_rank ,:rows => 4, :cols => 30%></div>
        </div>
        <div class="label-field-pair3-text-area">
          <div class="label-container"><%= t('finance_remark') %></div>
          <div class="textarea-input-bg3"><%= f.text_area :finance_remark , :rows => 4, :cols => 30%></div>
        </div>
        <div class="label-field-pair3-text-area">
          <div class="label-container"><%= t('other_remark') %></div>
          <div class="textarea-input-bg3"><%= f.text_area :other_remark ,:rows => 4, :cols => 30%></div>
        </div>
      <% else %> 
        <div class="label-field-pair3-text-area">
          <div class="label-container"><%= t('audit_remark') %></div>
          <div class="textarea-input-bg3"><%= f.text_area :audit_rank,:rows => 4, :cols => 30, :readonly=>true %></div>
        </div>

       <div class="label-field-pair3-text-area">
          <div class="label-container"><%= t('ec_remark') %></div>
          <div class="textarea-input-bg3"><%= f.text_area :ec_rank,:rows => 4, :cols => 30, :readonly=>true %></div>
        </div>

        <div class="label-field-pair3-text-area">
          <div class="label-container"><%= t('finance_remark') %></div>
          <div class="textarea-input-bg3"><%= f.text_area :finance_remark,:rows => 4, :cols => 30, :readonly=>true %></div>
        </div>

       <div class="label-field-pair3-text-area">
          <div class="label-container"><%= t('other_remark') %></div>
          <div class="textarea-input-bg3"><%= f.text_area :other_remark,:rows => 4, :cols => 30, :readonly=>true %></div>
        </div>
      <% end %>
      <% if ((@current_user.admin?) or (@batch.start_date_lock == false))%>
        <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>
      <% end %>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
<script type="text/javascript">
  $('form').submit(function () {
  $('select').attr('disabled', false);
});
</script>