<%= stylesheet_link_tag 'rank_batches/show_locked_students.css' %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('students') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('locked_students') %></div>
  <div id="inner-tab-menu">
    <ul>
      <%#if @current_user.admin? %>
        <li class='themed_bg themed-dark-hover-background'><%#= link_to "Locked Batches", {:controller=>"courses", :action=>"locked_batches", :id=>@course.id} %> </li>
      <%#end%>
      <li class='themed_bg themed-dark-hover-background'><%#= link_to "#{t('new_text')}", new_course_batch_path(@course) %> </li>
      <li class='themed_bg themed-dark-hover-background'><%#= link_to "Group Batches", {:controller=>"courses", :action=>"grouped_batches", :id=>@course.id} %> </li>      
      <%#if permitted_to? :edit, :course %>
        <li class='themed_bg themed-dark-hover-background'><%#= link_to "#{t('edit_text')}", edit_course_path(@course) if permitted_to? :edit, :course %></li>
      <%#end %>
      <%#if permitted_to? :destroy, :course %>
        <li class='themed_bg themed-dark-hover-background'><%#= link_to("#{t('delete_text')}", course_path(@course), :method => 'delete', :confirm => "#{t('delete_confirm_msg')}") %></li>
      <%#end %>

      <%#if permitted_to? :assign_subject_amount, :courses %>
        <li class='themed_bg themed-dark-hover-background'><%#= link_to "#{t('assign_subject_amount')}", assign_subject_amount_courses_path(:id => @course.id) %></li>
      <%#end %>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%breadcrumb :courses_locked_batches, @course %>
    <%=  render_breadcrumbs %>
  </div>
  <%#unless flash[:notice].nil? %>
   <!--  <p class="flash-msg"> <%#= flash[:notice] %> </p> -->
  <%#end %>
  <div class="box">

    <%unless @students.empty? %>
      <ul id="category-list">
        <% @students.each do |s| %>
          <li class="list<%=cycle('odd', 'even')%>">
            <div class="category-name"><%= s.full_name %></div> <div class="category-edit"><%= link_to "#{t('unlock')}", :controller=>"student", :action=>'unlock_student', :id=>s.id %></div>
          </li>
        <%end %>
      </ul>
    <% else %>
      <p class="flash-msg"> <%= "No Locked Students Present In This Group" %></p>
    <% end %>
    <div class="extender"></div>
  </div>
</div>