<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('courses_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('new_batch') %></div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :batches_new, @course %>
    <%= render_breadcrumbs %>
  </div>
  <div class="box">  
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <% form_for [@course, @batch] do |f| %>
      <%= f.error_messages  %>
      <div class="label-field-pair">
        <div class="label-container"><%= t('name') %></div>
        <div class="input-container"><%= f.text_field :name %></div>
      </div>


      <div class="label-field-pair">
        <div class="label-container"><%= t('start_date') %></div>
        <div class="input-container"><%= calendar_date_select_tag 'batch[start_date]',  I18n.l((@batch.start_date || Date.today).to_date,:format=>:default), :popup=>"force"%></div>
      </div>

      <div class="label-field-pair">
        <div class="label-container"><%= t('end_date') %></div>
        <div class="input-container"><%= calendar_date_select_tag 'batch[end_date]',  I18n.l((@batch.end_date || Date.today + 1.month).to_date,:format=>:default), :popup=>"force" %>
        </div>
      </div>
      <div class="label-field-pair">
      <label for="label-container"> <%= t('start_time') %> </label>
      <div class="time-select-field"><%= time_select "start", "time", {:minute_step => 1,:include_blank=> true} %></div>
    </div>
    <div class="label-field-pair">
      <label for="label-container"><%= t('end_time') %>  </label>
      <div class="time-select-field"><%= time_select "end", "time", {:minute_step => 1 ,:include_blank=> true} %></div>
    </div>
      <div class="label-field-pair">
        <div class="label-container">Select Vertical</div>
        <div class="text-input-bg"><%= select :batch,:yuva_vertical_id, @verticals.map {|c| [c.name, c.id]},{:include_blank=>"Select Vertical"}%></div>
      </div>
      <div class="label-field-pair">
        <div class="label-container1"><label><%= t('import_subject') %></label></div>
        <div class="input-container"><%= check_box_tag 'import_subjects',"0",false %></div>
      </div>

      <div class="label-field-pair">
        <div class="label-container1"><label><%= t('import_fees') %></label></div>
        <div class="input-container"><%= check_box_tag 'import_fees',"0",false %></div>
      </div>
       <% if ((@current_user.admin?) or (@batch.start_date_lock == false)) %>
      <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :disable_with => "► #{t('please_wait')}" %>
      <% end %>

    <% end %>

    <div class="extender"></div>

  </div></div>
  <!-- <script>
    // $(document).ready(function () {
      alert("===================");
      j('.submit_button').click(function (e) {
        alert(document.getElementById('batch_name').value);
        // var isValid = true;
        // if (/^\s*$/.test(input)) {}
        // if (isValid == false)
            e.preventDefault();

      });
    // });
  </script> -->

  <!-- <script type="text/javascript">
  // j('.submit_button').click(function()
  // {
  //   alert("sssssssss");
  //   console.log(j("#batch_yuva_vertical_id").value);
    // date = j("#date_of_deposit")[0].value;
    // var elt = $('total_amount');
    // var img = $('image');
    // curr_date=j.datepicker.formatDate('dd MM yy', new Date());
    // disp_date = j.datepicker.formatDate('dd MM yy', (j.datepicker.parseDate("yy-mm-dd",date)));
    // var button = document.getElementById('submit_button');
    
    // if (elt.value=="" || elt.value==null || elt.value==0)
    // {
    //   alert('<%#=t('please_enter_deposit_amount')%>')
    //   return false
    // }
    // if (img.value==""){
    //     alert('<%#=t('please_attach_the_required_file')%>')
    //     return false
    // }
    
    // else
    // {
    //   button.disabled = true;
    //   button.value = '<%#= "► #{t('please_wait')}"%>';
    //   if (confirm('<%#=t('confirm_ the_transaction')%>')){
    //     button.disabled = true;
    //     j('#form').submit();
    //   }
    //   else{
    //     button.disabled = false;
    //     button.value = '<%#= "► #{t('save')}"%>';
    //     return false
    //   }
    // }
  });
</script> -->
