<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% if (rtl?) %>
  <script>
    j(document).ready(function() {
      j("#drop_header").hover(
      function () {
        link_off = j("#drop_header").offset();
        link_width = j("#drop_header").width();
        link_height = j("#drop_header").height();
        box_width = j("#box_1").width();
        //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
        j("#box_1").css({top: (link_off.top + link_height),left: (link_off.left)});
        j("#box_1").css("display","block");
      },
      function () {
        j("#box_1").css("display","none");
      });
    });
  </script>
<% else %>
  <script>
    j(document).ready(function() {
      j("#drop_header").hover(
      function () {
        link_off = j("#drop_header").offset();
        link_width = j("#drop_header").width();
        link_height = j("#drop_header").height();
        box_width = j("#box_1").width();
        //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
        j("#box_1").css({top: (link_off.top + link_height),left: ((link_off.left + link_width) - box_width)});
        j("#box_1").css("display","block");
      },
      function () {
        j("#box_1").css("display","none");
      });
    });
  </script>
<% end %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('batch') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('details') %></div>

  <div id="inner-tab-menu">
    <ul>
      <% if @current_user.employee? %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('show_locked_students')}", {:action=>"show_locked_students", :id=>@batch.id,:course_id => @batch.course.id} %> </li>
      <% end%>
      <% if @current_user.admin? %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('locked_students')}", {:action=>"locked_students", :id=>@batch.id,:course_id => @batch.course.id} %> </li>
      <% end%>
      <%  if permitted_to? :index,:exam_groups and @batch.allow_exam_acess(@current_user)%>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('exams_text')}", batch_exam_groups_path(@batch) %> </li>
      <% end %>

      <% if ((permitted_to? :edit, :student) or (@current_user.admin))  %>
          <% if ((@batch.start_date_lock == false) or (@current_user.admin)) %>

      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('edit_text')}", edit_course_batch_path(@course, @batch) %></li>
      <li class='themed_bg themed-dark-hover-background'><%= link_to("#{t('delete_text')}", [@course, @batch], :method => 'delete', :confirm => "#{t('delete_confirm_msg')}") %></li>
      <% end %>
      <% end %>

      <li  id="drop_header" class='themed_bg themed-dark-hover-background'>
        <a href="#" id="drop_header_link"><%= t('manage') %> &#9660;</a>
        <ul id="box_1" class="more-menu-div" style="display:none;">
          <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('subject')}", :controller=>"batch_transfers", :action=>'subject_transfer', :id=>@batch %></li>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('electives')}", batch_elective_groups_path(@batch) %></li>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('assign_tutor')}",:action=>'assign_tutor', :id=>@batch %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :batches_show,@batch %>
    <%= render_breadcrumbs %>
  </div>
  <div class="box"> 
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice]  %> </p>
    <% end %>

    <% unless flash[:warn_notice].nil? %>
      <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
    <% end %>

    <% unless flash[:subject_import].nil? %>
      <div class="flash-msg"><%= t('subject_transfer_message') %>:<br /> <%= flash[:subject_import].join("")%></div>
    <% end %>

    <% unless flash[:no_subject_error].nil? %>
      <div class="flash-msg"><%= flash[:no_subject_error] %></div>
    <% end %>

    <% unless flash[:fees_import].blank? %>
      <div class="flash-msg"><%= t('fee_import_message') %>:<br /> <%= flash[:fees_import].join("")%></div>
    <% end %>
    <% if flash[:fees_import_error].present? %>
      <div class="flash-msg"><%= t('no_fee_import_message') %></div>
    <% end %>

    <table id="listing" width="100%">
      <tr class="tr-head">
        <td><%= t('sl_no') %></td>
        <td><%= t('name') %></td>
        <td><%= t('admission_number') %></td>
        <td><%= t('status') %></td>
      </tr>
      <% @slno = 0 %>
      <% @students.each do |student| %>
        <% @slno= @slno + 1 %>
        <tr class="tr-<%= cycle('odd', 'even')%>">
          <td class="col-1"><%=  @slno %></td>
          <% if student.student_lock == true %>
            <td class="col-2"><%= student.full_name %></td>
          <% else %>
             <td class="col-2"><%= link_to student.full_name,{:controller=>'student',:action=>'profile',:id=>student.id} %></td>
          <% end %>
          <td class="col-3"><%= student.admission_no %> </td>
            <% if student.student_lock == true %>
            <td class="col-3" style="color: red;">Locked</td>
              <% else %>
            <td class="col-3">UnLocked</td>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <div id="extender"></div>
  </div>
</div>

