<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="<%= (rtl?) ? 'rtl' : 'ltr' %>">
  <head>
    <title>Administrations : Schools</title>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= stylesheet_link_tag 'bootstrap_overrides.css' %>

    <%= javascript_include_tag 'jquery/jquery.min.js'%>
    <%= javascript_include_tag 'bootstrap-dropdown'%>

  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to 'Schools Admin' , schools_path , :class  => 'brand' %>
          <% unless admin_user_session.nil? %>
            <ul class="nav">
              <li><%=link_to 'New School',new_school_path %></li>
              <li><%=link_to 'Admin Users',admin_users_path %></li>
              <li><%=link_to 'Manage Course',master_courses_path %></li>
              <li><%=link_to 'Manage Verticals',yuva_verticals_path %></li>
              <% if defined?(FedenaAutoUpdater) %>
                <li><%=link_to 'Auto-Updater',:controller=>"fedena_auto_updater",:action=>"index" %></li>
              <% end %>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= admin_user_session.username %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Profile',admin_user_session %></li>
                  <li class="divider"></li>
                  <li><%=link_to 'Logout',logout_admin_users_path %></li>
                </ul>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <% if session[:admin_user] %>
              <p>No of Schools:<span class='label'><%= @schools_count %></span></p>
            <% end %>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
