#fee-defaulters {
    float: right;
    width: auto;
}
#MB_frame .label-field-pair {
    margin: 5px 0;
    width: 528px;
}
h5 {
    /*    width: 480px;*/
    float: left;
}

.text_box {
    float: left;
}

.box {
    float: right;
    margin-top: 14px;
}

.text-input-bg {
    float: left;
    margin: 0 0 0 40px;
}

#fees-table {
    padding-top: 86px;
}

.fees_paid {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #27292B;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-left: 270px;
    margin-top: 30px;
    padding: 7px 10px;
    width: 135px;
}

.fees_paid:hover {
    background: #373B3F;
}

.fees-th {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    border-top: 1px solid #C4D2FE;
    font-size: 0.9em;
    height: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    width: 600px;
}

.fees-tr {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    font-size: 0.9em;
    height: 1.5em;
    padding: 0.5em 0 0 0;
    width: 600px;
}

.fees-table-total {
    float: left;
    padding: 0 0 0 60px;
    width: 180px;
}

.fees-table-amount {
    float: left;
    width: 80px;
    padding: 0 0 0 140px;
    text-align: right;
}

.edit-link {

    float: left;
    font-size: 0.9em;
    margin: 0 0 0 10px;
}

.delete-link {
    float: left;
    font-size: 0.9em;
    margin: 0 0 0 10px;
}

.edit-link a,
.delete-link a {
    color: #000;
}

#fee_submission {
    margin-top: 50px;
}

.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 18px 5px 0 0;
    padding: 6px 10px;
    float: right;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    height: 28px;
}

.submit_button:hover {
    background: #373B3F;
}

.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    margin: 0 auto;
    text-decoration: none;
}

.user_button:hover {
    background: #373B3F;
}

.label-field-pair1 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 10px 0;
    float: left;
    /*    width:476px;*/
    padding-top: 10px;
    font-weight: 600;

}

.label-field-pair1 input {
    /*    background : #eee;*/
    border: 1px solid #c6c6c6;
    margin: 0px 0 0 -5px;
    max-width: 120px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.submit_button2 {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF !important;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: -12px !important;
    padding: 6px 8px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#fine_button {
    width: auto;

    color: #FFFFFF !important;
    margin-top: -2px !important;

}

#fine_fee {
    background: #eee;
    /*    width:100px;*/
}

.label-field-pair1 .submit_button2:hover {
    background: none repeat scroll 0 0 #373B3F;
}

.text-input-bg {
    float: left;
    margin: 0 0 0 40px;
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 28px;
    width: 130px;
}

.fine_info {
    float: right;
    height: 50px;
    overflow: hidden;
    width: auto;
}

.label-field-pair1 {
    overflow: hidden;
    float: left;
}

.text-input-bg1 {
    background: none repeat scroll 0 0 transparent;
    float: left;
    margin: 0 0 0 10px;
    width: 250px;
}

.label-field-pair1 input:focus {
    background: #fff;
    border: 1px solid #9e0f15;
}

.label-field-pair2 input:focus {
    background: #fff;
    border: 1px solid #9e0f15;
}

.pay_fees {
    margin-bottom: 14px;
    float: left;
    width: 924px;
}

table#listing td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
    height: 14px;
}

table#listing td a:hover {
    background: #373B3F;
    color: #fff;
    text-decoration: none;
}

td span {
    color: #990A10;
}

table#listing td.col-8 {
    padding: 5px 15px 5px 10px;
    text-align: right;
    width: 10%;
}

.pay_fees_buttons a {
    float: right !important;
    margin: 18px 10px 0 !important;
}

.pay_fees_buttons input {
    float: right;
}

table#listing td.col-6 {
    /*width:auto;*/
    /*min-width: 372px;*/

}

.name {
    height: 2px;
    color: #999999;
    float: left;
    width: 220px;
    font-weight: bold;
    font-size: 13px;
}

.details {
    height: auto;
    /*margin-bottom: 45px;*/
    /*padding-bottom: 15px;*/
}

.val {
    width: 750px;
    color: #bb0000;
    font-weight: bold;
    font-size: 13px;
    float: left;
}

.val span {
    margin-right: 12px;
    color: black;
}

.val-align {
    float: right;
    width: 730px;
    word-wrap: break-word;
}

.label-field-pair3 {
    height: 40px;
    width: 230px;
    float: left;
    padding-top: 3px;
}

.text-input-bg3 {
    background: transparent;
    height: 28px;
    width: 250px;
}

.label-field-pair3 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair3 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 205px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg3 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.label-field-pair4 {
    height: 76px;
    width: 100px;
    float: right;
    padding-top: 3px;
    margin-right: 10px;
}

.text-input-bg4 {
    background: transparent;
    height: 28px;
    width: 250px;
}

.label-field-pair4 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair4 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 88px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg4 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.label-field-pair3-text-area {
    height: 70px;
    padding-top: 3px;
    width: 548px;
    float: left;
}

.label-field-pair3-text-area label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.textarea-input-bg {
    background: none repeat scroll 0 0 transparent;
    margin-left: 25px;
}

.label-field-pair3-text-area textarea {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 10px;
    padding: 5px;
    width: 548px;
    height: 17px;
    position: relative;
}

.label-field-pai3r-text-area textarea:focus {
    background: #FFFFFF;
    border: 1px solid #9E0F15;
}

table#listing {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;
}

table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
}

#payments_details {
    margin-top: 20px;
}

h4 {
    float: right;
}

.cancel a {
    background: none !important;

    margin: -10px 4px 2px 0px !important;
    padding: 0 !important

}

.cancel {
    margin-top: 10px;
}

.space {
    height: 60px;
}

table#listing1 tr.tr-head {

    height: 30px;
    background: #fff;
    color: #990a10;
    font-weight: bold;
    text-align: center;

}

.col-2 {
    width: 25% !important;
    max-width: 200px;
    vertical-align: top;
    padding: 7px 1px 5px 3px;
}

.col-3 {
    padding: 7px 1px 5px 3px;

}

tr.tr-blank {
    height: 10px;
}

table#listing1 .tr-odd {

    background: #fff;
    vertical-align: top;
    padding: 50px;
    color: #27292b;
    font-weight: 600;
    font-size: 14px;

}

table#listing1 .tr-even {

    background: #f1f6ff;
    vertical-align: top;
    padding: 50px;
    color: #27292b;
    font-weight: 600;
    font-size: 14px;

}

table#listing1 {
    margin-bottom: 30px;
    float: left;
    background: #c3d9ff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px 40px;
}

/*table#listing1 td a {
    background: none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}*/

table#listing1 td.col-1 {
    padding: 5px;
    padding-left: 10px;
}

table#listing1 td a {
    background: none repeat scroll 0 0;
    border: medium none;
    color: black;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}

table#listing1 td a:hover {
    background: white;
    /*    color: #fff;*/
    text-decoration: none;
}

table#listing1 td.col-8 {
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
}

.fleft {
    margin-top: 5px;
    float: left;
    min-width: 100px;
    text-align: left;
}

.amount_box {
    -webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    width: 80px;
    float: left;
    padding-left: 6px;
    margin-left: 20px;
}

#link {
    float: left;
    margin-top: 20px;
    /*width: 100px;*/
    /*margin-left: 20px;*/
}

#link a {
    background: none repeat scroll 0 0 transparent;
    color: #008800;
    display: inline;
    float: none;
    font-size: 13px;
    height: 12px;
    margin-top: 15px;
    text-decoration: none;
    /*width: 100px;*/
}

table#listing td #link a {

    background: none ;
    border: medium none;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 12px;
    /* font-weight: bold; */
    margin: -16px auto 0;
    padding: 7px 10px;
    text-decoration: none;
    color: green;
}

.fright {
    float: right;
}

.discount_name {
    width: 300px;
    -webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    height: 25px;
    padding-left: 6px;
    margin-left: 20px;
}

table#listing td #delete_link a {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    cursor: pointer;
    float: left;
    font-family: arial;
    font-size: 12px;
    /* font-weight: bold; */
    margin: -3px 5px;
    padding: 7px 10px;
    text-decoration: none;
    color: red;
}

#link1 {
    font-weight: bold;
    float: left;
    width: 35px;
    margin: 4px 0px 0px 18px;
}

.delete_icon {
    background: url("/images/iconsprite-1.png");
    height: 20px;
    width: 25px;
    float: right;
    background-position: 3px -340px;
    margin-top: -1px;

}

table#listing1 td a {
    margin: 0 auto 0 !important;
    background: none !important;
}

.input-fields {
    width: 150px;
    float: left;
}

.fine_amount {
    -webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    width: 80px;
    /*float: left;*/
    padding-left: 6px;
    margin-left: 20px;
}

#fine_link {
    float: left;
}

table#listing td #fine_link a {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    cursor: pointer;
    /* float: right; */
    font-family: arial;
    font-size: 12px;
    /* font-weight: bold; */
    /* margin: -16px auto 0; */
    /* padding: 7px 10px; */
    text-decoration: none;
    color: green;
    margin: 6px 4px 2px 2px !important;
    padding: 0px !important;
}

#fine_link a {
    background: none repeat scroll 0 0 transparent;
    color: #008800;
    display: inline;
    float: none;
    font-size: 13px;
    height: 12px;
    margin-top: 7px;
    text-decoration: none;
    /* width: 100px; */
}

.align_right {
    text-align: right;
    padding-right: 5px;
}
.amount_align
{
    margin-right: 5px;
    margin-top: 5px;
}





h1, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}



div#container {
    width: 580px;
    margin: 100px auto 0 auto;
    padding: 20px;
    background: #000;
    /*border: 1px solid #1a1a1a;*/
    /*border-radius: 1px;*/
}

div#pop-up {
    display: none;
    position: absolute;
    width: 480px;
    padding: 10px;
    background: #fff;
    color: #000000;
    /*border: 1px solid #1a1a1a;*/
    font-size: 90%;
    border: 1px solid #c2c2c2;
}

.width-350px{
    width:360px;
    float: right;
}
table#listing1 td #trigger a
{
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 12px;
    /* font-weight: bold; */
    margin: -16px auto 0;
    padding: 1px 10px;
    text-decoration: none;
    color: green;

}
table#popup_table tr .border_bottom {
   border-bottom:1pt solid black;

}
.align_center
{
    text-align: center;
}

table#trans_details tr
{
    min-width: 480px;
    background-color: #dbdbdb;
    /*margin-top: 3px;*/
    color: #27292b
}
table#trans_details{
    border: 1px solid #c2c2c2;
}


.arrow_down{
    margin-top:10px;
    margin-left: 30px;
    position: relative;
    background: #fff;
    /*border: 1px solid #000;*/
}
.arrow_down:after, .arrow_down:before {
    margin-top: 10px;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_down:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10.5px;
    margin-left: -10.5px;
}
.arrow_down:before {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #c2c2c2;
    border-width: 12px;
    margin-left: -12px;
}

table#listing1 .col-3 a  {
    margin: 0;
    padding: 0;
    background: none repeat scroll 0 0 #fff !important;
}
#MB_frame .label-field-pair select{
    webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 10px;
    padding: 5px;
    width: initial;
    height: 28px;

}